Repository frankbria/codeframe: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, skip-detector

.pre-commit-config.yaml:

repos:
  # Note: black removed from pre-commit to avoid conflicts with ruff --fix
  # Run `uv run black .` manually before committing if needed

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.2.0
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        types: [python]

  - repo: local
    hooks:
      - id: pytest-check
        name: Run last failed tests (fast feedback)
        entry: bash -c 'if [ -f venv/bin/activate ]; then source venv/bin/activate && pytest --lf -x; elif [ -f .venv/bin/activate ]; then source .venv/bin/activate && pytest --lf -x; else pytest --lf -x; fi'
        language: system
        pass_filenames: false
        files: \.py$
        types: [python]

      - id: coverage-check
        name: Enforce 65% coverage (manual - use scripts/verify-ai-claims.sh for full check)
        entry: bash -c 'if [ -f venv/bin/activate ]; then source venv/bin/activate && pytest --cov --cov-report=term-missing --cov-fail-under=65; elif [ -f .venv/bin/activate ]; then source .venv/bin/activate && pytest --cov --cov-report=term-missing --cov-fail-under=65; else pytest --cov --cov-report=term-missing --cov-fail-under=65; fi || (echo "❌❌❌ COVERAGE BELOW 65% ❌❌❌" && exit 1)'
        language: system
        pass_filenames: false
        files: \.py$
        types: [python]
        stages: [manual]

      - id: skip-detector
        name: Detect skip decorator abuse
        entry: python scripts/detect-skip-abuse.py
        language: system
        files: ^tests/.*\.py$
        pass_filenames: false

feat(web-ui): surface PROOF9 gate link in execution completion banner (#469)
  web-ui/src/app/execution/[taskId]/page.tsx
Due: none

fix: address CodeRabbit feedback on PR #491
  web-ui/src/app/execution/[taskId]/page.tsx
  web-ui/src/types/index.ts
Due: none

feat(web-ui): surface PROOF9 gate link in execution completion banner (#469)
  web-ui/src/app/execution/[taskId]/page.tsx
  web-ui/src/types/index.ts
Due: none

feat(web-ui): PROOF9 terminology tooltips and glossary on Proof page (#470)
  web-ui/package-lock.json
  web-ui/package.json
  web-ui/src/app/proof/page.tsx
  web-ui/src/components/ui/tooltip.tsx
Due: none

fix: make PROOF9 tooltip triggers keyboard-accessible (aria-label + button)
  web-ui/src/app/proof/page.tsx
Due: none

feat(web-ui): context-aware Quick Actions based on workspace state (#471)
  web-ui/src/app/page.tsx
  web-ui/src/components/workspace/QuickActions.tsx
  web-ui/src/types/index.ts
Due: none

feat(web-ui): auto-run gates on execution completion, show summary in banner (#472)
  web-ui/src/app/execution/[taskId]/page.tsx
  web-ui/src/types/index.ts
Due: none

fix: address CodeRabbit feedback on PR #494 — pending state + error color
  web-ui/src/app/execution/[taskId]/page.tsx
Due: none

feat(web-ui): blocker lifecycle explanation and recovery guidance (#473)
  web-ui/src/components/blockers/BlockerCard.tsx
  web-ui/src/components/blockers/BlockerResolutionView.tsx
Due: none

fix: address CodeRabbit feedback on PR #495 — timer removal + gray color tokens
  web-ui/src/components/blockers/BlockerCard.tsx
  web-ui/src/components/blockers/BlockerResolutionView.tsx
Due: none

feat(web-ui): link failed tasks to PROOF9 gate failure for root cause (#474)
  web-ui/src/app/proof/page.tsx
  web-ui/src/components/tasks/TaskDetailModal.tsx
Due: none

fix: address CodeRabbit feedback on PR #496 — aria-label + gate-aware proof link
  web-ui/src/app/proof/page.tsx
  web-ui/src/components/tasks/TaskDetailModal.tsx
Due: none

feat(web-ui): compress and summarize verbose execution event stream (#475)
  web-ui/src/components/execution/EventStream.tsx
Due: none

fix: address CodeRabbit feedback on PR #497 — useMemo + extract editGroupBadgeStyles
  web-ui/src/components/execution/EventStream.tsx
  web-ui/src/lib/eventStyles.ts
Due: none

feat(web-ui): compress and summarize verbose execution event stream (#475)
  web-ui/src/components/execution/EventStream.tsx
  web-ui/src/lib/eventStyles.ts
Due: none

feat(web-ui): task dependency graph visualization in detail modal (#476)
  web-ui/src/components/tasks/TaskBoardView.tsx
  web-ui/src/components/tasks/TaskCard.tsx
  web-ui/src/components/tasks/TaskDetailModal.tsx
Due: none

fix: add focus-visible ring to dependency nav buttons (CodeRabbit #498)
  web-ui/src/components/tasks/TaskDetailModal.tsx
Due: none

feat(web-ui): empty state with task generation CTA on task board (#477)
  web-ui/src/components/tasks/TaskBoardView.tsx
Due: none

fix: contextual CTAs in empty state — Create PRD when no PRD, Generate+View when PRD exists
  web-ui/src/components/tasks/TaskBoardView.tsx
Due: none

docs: add product roadmap for end-to-end vision completion
  docs/PRODUCT_ROADMAP.md
Due: none

docs: add vision document
  docs/VISION.md
Due: none

feat(api): DB schema + CRUD REST API for interactive agent sessions (#501)
  codeframe/persistence/database.py
  codeframe/persistence/repositories/interactive_sessions.py
  codeframe/persistence/schema_manager.py
  codeframe/ui/routers/interactive_sessions_v2.py
  codeframe/ui/server.py
  tests/unit/test_interactive_sessions_api.py
Due: pytest-check, skip-detector

fix: address review feedback on PR #510 (interactive sessions)
  codeframe/persistence/repositories/interactive_sessions.py
  codeframe/persistence/schema_manager.py
  codeframe/ui/routers/interactive_sessions_v2.py
  tests/unit/test_interactive_sessions_api.py
Due: pytest-check, skip-detector

fix: address second-pass review feedback on PR #510
  codeframe/persistence/repositories/interactive_sessions.py
  codeframe/ui/routers/interactive_sessions_v2.py
  codeframe/ui/server.py
  tests/unit/test_interactive_sessions_api.py
Due: pytest-check, skip-detector

fix: add interactive_sessions to async connection refresh, move DB import to top-level
  codeframe/persistence/database.py
  codeframe/persistence/repositories/interactive_sessions.py
  codeframe/ui/routers/interactive_sessions_v2.py
  codeframe/ui/server.py
Due: pytest-check

feat(api): WebSocket endpoint for streaming agent chat (#502)
  codeframe/ui/routers/session_chat_ws.py
  codeframe/ui/server.py
  codeframe/ui/shared.py
  tests/api/test_session_chat_ws.py
Due: pytest-check, skip-detector

fix(api): address CodeRabbit review feedback on session chat WebSocket
  codeframe/ui/routers/session_chat_ws.py
  codeframe/ui/shared.py
Due: pytest-check

feat(core): StreamingChatAdapter for token-by-token Anthropic relay (#503)
  codeframe/core/adapters/__init__.py
  codeframe/core/adapters/streaming_chat.py
  codeframe/ui/routers/session_chat_ws.py
  tests/core/test_streaming_chat.py
Due: pytest-check, skip-detector

fix(tests): remove unused imports flagged by ruff
  tests/core/test_streaming_chat.py
Due: pytest-check, skip-detector

fix: address review feedback on StreamingChatAdapter (#512)
  codeframe/core/adapters/streaming_chat.py
  codeframe/ui/routers/session_chat_ws.py
  tests/core/test_streaming_chat.py
Due: pytest-check, skip-detector

fix(tests): update fake adapter signatures to match new _run_streaming_adapter
  tests/api/test_session_chat_ws.py
Due: pytest-check, skip-detector
