Repository frankbria/codeframe: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, skip-detector

pytest-check:
  name: Run last failed tests (fast feedback)
  entry: bash -c 'if [ -f venv/bin/activate ]; then source venv/bin/activate && pytest --lf -x; elif [ -f .venv/bin/activate ]; then source .venv/bin/activate && pytest --lf -x; else pytest --lf -x; fi'
  language: system
  pass_filenames: false

skip-detector:
  name: Detect skip decorator abuse
  entry: python scripts/detect-skip-abuse.py
  language: system
  pass_filenames: false

fix(discovery): Update question text when advancing to next question
  codeframe/agents/lead_agent.py
  tests/discovery/test_discovery_integration.py
Due: pytest-check, skip-detector

fix(discovery): Update question text when advancing to next question (#193)
  codeframe/agents/lead_agent.py
  tests/discovery/test_discovery_integration.py
Due: pytest-check, skip-detector

fix(discovery): Fix PRD progress tracking and enhance completion UX
  codeframe/ui/routers/discovery.py
  web-ui/__tests__/components/DiscoveryProgress.test.tsx
  web-ui/src/components/Dashboard.tsx
  web-ui/src/components/DiscoveryProgress.tsx
Due: pytest-check

test(discovery): Add comprehensive tests for WebSocket handlers and edge cases
  web-ui/__tests__/components/DiscoveryProgress.test.tsx
Due: none

test(discovery): Complete PRD progress and retry loading state tests
  web-ui/__tests__/components/DiscoveryProgress.test.tsx
Due: none

Fix PRD generation progress tracking UI (#194)
  codeframe/ui/routers/discovery.py
  web-ui/__tests__/components/DiscoveryProgress.test.tsx
  web-ui/src/components/Dashboard.tsx
  web-ui/src/components/DiscoveryProgress.tsx
Due: pytest-check

fix(discovery): Synchronize PRD buttons and fix state persistence on tab revisit
  web-ui/__tests__/integration/prd-button-sync.test.tsx
  web-ui/src/components/Dashboard.tsx
  web-ui/src/components/DiscoveryProgress.tsx
  web-ui/src/components/PRDModal.tsx
Due: none

docs: Add code review for PRD button sync fix
  docs/code-review/2026-01-06-prd-button-sync-review.md
Due: none

fix(discovery): Synchronize PRD buttons and fix state persistence on tab revisit (#196)
  docs/code-review/2026-01-06-prd-button-sync-review.md
  web-ui/__tests__/integration/prd-button-sync.test.tsx
  web-ui/src/components/Dashboard.tsx
  web-ui/src/components/DiscoveryProgress.tsx
  web-ui/src/components/PRDModal.tsx
Due: none

feat(phase): Add PhaseManager and enhance session endpoint with phase info
  .beads/issues.jsonl
  codeframe/core/phase_manager.py
  codeframe/ui/routers/session.py
  tests/core/test_phase_manager.py
  tests/ui/test_session_router.py
Due: pytest-check, skip-detector

fix(test): Restore sys.modules after session router tests
  tests/ui/test_session_router.py
Due: pytest-check, skip-detector

feat(phase): Add PhaseManager and enhance session endpoint with phase info (#204)
  .beads/issues.jsonl
  codeframe/core/phase_manager.py
  codeframe/ui/routers/session.py
  tests/core/test_phase_manager.py
  tests/ui/test_session_router.py
Due: pytest-check, skip-detector

feat(planning): Add planning phase automation and task approval
  codeframe/ui/routers/discovery.py
  codeframe/ui/routers/tasks.py
  codeframe/ui/server.py
  codeframe/ui/websocket_broadcasts.py
  tests/ui/test_discovery_automation.py
  tests/ui/test_task_approval.py
Due: pytest-check, skip-detector

fix(planning): Address code review feedback
  codeframe/ui/routers/discovery.py
  codeframe/ui/routers/tasks.py
Due: pytest-check

test(planning): Add integration and edge case tests for task approval
  tests/ui/test_task_approval.py
Due: pytest-check, skip-detector

refactor(planning): Add clarifying comments and exception handling
  codeframe/ui/routers/discovery.py
  codeframe/ui/routers/tasks.py
Due: pytest-check

feat(planning): Add timeout handling for AI operations
  .beads/issues.jsonl
  codeframe/ui/routers/discovery.py
  tests/ui/test_discovery_automation.py
Due: pytest-check, skip-detector

feat(planning): Add planning phase automation and task approval (#205)
  .beads/issues.jsonl
  codeframe/ui/routers/discovery.py
  codeframe/ui/routers/tasks.py
  codeframe/ui/server.py
  codeframe/ui/websocket_broadcasts.py
  tests/ui/test_discovery_automation.py
  tests/ui/test_task_approval.py
Due: pytest-check, skip-detector

feat(dashboard): Add PhaseProgress component for phase visualization
  web-ui/__tests__/PhaseProgress.test.tsx
  web-ui/__tests__/components/Dashboard.test.tsx
  web-ui/__tests__/components/SessionStatus.test.tsx
  web-ui/src/components/Dashboard.tsx
  web-ui/src/components/PhaseProgress.tsx
  web-ui/src/components/SessionStatus.tsx
Due: none

docs: Update outdated documentation to reflect current codebase state
  docs/API_IMPROVEMENTS_FUTURE.md
  docs/BIG_PICTURE.md
  docs/account-table-migration.md
  docs/archive/AGILE_SPRINTS.md
  docs/archive/AGILE_SPRINTS_AUDIT_REPORT.md
  docs/archive/AGILE_SPRINTS_CORRECTIONS.md
  docs/archive/AUDIT_SUMMARY.md
  docs/archive/SPRINT_STATUS_VISUAL.md
  docs/authentication.md
  docs/issues/cf-47-dashboard-gaps.md
  docs/planning/CONCEPTS_INTEGRATION.md
Due: none

fix(dashboard): Address code review feedback for PhaseProgress
  web-ui/__tests__/components/PhaseProgress.test.tsx
  web-ui/src/components/Dashboard.tsx
  web-ui/src/components/PhaseProgress.tsx
Due: none

refactor(PhaseProgress): Replace emojis with Hugeicons per coding guidelines
  web-ui/__tests__/components/PhaseProgress.test.tsx
  web-ui/src/components/PhaseProgress.tsx
Due: none

test: Add Hugeicons mock to integration tests using PhaseProgress
  web-ui/__tests__/components/Dashboard.test.tsx
  web-ui/__tests__/integration/dashboard-realtime-updates.test.tsx
  web-ui/__tests__/integration/prd-button-sync.test.tsx
Due: none

fix(e2e): Use /api/projects/ in waitForResponse to avoid matching HTML page
  tests/e2e/test_checkpoint_ui.spec.ts
  tests/e2e/test_dashboard.spec.ts
  tests/e2e/test_metrics_ui.spec.ts
  tests/e2e/test_review_ui.spec.ts
Due: none

feat(dashboard): Add PhaseProgress component for phase visualization (#211)
  tests/e2e/test_checkpoint_ui.spec.ts
  tests/e2e/test_dashboard.spec.ts
  tests/e2e/test_metrics_ui.spec.ts
  tests/e2e/test_review_ui.spec.ts
  web-ui/__tests__/components/Dashboard.test.tsx
  web-ui/__tests__/components/PhaseProgress.test.tsx
  web-ui/__tests__/components/SessionStatus.test.tsx
  web-ui/__tests__/integration/dashboard-realtime-updates.test.tsx
  web-ui/__tests__/integration/prd-button-sync.test.tsx
  web-ui/src/components/Dashboard.tsx
  web-ui/src/components/PhaseProgress.tsx
  web-ui/src/components/SessionStatus.tsx
Due: none

feat(planning): Add Generate Task Breakdown button to DiscoveryProgress
  docs/code-review/2026-01-06-task-breakdown-button-review.md
  tests/e2e/test_task_breakdown.spec.ts
  web-ui/__tests__/components/DiscoveryProgress.test.tsx
  web-ui/src/components/Dashboard.tsx
  web-ui/src/components/DiscoveryProgress.tsx
  web-ui/src/lib/api.ts
  web-ui/src/types/index.ts
Due: none

feat(planning): Add Generate Task Breakdown button to DiscoveryProgress (#213)
  docs/code-review/2026-01-06-task-breakdown-button-review.md
  tests/e2e/test_task_breakdown.spec.ts
  web-ui/__tests__/components/DiscoveryProgress.test.tsx
  web-ui/src/components/Dashboard.tsx
  web-ui/src/components/DiscoveryProgress.tsx
  web-ui/src/lib/api.ts
  web-ui/src/types/index.ts
Due: none

feat(planning): Add TaskReview component for task approval workflow
  web-ui/__tests__/components/TaskReview.test.tsx
  web-ui/src/components/TaskReview.tsx
  web-ui/src/lib/api.ts
  web-ui/src/types/api.ts
Due: none

fix(planning): Fix stale closure in toggleIssueTasks callback
  web-ui/src/components/TaskReview.tsx
Due: none

feat(planning): Add TaskReview component for task approval workflow (#214)
  web-ui/__tests__/components/TaskReview.test.tsx
  web-ui/src/components/TaskReview.tsx
  web-ui/src/lib/api.ts
  web-ui/src/types/api.ts
Due: none

feat(dashboard): Add phase-aware task view integration (#016-6)
  web-ui/__tests__/components/Dashboard.test.tsx
  web-ui/__tests__/components/TaskList.test.tsx
  web-ui/src/components/Dashboard.tsx
  web-ui/src/components/TaskList.tsx
Due: none

fix(TaskList): Address code review feedback
  web-ui/__tests__/components/TaskList.test.tsx
  web-ui/src/components/Dashboard.tsx
  web-ui/src/components/TaskList.tsx
Due: none

fix(TaskList): Use semantic colors and fix test isolation
  web-ui/__tests__/components/TaskList.test.tsx
  web-ui/src/components/TaskList.tsx
Due: none

feat(dashboard): Add phase-aware task view integration (#016-6) (#215)
  web-ui/__tests__/components/Dashboard.test.tsx
  web-ui/__tests__/components/TaskList.test.tsx
  web-ui/src/components/Dashboard.tsx
  web-ui/src/components/TaskList.tsx
Due: none

feat(db): implement P0 database TODOs - issue deps & audit logging (#207)
  codeframe/persistence/repositories/issue_repository.py
  codeframe/persistence/repositories/project_repository.py
  codeframe/persistence/schema_manager.py
  tests/persistence/test_database_todos.py
Due: pytest-check, skip-detector

refactor(db): address code review feedback for database TODOs
  codeframe/persistence/repositories/issue_repository.py
  codeframe/persistence/repositories/project_repository.py
  codeframe/persistence/schema_manager.py
Due: pytest-check

fix(db): ensure type consistency and audit gating
  codeframe/persistence/repositories/issue_repository.py
  codeframe/persistence/repositories/project_repository.py
Due: pytest-check

feat(db): implement P0 database TODOs - issue deps & audit logging (#216)
  codeframe/persistence/repositories/issue_repository.py
  codeframe/persistence/repositories/project_repository.py
  codeframe/persistence/schema_manager.py
  tests/persistence/test_database_todos.py
Due: pytest-check, skip-detector

feat(agents): broadcast agent status changes via WebSocket
  codeframe/agents/agent_pool_manager.py
  tests/agents/test_agent_pool_manager.py
Due: pytest-check, skip-detector

feat(agents): include tasks_completed in idle status broadcasts
  codeframe/agents/agent_pool_manager.py
  codeframe/ui/websocket_broadcasts.py
  tests/agents/test_agent_pool_manager.py
Due: pytest-check, skip-detector

Path conditions:
  pytest-check: any of: \.py$ and \.py$
  skip-detector: any of: ^tests/.*\.py$
