Repository frankbria/codeframe: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, skip-detector

.pre-commit-config.yaml:

repos:
  # Note: black removed from pre-commit to avoid conflicts with ruff --fix
  # Run `uv run black .` manually before committing if needed

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.2.0
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        types: [python]

  - repo: local
    hooks:
      - id: pytest-check
        name: Run last failed tests (fast feedback)
        entry: bash -c 'if [ -f venv/bin/activate ]; then source venv/bin/activate && pytest --lf -x; elif [ -f .venv/bin/activate ]; then source .venv/bin/activate && pytest --lf -x; else pytest --lf -x; fi'
        language: system
        pass_filenames: false
        files: \.py$
        types: [python]

      - id: coverage-check
        name: Enforce 65% coverage (manual - use scripts/verify-ai-claims.sh for full check)
        entry: bash -c 'if [ -f venv/bin/activate ]; then source venv/bin/activate && pytest --cov --cov-report=term-missing --cov-fail-under=65; elif [ -f .venv/bin/activate ]; then source .venv/bin/activate && pytest --cov --cov-report=term-missing --cov-fail-under=65; else pytest --cov --cov-report=term-missing --cov-fail-under=65; fi || (echo "❌❌❌ COVERAGE BELOW 65% ❌❌❌" && exit 1)'
        language: system
        pass_filenames: false
        files: \.py$
        types: [python]
        stages: [manual]

      - id: skip-detector
        name: Detect skip decorator abuse
        entry: python scripts/detect-skip-abuse.py
        language: system
        files: ^tests/.*\.py$
        pass_filenames: false

fix(health): report the build that is actually running (#1160) (#1207)
  .github/workflows/deploy.yml
  Dockerfile
  codeframe/ui/server.py
  deploy/README.md
  tests/api/test_health_endpoint.py
  tests/ci/test_deploy_build_metadata_1160.py
Due: pytest-check, skip-detector

ci: bump the GLM Review pin so a stuck request fails with evidence (#1199)
  .github/workflows/glm-review.yml
Due: none

ci: make the debug_full_output lever real, not just documented
  .github/workflows/glm-review.yml
Due: none

ci: bump the GLM Review pin so a stuck request fails with evidence (#1199) (#1211)
  .github/workflows/glm-review.yml
Due: none

fix(web-ui): bump js-yaml and sharp so the image audit gate passes (#1210)
  web-ui/package-lock.json
Due: none

fix(web-ui): bump js-yaml and sharp so the image audit gate passes (#1210) (#1212)
  web-ui/package-lock.json
Due: none

test(ci): pin that staging and production build the same images (#1210)
  tests/ci/test_deploy_build_job_parity_1210.py
Due: pytest-check, skip-detector

test(ci): compare whole step lists, not just the build steps (#1210)
  tests/ci/test_deploy_build_job_parity_1210.py
Due: pytest-check, skip-detector

test(ci): pin that staging and production build the same images (#1210) (#1214)
  tests/ci/test_deploy_build_job_parity_1210.py
Due: pytest-check, skip-detector

ci: surface a new web-ui advisory before it becomes a deploy outage (#1213)
  .github/workflows/web-ui-audit.yml
  CLAUDE.md
  deploy/README.md
  tests/ci/test_web_ui_audit_guard_1213.py
  tests/test_ops_hygiene_969.py
Due: pytest-check, skip-detector

fix(ci): close three review findings on the web-ui audit gate (#1213)
  .github/workflows/web-ui-audit.yml
  deploy/README.md
  tests/ci/test_web_ui_audit_guard_1213.py
Due: pytest-check, skip-detector

ci: don't queue redundant image builds on rapid PR pushes (#1213)
  .github/workflows/web-ui-audit.yml
Due: none

ci: surface a new web-ui advisory before it becomes a deploy outage (#1213) (#1215)
  .github/workflows/web-ui-audit.yml
  CLAUDE.md
  deploy/README.md
  tests/ci/test_web_ui_audit_guard_1213.py
  tests/test_ops_hygiene_969.py
Due: pytest-check, skip-detector

fix(ci): stop the frontend audit gate being served from the build cache (#1216)
  .github/workflows/deploy.yml
  .github/workflows/web-ui-audit.yml
  tests/ci/test_deploy_audit_cache_1216.py
Due: pytest-check, skip-detector

docs: record why the deploy build excludes the audit stage from cache (#1216)
  CLAUDE.md
Due: none

test(ci): guard any layer cache, not just type=gha (#1216)
  tests/ci/test_deploy_audit_cache_1216.py
Due: pytest-check, skip-detector

fix(ci): stop the frontend audit gate being served from the build cache (#1216) (#1218)
  .github/workflows/deploy.yml
  .github/workflows/web-ui-audit.yml
  CLAUDE.md
  tests/ci/test_deploy_audit_cache_1216.py
Due: pytest-check, skip-detector

fix(ci): skip claude-review on bot PRs instead of failing on them (#1189)
  .github/workflows/claude-code-review.yml
  tests/ci/test_claude_review_bot_gate_1189.py
Due: pytest-check, skip-detector

fix(ci): skip claude-review on bot PRs instead of failing on them (#1189) (#1220)
  .github/workflows/claude-code-review.yml
  tests/ci/test_claude_review_bot_gate_1189.py
Due: pytest-check, skip-detector

fix(web-ui): name npm 11.6.x as the lockfile corruptor, not the lockfile (#1194)
  .github/workflows/web-ui-audit.yml
  CLAUDE.md
  deploy/README.md
  tests/ci/test_web_ui_audit_guard_1213.py
  tests/ci/test_web_ui_lockfile_guard_1194.py
  web-ui/package-lock.json
  web-ui/package.json
Due: pytest-check, skip-detector

test(ci): drop the packaging import from the #1194 range guard
  tests/ci/test_web_ui_lockfile_guard_1194.py
Due: pytest-check, skip-detector

fix(web-ui): name npm 11.6.x as the lockfile corruptor, not the lockfile (#1194) (#1222)
  .github/workflows/web-ui-audit.yml
  CLAUDE.md
  deploy/README.md
  tests/ci/test_web_ui_audit_guard_1213.py
  tests/ci/test_web_ui_lockfile_guard_1194.py
  web-ui/package-lock.json
  web-ui/package.json
Due: pytest-check, skip-detector

refactor(web-ui): close the #971 de-duplication leftovers (#1195)
  web-ui/src/__tests__/components/blockers/BlockerCard.test.tsx
  web-ui/src/__tests__/components/blockers/ResolvedBlockersSection.test.tsx
  web-ui/src/__tests__/components/review/PRHistoryPanel.test.tsx
  web-ui/src/__tests__/lib/format.test.ts
  web-ui/src/__tests__/lib/sharedConstants.guard.test.ts
  web-ui/src/app/costs/page.tsx
  web-ui/src/app/proof/[req_id]/page.tsx
  web-ui/src/app/proof/page.tsx
  web-ui/src/components/execution/EventItem.tsx
  web-ui/src/components/execution/EventStream.tsx
  web-ui/src/components/layout/NotificationCenter.tsx
  web-ui/src/components/prd/PRDHeader.tsx
  web-ui/src/components/prd/PRDVersionHistoryModal.tsx
  web-ui/src/components/prd/UploadPRDModal.tsx
  web-ui/src/components/proof/GateEvidencePanel.tsx
  web-ui/src/components/proof/GateRunPanel.tsx
  web-ui/src/components/proof/ProofStatusBadge.tsx
  web-ui/src/components/proof/ProofStatusWidget.tsx
  web-ui/src/components/proof/RunHistoryPanel.tsx
  web-ui/src/components/review/PRHistoryPanel.tsx
  web-ui/src/components/sessions/SessionCard.tsx
  web-ui/src/components/tasks/GitHubIssueImportModal.tsx
  web-ui/src/components/tasks/TaskCard.tsx
  web-ui/src/components/tasks/TaskDetailModal.tsx
  web-ui/src/components/tasks/TaskFilters.tsx
  web-ui/src/components/ui/badge.tsx
  web-ui/src/components/workspace/RecentActivityFeed.tsx
  web-ui/src/components/workspace/WorkspaceSelector.tsx
  web-ui/src/lib/format.ts
  web-ui/src/lib/taskStatusInfo.ts
Due: none

test(web-ui): state the proof-colour guard's scope (badge/pill pairs) (#1195)
  web-ui/src/__tests__/lib/sharedConstants.guard.test.ts
Due: none

refactor(web-ui): close the #971 de-duplication leftovers (#1195) (#1224)
  web-ui/src/__tests__/components/blockers/BlockerCard.test.tsx
  web-ui/src/__tests__/components/blockers/ResolvedBlockersSection.test.tsx
  web-ui/src/__tests__/components/review/PRHistoryPanel.test.tsx
  web-ui/src/__tests__/lib/format.test.ts
  web-ui/src/__tests__/lib/sharedConstants.guard.test.ts
  web-ui/src/app/costs/page.tsx
  web-ui/src/app/proof/[req_id]/page.tsx
  web-ui/src/app/proof/page.tsx
  web-ui/src/components/execution/EventItem.tsx
  web-ui/src/components/execution/EventStream.tsx
  web-ui/src/components/layout/NotificationCenter.tsx
  web-ui/src/components/prd/PRDHeader.tsx
  web-ui/src/components/prd/PRDVersionHistoryModal.tsx
  web-ui/src/components/prd/UploadPRDModal.tsx
  web-ui/src/components/proof/GateEvidencePanel.tsx
  web-ui/src/components/proof/GateRunPanel.tsx
  web-ui/src/components/proof/ProofStatusBadge.tsx
  web-ui/src/components/proof/ProofStatusWidget.tsx
  web-ui/src/components/proof/RunHistoryPanel.tsx
  web-ui/src/components/review/PRHistoryPanel.tsx
  web-ui/src/components/sessions/SessionCard.tsx
  web-ui/src/components/tasks/GitHubIssueImportModal.tsx
  web-ui/src/components/tasks/TaskCard.tsx
  web-ui/src/components/tasks/TaskDetailModal.tsx
  web-ui/src/components/tasks/TaskFilters.tsx
  web-ui/src/components/ui/badge.tsx
  web-ui/src/components/workspace/RecentActivityFeed.tsx
  web-ui/src/components/workspace/WorkspaceSelector.tsx
  web-ui/src/lib/format.ts
  web-ui/src/lib/taskStatusInfo.ts
Due: none

refactor(core): collapse cancel_batch into stop_batch(force=False) (#1197)
  codeframe/core/conductor.py
  codeframe/ui/routers/batches_v2.py
  tests/core/test_conductor.py
  tests/ui/test_v2_untested_routers_947.py
Due: pytest-check, skip-detector

refactor(core): collapse cancel_batch into stop_batch(force=False) (#1197) (#1225)
  codeframe/core/conductor.py
  codeframe/ui/routers/batches_v2.py
  tests/core/test_conductor.py
  tests/ui/test_v2_untested_routers_947.py
Due: pytest-check, skip-detector

test(ci): widen the assertion-quality guard to all of tests/ (#1200)
  tests/ci/test_assertion_quality_guard_973.py
  tests/e2e/cli/test_engines_cli.py
Due: pytest-check, skip-detector

test(e2e): stop test_check_missing_requirements depending on the cwd having no .env (#1200)
  tests/e2e/cli/test_engines_cli.py
Due: pytest-check, skip-detector

test(e2e): set HOME inside the cleared environ so ~/.env cannot leak a key (#1200)
  tests/e2e/cli/test_engines_cli.py
Due: pytest-check, skip-detector

test(ci): widen the assertion-quality guard to all of tests/ (#1200) (#1226)
  tests/ci/test_assertion_quality_guard_973.py
  tests/e2e/cli/test_engines_cli.py
Due: pytest-check, skip-detector

fix(discovery): close the single-active-slot follow-ups from #1042 (#1202)
  codeframe/cli/app.py
  codeframe/core/blockers.py
  codeframe/core/prd_discovery.py
  tests/cli/test_prd_generate_active_slot_1042.py
  tests/core/test_prd_discovery_slot_followups_1202.py
Due: pytest-check, skip-detector

fix(discovery): evict and re-activate in one transaction on resume (#1202)
  codeframe/core/prd_discovery.py
  tests/core/test_prd_discovery_slot_followups_1202.py
Due: pytest-check, skip-detector

docs(discovery): resume docstring names the evict-path error; --force gets -f (#1202)
  codeframe/cli/app.py
  codeframe/core/prd_discovery.py
Due: pytest-check

fix(discovery): reset without an id closes the session get_active_session shows (#1202)
  codeframe/core/prd_discovery.py
  tests/core/test_prd_discovery_slot_followups_1202.py
Due: pytest-check, skip-detector

fix(discovery): close the single-active-slot follow-ups from #1042 (#1202) (#1227)
  codeframe/cli/app.py
  codeframe/core/blockers.py
  codeframe/core/prd_discovery.py
  tests/cli/test_prd_generate_active_slot_1042.py
  tests/core/test_prd_discovery_slot_followups_1202.py
Due: pytest-check, skip-detector

fix(cli): escape every Typer str argument a Rich render echoes back (#1206)
  codeframe/cli/app.py
  codeframe/cli/auth_commands.py
  codeframe/cli/config_commands.py
  codeframe/cli/engines_commands.py
  codeframe/cli/env_commands.py
  codeframe/cli/hooks_commands.py
  codeframe/cli/pr_commands.py
  codeframe/cli/proof_commands.py
  codeframe/cli/stats_commands.py
  tests/cli/test_typer_arg_markup_1206.py
Due: pytest-check, skip-detector

docs: name the static Typer-argument escape rule next to the #1054 runtime guard (#1206)
  CLAUDE.md
Due: none

fix(cli): escape every Typer str argument a Rich render echoes back (#1206) (#1228)
  CLAUDE.md
  codeframe/cli/app.py
  codeframe/cli/auth_commands.py
  codeframe/cli/config_commands.py
  codeframe/cli/engines_commands.py
  codeframe/cli/env_commands.py
  codeframe/cli/hooks_commands.py
  codeframe/cli/pr_commands.py
  codeframe/cli/proof_commands.py
  codeframe/cli/stats_commands.py
  tests/cli/test_typer_arg_markup_1206.py
Due: pytest-check, skip-detector

ci: auto-merge patch-level Dependabot security PRs for web-ui once green (#1217)
  .github/workflows/dependabot-automerge.yml
  scripts/ci/lock_diff_is_surgical.py
  tests/ci/test_dependabot_automerge_1217.py
Due: pytest-check, skip-detector
