Repository frankbria/codeframe: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, skip-detector

pytest-check:
  name: Run last failed tests (fast feedback)
  entry: bash -c 'if [ -f venv/bin/activate ]; then source venv/bin/activate && pytest --lf -x; elif [ -f .venv/bin/activate ]; then source .venv/bin/activate && pytest --lf -x; else pytest --lf -x; fi'
  language: system
  pass_filenames: false

skip-detector:
  name: Detect skip decorator abuse
  entry: python scripts/detect-skip-abuse.py
  language: system
  pass_filenames: false

docs: design-partner program for the beta cohort (#619)
  CHANGELOG.md
  DESIGN_PARTNERS.md
  LICENSING.md
  README.md
  tests/test_design_partners_619.py
  tests/test_root_docs_950.py
Due: pytest-check, skip-detector

docs: design-partner program for the beta cohort (#619) (#1190)
  CHANGELOG.md
  DESIGN_PARTNERS.md
  LICENSING.md
  README.md
  tests/test_design_partners_619.py
  tests/test_root_docs_950.py
Due: pytest-check, skip-detector

chore(ops): drop the personal path from the guard's own docstring (#969)
  tests/test_ops_hygiene_969.py
Due: pytest-check, skip-detector

fix(ops): make the installed unit runnable and the substitution safe (#969)
  CHANGELOG.md
  scripts/install-health-check.sh
  tests/test_ops_hygiene_969.py
Due: pytest-check, skip-detector

fix(ops): actually set the exec bit on health-check.sh (#969)
  scripts/health-check.sh
Due: none

fix(ops): create the log directory the unit writes into (#969)
  scripts/install-health-check.sh
  tests/test_ops_hygiene_969.py
Due: pytest-check, skip-detector

chore(ops): retire the staging health-check timer instead of repairing it (#969)
  CHANGELOG.md
  scripts/health-check.sh
  scripts/install-health-check.sh
  systemd/codeframe-health-check.service
  systemd/codeframe-health-check.timer
  tests/test_ops_hygiene_969.py
  tests/test_pm2_scoping_912.py
Due: pytest-check, skip-detector

refactor(cli): drop dead helpers and unify provider-key validation (#970)
  codeframe/cli/app.py
  codeframe/cli/commands/__init__.py
  codeframe/cli/helpers.py
  codeframe/cli/validators.py
  docs/CLI_WIREFRAME.md
  tests/cli/test_cli_dead_surface_970.py
  tests/cli/test_work_exit_codes.py
Due: pytest-check, skip-detector

test(cli): read the isolation choices off the command, not the rendered help
  codeframe/cli/validators.py
  tests/cli/test_cli_dead_surface_970.py
Due: pytest-check, skip-detector

refactor(cli): drop dead helpers and unify provider-key validation (#970) (#1192)
  codeframe/cli/app.py
  codeframe/cli/commands/__init__.py
  codeframe/cli/helpers.py
  codeframe/cli/validators.py
  docs/CLI_WIREFRAME.md
  tests/cli/test_cli_dead_surface_970.py
  tests/cli/test_work_exit_codes.py
Due: pytest-check, skip-detector

refactor(web-ui): single source for status maps, USD formatter and workspace key (#971)
  web-ui/package-lock.json
  web-ui/package.json
  web-ui/src/__tests__/lib/format.test.ts
  web-ui/src/__tests__/lib/sharedConstants.guard.test.ts
  web-ui/src/app/costs/page.tsx
  web-ui/src/app/sessions/[id]/SessionDetailClient.tsx
  web-ui/src/components/costs/AgentCostBars.tsx
  web-ui/src/components/costs/SpendBarChart.tsx
  web-ui/src/components/costs/TopTasksTable.tsx
  web-ui/src/components/sessions/AgentChatPanel.tsx
  web-ui/src/components/sessions/SessionCard.tsx
  web-ui/src/components/tasks/TaskCard.tsx
  web-ui/src/components/tasks/TaskColumn.tsx
  web-ui/src/components/tasks/TaskDetailModal.tsx
  web-ui/src/hooks/useNotifications.ts
  web-ui/src/lib/eventStyles.ts
  web-ui/src/lib/format.ts
  web-ui/src/lib/taskStatusInfo.ts
  web-ui/src/lib/workspace-storage.ts
Due: none

refactor(web-ui): single source for status maps, USD formatter and workspace key (#971) (#1193)
  web-ui/package-lock.json
  web-ui/package.json
  web-ui/src/__tests__/lib/format.test.ts
  web-ui/src/__tests__/lib/sharedConstants.guard.test.ts
  web-ui/src/app/costs/page.tsx
  web-ui/src/app/sessions/[id]/SessionDetailClient.tsx
  web-ui/src/components/costs/AgentCostBars.tsx
  web-ui/src/components/costs/SpendBarChart.tsx
  web-ui/src/components/costs/TopTasksTable.tsx
  web-ui/src/components/sessions/AgentChatPanel.tsx
  web-ui/src/components/sessions/SessionCard.tsx
  web-ui/src/components/tasks/TaskCard.tsx
  web-ui/src/components/tasks/TaskColumn.tsx
  web-ui/src/components/tasks/TaskDetailModal.tsx
  web-ui/src/hooks/useNotifications.ts
  web-ui/src/lib/eventStyles.ts
  web-ui/src/lib/format.ts
  web-ui/src/lib/taskStatusInfo.ts
  web-ui/src/lib/workspace-storage.ts
Due: none

docs: sweep stale docs and phantom CLI commands, with a guard test (#972)
  CLAUDE.md
  codeframe/cli/__init__.py
  codeframe/cli/env_commands.py
  codeframe/core/conductor.py
  codeframe/core/installer.py
  codeframe/ui/routers/environment_v2.py
  docs/AGENT_SYSTEM_REFERENCE.md
  docs/CLI_WIREFRAME.md
  docs/PHASE_2_CLI_API_MAPPING.md
  tests/ci/test_documented_commands_resolve_972.py
  tests/core/test_installer.py
Due: pytest-check, skip-detector

test: close the underscore blind spot in the doc-command guard (#972)
  docs/CLI_WIREFRAME.md
  tests/ci/test_documented_commands_resolve_972.py
Due: pytest-check, skip-detector

test: catch phantom commands written without the binary prefix (#972)
  docs/CLI_WIREFRAME.md
  tests/ci/test_documented_commands_resolve_972.py
Due: pytest-check, skip-detector

test: don't let a placeholder hide a phantom from the bare-command walk (#972)
  tests/ci/test_documented_commands_resolve_972.py
Due: pytest-check, skip-detector

test: truncate a word at its command-name prefix, not just at a space (#972)
  tests/ci/test_documented_commands_resolve_972.py
Due: pytest-check, skip-detector

docs: sweep stale docs and phantom CLI commands, with a guard test (#972) (#1196)
  CLAUDE.md
  codeframe/cli/__init__.py
  codeframe/cli/env_commands.py
  codeframe/core/conductor.py
  codeframe/core/installer.py
  codeframe/ui/routers/environment_v2.py
  docs/AGENT_SYSTEM_REFERENCE.md
  docs/CLI_WIREFRAME.md
  docs/PHASE_2_CLI_API_MAPPING.md
  tests/ci/test_documented_commands_resolve_972.py
  tests/core/test_installer.py
Due: pytest-check, skip-detector

test: retire permanently-skipped suites and replace tautological assertions (#973)
  tests/auth/test_api_keys.py
  tests/blockers/test_blocker_expiration_minimal.py
  tests/ci/test_assertion_quality_guard_973.py
  tests/cli/test_pr_commands.py
  tests/cli/test_v2_cli_integration.py
  tests/cli/test_work_diagnose.py
  tests/conftest.py
  tests/integration/test_dashboard_access.py
  tests/ui/conftest.py
Due: pytest-check, skip-detector

test: narrow the exit-code guard to assertions that accept both outcomes (#973)
  tests/ci/test_assertion_quality_guard_973.py
Due: pytest-check, skip-detector

docs(test): state that the lone-assert check counts nested asserts on purpose
  tests/ci/test_assertion_quality_guard_973.py
Due: pytest-check, skip-detector

test: retire permanently-skipped suites and replace tautological assertions (#973) (#1198)
  tests/auth/test_api_keys.py
  tests/blockers/test_blocker_expiration_minimal.py
  tests/ci/test_assertion_quality_guard_973.py
  tests/cli/test_pr_commands.py
  tests/cli/test_v2_cli_integration.py
  tests/cli/test_work_diagnose.py
  tests/conftest.py
  tests/integration/test_dashboard_access.py
  tests/ui/conftest.py
Due: pytest-check, skip-detector

fix(discovery): claim the single active session atomically (#1042)
  codeframe/cli/app.py
  codeframe/core/prd_discovery.py
  codeframe/ui/routers/discovery_v2.py
  tests/core/test_prd_discovery_single_active_1042.py
  tests/core/test_prd_discovery_template_defects_961.py
  tests/ui/test_discovery_start_errors.py
Due: pytest-check, skip-detector

fix(discovery): report a taken session slot instead of a raw sqlite error
  tests/core/test_prd_discovery_single_active_1042.py
Due: pytest-check, skip-detector

fix(discovery): close the same window in submit_answer, pause and the migration
  codeframe/cli/app.py
  codeframe/core/prd_discovery.py
  codeframe/ui/routers/discovery_v2.py
  tests/cli/test_prd_generate_active_slot_1042.py
  tests/core/test_prd_discovery_single_active_1042.py
Due: pytest-check, skip-detector

fix(discovery): a pause must not resurrect a session that was reset
  codeframe/core/prd_discovery.py
  tests/core/test_prd_discovery_single_active_1042.py
Due: pytest-check, skip-detector

docs: record the single-active-session invariant in CLAUDE.md
  CLAUDE.md
Due: none

test: pin get_active_session's choice when a finished session coexists
  tests/core/test_prd_discovery_single_active_1042.py
Due: pytest-check, skip-detector

fix(discovery): claim the single active session atomically (#1042) (#1201)
  CLAUDE.md
  codeframe/cli/app.py
  codeframe/core/prd_discovery.py
  codeframe/ui/routers/discovery_v2.py
  tests/cli/test_prd_generate_active_slot_1042.py
  tests/core/test_prd_discovery_single_active_1042.py
  tests/core/test_prd_discovery_template_defects_961.py
  tests/ui/test_discovery_start_errors.py
Due: pytest-check, skip-detector

ci: guard the two silent-failure modes in reusable-workflow calls
  .github/workflows/check-workflow-calls.yml
Due: none

ci: guard the two silent-failure modes in reusable-workflow calls (#1203)
  .github/workflows/check-workflow-calls.yml
Due: none

fix(cli): guard Rich markup by running the commands, not scanning for field names (#1054)
  codeframe/cli/app.py
  codeframe/cli/auth_commands.py
  codeframe/cli/dashboard_commands.py
  codeframe/cli/engines_commands.py
  codeframe/cli/helpers.py
  codeframe/cli/pr_commands.py
  codeframe/cli/proof_commands.py
  codeframe/core/events.py
  tests/cli/test_cli_hardening_935.py
  tests/cli/test_rich_hostile_data_1054.py
Due: pytest-check, skip-detector

docs: record the Rich-escaping convention and its guard (#1054)
  CLAUDE.md
Due: none

fix(cli): keep the blank lines around the 'Refusing to run' refusal (#1054)
  codeframe/cli/app.py
Due: pytest-check

fix(cli): keep 'Error:' the only red span in the template-import failure (#1054)
  codeframe/cli/app.py
Due: pytest-check

docs: pin the print_error prefix/suffix invariant in its docstring (#1054)
  codeframe/cli/helpers.py
Due: pytest-check

fix(cli): guard Rich markup by running the commands, not scanning for field names (#1205)
  CLAUDE.md
  codeframe/cli/app.py
  codeframe/cli/auth_commands.py
  codeframe/cli/dashboard_commands.py
  codeframe/cli/engines_commands.py
  codeframe/cli/helpers.py
  codeframe/cli/pr_commands.py
  codeframe/cli/proof_commands.py
  codeframe/core/events.py
  tests/cli/test_cli_hardening_935.py
  tests/cli/test_rich_hostile_data_1054.py
Due: pytest-check, skip-detector

fix(health): report the build that is actually running (#1160)
  .github/workflows/deploy.yml
  Dockerfile
  codeframe/ui/server.py
  deploy/README.md
  tests/api/test_health_endpoint.py
  tests/ci/test_deploy_build_metadata_1160.py
Due: pytest-check, skip-detector

Path conditions:
  pytest-check: any of: \.py$ and \.py$
  skip-detector: any of: ^tests/.*\.py$
