Repository frankbria/codeframe: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, skip-detector

.pre-commit-config.yaml:

repos:
  # Note: black removed from pre-commit to avoid conflicts with ruff --fix
  # Run `uv run black .` manually before committing if needed

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.2.0
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        types: [python]

  - repo: local
    hooks:
      - id: pytest-check
        name: Run last failed tests (fast feedback)
        entry: bash -c 'if [ -f venv/bin/activate ]; then source venv/bin/activate && pytest --lf -x; elif [ -f .venv/bin/activate ]; then source .venv/bin/activate && pytest --lf -x; else pytest --lf -x; fi'
        language: system
        pass_filenames: false
        files: \.py$
        types: [python]

      - id: coverage-check
        name: Enforce 65% coverage (manual - use scripts/verify-ai-claims.sh for full check)
        entry: bash -c 'if [ -f venv/bin/activate ]; then source venv/bin/activate && pytest --cov --cov-report=term-missing --cov-fail-under=65; elif [ -f .venv/bin/activate ]; then source .venv/bin/activate && pytest --cov --cov-report=term-missing --cov-fail-under=65; else pytest --cov --cov-report=term-missing --cov-fail-under=65; fi || (echo "❌❌❌ COVERAGE BELOW 65% ❌❌❌" && exit 1)'
        language: system
        pass_filenames: false
        files: \.py$
        types: [python]
        stages: [manual]

      - id: skip-detector
        name: Detect skip decorator abuse
        entry: python scripts/detect-skip-abuse.py
        language: system
        files: ^tests/.*\.py$
        pass_filenames: false

feat: Blocker Resolution View - Answer Agent Questions (#333)
  web-ui/__mocks__/@hugeicons/react.js
  web-ui/__tests__/components/blockers/BlockerCard.test.tsx
  web-ui/__tests__/components/blockers/ResolvedBlockersSection.test.tsx
  web-ui/__tests__/components/layout/AppSidebar.test.tsx
  web-ui/next-env.d.ts
  web-ui/src/app/blockers/page.tsx
  web-ui/src/components/blockers/BlockerCard.tsx
  web-ui/src/components/blockers/BlockerResolutionView.tsx
  web-ui/src/components/blockers/ResolvedBlockersSection.tsx
  web-ui/src/components/layout/AppSidebar.tsx
  web-ui/src/lib/api.ts
  web-ui/src/lib/format.ts
Due: none

feat: Review & Commit View - Diff Viewer & Git Actions (#334)
  codeframe/core/git.py
  codeframe/ui/routers/review_v2.py
  tests/core/test_git_review.py
  web-ui/__tests__/components/layout/AppSidebar.test.tsx
  web-ui/src/__tests__/lib/diffParser.test.ts
  web-ui/src/app/review/page.tsx
  web-ui/src/components/layout/AppSidebar.tsx
  web-ui/src/components/review/CommitPanel.tsx
  web-ui/src/components/review/DiffNavigation.tsx
  web-ui/src/components/review/DiffViewer.tsx
  web-ui/src/components/review/ExportPatchModal.tsx
  web-ui/src/components/review/FileTreePanel.tsx
  web-ui/src/components/review/PRCreatedModal.tsx
  web-ui/src/components/review/ReviewHeader.tsx
  web-ui/src/components/review/index.ts
  web-ui/src/components/ui/textarea.tsx
  web-ui/src/lib/api.ts
  web-ui/src/lib/diffParser.ts
  web-ui/src/types/index.ts
Due: pytest-check, skip-detector

fix: address review feedback for issue #334
  web-ui/src/app/review/page.tsx
  web-ui/src/components/review/DiffViewer.tsx
  web-ui/src/components/review/ExportPatchModal.tsx
Due: none

feat(core): add stall detection monitor module (#399)
  codeframe/core/config.py
  codeframe/core/events.py
  codeframe/core/stall_monitor.py
  tests/core/test_stall_monitor.py
Due: pytest-check, skip-detector

feat(agent): integrate stall detection into ReactAgent and CLI (#399)
  codeframe/cli/app.py
  codeframe/core/conductor.py
  codeframe/core/react_agent.py
  codeframe/core/runtime.py
  tests/core/test_stall_monitor.py
Due: pytest-check, skip-detector

docs: document stall detection in AGENTS.md (#399)
  AGENTS.md
Due: none

fix: remove unused import in stall monitor tests
  tests/core/test_stall_monitor.py
Due: pytest-check, skip-detector

fix: address CodeRabbit review feedback (#399)
  codeframe/core/react_agent.py
  codeframe/core/stall_monitor.py
Due: pytest-check

feat: Agent stall detection and recovery (#399) (#423)
  AGENTS.md
  codeframe/cli/app.py
  codeframe/core/conductor.py
  codeframe/core/config.py
  codeframe/core/events.py
  codeframe/core/react_agent.py
  codeframe/core/runtime.py
  codeframe/core/stall_monitor.py
  tests/core/test_stall_monitor.py
Due: pytest-check, skip-detector

fix(stall): prevent thread leak on double-start and stale state on reuse
  codeframe/core/react_agent.py
  codeframe/core/stall_monitor.py
Due: pytest-check

feat(core): add StallDetector and StallAction for stall detection (#400)
  codeframe/core/__init__.py
  codeframe/core/stall_detector.py
  tests/core/test_stall_detector.py
Due: pytest-check, skip-detector

test: use deterministic backdating instead of sleep for CI reliability
  tests/core/test_stall_detector.py
Due: pytest-check, skip-detector

feat(core): add StallDetector and StallAction (#400) (#424)
  codeframe/core/__init__.py
  codeframe/core/stall_detector.py
  tests/core/test_stall_detector.py
Due: pytest-check, skip-detector

feat(core): wire StallAction dispatch into ReactAgent and runtime (#401)
  codeframe/cli/app.py
  codeframe/core/__init__.py
  codeframe/core/conductor.py
  codeframe/core/react_agent.py
  codeframe/core/runtime.py
  codeframe/core/stall_detector.py
  tests/core/test_stall_detector.py
Due: pytest-check, skip-detector

fix: remove unused threading import from test file
  tests/core/test_stall_detector.py
Due: pytest-check, skip-detector

fix: honor stall_action during verification and emit correct failure reason
  codeframe/core/react_agent.py
Due: pytest-check

feat(core): wire StallAction dispatch into ReactAgent and runtime (#401) (#425)
  codeframe/cli/app.py
  codeframe/core/__init__.py
  codeframe/core/conductor.py
  codeframe/core/react_agent.py
  codeframe/core/runtime.py
  codeframe/core/stall_detector.py
  tests/core/test_stall_detector.py
Due: pytest-check, skip-detector

fix(stall): validate --stall-action at CLI, remove duplicate stop, update docstring
  codeframe/cli/app.py
  codeframe/core/react_agent.py
  codeframe/core/runtime.py
Due: pytest-check

fix(stall): validate --stall-action at CLI, remove duplicate stop, update docstring (#426)
  codeframe/cli/app.py
  codeframe/core/react_agent.py
  codeframe/core/runtime.py
Due: pytest-check

docs: update CLAUDE.md and README.md for stall detection system
  CLAUDE.md
  README.md
Due: none

test(core): add 26 edge case tests across core components (#114)
  pytest.ini
  tests/core/test_context_edge_cases.py
  tests/core/test_gates_edge_cases.py
  tests/core/test_react_agent_edge_cases.py
  tests/core/test_tasks_edge_cases.py
Due: pytest-check, skip-detector

feat(adapters): add AgentAdapter protocol, AgentResult, and AgentEvent types (#409)
  codeframe/core/adapters/__init__.py
  codeframe/core/adapters/agent_adapter.py
  tests/core/adapters/__init__.py
  tests/core/adapters/test_agent_adapter.py
Due: pytest-check, skip-detector

feat(adapters): add TaskContextPackager for rich prompt assembly (#410)
  codeframe/core/context_packager.py
  tests/core/test_context_packager.py
Due: pytest-check, skip-detector

feat(adapters): add SubprocessAdapter base class for external agent CLIs
  codeframe/core/adapters/__init__.py
  codeframe/core/adapters/subprocess_adapter.py
  tests/core/adapters/test_subprocess_adapter.py
Due: pytest-check, skip-detector

feat(adapters): add VerificationWrapper for post-execution gate checking (#415)
  codeframe/core/adapters/__init__.py
  codeframe/core/adapters/builtin.py
  codeframe/core/adapters/verification_wrapper.py
  tests/core/adapters/test_verification_wrapper.py
Due: pytest-check, skip-detector

feat(adapters): add builtin React and Plan adapter shims
  codeframe/core/adapters/__init__.py
  tests/core/adapters/test_builtin.py
Due: pytest-check, skip-detector

feat(adapters): add Claude Code CLI adapter (#411)
  codeframe/core/adapters/__init__.py
  codeframe/core/adapters/claude_code.py
  tests/core/adapters/test_claude_code.py
Due: pytest-check, skip-detector

feat(adapters): add OpenCode CLI adapter (#416)
  codeframe/core/adapters/__init__.py
  codeframe/core/adapters/opencode.py
  tests/core/adapters/test_opencode.py
Due: pytest-check, skip-detector

feat(adapters): add engine registry for adapter lookup and resolution (#414)
  codeframe/core/engine_registry.py
  tests/core/test_engine_registry.py
Due: pytest-check, skip-detector

feat(core): wire external engine adapters into runtime and CLI (#408)
  codeframe/cli/app.py
  codeframe/core/runtime.py
  tests/core/test_runtime_adapters.py
Due: pytest-check, skip-detector

fix(adapters): prevent subprocess deadlock and add timeout support
  codeframe/core/adapters/subprocess_adapter.py
  tests/core/adapters/test_subprocess_adapter.py
Due: pytest-check, skip-detector

fix: remove unused imports flagged by CI lint
  tests/core/adapters/test_builtin.py
  tests/core/test_runtime_adapters.py
Due: pytest-check, skip-detector

feat: Agent Adapter Architecture — delegate to frontier coding agents (#408)
  codeframe/cli/app.py
  codeframe/core/adapters/__init__.py
  codeframe/core/adapters/agent_adapter.py
  codeframe/core/adapters/builtin.py
  codeframe/core/adapters/claude_code.py
  codeframe/core/adapters/opencode.py
  codeframe/core/adapters/subprocess_adapter.py
  codeframe/core/adapters/verification_wrapper.py
  codeframe/core/context_packager.py
  codeframe/core/engine_registry.py
  codeframe/core/runtime.py
  tests/core/adapters/__init__.py
  tests/core/adapters/test_agent_adapter.py
  tests/core/adapters/test_builtin.py
  tests/core/adapters/test_claude_code.py
  tests/core/adapters/test_opencode.py
  tests/core/adapters/test_subprocess_adapter.py
  tests/core/adapters/test_verification_wrapper.py
  tests/core/test_context_packager.py
  tests/core/test_engine_registry.py
  tests/core/test_runtime_adapters.py
Due: pytest-check, skip-detector

fix(core): wire resolve_engine() into runtime for env var and alias support
  codeframe/core/runtime.py
Due: pytest-check

feat(core): define AgentAdapter protocol for multi-engine execution (#409)
  codeframe/core/agent_adapter.py
  tests/core/test_agent_adapter.py
Due: pytest-check, skip-detector

fix: add v2 pytest marker per CodeRabbit review feedback
  tests/core/test_agent_adapter.py
Due: pytest-check, skip-detector

feat(core): Agent Adapter protocol definition (#409)
  codeframe/core/agent_adapter.py
  tests/core/test_agent_adapter.py
Due: pytest-check, skip-detector

fix(core): reconcile duplicate AgentAdapter protocols into canonical location
  codeframe/core/adapters/__init__.py
  codeframe/core/adapters/agent_adapter.py
  codeframe/core/agent_adapter.py
  tests/core/test_agent_adapter.py
Due: pytest-check, skip-detector
