Repository frankbria/codeframe: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, skip-detector

pytest-check:
  name: Run last failed tests (fast feedback)
  entry: bash -c 'if [ -f venv/bin/activate ]; then source venv/bin/activate && pytest --lf -x; elif [ -f .venv/bin/activate ]; then source .venv/bin/activate && pytest --lf -x; else pytest --lf -x; fi'
  language: system
  pass_filenames: false

skip-detector:
  name: Detect skip decorator abuse
  entry: python scripts/detect-skip-abuse.py
  language: system
  pass_filenames: false

fix(proof): a title quoting another requirement's test name cannot select it (#1397)
  codeframe/core/proof/obligations.py
  tests/core/test_proof_rule_scope_1397.py
Due: pytest-check, skip-detector

docs(changelog): #1345 spend limit covers THINK-stage and chat
  CHANGELOG.md
Due: none

fix(proof): a requirement's evidence rules select only its own tests (#1397) (#1400)
  CHANGELOG.md
  codeframe/core/proof/capture.py
  codeframe/core/proof/obligations.py
  codeframe/core/proof/stubs.py
  tests/core/test_proof_evidence_rules.py
  tests/core/test_proof_rule_scope_1397.py
Due: pytest-check, skip-detector

fix(chat): record spend in the producer; cancel a turn before reserving its replacement (#1345)
  codeframe/ui/routers/session_chat_ws.py
  tests/api/test_session_chat_spend_1345.py
  tests/api/test_session_chat_ws.py
Due: pytest-check, skip-detector

fix(spend): count chat calls cut short; hold a stream's budget until its last call records (#1345)
  codeframe/core/adapters/streaming_chat.py
  codeframe/core/usage_recording.py
  codeframe/ui/routers/prd_v2.py
  codeframe/ui/routers/session_chat_ws.py
  tests/api/test_session_chat_spend_1345.py
  tests/core/test_usage_recording_1345.py
Due: pytest-check, skip-detector

refactor(chat): drop unreachable aclosing guards (#1345)
  codeframe/core/adapters/streaming_chat.py
  codeframe/ui/routers/session_chat_ws.py
Due: pytest-check

fix(proof): capture reserves its REQ id atomically (#1399)
  codeframe/core/proof/capture.py
  codeframe/core/proof/ledger.py
  tests/core/test_proof_capture_atomic_1399.py
  tests/core/test_proof_requirement_lifecycle_923.py
Due: pytest-check, skip-detector

fix(chat): count a call cut short before its first chunk (#1345)
  codeframe/core/adapters/streaming_chat.py
  tests/api/test_session_chat_spend_1345.py
Due: pytest-check, skip-detector

refactor(proof): drop the allocator's dead retry; deterministic race test (#1399 review)
  codeframe/core/proof/ledger.py
  tests/core/test_proof_capture_atomic_1399.py
Due: pytest-check, skip-detector

docs(changelog): #1399 atomic REQ id allocation
  CHANGELOG.md
Due: none

fix(spend): a cancelled planning handler holds its budget until the worker records (#1345)
  codeframe/core/usage_recording.py
  codeframe/ui/dependencies.py
  tests/core/test_usage_recording_1345.py
Due: pytest-check, skip-detector

fix(spend): a settled budget admits no new call; unrecorded spend keeps its hold (#1345)
  codeframe/core/adapters/streaming_chat.py
  codeframe/core/usage_recording.py
  codeframe/ui/routers/session_chat_ws.py
  tests/api/test_session_chat_spend_1345.py
  tests/core/test_usage_recording_1345.py
Due: pytest-check, skip-detector

docs: fix golden-path state machine, deploy ports, setup script and overstated claims (#1304)
  .env.production.example
  .env.staging.example
  CHANGELOG.md
  README.md
  deploy/Caddyfile.example
  docs/GOLDEN_PATH.md
  legacydocs/nginx-setup-complete.md
  scripts/remote-setup.sh
  tests/ci/test_golden_path_state_machine_1304.py
  tests/ci/test_no_public_ips_1304.py
Due: pytest-check, skip-detector

chore: delete dead audit events and helpers; the CSP requires a nonce (#1305)
  codeframe/auth/scopes.py
  codeframe/lib/audit_logger.py
  codeframe/lib/metrics_tracker.py
  codeframe/platform_store/database.py
  codeframe/platform_store/repositories/base.py
  codeframe/ui/routers/costs_v2.py
  web-ui/security-headers.d.ts
  web-ui/security-headers.js
  web-ui/src/__tests__/security-headers.test.js
Due: pytest-check

fix(chat): a turn stopped mid-turn by its budget says so, with its code (#1345 review)
  codeframe/core/adapters/streaming_chat.py
  tests/core/test_usage_recording_1345.py
Due: pytest-check, skip-detector

fix(proof): concurrent captures no longer overwrite each other (#1399) (#1403)
  CHANGELOG.md
  codeframe/core/proof/capture.py
  codeframe/core/proof/ledger.py
  tests/core/test_proof_capture_atomic_1399.py
  tests/core/test_proof_requirement_lifecycle_923.py
Due: pytest-check, skip-detector

docs(changelog): #1305 hygiene
  CHANGELOG.md
Due: none

fix(conductor): supervisor decisions are cached per workspace, by whole words (#1306)
  codeframe/core/conductor.py
  tests/core/test_supervisor_cache_1306.py
  tests/core/test_supervisor_resolver.py
Due: pytest-check, skip-detector

fix(cli): waivers record the OS user, like merge overrides (#1306)
  codeframe/cli/helpers.py
  codeframe/cli/pr_commands.py
  codeframe/cli/proof_commands.py
  tests/cli/test_proof_commands.py
Due: pytest-check, skip-detector

fix(opencode): the prompt always goes on stdin, never argv (#1306)
  codeframe/core/adapters/opencode.py
  tests/core/adapters/test_opencode.py
  tests/core/adapters/test_opencode_dir_1007.py
  tests/core/adapters/test_opencode_smoke_913.py
Due: pytest-check, skip-detector

docs: fix golden-path state machine, deploy ports, setup script and overstated claims (#1304) (#1404)
  .env.production.example
  .env.staging.example
  CHANGELOG.md
  README.md
  deploy/Caddyfile.example
  docs/GOLDEN_PATH.md
  legacydocs/nginx-setup-complete.md
  scripts/remote-setup.sh
  tests/ci/test_golden_path_state_machine_1304.py
  tests/ci/test_no_public_ips_1304.py
Due: pytest-check, skip-detector

fix(execution): the completion event carries the real run time (#1306)
  codeframe/core/agent.py
  codeframe/core/react_agent.py
  tests/core/test_react_agent.py
  web-ui/src/__tests__/app/execution/completion-duration.test.tsx
  web-ui/src/app/execution/[taskId]/page.tsx
Due: pytest-check, skip-detector

fix(deps): gitpython >=3.1.60,<4 — 3.1.59's Actor ReDoS was reachable via /api/v2/git/commits (#1306)
  pyproject.toml
  uv.lock
Due: none

fix(checkpoints): restore leaves MERGED tasks and live runs alone, and counts real updates (#1306)
  codeframe/cli/app.py
  codeframe/core/checkpoints.py
  codeframe/ui/routers/checkpoints_v2.py
  tests/core/test_checkpoint_restore_1306.py
Due: pytest-check, skip-detector

docs(changelog): #1306 correctness batch
  CHANGELOG.md
Due: none

fix(spend): the daily spend limit covers THINK-stage and chat spend (#1345) (#1402)
  CHANGELOG.md
  codeframe/core/adapters/streaming_chat.py
  codeframe/core/models.py
  codeframe/core/prd_discovery.py
  codeframe/core/spend_limit.py
  codeframe/core/usage_recording.py
  codeframe/ui/dependencies.py
  codeframe/ui/routers/discovery_v2.py
  codeframe/ui/routers/prd_v2.py
  codeframe/ui/routers/session_chat_ws.py
  tests/api/test_session_chat_spend_1345.py
  tests/api/test_session_chat_ws.py
  tests/core/test_prd_discovery_provider_917.py
  tests/core/test_provider_resolution_chain.py
  tests/core/test_usage_recording_1345.py
  tests/ui/test_discovery_generate_tasks.py
  tests/ui/test_spend_limit_llm_routes_1345.py
Due: pytest-check, skip-detector

fix(gates): bundled ruff that cannot read a newer config skips; per-edit lint drops --output-format (#1308)
  codeframe/core/gates.py
  tests/core/test_gates_ruff_edges_1308.py
Due: pytest-check, skip-detector

fix(checkpoints): guard restore inside the UPDATE; resume() starts the run timer (#1306 review)
  codeframe/core/agent.py
  codeframe/core/checkpoints.py
  tests/core/test_checkpoint_restore_1306.py
Due: pytest-check, skip-detector

fix(deps): lock gitpython 3.1.62, not the three-day-old 3.2.0 (#1306 review)
  uv.lock
Due: none

docs(changelog): #1308 ruff edges
  CHANGELOG.md
Due: none

docs(csp): untangle the header comment (#1305 review nit)
  web-ui/security-headers.js
Due: none

ci(deploy): pin the volume-mounting helper images by digest (#1390)
  .github/workflows/deploy.yml
  CHANGELOG.md
  deploy/README.md
  deploy/backup-db.sh
  tests/ci/test_deploy_image_digests_1390.py
Due: pytest-check, skip-detector

chore: delete dead audit events and helpers; the CSP requires a nonce (#1305) (#1406)
  CHANGELOG.md
  codeframe/auth/scopes.py
  codeframe/lib/audit_logger.py
  codeframe/lib/metrics_tracker.py
  codeframe/platform_store/database.py
  codeframe/platform_store/repositories/base.py
  codeframe/ui/routers/costs_v2.py
  web-ui/security-headers.d.ts
  web-ui/security-headers.js
  web-ui/src/__tests__/security-headers.test.js
Due: pytest-check

fix: cli_actor survives a uid with no passwd entry; whole-word pytest-failure topic (#1306 review)
  codeframe/cli/helpers.py
  codeframe/core/conductor.py
  tests/cli/test_proof_commands.py
  tests/core/adapters/test_opencode.py
Due: pytest-check, skip-detector

ci(deploy): move the helper alpine to 3.22, catch registry-qualified spellings, verified refresh recipe (#1390 review)
  .github/workflows/deploy.yml
  CHANGELOG.md
  deploy/README.md
  tests/ci/test_deploy_image_digests_1390.py
Due: pytest-check, skip-detector

fix(a11y): real buttons for recent-project rows and run-history rows; scan both views (#1393)
  tests/e2e/a11y.spec.ts
  tests/e2e/seed_workspace.py
  web-ui/src/__tests__/components/proof/RunHistoryPanel.test.tsx
  web-ui/src/__tests__/components/workspace/WorkspaceSelector.test.tsx
  web-ui/src/components/proof/RunHistoryPanel.tsx
  web-ui/src/components/workspace/WorkspaceSelector.tsx
Due: pytest-check, skip-detector

fix: checkpoint restore, supervisor cache, waiver actor, opencode stdin, run duration, gitpython (#1306) (#1407)
  CHANGELOG.md
  codeframe/cli/app.py
  codeframe/cli/helpers.py
  codeframe/cli/pr_commands.py
  codeframe/cli/proof_commands.py
  codeframe/core/adapters/opencode.py
  codeframe/core/agent.py
  codeframe/core/checkpoints.py
  codeframe/core/conductor.py
  codeframe/core/react_agent.py
  codeframe/ui/routers/checkpoints_v2.py
  pyproject.toml
  tests/cli/test_proof_commands.py
  tests/core/adapters/test_opencode.py
  tests/core/adapters/test_opencode_dir_1007.py
  tests/core/adapters/test_opencode_smoke_913.py
  tests/core/test_checkpoint_restore_1306.py
  tests/core/test_react_agent.py
  tests/core/test_supervisor_cache_1306.py
  tests/core/test_supervisor_resolver.py
  uv.lock
  web-ui/src/__tests__/app/execution/completion-duration.test.tsx
  web-ui/src/app/execution/[taskId]/page.tsx
Due: pytest-check, skip-detector

docs(changelog): #1393
  CHANGELOG.md
Due: none

fix(auth): cf auth rotate reports an unreadable credential store instead of 'no existing credential' (#1320)
  codeframe/cli/auth_commands.py
  codeframe/core/credentials.py
  tests/core/test_atomic_writes_954.py
Due: pytest-check, skip-detector

docs(changelog): #1320
  CHANGELOG.md
Due: none

Path conditions:
  pytest-check: any of: \.py$ and \.py$
  skip-detector: any of: ^tests/.*\.py$
