Repository frankbria/codeframe: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, skip-detector

pytest-check:
  name: Run last failed tests (fast feedback)
  entry: bash -c 'if [ -f venv/bin/activate ]; then source venv/bin/activate && pytest --lf -x; elif [ -f .venv/bin/activate ]; then source .venv/bin/activate && pytest --lf -x; else pytest --lf -x; fi'
  language: system
  pass_filenames: false

skip-detector:
  name: Detect skip decorator abuse
  entry: python scripts/detect-skip-abuse.py
  language: system
  pass_filenames: false

feat(batch): implement parallel execution with worker pool
  codeframe/core/conductor.py
  docs/CLI_WIREFRAME.md
  tests/core/test_conductor.py
Due: pytest-check, skip-detector

feat(batch): add --strategy auto for LLM-based dependency inference
  codeframe/cli/app.py
  codeframe/core/conductor.py
  codeframe/core/dependency_analyzer.py
  docs/CLI_WIREFRAME.md
  tests/core/test_dependency_analyzer.py
Due: pytest-check, skip-detector

docs: update all v2 documentation for Phase 2 completion
  CLAUDE.md
  README.md
  docs/BATCH_EXECUTION_PLAN.md
Due: none

feat(batch): add live streaming via batch_follow command
  codeframe/cli/app.py
  codeframe/core/progress.py
  docs/BATCH_EXECUTION_PLAN.md
  docs/CLI_WIREFRAME.md
  tests/core/test_progress.py
Due: pytest-check, skip-detector

feat(cli): add bulk status update with --all and --from flags
  codeframe/cli/app.py
Due: pytest-check

test(cli): add comprehensive tests for tasks set bulk operations
  codeframe/cli/app.py
  tests/cli/test_tasks_set_bulk.py
Due: pytest-check, skip-detector

feat(cli): add Deps column to tasks list output
  codeframe/cli/app.py
Due: pytest-check

feat(tasks): add delete command and generate --overwrite flag
  codeframe/cli/app.py
  codeframe/core/tasks.py
  tests/cli/test_tasks_crud.py
Due: pytest-check, skip-detector

test: add v2 marker for CLI-first tests
  CLAUDE.md
  pytest.ini
  tests/cli/test_tasks_crud.py
  tests/cli/test_tasks_set_bulk.py
  tests/core/conftest.py
Due: pytest-check, skip-detector

fix(cli): correct argument order for tasks set status command
  codeframe/cli/app.py
  tests/cli/test_tasks_set_bulk.py
Due: pytest-check, skip-detector

feat(agent): add autonomous decision-making and AGENTS.md support
  codeframe/adapters/llm/base.py
  codeframe/cli/app.py
  codeframe/core/agent.py
  codeframe/core/agents_config.py
  codeframe/core/context.py
  codeframe/core/executor.py
  codeframe/core/planner.py
  codeframe/core/runtime.py
  codeframe/templates/AGENTS.md.default
  tests/core/test_agents_config.py
  tests/core/test_blocker_classification.py
Due: pytest-check, skip-detector

fix(agent): prevent tactical questions from becoming blockers
  codeframe/core/agent.py
Due: pytest-check

feat(conductor): add supervisor-level blocker resolution
  codeframe/core/conductor.py
  codeframe/core/runtime.py
Due: pytest-check

test(supervisor): add comprehensive tests for SupervisorResolver
  codeframe/core/conductor.py
  tests/core/test_supervisor_resolver.py
Due: pytest-check, skip-detector

feat(batch): add stop command with graceful and force modes
  codeframe/cli/app.py
  codeframe/core/conductor.py
  tests/core/test_conductor.py
Due: pytest-check, skip-detector

refactor(cli): remove duplicate batch cancel command
  codeframe/cli/app.py
Due: pytest-check

fix(runtime): add FAILED status and fix fail_run() state management
  codeframe/cli/app.py
  codeframe/core/agents_config.py
  codeframe/core/conductor.py
  codeframe/core/runtime.py
  codeframe/core/state_machine.py
  docs/CLI_V2_TEST_REPORT.md
  docs/QUICKSTART.md
  tests/core/test_agents_config.py
  tests/core/test_state_machine.py
  tests/core/test_supervisor_resolver.py
Due: pytest-check, skip-detector

fix(planner): include AGENTS.md preferences in planning prompt
  codeframe/core/planner.py
Due: pytest-check

fix(runtime): extract error message from AgentState correctly
  codeframe/core/runtime.py
Due: pytest-check

fix(schema): add FAILED status to tasks table CHECK constraint
  codeframe/core/workspace.py
Due: pytest-check

fix(runtime): remove invalid context parameter from blockers.create()
  codeframe/core/runtime.py
Due: pytest-check

feat(agent): implement verification self-correction loop
  .gitignore
  codeframe/core/agent.py
  codeframe/core/runtime.py
Due: pytest-check

feat(cli): add --verbose flag for self-correction diagnostics
  codeframe/cli/app.py
  codeframe/core/agent.py
  codeframe/core/runtime.py
Due: pytest-check

docs(readme): update for self-correction loop and verbose mode
  README.md
Due: none

docs(claude.md): update for self-correction loop and verbose mode
  CLAUDE.md
Due: none

docs: add comprehensive feature roadmap for v2
  docs/FEATURE_ROADMAP.md
Due: none

chore(beads): add Phase 3 Agent Reliability issues
  .beads/issues.jsonl
Due: none

feat(config): add v2 environment configuration with YAML support
  .beads/issues.jsonl
  codeframe/core/config.py
  tests/core/test_config.py
Due: pytest-check, skip-detector

feat(cli): add config subcommand for v2 environment configuration
  .beads/issues.jsonl
  codeframe/cli/app.py
Due: pytest-check

feat(agent): integrate environment config into agent execution
  codeframe/core/context.py
  codeframe/core/planner.py
  tests/core/test_context.py
Due: pytest-check, skip-detector

docs: add environment configuration documentation
  .beads/issues.jsonl
  CLAUDE.md
  README.md
  docs/CLI_WIREFRAME.md
  docs/QUICKSTART.md
Due: none

fix(config): improve UX for greenfield projects with no files to detect
  codeframe/cli/app.py
Due: pytest-check

refactor(config): replace structured config with natural language tech_stack
  .beads/issues.jsonl
  CLAUDE.md
  README.md
  codeframe/cli/app.py
  codeframe/core/context.py
  codeframe/core/planner.py
  codeframe/core/workspace.py
  docs/QUICKSTART.md
  tests/core/test_context.py
Due: pytest-check, skip-detector

feat(agent): add enhanced self-correction with fix tracking and quick fixes
  .beads/issues.jsonl
  CLAUDE.md
  codeframe/core/agent.py
  codeframe/core/fix_tracker.py
  codeframe/core/quick_fixes.py
  tests/core/test_fix_tracker.py
  tests/core/test_quick_fixes.py
Due: pytest-check, skip-detector

feat(agent): enhanced self-correction with project context and shell commands
  codeframe/core/agent.py
  codeframe/core/conductor.py
  codeframe/core/gates.py
  codeframe/core/runtime.py
Due: pytest-check

docs: add agent tool system to roadmap (codeframe-p77g)
  .beads/issues.jsonl
  docs/FEATURE_ROADMAP.md
Due: none

feat: Transform CodeFRAME v2 MVP from basic task automation to AI-driven development orchestration
  docs/CLI_WIREFRAME.md
  docs/GOLDEN_PATH.md
Due: none

analysis: Identify critical CLI workflow gaps and implementation roadmap
  docs/CLI_WORKFLOW_GAPS_ANALYSIS.md
  docs/CRITICAL_GAP_IMPLEMENTATION_PLAN.md
  docs/GAP_ANALYSIS_SUMMARY.md
Due: none

update: Accurate CLI workflow implementation status for enhanced MVP
  docs/GOLDEN_PATH.md
Due: none

docs: Add comprehensive implementation roadmap for enhanced MVP completion
  docs/IMPLEMENTATION_ROADMAP.md
Due: none

Path conditions:
  pytest-check: any of: \.py$ and \.py$
  skip-detector: any of: ^tests/.*\.py$
