Repository frankbria/codeframe: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, skip-detector

.pre-commit-config.yaml:

repos:
  # Note: black removed from pre-commit to avoid conflicts with ruff --fix
  # Run `uv run black .` manually before committing if needed

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.2.0
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        types: [python]

  - repo: local
    hooks:
      - id: pytest-check
        name: Run last failed tests (fast feedback)
        entry: bash -c 'if [ -f venv/bin/activate ]; then source venv/bin/activate && pytest --lf -x; elif [ -f .venv/bin/activate ]; then source .venv/bin/activate && pytest --lf -x; else pytest --lf -x; fi'
        language: system
        pass_filenames: false
        files: \.py$
        types: [python]

      - id: coverage-check
        name: Enforce 65% coverage (manual - use scripts/verify-ai-claims.sh for full check)
        entry: bash -c 'if [ -f venv/bin/activate ]; then source venv/bin/activate && pytest --cov --cov-report=term-missing --cov-fail-under=65; elif [ -f .venv/bin/activate ]; then source .venv/bin/activate && pytest --cov --cov-report=term-missing --cov-fail-under=65; else pytest --cov --cov-report=term-missing --cov-fail-under=65; fi || (echo "❌❌❌ COVERAGE BELOW 65% ❌❌❌" && exit 1)'
        language: system
        pass_filenames: false
        files: \.py$
        types: [python]
        stages: [manual]

      - id: skip-detector
        name: Detect skip decorator abuse
        entry: python scripts/detect-skip-abuse.py
        language: system
        files: ^tests/.*\.py$
        pass_filenames: false

fix(agent): per-edit lint feedback is one line per finding (#1308 review)
  codeframe/core/react_agent.py
  tests/core/test_gates_ruff_edges_1308.py
Due: pytest-check, skip-detector

fix(gates): bundled ruff skips on a newer config; per-edit lint drops --output-format (#1308) (#1408)
  CHANGELOG.md
  codeframe/core/gates.py
  codeframe/core/react_agent.py
  tests/core/test_gates_ruff_edges_1308.py
Due: pytest-check, skip-detector

test(auth): rotate with no store at all still says there is nothing to rotate (#1320 review)
  tests/core/test_atomic_writes_954.py
Due: pytest-check, skip-detector

refactor(a11y): drop the remove handler's vestigial stopPropagation (#1393 review)
  web-ui/src/components/workspace/WorkspaceSelector.tsx
Due: none

fix(llm): a rejected key's error names where the key came from (#1346)
  codeframe/adapters/llm/anthropic.py
  codeframe/adapters/llm/base.py
  codeframe/adapters/llm/errors.py
  codeframe/adapters/llm/openai.py
  codeframe/core/llm_resolution.py
  tests/core/test_key_source_1346.py
Due: pytest-check, skip-detector

docs(changelog): #1346
  CHANGELOG.md
Due: none

fix(a11y): real buttons for recent-project and run-history rows; scan both views (#1393) (#1410)
  CHANGELOG.md
  tests/e2e/a11y.spec.ts
  tests/e2e/seed_workspace.py
  web-ui/src/__tests__/components/proof/RunHistoryPanel.test.tsx
  web-ui/src/__tests__/components/workspace/WorkspaceSelector.test.tsx
  web-ui/src/components/proof/RunHistoryPanel.tsx
  web-ui/src/components/workspace/WorkspaceSelector.tsx
Due: pytest-check, skip-detector

test(e2e): a non-default frontend/backend port works — CORS origin and rewrite target follow the env (#1411)
  tests/e2e/playwright.config.ts
Due: none

ci(deploy): pin the volume-mounting helper images by digest (#1390) (#1409)
  .github/workflows/deploy.yml
  CHANGELOG.md
  deploy/README.md
  deploy/backup-db.sh
  tests/ci/test_deploy_image_digests_1390.py
Due: pytest-check, skip-detector

deps: typer >=0.27,<0.28; drop the click pin (#1351)
  pyproject.toml
  tests/ci/test_unlocked_resolution_guard_1169.py
  uv.lock
Due: pytest-check, skip-detector

fix(auth): rotate reports an unreadable credential store; hermetic test (#1320) (#1412)
  CHANGELOG.md
  codeframe/cli/auth_commands.py
  codeframe/core/credentials.py
  tests/core/test_atomic_writes_954.py
Due: pytest-check, skip-detector

fix(llm): a hosted tenant sent no key is told to store one, not to 'replace that key' (#1346 review)
  codeframe/adapters/llm/errors.py
  codeframe/core/llm_resolution.py
  tests/core/test_key_source_1346.py
Due: pytest-check, skip-detector

test(e2e): a non-default frontend/backend port works — CORS origin and rewrite target follow the env (#1411) (#1414)
  tests/e2e/playwright.config.ts
Due: none

fix(llm): a rejected key's error names where the key came from (#1346) (#1413)
  CHANGELOG.md
  codeframe/adapters/llm/anthropic.py
  codeframe/adapters/llm/base.py
  codeframe/adapters/llm/errors.py
  codeframe/adapters/llm/openai.py
  codeframe/core/llm_resolution.py
  tests/core/test_key_source_1346.py
Due: pytest-check, skip-detector

test: flaky timing tests assert mechanism, not wall-clock (#1323, #1326, #1366)
  tests/ui/test_batch_execution_offload.py
  tests/ui/test_v2_routers_integration.py
Due: pytest-check, skip-detector

test: flaky timing tests assert mechanism, not wall-clock (#1323, #1326, #1366) (#1415)
  tests/ui/test_batch_execution_offload.py
  tests/ui/test_v2_routers_integration.py
Due: pytest-check, skip-detector

docs(changelog): #1351
  CHANGELOG.md
Due: none

deps: typer >=0.27,<0.28; drop the click pin (#1351) (#1416)
  CHANGELOG.md
  pyproject.toml
  tests/ci/test_unlocked_resolution_guard_1169.py
  uv.lock
Due: pytest-check, skip-detector

fix(llm): a provider 400 is a rejected request, not a connection failure (#1349)
  codeframe/adapters/llm/base.py
  codeframe/adapters/llm/errors.py
  codeframe/ui/response_models.py
  tests/adapters/test_request_rejected_1349.py
Due: pytest-check, skip-detector

docs(changelog): #1349
  CHANGELOG.md
Due: none

test(llm): a 400 with no parseable reason is still a rejected request (#1349 review)
  tests/adapters/test_request_rejected_1349.py
Due: pytest-check, skip-detector

fix(llm): a provider 400 is a rejected request, not a connection failure (#1349) (#1417)
  CHANGELOG.md
  codeframe/adapters/llm/base.py
  codeframe/adapters/llm/errors.py
  codeframe/ui/response_models.py
  tests/adapters/test_request_rejected_1349.py
Due: pytest-check, skip-detector

fix(engines): kilo readiness includes a login, and a logged-in kilo is reported ready (#1353)
  codeframe/core/adapters/kilocode.py
  tests/core/adapters/test_kilocode.py
  tests/core/adapters/test_kilocode_auth_1353.py
  tests/core/test_dead_surface_955.py
Due: pytest-check, skip-detector

docs(changelog): #1353
  CHANGELOG.md
Due: none

fix(engines): only a kilo auth entry holding a credential counts as a login (#1353 review)
  codeframe/core/adapters/kilocode.py
  tests/core/adapters/test_kilocode_auth_1353.py
Due: pytest-check, skip-detector

fix(engines): read kilo's auth.json as UTF-8 (#1353, #1029 guard)
  codeframe/core/adapters/kilocode.py
Due: pytest-check

fix(engines): kilo readiness includes a login, and a logged-in kilo is reported ready (#1353) (#1420)
  CHANGELOG.md
  codeframe/core/adapters/kilocode.py
  tests/core/adapters/test_kilocode.py
  tests/core/adapters/test_kilocode_auth_1353.py
  tests/core/test_dead_surface_955.py
Due: pytest-check, skip-detector

feat(api): Create PR from the web UI attaches the PROOF9 report (#1358)
  codeframe/ui/routers/pr_v2.py
  tests/ui/test_pr_create_payload_1272.py
  tests/ui/test_pr_create_proof_report_1358.py
Due: pytest-check, skip-detector

docs(changelog): #1358
  CHANGELOG.md
Due: none

feat(api): Create PR from the web UI attaches the PROOF9 report (#1358) (#1421)
  CHANGELOG.md
  codeframe/ui/routers/pr_v2.py
  tests/ui/test_pr_create_payload_1272.py
  tests/ui/test_pr_create_proof_report_1358.py
Due: pytest-check, skip-detector

fix(proof): a lapsed waiver is shown as expired, not waived (#1360)
  codeframe/ui/routers/proof_v2.py
  tests/ui/test_proof_lapsed_waiver_1360.py
  web-ui/src/__tests__/components/proof/lapsed-waiver-1360.test.tsx
  web-ui/src/app/proof/page.tsx
  web-ui/src/components/proof/ProofStatusBadge.tsx
  web-ui/src/components/proof/ProofStatusWidget.tsx
  web-ui/src/types/index.ts
Due: pytest-check, skip-detector

docs(changelog): #1360
  CHANGELOG.md
Due: none

refactor(proof): use the module's ledger import (#1360 review nit)
  codeframe/ui/routers/proof_v2.py
Due: pytest-check

fix(proof): a lapsed waiver is shown as expired, not waived (#1360) (#1422)
  CHANGELOG.md
  codeframe/ui/routers/proof_v2.py
  tests/ui/test_proof_lapsed_waiver_1360.py
  web-ui/src/__tests__/components/proof/lapsed-waiver-1360.test.tsx
  web-ui/src/app/proof/page.tsx
  web-ui/src/components/proof/ProofStatusBadge.tsx
  web-ui/src/components/proof/ProofStatusWidget.tsx
  web-ui/src/types/index.ts
Due: pytest-check, skip-detector

fix(deps): PyJWT 2.15.1, urllib3 2.8.0, virtualenv 21.7.13 (24 Dependabot alerts)
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

fix(deps): PyJWT 2.15.1, urllib3 2.8.0, virtualenv 21.7.13 (24 Dependabot alerts) (#1423)
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

fix(worktrees): a stopped or failed worktree run can be started again, resuming its work (#1363)
  codeframe/core/sandbox/context.py
  tests/core/test_preserved_worktree_resume_1363.py
  tests/core/test_sandbox_context.py
Due: pytest-check, skip-detector

docs(changelog): #1363
  CHANGELOG.md
Due: none

fix(worktrees): a worktree dir deleted outside git is reattached, not resumed (#1363 review)
  codeframe/core/sandbox/context.py
  tests/core/test_preserved_worktree_resume_1363.py
Due: pytest-check, skip-detector

refactor(worktrees): docstring matches the resume behaviour; log a failed worktree listing (#1363 review)
  codeframe/core/sandbox/context.py
Due: pytest-check
