Repository frankbria/codeframe: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, skip-detector

pytest-check:
  name: Run last failed tests (fast feedback)
  entry: bash -c 'if [ -f venv/bin/activate ]; then source venv/bin/activate && pytest --lf -x; elif [ -f .venv/bin/activate ]; then source .venv/bin/activate && pytest --lf -x; else pytest --lf -x; fi'
  language: system
  pass_filenames: false

skip-detector:
  name: Detect skip decorator abuse
  entry: python scripts/detect-skip-abuse.py
  language: system
  pass_filenames: false

feat: Add checkpoint diff preview and custom delete confirmation dialog
  codeframe/ui/models.py
  codeframe/ui/server.py
  tests/e2e/test_checkpoint_ui.spec.ts
  web-ui/src/components/checkpoints/CheckpointList.tsx
  web-ui/src/components/checkpoints/DeleteConfirmationDialog.tsx
Due: pytest-check

fix: Address critical security and UX issues from code review
  codeframe/ui/server.py
  web-ui/src/api/checkpoints.ts
  web-ui/src/components/checkpoints/CheckpointList.tsx
  web-ui/src/components/checkpoints/DeleteConfirmationDialog.tsx
Due: pytest-check

refactor: Consolidate Task type definitions (closes #53)
  web-ui/src/lib/api.ts
  web-ui/src/types/agentState.ts
  web-ui/src/types/api.ts
  web-ui/src/types/index.ts
Due: none

fix: Remove unsafe patterns and add request cancellation
  web-ui/src/components/quality-gates/QualityGatesPanel.tsx
  web-ui/src/types/qualityGates.ts
Due: none

feat: Implement Quality Gates Panel in Dashboard (#43) (#50)
  tests/e2e/test_dashboard.spec.ts
  web-ui/src/api/qualityGates.ts
  web-ui/src/components/Dashboard.tsx
  web-ui/src/components/quality-gates/GateStatusIndicator.tsx
  web-ui/src/components/quality-gates/QualityGateStatus.tsx
  web-ui/src/components/quality-gates/QualityGatesPanel.tsx
  web-ui/src/components/quality-gates/index.ts
  web-ui/src/lib/qualityGateUtils.ts
  web-ui/src/types/qualityGates.ts
Due: none

feat: Add checkpoint diff preview and custom delete confirmation dialog (#59)
  codeframe/ui/models.py
  codeframe/ui/server.py
  tests/e2e/test_checkpoint_ui.spec.ts
  web-ui/src/api/checkpoints.ts
  web-ui/src/components/checkpoints/CheckpointList.tsx
  web-ui/src/components/checkpoints/DeleteConfirmationDialog.tsx
Due: pytest-check

Consolidate Task type definitions (#61)
  web-ui/src/lib/api.ts
  web-ui/src/types/agentState.ts
  web-ui/src/types/api.ts
  web-ui/src/types/index.ts
Due: none

fix(server) Fixed linting error
  claudedocs/2025-12-04_SESSION_review-findings-ui.md
  claudedocs/2025-12-04_SESSION_taskstats-implementation.md
  claudedocs/SESSION.md
  codeframe/ui/server.py
Due: pytest-check

docs: Document task identifier semantics and dual-lookup pattern
  CONTRIBUTING.md
  README.md
  docs/architecture/README.md
  docs/architecture/task-identifiers.md
  web-ui/src/components/TaskTreeView.tsx
  web-ui/src/types/api.ts
Due: none

fix(tests) Update dialog component in test replacing mock with new DeleteConfirmationDialog
  web-ui/__tests__/components/checkpoints/CheckpointList.test.tsx
Due: none

docs: Document task identifier semantics and dual-lookup pattern (#74)
  CONTRIBUTING.md
  README.md
  docs/architecture/README.md
  docs/architecture/task-identifiers.md
  web-ui/src/components/TaskTreeView.tsx
  web-ui/src/types/api.ts
Due: none

test: Add comprehensive test coverage for quality gates components
  web-ui/__tests__/components/quality-gates/GateStatusIndicator.test.tsx
  web-ui/__tests__/components/quality-gates/QualityGatesPanel.test.tsx
  web-ui/__tests__/components/quality-gates/__snapshots__/GateStatusIndicator.test.tsx.snap
  web-ui/__tests__/lib/qualityGateUtils.test.ts
Due: none

feat(web-ui): Add dismissible warning banner to QualityGateStatus component
  web-ui/__tests__/components/QualityGateStatus.test.tsx
  web-ui/src/components/quality-gates/QualityGateStatus.tsx
  web-ui/src/types/qualityGates.ts
Due: none

fix: Correct Task interface usage in QualityGatesPanel tests
  web-ui/__tests__/components/quality-gates/QualityGatesPanel.test.tsx
Due: none

fix: Add explicit workspace cleanup on project creation failure
  codeframe/ui/server.py
  tests/api/test_workspace_cleanup.py
Due: pytest-check, skip-detector

test: Add comprehensive test coverage for quality gates components (#75)
  web-ui/__tests__/components/quality-gates/GateStatusIndicator.test.tsx
  web-ui/__tests__/components/quality-gates/QualityGatesPanel.test.tsx
  web-ui/__tests__/components/quality-gates/__snapshots__/GateStatusIndicator.test.tsx.snap
  web-ui/__tests__/lib/qualityGateUtils.test.ts
Due: none

feat: Add error boundary protection for Quality Gates Panel
  web-ui/__tests__/components/Dashboard.test.tsx
  web-ui/__tests__/components/quality-gates/QualityGatesPanelFallback.test.tsx
  web-ui/src/components/Dashboard.tsx
  web-ui/src/components/quality-gates/QualityGatesPanelFallback.tsx
Due: none

fix(web-ui): Ensure warning dismissal state is isolated per taskId
  web-ui/__tests__/components/QualityGateStatus.test.tsx
  web-ui/src/components/quality-gates/QualityGateStatus.tsx
Due: none

fix: Add explicit workspace cleanup on project creation failure (#77)
  codeframe/ui/server.py
  tests/api/test_workspace_cleanup.py
Due: pytest-check, skip-detector

Add dismissible warning banner to QualityGateStatus component (#76)
  web-ui/__tests__/components/QualityGateStatus.test.tsx
  web-ui/src/components/quality-gates/QualityGateStatus.tsx
  web-ui/src/types/qualityGates.ts
Due: none

fix: Update Task mock objects to match current Task interface
  web-ui/__tests__/components/quality-gates/QualityGatesPanel.test.tsx
Due: none

fix: Enhance error boundary for Quality Gates Panel (PR #78)
  web-ui/__tests__/components/Dashboard.test.tsx
  web-ui/src/components/Dashboard.tsx
  web-ui/src/components/ErrorBoundary.tsx
Due: none

perf: Wrap QualityGatesPanel with React.memo
  web-ui/src/components/quality-gates/QualityGatesPanel.tsx
Due: none

Add error boundary protection for Quality Gates Panel (#78)
  web-ui/__tests__/components/Dashboard.test.tsx
  web-ui/__tests__/components/quality-gates/QualityGatesPanelFallback.test.tsx
  web-ui/src/components/Dashboard.tsx
  web-ui/src/components/ErrorBoundary.tsx
  web-ui/src/components/quality-gates/QualityGatesPanel.tsx
  web-ui/src/components/quality-gates/QualityGatesPanelFallback.tsx
Due: none

fix: Add graceful database error handling to project creation API
  codeframe/ui/server.py
  tests/api/test_project_creation_api.py
Due: pytest-check, skip-detector

Add comprehensive error handling for database operations in cleanup paths
  codeframe/ui/server.py
  tests/api/test_project_creation_api.py
Due: pytest-check, skip-detector

Sanitize database error messages to prevent information disclosure
  codeframe/ui/server.py
Due: pytest-check

Fix database error handling in project creation (#79)
  codeframe/ui/server.py
  tests/api/test_project_creation_api.py
Due: pytest-check, skip-detector

Fix Dashboard tests with SWR cache isolation
  web-ui/__tests__/components/Dashboard.test.tsx
Due: none

fix: Add backend server auto-start to Playwright E2E configuration
  claudedocs/SESSION.md
  tests/e2e/playwright.config.ts
Due: none

docs: Update E2E testing documentation with auto-start instructions
  CLAUDE.md
  README.md
  tests/e2e/README.md
Due: none

Fix database seeding UNIQUE constraint errors in E2E tests
  tests/e2e/seed-test-data.py
Due: pytest-check, skip-detector

docs: Add FastAPI server router refactoring plan
  docs/refactoring/fastapi-router-refactoring.md
Due: none

docs: Add FastAPI server router refactoring plan (#82)
  docs/refactoring/fastapi-router-refactoring.md
Due: none

fix: Fix E2E test failures - Database seeding, component crashes, and race conditions
  codeframe/ui/server.py
  tests/e2e/debug-error.spec.ts
  tests/e2e/test_checkpoint_ui.spec.ts
  tests/e2e/test_dashboard.spec.ts
  tests/e2e/test_metrics_ui.spec.ts
  tests/e2e/test_review_ui.spec.ts
  web-ui/src/components/Dashboard.tsx
  web-ui/src/components/metrics/CostDashboard.tsx
Due: pytest-check

fix: Improve E2E test reliability and code robustness
  CLAUDE.md
  codeframe/ui/server.py
  tests/e2e/debug-error.spec.ts
  tests/e2e/playwright.config.ts
  tests/e2e/test_checkpoint_ui.spec.ts
  tests/e2e/test_dashboard.spec.ts
  tests/e2e/test_metrics_ui.spec.ts
  tests/e2e/test_review_ui.spec.ts
Due: pytest-check

fix: Align project reviews API response with task reviews format
  codeframe/ui/server.py
  tests/api/test_project_reviews.py
Due: pytest-check, skip-detector

refactor: Extract defensive enum value extraction into reusable helpers
  codeframe/ui/server.py
Due: pytest-check

fix: Eliminate test warnings and improve E2E reliability
  CLAUDE.md
  tests/e2e/seed-test-data.py
  tests/e2e/test-utils.ts
  tests/e2e/test_dashboard.spec.ts
Due: pytest-check, skip-detector

Path conditions:
  pytest-check: any of: \.py$ and \.py$
  skip-detector: any of: ^tests/.*\.py$
