Repository frankbria/codeframe: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, skip-detector

pytest-check:
  name: Run last failed tests (fast feedback)
  entry: bash -c 'if [ -f venv/bin/activate ]; then source venv/bin/activate && pytest --lf -x; elif [ -f .venv/bin/activate ]; then source .venv/bin/activate && pytest --lf -x; else pytest --lf -x; fi'
  language: system
  pass_filenames: false

skip-detector:
  name: Detect skip decorator abuse
  entry: python scripts/detect-skip-abuse.py
  language: system
  pass_filenames: false

fix(costs): address review feedback on #558 PR
  codeframe/core/react_agent.py
  codeframe/persistence/repositories/token_repository.py
  codeframe/ui/routers/costs_v2.py
  web-ui/__tests__/components/tasks/TaskCard.test.tsx
  web-ui/src/__tests__/components/costs/AgentCostBars.test.tsx
  web-ui/src/__tests__/components/costs/TopTasksTable.test.tsx
  web-ui/src/components/tasks/TaskBoardView.tsx
  web-ui/src/components/tasks/TaskCard.tsx
  web-ui/src/lib/api.ts
Due: pytest-check

docs: mark Phase 5.2 (cost analytics) complete (#558)
  CLAUDE.md
  docs/PRODUCT_ROADMAP.md
Due: none

feat(costs): per-task and per-agent breakdowns + task board cost badge (#558) (#591)
  CLAUDE.md
  codeframe/core/models.py
  codeframe/core/react_agent.py
  codeframe/lib/metrics_tracker.py
  codeframe/persistence/repositories/token_repository.py
  codeframe/ui/routers/costs_v2.py
  docs/PRODUCT_ROADMAP.md
  tests/persistence/test_token_repository_costs.py
  tests/ui/test_costs_v2.py
  web-ui/__tests__/components/tasks/TaskCard.test.tsx
  web-ui/src/__tests__/components/costs/AgentCostBars.test.tsx
  web-ui/src/__tests__/components/costs/CostsPage.test.tsx
  web-ui/src/__tests__/components/costs/TopTasksTable.test.tsx
  web-ui/src/app/costs/page.tsx
  web-ui/src/components/costs/AgentCostBars.tsx
  web-ui/src/components/costs/TopTasksTable.tsx
  web-ui/src/components/tasks/TaskBoardContent.tsx
  web-ui/src/components/tasks/TaskBoardView.tsx
  web-ui/src/components/tasks/TaskCard.tsx
  web-ui/src/components/tasks/TaskColumn.tsx
  web-ui/src/lib/api.ts
  web-ui/src/types/index.ts
Due: pytest-check, skip-detector

fix(ci): unblock Full Lifecycle Tests workflow
  .github/workflows/lifecycle.yml
  pyproject.toml
  uv.lock
Due: none

fix(test): drop invalid --execute flag from cf work batch run calls
  tests/lifecycle/test_cli_lifecycle.py
Due: pytest-check, skip-detector

fix(test): promote BACKLOG→READY in lifecycle fixture
  tests/lifecycle/conftest.py
Due: pytest-check, skip-detector

fix(ci): unblock Full Lifecycle Tests workflow (#592)
  .github/workflows/lifecycle.yml
  pyproject.toml
  tests/lifecycle/conftest.py
  tests/lifecycle/test_cli_lifecycle.py
  uv.lock
Due: pytest-check, skip-detector

feat(web-ui): async notifications — browser + in-app center (#559)
  web-ui/__mocks__/@hugeicons/react.js
  web-ui/__tests__/app/proof/page.test.tsx
  web-ui/__tests__/components/layout/AppSidebar.test.tsx
  web-ui/src/__tests__/components/layout/NotificationCenter.test.tsx
  web-ui/src/__tests__/components/proof/ProofPage.test.tsx
  web-ui/src/__tests__/hooks/useNotifications.test.ts
  web-ui/src/app/execution/page.tsx
  web-ui/src/app/layout.tsx
  web-ui/src/app/proof/page.tsx
  web-ui/src/components/execution/BatchExecutionMonitor.tsx
  web-ui/src/components/layout/AppSidebar.tsx
  web-ui/src/components/layout/NotificationCenter.tsx
  web-ui/src/contexts/NotificationContext.tsx
  web-ui/src/hooks/useNotifications.ts
  web-ui/src/types/index.ts
Due: none

fix(web-ui): cross-family review fixes for #559
  web-ui/src/__tests__/components/layout/NotificationCenter.test.tsx
  web-ui/src/__tests__/hooks/useNotifications.test.ts
  web-ui/src/components/execution/BatchExecutionMonitor.tsx
  web-ui/src/components/layout/NotificationCenter.tsx
  web-ui/src/hooks/useNotifications.ts
  web-ui/src/types/index.ts
Due: none

test(web-ui): add permission-request unit test for #559
  web-ui/src/__tests__/app/execution/permission-request.test.tsx
Due: none

fix(web-ui): coderabbit findings on #559
  web-ui/src/__tests__/components/layout/NotificationCenter.test.tsx
  web-ui/src/__tests__/hooks/useNotifications.test.ts
  web-ui/src/components/layout/NotificationCenter.tsx
  web-ui/src/hooks/useNotifications.ts
Due: none

docs: mark Phase 5.3 (browser + in-app notifications) complete for #559
  CLAUDE.md
  docs/PRODUCT_ROADMAP.md
Due: none

fix(web-ui): prevent gate-failure re-notification on dep change (#559)
  web-ui/src/app/proof/page.tsx
Due: none

fix(web-ui): filter cross-tab storage events by key (#559)
  web-ui/src/__tests__/hooks/useNotifications.test.ts
  web-ui/src/hooks/useNotifications.ts
Due: none

feat(web-ui): close notification popover on Escape (#559)
  web-ui/src/__tests__/components/layout/NotificationCenter.test.tsx
  web-ui/src/components/layout/NotificationCenter.tsx
Due: none

feat(web-ui): async notifications — browser + in-app center (#559)
  CLAUDE.md
  docs/PRODUCT_ROADMAP.md
  web-ui/__mocks__/@hugeicons/react.js
  web-ui/__tests__/app/proof/page.test.tsx
  web-ui/__tests__/components/layout/AppSidebar.test.tsx
  web-ui/src/__tests__/app/execution/permission-request.test.tsx
  web-ui/src/__tests__/components/layout/NotificationCenter.test.tsx
  web-ui/src/__tests__/components/proof/ProofPage.test.tsx
  web-ui/src/__tests__/hooks/useNotifications.test.ts
  web-ui/src/app/execution/page.tsx
  web-ui/src/app/layout.tsx
  web-ui/src/app/proof/page.tsx
  web-ui/src/components/execution/BatchExecutionMonitor.tsx
  web-ui/src/components/layout/AppSidebar.tsx
  web-ui/src/components/layout/NotificationCenter.tsx
  web-ui/src/contexts/NotificationContext.tsx
  web-ui/src/hooks/useNotifications.ts
  web-ui/src/types/index.ts
Due: none

feat(notifications): outbound webhook for batch/blocker/PR events (#560)
  CLAUDE.md
  codeframe/core/blockers.py
  codeframe/core/conductor.py
  codeframe/core/notifications_config.py
  codeframe/notifications/webhook.py
  codeframe/ui/routers/pr_v2.py
  codeframe/ui/routers/settings_v2.py
  docs/PRODUCT_ROADMAP.md
  tests/core/test_blockers_webhook.py
  tests/core/test_conductor_webhook.py
  tests/core/test_notifications_config.py
  tests/notifications/test_webhook_send_event.py
  tests/ui/test_pr_v2_webhook.py
  tests/ui/test_settings_notifications.py
  web-ui/src/__tests__/components/settings/NotificationsTab.test.tsx
  web-ui/src/__tests__/components/settings/SettingsPage.test.tsx
  web-ui/src/app/settings/page.tsx
  web-ui/src/components/settings/NotificationsTab.tsx
  web-ui/src/lib/api.ts
  web-ui/src/types/index.ts
Due: pytest-check, skip-detector

fix(notifications): address review feedback on #560
  codeframe/core/blockers.py
  codeframe/notifications/webhook.py
  codeframe/ui/routers/settings_v2.py
  tests/notifications/test_webhook_send_event.py
  tests/ui/test_settings_notifications.py
Due: pytest-check, skip-detector

fix(notifications): defence-in-depth + corrupt JSON handling on #560
  codeframe/core/notifications_config.py
  codeframe/ui/routers/settings_v2.py
  tests/core/test_notifications_config.py
  tests/ui/test_settings_notifications.py
Due: pytest-check, skip-detector

fix(notifications): round-3 review polish on #560
  codeframe/core/notifications_config.py
  codeframe/notifications/webhook.py
  codeframe/ui/routers/pr_v2.py
  tests/notifications/test_webhook_send_event.py
  tests/ui/test_pr_v2_webhook.py
  web-ui/src/__tests__/components/settings/NotificationsTab.test.tsx
  web-ui/src/components/settings/NotificationsTab.tsx
Due: pytest-check, skip-detector

fix(notifications): redact URL in logs + fix stale pr_v2 docstring (#560)
  codeframe/core/notifications_config.py
  codeframe/ui/routers/pr_v2.py
  tests/core/test_notifications_config.py
Due: pytest-check, skip-detector

fix(notifications): round-5 nits — task callback + types + docstring (#560)
  codeframe/core/conductor.py
  codeframe/notifications/webhook.py
  codeframe/ui/routers/settings_v2.py
  tests/notifications/test_webhook_send_event.py
  tests/ui/test_settings_notifications.py
Due: pytest-check, skip-detector

fix(notifications): basic-auth log leak + clean async cancel (#560)
  codeframe/core/notifications_config.py
  tests/core/test_notifications_config.py
  tests/notifications/test_webhook_send_event.py
Due: pytest-check, skip-detector

fix(notifications): guard parsed.port from raising on malformed URLs (#560)
  codeframe/core/notifications_config.py
  tests/core/test_notifications_config.py
Due: pytest-check, skip-detector

feat(notifications): outbound webhook (#560) (#594)
  CLAUDE.md
  codeframe/core/blockers.py
  codeframe/core/conductor.py
  codeframe/core/notifications_config.py
  codeframe/notifications/webhook.py
  codeframe/ui/routers/pr_v2.py
  codeframe/ui/routers/settings_v2.py
  docs/PRODUCT_ROADMAP.md
  tests/core/test_blockers_webhook.py
  tests/core/test_conductor_webhook.py
  tests/core/test_notifications_config.py
  tests/notifications/test_webhook_send_event.py
  tests/ui/test_pr_v2_webhook.py
  tests/ui/test_settings_notifications.py
  web-ui/src/__tests__/components/settings/NotificationsTab.test.tsx
  web-ui/src/__tests__/components/settings/SettingsPage.test.tsx
  web-ui/src/app/settings/page.tsx
  web-ui/src/components/settings/NotificationsTab.tsx
  web-ui/src/lib/api.ts
  web-ui/src/types/index.ts
Due: pytest-check, skip-detector

feat(prd): stress-test web UI — trigger + streaming progress (#561)
  codeframe/core/prd_stress_test.py
  codeframe/ui/routers/prd_v2.py
  tests/core/test_prd_stress_test.py
  tests/ui/test_prd_stress_test_router.py
  web-ui/__mocks__/@hugeicons/react.js
  web-ui/src/__tests__/components/prd/PRDHeader.test.tsx
  web-ui/src/__tests__/components/prd/PrdPage.test.tsx
  web-ui/src/__tests__/components/prd/StressTestModal.test.tsx
  web-ui/src/__tests__/hooks/useStressTestStream.test.ts
  web-ui/src/app/prd/page.tsx
  web-ui/src/components/prd/PRDHeader.tsx
  web-ui/src/components/prd/PRDView.tsx
  web-ui/src/components/prd/StressTestModal.tsx
  web-ui/src/components/prd/index.ts
  web-ui/src/hooks/index.ts
  web-ui/src/hooks/useStressTestStream.ts
Due: pytest-check, skip-detector

fix(prd): handle SSE transport failures and client disconnect (#561)
  codeframe/ui/routers/prd_v2.py
  tests/ui/test_prd_stress_test_router.py
  web-ui/src/__tests__/hooks/useStressTestStream.test.ts
  web-ui/src/hooks/useStressTestStream.ts
Due: pytest-check, skip-detector

refactor(prd): address review feedback on stress-test UI (#561)
  codeframe/ui/routers/prd_v2.py
  tests/ui/test_prd_stress_test_router.py
  web-ui/src/__tests__/hooks/useStressTestStream.test.ts
  web-ui/src/components/prd/StressTestModal.tsx
  web-ui/src/hooks/index.ts
  web-ui/src/hooks/useStressTestStream.ts
  web-ui/src/types/index.ts
  web-ui/src/types/prd.ts
Due: pytest-check, skip-detector

refactor(prd): resolve LLM provider via config chain for stress-test (#561)
  codeframe/ui/routers/prd_v2.py
  tests/ui/test_prd_stress_test_router.py
Due: pytest-check, skip-detector

docs: sync for PRD stress-test web UI (#561)
  CLAUDE.md
  docs/PHASE_2_CLI_API_MAPPING.md
  docs/PRODUCT_ROADMAP.md
Due: none

feat(prd): stress-test web UI — trigger + streaming progress (#561)
  CLAUDE.md
  codeframe/core/prd_stress_test.py
  codeframe/ui/routers/prd_v2.py
  docs/PHASE_2_CLI_API_MAPPING.md
  docs/PRODUCT_ROADMAP.md
  tests/core/test_prd_stress_test.py
  tests/ui/test_prd_stress_test_router.py
  web-ui/__mocks__/@hugeicons/react.js
  web-ui/src/__tests__/components/prd/PRDHeader.test.tsx
  web-ui/src/__tests__/components/prd/PrdPage.test.tsx
  web-ui/src/__tests__/components/prd/StressTestModal.test.tsx
  web-ui/src/__tests__/hooks/useStressTestStream.test.ts
  web-ui/src/app/prd/page.tsx
  web-ui/src/components/prd/PRDHeader.tsx
  web-ui/src/components/prd/PRDView.tsx
  web-ui/src/components/prd/StressTestModal.tsx
  web-ui/src/components/prd/index.ts
  web-ui/src/hooks/index.ts
  web-ui/src/hooks/useStressTestStream.ts
  web-ui/src/types/index.ts
  web-ui/src/types/prd.ts
Due: pytest-check, skip-detector

fix(server): slim control-plane schema; unblock codeframe serve
  codeframe/persistence/schema_manager.py
  tests/agents/test_lead_agent_intervention.py
  tests/agents/test_lead_agent_scheduling.py
  tests/agents/test_lead_agent_workspace_state.py
  tests/api/conftest.py
  tests/cli/test_stats_commands.py
  tests/core/test_phase_manager.py
  tests/core/test_project_get_status.py
  tests/persistence/test_intervention_context.py
  tests/persistence/test_token_repository.py
  tests/persistence/test_token_repository_costs.py
Due: pytest-check, skip-detector

test(conftest): quote table identifiers in cleanup loop (coderabbit nit)
  tests/api/conftest.py
Due: pytest-check, skip-detector

refactor: remove orphaned v1 web layer (routers + services)
  codeframe/ui/routers/agents.py
  codeframe/ui/routers/blockers.py
  codeframe/ui/routers/chat.py
  codeframe/ui/routers/checkpoints.py
  codeframe/ui/routers/context.py
  codeframe/ui/routers/discovery.py
  codeframe/ui/routers/git.py
  codeframe/ui/routers/lint.py
  codeframe/ui/routers/metrics.py
  codeframe/ui/routers/projects.py
  codeframe/ui/routers/projects_v2.py
  codeframe/ui/routers/prs.py
  codeframe/ui/routers/quality_gates.py
  codeframe/ui/routers/review.py
  codeframe/ui/routers/schedule.py
  codeframe/ui/routers/session.py
  codeframe/ui/routers/tasks.py
  codeframe/ui/routers/templates.py
  codeframe/ui/routers/websocket.py
  codeframe/ui/services/__init__.py
  codeframe/ui/services/agent_service.py
  codeframe/ui/services/review_service.py
  tests/agents/test_agent_lifecycle.py
  tests/api/test_chat_api.py
  tests/api/test_generate_tasks_endpoint.py
  tests/api/test_schedule_api.py
  tests/api/test_templates_api.py
  tests/ui/conftest.py
  tests/ui/test_assign_pending_tasks.py
  tests/ui/test_discovery_automation.py
  tests/ui/test_task_approval.py
  tests/ui/test_task_approval_execution.py
  tests/ui/test_websocket_proactive.py
  tests/ui/test_websocket_router.py
  tests/unit/test_pr_router.py
Due: pytest-check, skip-detector

refactor: remove dead leaf modules (v1 domain cleanup, part 1)
  codeframe/agents/subagent_generator.py
  codeframe/context/__init__.py
  codeframe/core/credential_audit.py
  codeframe/core/credential_validator.py
  codeframe/core/phase_manager.py
  codeframe/core/project_status.py
  codeframe/git/github_issue_sync.py
  codeframe/lib/quality_gate_tool.py
  codeframe/lib/sdk_hooks.py
  codeframe/notifications/desktop.py
  codeframe/notifications/router.py
  codeframe/persistence/database.py.backup
  codeframe/tasks/__init__.py
  codeframe/tasks/expire_blockers.py
  codeframe/ui/auth.py
  tests/agents/test_subagent_generator.py
  tests/api/test_discovery_restart.py
  tests/blockers/test_blocker_expiration.py
  tests/blockers/test_blocker_expiration_cron.py
  tests/core/test_credential_audit.py
  tests/core/test_credential_validator.py
  tests/core/test_reconciliation.py
  tests/integration/test_mvp_completion_workflow.py
  tests/integration/test_notification_workflow.py
  tests/lib/test_quality_gate_tool.py
  tests/lib/test_sdk_hooks.py
  tests/notifications/test_desktop.py
  tests/notifications/test_router.py
Due: pytest-check, skip-detector

fix(ci): remove obsolete v1 e2e workflow test
  tests/e2e/test_full_workflow.py
Due: pytest-check, skip-detector

fix(ci): remove obsolete v1 e2e workflow test (#600)
  tests/e2e/test_full_workflow.py
Due: pytest-check, skip-detector

Path conditions:
  pytest-check: any of: \.py$ and \.py$
  skip-detector: any of: ^tests/.*\.py$
