Repository frankbria/codeframe: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, skip-detector

.pre-commit-config.yaml:

repos:
  # Note: black removed from pre-commit to avoid conflicts with ruff --fix
  # Run `uv run black .` manually before committing if needed

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.2.0
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        types: [python]

  - repo: local
    hooks:
      - id: pytest-check
        name: Run last failed tests (fast feedback)
        entry: bash -c 'if [ -f venv/bin/activate ]; then source venv/bin/activate && pytest --lf -x; elif [ -f .venv/bin/activate ]; then source .venv/bin/activate && pytest --lf -x; else pytest --lf -x; fi'
        language: system
        pass_filenames: false
        files: \.py$
        types: [python]

      - id: coverage-check
        name: Enforce 65% coverage (manual - use scripts/verify-ai-claims.sh for full check)
        entry: bash -c 'if [ -f venv/bin/activate ]; then source venv/bin/activate && pytest --cov --cov-report=term-missing --cov-fail-under=65; elif [ -f .venv/bin/activate ]; then source .venv/bin/activate && pytest --cov --cov-report=term-missing --cov-fail-under=65; else pytest --cov --cov-report=term-missing --cov-fail-under=65; fi || (echo "❌❌❌ COVERAGE BELOW 65% ❌❌❌" && exit 1)'
        language: system
        pass_filenames: false
        files: \.py$
        types: [python]
        stages: [manual]

      - id: skip-detector
        name: Detect skip decorator abuse
        entry: python scripts/detect-skip-abuse.py
        language: system
        files: ^tests/.*\.py$
        pass_filenames: false

fix(ci): add type annotations to export write callbacks (mypy no-untyped-def)
  codeframe/lib/metrics_tracker.py
Due: pytest-check

docs(stats): note export files are intentionally owner-only (0600)
  codeframe/lib/metrics_tracker.py
Due: pytest-check

fix(perf): push `cf stats` aggregation into SQL, stream exports (#752) (#832)
  codeframe/cli/stats_commands.py
  codeframe/lib/metrics_tracker.py
  codeframe/platform_store/database.py
  codeframe/platform_store/repositories/token_repository.py
  tests/core/test_token_repository_aggregation.py
Due: pytest-check, skip-detector

fix(security): gate test-only /test/broadcast behind env flag (#753)
  codeframe/ui/server.py
  tests/ui/test_v2_auth_enforcement.py
Due: pytest-check, skip-detector

docs: document CODEFRAME_ENABLE_TEST_ENDPOINTS flag (#753)
  CLAUDE.md
Due: none

fix(security): gate test-only `/test/broadcast` behind env flag (#753) (#833)
  CLAUDE.md
  codeframe/ui/server.py
  tests/ui/test_v2_auth_enforcement.py
Due: pytest-check, skip-detector

chore(deps): add dependabot cooldown stepdown policy
  .github/dependabot.yml
Due: none

fix(security): publish resolved principal to request.state.user for per-user rate limits (#754)
  codeframe/auth/dependencies.py
  codeframe/lib/rate_limiter.py
  tests/auth/test_auth_mode.py
  tests/lib/test_rate_limiter.py
Due: pytest-check, skip-detector

fix(security): publish resolved principal to request.state.user for per-user rate limits (#754) (#835)
  codeframe/auth/dependencies.py
  codeframe/lib/rate_limiter.py
  tests/auth/test_auth_mode.py
  tests/lib/test_rate_limiter.py
Due: pytest-check, skip-detector

Add GLM inline review workflow (frankbria/glm-review)
  .github/workflows/glm-review.yml
Due: none

chore(deps): add dependabot cooldown stepdown policy (#834)
  .github/dependabot.yml
Due: none

fix(ci): SHA-pin glm-review reusable workflow (supply-chain)
  .github/workflows/glm-review.yml
Due: none

fix(ci): drop unsupported semver-*-days cooldown keys for github-actions
  .github/dependabot.yml
Due: none

ci: add GLM inline review workflow (#836)
  .github/dependabot.yml
  .github/workflows/glm-review.yml
Due: none

fix(openai): recover from malformed tool-call JSON in non-streaming path (#755)
  codeframe/adapters/llm/openai.py
  tests/adapters/test_llm_openai.py
Due: pytest-check, skip-detector

fix(openai): recover from malformed tool-call JSON in non-streaming path (#755) (#839)
  codeframe/adapters/llm/openai.py
  tests/adapters/test_llm_openai.py
Due: pytest-check, skip-detector

fix(terminal-ws): release per-user slot when handshake fails (#756)
  codeframe/ui/routers/terminal_ws.py
  tests/ui/test_terminal_ws.py
Due: pytest-check, skip-detector

fix(terminal-ws): release per-user slot when handshake fails (#756) (#840)
  codeframe/ui/routers/terminal_ws.py
  tests/ui/test_terminal_ws.py
Due: pytest-check, skip-detector

fix(sse): subscribe before terminal check to close completion race (#757)
  codeframe/ui/routers/streaming_v2.py
  codeframe/ui/routers/tasks_v2.py
  tests/ui/test_streaming_router.py
Due: pytest-check, skip-detector

fix(sse): subscribe before terminal check to close completion race (#757) (#841)
  codeframe/ui/routers/streaming_v2.py
  codeframe/ui/routers/tasks_v2.py
  tests/ui/test_streaming_router.py
Due: pytest-check, skip-detector

fix(sse): async /tasks/{id}/output tailer so abandoned streams don't pin threadpool threads (#758)
  codeframe/core/streaming.py
  codeframe/ui/routers/tasks_v2.py
  tests/core/test_streaming.py
Due: pytest-check, skip-detector

fix(sse): async /tasks/{id}/output tailer so abandoned streams don't pin threadpool threads (#758) (#842)
  codeframe/core/streaming.py
  codeframe/ui/routers/tasks_v2.py
  tests/core/test_streaming.py
Due: pytest-check, skip-detector

fix(session-chat): reject second concurrent WS connection instead of clobbering per-session state (#759)
  codeframe/ui/routers/session_chat_ws.py
  codeframe/ui/shared.py
  tests/api/test_session_chat_ws.py
Due: pytest-check, skip-detector

fix(session-chat): reject second concurrent WS connection instead of clobbering per-session state (#759) (#843)
  codeframe/ui/routers/session_chat_ws.py
  codeframe/ui/shared.py
  tests/api/test_session_chat_ws.py
Due: pytest-check, skip-detector

fix(auth): surface API-key auth errors + close leaked fallback DB (#760)
  codeframe/auth/dependencies.py
  tests/auth/test_api_key_auth_errors.py
Due: pytest-check, skip-detector

fix(auth): surface API-key auth errors + close leaked fallback DB (#760) (#844)
  codeframe/auth/dependencies.py
  tests/auth/test_api_key_auth_errors.py
Due: pytest-check, skip-detector

fix(github): bound the issue-browse cache with sweep-and-cap (#761)
  codeframe/ui/routers/github_integrations_v2.py
  tests/ui/test_github_integrations_v2.py
Due: pytest-check, skip-detector

fix(github): bound the issue-browse cache with sweep-and-cap (#761) (#845)
  codeframe/ui/routers/github_integrations_v2.py
  tests/ui/test_github_integrations_v2.py
Due: pytest-check, skip-detector

fix(core): release SQLite connections on query failure in batch/run readers (#762)
  codeframe/core/conductor.py
  codeframe/core/runtime.py
  tests/core/test_batch_run_connection_safety.py
Due: pytest-check, skip-detector

fix(core): release SQLite connections on query failure in batch/run readers (#762) (#846)
  codeframe/core/conductor.py
  codeframe/core/runtime.py
  tests/core/test_batch_run_connection_safety.py
Due: pytest-check, skip-detector

fix(core): stop reconciliation thread + mark batch FAILED when execution raises (#763)
  codeframe/core/conductor.py
  tests/core/test_conductor.py
Due: pytest-check, skip-detector

fix(core): scope batch-FAILED override to pre-finalization errors (#763 review)
  codeframe/core/conductor.py
  tests/core/test_conductor.py
Due: pytest-check, skip-detector

fix(core): stop reconciliation thread + mark batch FAILED when execution raises (#763) (#847)
  codeframe/core/conductor.py
  tests/core/test_conductor.py
Due: pytest-check, skip-detector

fix(session-chat): resolve provider + honor model from session agent_type (#764)
  codeframe/ui/routers/session_chat_ws.py
  tests/api/test_session_chat_ws.py
Due: pytest-check, skip-detector

fix(session-chat): resolve provider + honor model from session agent_type (#764) (#853)
  codeframe/ui/routers/session_chat_ws.py
  tests/api/test_session_chat_ws.py
Due: pytest-check, skip-detector

fix(session-chat): normalize persisted roles on history replay (#765)
  codeframe/core/adapters/streaming_chat.py
  tests/core/test_streaming_chat.py
Due: pytest-check, skip-detector

fix(session-chat): normalize persisted roles on history replay (#765) (#854)
  codeframe/core/adapters/streaming_chat.py
  tests/core/test_streaming_chat.py
Due: pytest-check, skip-detector

fix(adapters): route extended thinking to beta namespace, narrow except (#766)
  codeframe/adapters/llm/anthropic.py
  tests/adapters/test_llm_async.py
Due: pytest-check, skip-detector

test(adapters): drop stale pragma no cover on TypeError degrade path (#766)
  codeframe/adapters/llm/anthropic.py
Due: pytest-check

fix(adapters): enable extended thinking via beta namespace, narrow except (#766) (#855)
  codeframe/adapters/llm/anthropic.py
  tests/adapters/test_llm_async.py
Due: pytest-check, skip-detector
