Repository frankbria/codeframe: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, skip-detector

pytest-check:
  name: Run last failed tests (fast feedback)
  entry: bash -c 'if [ -f venv/bin/activate ]; then source venv/bin/activate && pytest --lf -x; elif [ -f .venv/bin/activate ]; then source .venv/bin/activate && pytest --lf -x; else pytest --lf -x; fi'
  language: system
  pass_filenames: false

skip-detector:
  name: Detect skip decorator abuse
  entry: python scripts/detect-skip-abuse.py
  language: system
  pass_filenames: false

fix: Add --strict flag to npm run lint in CI to prevent interactive prompts
  .github/workflows/test.yml
Due: none

fix: Resolve all ESLint errors in web-ui (64 errors fixed)
  web-ui/.eslintrc.json
  web-ui/src/api/checkpoints.ts
  web-ui/src/api/metrics.ts
  web-ui/src/app/__tests__/page.test.tsx
  web-ui/src/app/projects/[projectId]/page.tsx
  web-ui/src/components/AgentCard.test.tsx
  web-ui/src/components/AgentStateProvider.tsx
  web-ui/src/components/BlockerModal.tsx
  web-ui/src/components/ChatInterface.tsx
  web-ui/src/components/Dashboard.tsx
  web-ui/src/components/DiscoveryProgress.tsx
  web-ui/src/components/PRDModal.test.tsx
  web-ui/src/components/ProjectCreationForm.tsx
  web-ui/src/components/ProjectList.tsx
  web-ui/src/components/__tests__/DiscoveryProgress.test.tsx
  web-ui/src/components/__tests__/ProjectCreationForm.test.tsx
  web-ui/src/components/__tests__/ProjectList.test.tsx
  web-ui/src/components/checkpoints/CheckpointList.tsx
  web-ui/src/components/context/ContextItemList.tsx
  web-ui/src/components/lint/LintTrendChart.tsx
  web-ui/src/components/metrics/TokenUsageChart.tsx
  web-ui/src/components/review/ReviewResultsPanel.tsx
  web-ui/src/components/reviews/ReviewFindings.tsx
  web-ui/src/components/reviews/ReviewSummary.tsx
  web-ui/src/hooks/useAgentState.ts
  web-ui/src/lib/__tests__/api.test.ts
  web-ui/src/lib/websocket.ts
  web-ui/src/lib/websocketMessageMapper.ts
  web-ui/src/types/index.ts
  web-ui/src/types/lint.ts
  web-ui/src/types/project.ts
Due: none

fix: Restore variables that were incorrectly prefixed with underscore
  web-ui/src/app/__tests__/page.test.tsx
  web-ui/src/components/AgentCard.test.tsx
  web-ui/src/components/ProjectList.tsx
Due: none

fix: Resolve test failures from linting changes
  web-ui/__tests__/api/checkpoints.test.ts
  web-ui/__tests__/components/Dashboard.test.tsx
Due: none

fix: Add git config to backend-tests workflow step
  .github/workflows/test.yml
Due: none

fix: Resolve test contamination in blockers race condition test
  tests/blockers/test_blockers.py
Due: pytest-check, skip-detector

feat: Add comprehensive tests to reach 85% coverage threshold
  .github/workflows/test.yml
  tests/api/test_context_endpoints.py
  tests/api/test_quality_gates_checkpoints.py
  tests/api/test_server_comprehensive.py
  tests/lib/test_quality_gates.py
  tests/ui/test_websocket_broadcasts.py
  tests/workspace/test_workspace_manager_comprehensive.py
Due: pytest-check, skip-detector

fix: Remove unused imports flagged by ruff
  coverage.json
  tests/api/test_context_endpoints.py
  tests/api/test_quality_gates_checkpoints.py
  tests/api/test_server_comprehensive.py
  tests/workspace/test_workspace_manager_comprehensive.py
Due: pytest-check, skip-detector

fix: Remove tests for non-existent API endpoints
  tests/api/test_context_endpoints.py
  tests/api/test_quality_gates_checkpoints.py
  tests/api/test_server_comprehensive.py
Due: pytest-check, skip-detector

fix(deps) Re-add uv test dependencies
  pyproject.toml
  uv.lock
Due: none

docs: Add Claude Agent SDK overlap analysis
  docs/SDK_OVERLAP_ANALYSIS.md
Due: none

docs: Add SDK migration implementation plan with 5 phases
  docs/SDK_MIGRATION_IMPLEMENTATION_PLAN.md
  docs/SDK_OVERLAP_ANALYSIS.md
Due: none

docs: Resolve all SDK migration open questions with verified API details
  docs/SDK_MIGRATION_IMPLEMENTATION_PLAN.md
  docs/SDK_OVERLAP_ANALYSIS.md
Due: none

feat: Complete Phase 1 of Claude Agent SDK migration
  claudedocs/SESSION.md
  codeframe/core/models.py
  codeframe/core/session_manager.py
  codeframe/lib/metrics_tracker.py
  codeframe/persistence/migrations/migration_008_add_session_id.py
  codeframe/providers/sdk_client.py
  pyproject.toml
  uv.lock
Due: pytest-check

docs: Reorganize Key Features section in README with logical groupings
  README.md
Due: none

feat(sdk): Complete Phase 2 of Claude Agent SDK migration - Tool Framework
  .beads/issues.jsonl
  claudedocs/BASH_OPERATIONS_MIGRATION_SUMMARY.md
  claudedocs/PHASE2_VERIFICATION_REPORT.md
  claudedocs/SESSION.md
  claudedocs/TASK_2_3_VERIFICATION.md
  codeframe/agents/backend_worker_agent.py
  codeframe/lib/quality_gate_tool.py
  codeframe/lib/sdk_hooks.py
  docs/SDK_HOOK_INTEGRATION_VALIDATION.md
  docs/code-review/2025-11-30-phase2-sdk-migration-review.md
  docs/quality_gate_mcp_tool_architecture.md
  docs/quality_gate_tool_flow.txt
  docs/sdk_migration_task_2.2_summary.md
  docs/task_2_4_implementation_handoff.md
  docs/task_2_4_summary.md
  docs/updating_existing_tests.md
  tests/agents/test_bash_operations_migration.py
  tests/agents/test_file_operations_migration.py
  tests/lib/test_quality_gate_tool.py
  tests/lib/test_sdk_hooks.py
Due: pytest-check, skip-detector

docs: Add Phase 2 session summary and update SESSION.md
  claudedocs/PHASE2_SESSION_SUMMARY.md
  claudedocs/SESSION.md
Due: none

fix: Resolve all ruff linting errors (20 issues fixed)
  codeframe/agents/backend_worker_agent.py
  codeframe/lib/quality_gate_tool.py
  codeframe/lib/sdk_hooks.py
  codeframe/providers/sdk_client.py
  pyproject.toml
  tests/agents/test_bash_operations_migration.py
  tests/agents/test_file_operations_migration.py
  tests/lib/test_quality_gate_tool.py
  tests/lib/test_sdk_hooks.py
  uv.lock
Due: pytest-check, skip-detector

fix: Align use_sdk flag with SDK availability
  codeframe/agents/backend_worker_agent.py
Due: pytest-check

docs: Add comprehensive session summary for 2025-11-30
  claudedocs/SESSION.md
  claudedocs/SESSION_2025-11-30_FINAL.md
Due: none

feat(agents): Complete SDK Migration Phase 3 - Agent Pattern Migration
  .claude/agents/backend-architect.md
  .claude/agents/backend-worker.md
  .claude/agents/code-reviewer.md
  .claude/agents/frontend-specialist.md
  .claude/agents/frontend-worker.md
  .claude/agents/test-engineer.md
  .claude/agents/test-worker.md
  claudedocs/SESSION.md
  codeframe/agents/agent_pool_manager.py
  codeframe/agents/hybrid_worker.py
  codeframe/agents/lead_agent.py
  codeframe/agents/subagent_generator.py
  pytest.ini
  tests/agents/test_agent_pool_manager.py
  tests/agents/test_hybrid_worker.py
  tests/agents/test_lead_agent_session.py
  tests/agents/test_subagent_generator.py
Due: pytest-check, skip-detector

fix: Address PR #34 code review comments
  codeframe/agents/agent_pool_manager.py
  codeframe/agents/hybrid_worker.py
  codeframe/agents/lead_agent.py
  codeframe/agents/subagent_generator.py
  tests/agents/test_agent_pool_manager.py
Due: pytest-check, skip-detector

fix: Pass codebase_index to BackendWorkerAgent in pool manager
  codeframe/agents/agent_pool_manager.py
Due: pytest-check

fix: Add use_sdk=False to BackendWorkerAgent test instantiations
  tests/agents/test_backend_worker_agent.py
  tests/integration/test_auto_commit_workflow.py
  tests/integration/test_backend_worker_agent_integration.py
  tests/testing/test_self_correction_integration.py
Due: pytest-check, skip-detector

docs: Update SESSION.md with test fix session summary
  claudedocs/SESSION.md
Due: none

fix: Resolve test failures in MVP workflow and config tests
  codeframe/agents/backend_worker_agent.py
  pyproject.toml
  tests/config/test_config.py
  tests/integration/test_mvp_completion_workflow.py
  uv.lock
Due: pytest-check, skip-detector

test: remove scheduled test run and lower coverage threshold to 65%
  .github/workflows/test.yml
  README.md
Due: none

ci: Update all coverage thresholds to 65% consistently
  .coveragerc
  .github/workflows/test.yml
  .pre-commit-config.yaml
  web-ui/jest.config.js
Due: none

fix: Resolve E2E test timeout failures in GitHub Actions
  .github/workflows/test.yml
  E2E_TESTS_FIX_PLAN.md
Due: none

fix: Add npm install step for E2E test dependencies in CI
  .github/workflows/test.yml
  E2E_PLAYWRIGHT_FAILURE_ANALYSIS.md
  claudedocs/SESSION.md
  tests/e2e/package-lock.json
Due: none

fix(e2e): Update Playwright tests to navigate to correct dashboard URL
  tests/e2e/global-setup.ts
  tests/e2e/playwright.config.ts
  tests/e2e/test_checkpoint_ui.spec.ts
  tests/e2e/test_dashboard.spec.ts
  tests/e2e/test_metrics_ui.spec.ts
  tests/e2e/test_review_ui.spec.ts
Due: none

feat(db): Implement multi-agent per project architecture (Phase 1-2)
  MULTI_AGENT_SCHEMA_DESIGN.md
  QUICK_REFERENCE_AGENT_ASSIGNMENT.md
  SCHEMA_ANALYSIS_REPORT.md
  SCHEMA_DIAGRAM.md
  claudedocs/2025-12-03_SESSION_playwright-e2e.md
  claudedocs/SESSION.md
  codeframe/persistence/database.py
  codeframe/persistence/migrations/migration_009_add_project_agents.py
  tests/persistence/test_project_agents.py
Due: pytest-check, skip-detector

feat(api,agents): Complete multi-agent architecture - API & business logic (Phase 3)
  AGENT_REFACTORING_SUMMARY.md
  API_DESIGN_REVIEW.md
  codeframe/agents/agent_pool_manager.py
  codeframe/agents/backend_worker_agent.py
  codeframe/agents/frontend_worker_agent.py
  codeframe/agents/hybrid_worker.py
  codeframe/agents/review_worker_agent.py
  codeframe/agents/test_worker_agent.py
  codeframe/agents/worker_agent.py
  codeframe/ui/models.py
  codeframe/ui/server.py
  tests/api/conftest.py
  tests/api/test_multi_agent_api.py
Due: pytest-check, skip-detector

test: Fix backend tests for multi-agent architecture (Phase 4)
  codeframe/agents/review_worker_agent.py
  tests/agents/test_backend_worker_agent.py
  tests/integration/test_auto_commit_workflow.py
  tests/integration/test_backend_worker_agent_integration.py
  tests/integration/test_mvp_completion_workflow.py
  tests/integration/test_quality_gates_integration.py
  tests/integration/test_review_workflow.py
  tests/integration/test_worker_context_storage.py
Due: pytest-check, skip-detector

feat(frontend): Update TypeScript types for multi-agent architecture (Phase 5.1)
  TYPESCRIPT_TYPES_UPDATE_SUMMARY.md
  web-ui/__tests__/lib/agentStateSync.test.ts
  web-ui/src/api/agentAssignment.ts
  web-ui/src/types/agentAssignment.ts
  web-ui/src/types/agentState.ts
  web-ui/src/types/index.ts
  web-ui/test-utils/agentState.fixture.ts
Due: none

feat(frontend): Update React components for multi-agent display (Phase 5.2)
  web-ui/__tests__/hooks/useAgentState.test.tsx
  web-ui/__tests__/reducers/agentReducer.test.ts
  web-ui/src/components/AgentAssignmentCard.tsx
  web-ui/src/components/AgentList.tsx
  web-ui/src/components/Dashboard.tsx
  web-ui/src/hooks/useAgentState.ts
  web-ui/src/lib/websocketMessageMapper.ts
  web-ui/src/reducers/agentReducer.ts
  web-ui/src/types/agentState.ts
Due: none

chore: Ignore Playwright test artifacts
  .gitignore
Due: none

docs: Update SESSION.md with Phase 1-5 completion status
  claudedocs/SESSION.md
Due: none

fix: Address 9 CodeRabbit review comments from PR #37
  API_IMPROVEMENTS_FUTURE.md
  QUICK_REFERENCE_AGENT_ASSIGNMENT.md
  codeframe/ui/server.py
  tests/persistence/test_project_agents.py
  web-ui/src/api/agentAssignment.ts
  web-ui/src/components/AgentList.tsx
  web-ui/src/components/Dashboard.tsx
  web-ui/src/lib/websocketMessageMapper.ts
  web-ui/src/reducers/agentReducer.ts
Due: pytest-check, skip-detector

fix: Return full AgentAssignmentResponse in update_agent_role endpoint
  codeframe/ui/server.py
Due: pytest-check

Path conditions:
  pytest-check: any of: \.py$ and \.py$
  skip-detector: any of: ^tests/.*\.py$
