Repository frankbria/codeframe: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, skip-detector

pytest-check:
  name: Run last failed tests (fast feedback)
  entry: bash -c 'if [ -f venv/bin/activate ]; then source venv/bin/activate && pytest --lf -x; elif [ -f .venv/bin/activate ]; then source .venv/bin/activate && pytest --lf -x; else pytest --lf -x; fi'
  language: system
  pass_filenames: false

skip-detector:
  name: Detect skip decorator abuse
  entry: python scripts/detect-skip-abuse.py
  language: system
  pass_filenames: false

fix: Update UI and review test fixtures for FastAPI Users schema
  tests/test_review_api.py
  tests/ui/conftest.py
Due: pytest-check, skip-detector

feat(security): Remove AUTH_REQUIRED bypass - authentication now mandatory
  CONTRIBUTING.md
  README.md
  SECURITY.md
  codeframe/auth/dependencies.py
  codeframe/persistence/schema_manager.py
  codeframe/ui/routers/websocket.py
  codeframe/ui/server.py
  docs/authentication.md
  tests/api/conftest.py
  tests/auth/test_authorization_integration.py
  tests/e2e/seed-test-data.py
  tests/e2e/test_auth_flow.spec.ts
  tests/ui/conftest.py
Due: pytest-check, skip-detector

fix(e2e): Add authentication to global-setup for mandatory auth
  tests/e2e/global-setup.ts
  tests/e2e/package-lock.json
  tests/e2e/package.json
Due: none

fix(tests): Add authentication to UI test fixtures
  tests/ui/conftest.py
  tests/ui/test_deployment_mode.py
  tests/ui/test_project_api.py
  tests/ui/test_websocket_integration.py
  tests/ui/test_websocket_router.py
Due: pytest-check, skip-detector

fix(e2e): Add try-finally to ensure database connection is closed
  tests/e2e/global-setup.ts
Due: none

refactor(tests): Centralize create_test_jwt_token in conftest.py
  tests/ui/conftest.py
  tests/ui/test_deployment_mode.py
  tests/ui/test_project_api.py
Due: pytest-check, skip-detector

security: Add JWT config validation and centralize constants
  codeframe/auth/dependencies.py
  codeframe/auth/manager.py
  codeframe/ui/server.py
Due: pytest-check

fix(ci): Install codeframe package and add timeout to backend tests
  .github/workflows/test.yml
Due: none

refactor(tests): Add shared auth helpers to root conftest.py
  tests/conftest.py
Due: pytest-check, skip-detector

fix(auth): Add engine reset for tests using temp databases
  codeframe/auth/manager.py
  tests/api/conftest.py
  tests/persistence/test_server_database.py
Due: pytest-check, skip-detector

fix(tests): Add authentication to agent lifecycle tests
  tests/agents/test_agent_lifecycle.py
Due: pytest-check, skip-detector

fix(tests): Resolve pytest hang and import errors
  codeframe/auth/manager.py
  tests/agents/test_agent_lifecycle.py
  tests/conftest.py
Due: pytest-check, skip-detector

fix(tests): Create tests.helpers module for reliable cross-test imports
  tests/__init__.py
  tests/agents/test_agent_lifecycle.py
  tests/auth/test_authorization_integration.py
  tests/helpers/__init__.py
  tests/persistence/test_server_database.py
Due: pytest-check, skip-detector

fix(tests): Drain subprocess pipes in running_server fixture teardown
  tests/ui/conftest.py
Due: pytest-check, skip-detector

fix: Close async database connections in test fixtures to prevent pytest hanging
  tests/agents/test_lead_agent_git_integration.py
  tests/git/test_git_workflow_manager.py
  tests/integration/test_agent_maturity.py
  tests/persistence/test_database_issues.py
Due: pytest-check, skip-detector

fix(tests): Fix E2E smoke tests - add auth and correct port configuration
  tests/e2e/debug-error.spec.ts
  tests/e2e/test_checkpoint_ui.spec.ts
  tests/e2e/test_complete_user_journey.spec.ts
  tests/e2e/test_dashboard.spec.ts
  tests/e2e/test_metrics_ui.spec.ts
  tests/e2e/test_review_ui.spec.ts
  tests/e2e/test_start_agent_flow.spec.ts
Due: none

fix(tests): Remove outdated xfail markers from authorization tests
  tests/auth/test_authorization_integration.py
Due: pytest-check, skip-detector

fix(ci): Start frontend on port 3001 for E2E smoke tests
  .github/workflows/test.yml
Due: none

feat(security): Remove AUTH_REQUIRED bypass - authentication now mandatory (#168)
  .github/workflows/test.yml
  CONTRIBUTING.md
  README.md
  SECURITY.md
  codeframe/auth/dependencies.py
  codeframe/auth/manager.py
  codeframe/persistence/schema_manager.py
  codeframe/ui/routers/websocket.py
  codeframe/ui/server.py
  docs/authentication.md
  tests/__init__.py
  tests/agents/test_agent_lifecycle.py
  tests/agents/test_lead_agent_git_integration.py
  tests/api/conftest.py
  tests/auth/test_authorization_integration.py
  tests/conftest.py
  tests/e2e/debug-error.spec.ts
  tests/e2e/global-setup.ts
  tests/e2e/package-lock.json
  tests/e2e/package.json
  tests/e2e/seed-test-data.py
  tests/e2e/test_auth_flow.spec.ts
  tests/e2e/test_checkpoint_ui.spec.ts
  tests/e2e/test_complete_user_journey.spec.ts
  tests/e2e/test_dashboard.spec.ts
  tests/e2e/test_metrics_ui.spec.ts
  tests/e2e/test_review_ui.spec.ts
  tests/e2e/test_start_agent_flow.spec.ts
  tests/git/test_git_workflow_manager.py
  tests/helpers/__init__.py
  tests/integration/test_agent_maturity.py
  tests/persistence/test_database_issues.py
  tests/persistence/test_server_database.py
  tests/ui/conftest.py
  tests/ui/test_deployment_mode.py
  tests/ui/test_project_api.py
  tests/ui/test_websocket_integration.py
  tests/ui/test_websocket_router.py
Due: pytest-check, skip-detector

feat(dashboard): Add dedicated tabs for Tasks, Quality Gates, and Metrics
  web-ui/__tests__/components/Dashboard.test.tsx
  web-ui/src/components/Dashboard.tsx
  web-ui/src/types/dashboard.ts
Due: none

chore: Add coverage.xml to .gitignore
  .gitignore
Due: none

test(e2e): Update tests to navigate to new dedicated tabs
  tests/e2e/test_dashboard.spec.ts
  tests/e2e/test_metrics_ui.spec.ts
  tests/e2e/test_review_ui.spec.ts
Due: none

feat(dashboard): Add dedicated tabs for Tasks, Quality Gates, and Metrics (#169)
  .gitignore
  tests/e2e/test_dashboard.spec.ts
  tests/e2e/test_metrics_ui.spec.ts
  tests/e2e/test_review_ui.spec.ts
  web-ui/__tests__/components/Dashboard.test.tsx
  web-ui/src/components/Dashboard.tsx
  web-ui/src/types/dashboard.ts
Due: none

fix(ci): Fix PM2 deployment heredoc variable expansion
  .github/workflows/deploy.yml
  package.json
Due: none

fix(ci): Set NEXT_PUBLIC_* env vars at build time for frontend
  .github/workflows/deploy.yml
Due: none

feat(discovery): Auto-start discovery after project creation and add manual start button
  web-ui/src/app/__tests__/page.test.tsx
  web-ui/src/app/page.tsx
  web-ui/src/components/DiscoveryProgress.tsx
  web-ui/src/components/__tests__/DiscoveryProgress.test.tsx
Due: none

fix(api): Use NEXT_PUBLIC_API_URL in agentAssignment.ts
  web-ui/src/api/agentAssignment.ts
Due: none

fix(websocket): Include auth token in WebSocket connection URL
  web-ui/src/lib/websocket.ts
Due: none

docs: Update CLAUDE.md with recent changes
  CLAUDE.md
Due: none

docs: Update README with Sprint 11 auth changes and recent bug fixes
  README.md
Due: none

feat(ui): Transform home page to project list view
  web-ui/src/app/page.tsx
  web-ui/src/components/ProjectList.tsx
Due: none

test: Add unit and E2E tests for project list home page
  tests/e2e/test-utils.ts
  tests/e2e/test_project_creation.spec.ts
  web-ui/__tests__/app/page.test.tsx
  web-ui/__tests__/components/ProjectList.test.tsx
Due: none

feat(ui): Add back navigation and enhance empty state
  tests/e2e/test_project_creation.spec.ts
  web-ui/__tests__/components/Dashboard.test.tsx
  web-ui/__tests__/components/Navigation.test.tsx
  web-ui/__tests__/components/ProjectList.test.tsx
  web-ui/src/components/Dashboard.tsx
  web-ui/src/components/ProjectList.tsx
Due: none

fix(tests): Update legacy tests for new home page behavior
  web-ui/src/app/__tests__/page.test.tsx
  web-ui/src/components/__tests__/ProjectList.test.tsx
Due: none

fix(tests): Assert redirect after async logout in Navigation test
  .github/workflows/claude-code-review.yml
  web-ui/__tests__/components/Navigation.test.tsx
Due: none

fix: Address HIGH priority code review feedback
  .github/workflows/claude-code-review.yml
  web-ui/src/app/page.tsx
  web-ui/src/components/ProjectList.tsx
Due: none

Update web-ui/src/components/ProjectList.tsx
  web-ui/src/components/ProjectList.tsx
Due: none

refactor: Replace inline SVG with Hugeicons Add01Icon
  web-ui/__tests__/components/ProjectList.test.tsx
  web-ui/src/components/ProjectList.tsx
  web-ui/src/components/__tests__/ProjectList.test.tsx
Due: none

feat: Create project selection home page (#176)
  .github/workflows/claude-code-review.yml
  tests/e2e/test-utils.ts
  tests/e2e/test_project_creation.spec.ts
  web-ui/__tests__/app/page.test.tsx
  web-ui/__tests__/components/Dashboard.test.tsx
  web-ui/__tests__/components/Navigation.test.tsx
  web-ui/__tests__/components/ProjectList.test.tsx
  web-ui/src/app/__tests__/page.test.tsx
  web-ui/src/app/page.tsx
  web-ui/src/components/Dashboard.tsx
  web-ui/src/components/ProjectList.tsx
  web-ui/src/components/__tests__/ProjectList.test.tsx
Due: none

Path conditions:
  pytest-check: any of: \.py$ and \.py$
  skip-detector: any of: ^tests/.*\.py$
