Repository frankbria/codeframe: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, skip-detector

.pre-commit-config.yaml:

repos:
  # Note: black removed from pre-commit to avoid conflicts with ruff --fix
  # Run `uv run black .` manually before committing if needed

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.2.0
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        types: [python]

  - repo: local
    hooks:
      - id: pytest-check
        name: Run last failed tests (fast feedback)
        entry: bash -c 'if [ -f venv/bin/activate ]; then source venv/bin/activate && pytest --lf -x; elif [ -f .venv/bin/activate ]; then source .venv/bin/activate && pytest --lf -x; else pytest --lf -x; fi'
        language: system
        pass_filenames: false
        files: \.py$
        types: [python]

      - id: coverage-check
        name: Enforce 65% coverage (manual - use scripts/verify-ai-claims.sh for full check)
        entry: bash -c 'if [ -f venv/bin/activate ]; then source venv/bin/activate && pytest --cov --cov-report=term-missing --cov-fail-under=65; elif [ -f .venv/bin/activate ]; then source .venv/bin/activate && pytest --cov --cov-report=term-missing --cov-fail-under=65; else pytest --cov --cov-report=term-missing --cov-fail-under=65; fi || (echo "❌❌❌ COVERAGE BELOW 65% ❌❌❌" && exit 1)'
        language: system
        pass_filenames: false
        files: \.py$
        types: [python]
        stages: [manual]

      - id: skip-detector
        name: Detect skip decorator abuse
        entry: python scripts/detect-skip-abuse.py
        language: system
        files: ^tests/.*\.py$
        pass_filenames: false

fix: address code review feedback for task classification
  codeframe/agents/worker_agent.py
  codeframe/config/quality_gates_config.py
  codeframe/lib/quality_gate_rules.py
  codeframe/lib/quality_gates.py
  codeframe/lib/task_classifier.py
Due: pytest-check

feat: add JSON-based env var support for custom quality gate rules
  codeframe/config/quality_gates_config.py
  tests/config/test_quality_gates_config.py
Due: pytest-check, skip-detector

feat(quality-gates): implement task classification for selective gate execution (#261)
  codeframe/agents/worker_agent.py
  codeframe/config/quality_gates_config.py
  codeframe/core/models.py
  codeframe/lib/quality_gate_rules.py
  codeframe/lib/quality_gates.py
  codeframe/lib/task_classifier.py
  tests/config/test_quality_gates_config.py
  tests/lib/test_quality_gate_rules.py
  tests/lib/test_quality_gates.py
  tests/lib/test_task_classifier.py
Due: pytest-check, skip-detector

fix(e2e): add race condition guards to checkpoint UI tests
  tests/e2e/test_checkpoint_ui.spec.ts
Due: none

fix(e2e): add race condition guards to checkpoint UI tests (#262)
  tests/e2e/test_checkpoint_ui.spec.ts
Due: none

fix(e2e): hardcode Project 1 ID in phase UPDATE to prevent affecting other projects
  tests/e2e/seed-test-data.py
Due: pytest-check, skip-detector

fix: standardize worker agent task dict interface
  codeframe/agents/frontend_worker_agent.py
  codeframe/agents/lead_agent.py
  codeframe/agents/test_worker_agent.py
  tests/agents/test_frontend_worker_agent.py
  tests/agents/test_frontend_worker_auto_commit.py
  tests/agents/test_test_worker_agent.py
  tests/agents/test_test_worker_auto_commit.py
  tests/agents/test_worker_task_dict_interface.py
Due: pytest-check, skip-detector

fix: standardize worker agent task dict interface (#267)
  codeframe/agents/frontend_worker_agent.py
  codeframe/agents/lead_agent.py
  codeframe/agents/test_worker_agent.py
  tests/agents/test_frontend_worker_agent.py
  tests/agents/test_frontend_worker_auto_commit.py
  tests/agents/test_test_worker_agent.py
  tests/agents/test_test_worker_auto_commit.py
  tests/agents/test_worker_task_dict_interface.py
Due: pytest-check, skip-detector

feat(discovery): allow restart from any phase with confirmation (#247)
  codeframe/agents/lead_agent.py
  codeframe/core/phase_manager.py
  codeframe/persistence/database.py
  codeframe/persistence/repositories/activity_repository.py
  codeframe/persistence/repositories/memory_repository.py
  codeframe/ui/routers/discovery.py
  tests/api/test_discovery_restart.py
  web-ui/__tests__/components/DiscoveryProgress.error.test.tsx
  web-ui/__tests__/components/DiscoveryProgress.test.tsx
  web-ui/__tests__/integration/prd-button-sync.test.tsx
  web-ui/src/components/DiscoveryProgress.tsx
  web-ui/src/lib/api.ts
Due: pytest-check, skip-detector

fix(#247): address code review feedback from CodeRabbit
  codeframe/agents/lead_agent.py
  codeframe/core/phase_manager.py
  codeframe/discovery/answers.py
  codeframe/persistence/database.py
  tests/api/test_discovery_restart.py
  web-ui/src/components/DiscoveryProgress.tsx
Due: pytest-check, skip-detector

fix(#247): address additional code review feedback
  codeframe/persistence/database.py
  codeframe/persistence/repositories/issue_repository.py
  codeframe/persistence/repositories/task_repository.py
  web-ui/src/components/DiscoveryProgress.tsx
Due: pytest-check

docs: add UX/UI committee report with gap analysis
  docs/ux-ui-committee-report-2026-01-13.md
Due: none

feat(discovery): allow restart from any phase with confirmation (#247) (#268)
  codeframe/agents/lead_agent.py
  codeframe/core/phase_manager.py
  codeframe/discovery/answers.py
  codeframe/persistence/database.py
  codeframe/persistence/repositories/activity_repository.py
  codeframe/persistence/repositories/issue_repository.py
  codeframe/persistence/repositories/memory_repository.py
  codeframe/persistence/repositories/task_repository.py
  codeframe/ui/routers/discovery.py
  tests/api/test_discovery_restart.py
  web-ui/__tests__/components/DiscoveryProgress.error.test.tsx
  web-ui/__tests__/components/DiscoveryProgress.test.tsx
  web-ui/__tests__/integration/prd-button-sync.test.tsx
  web-ui/src/components/DiscoveryProgress.tsx
  web-ui/src/lib/api.ts
Due: pytest-check, skip-detector

fix(ui): keep filter buttons visible when BlockerPanel filter returns empty results
  web-ui/__tests__/components/BlockerPanel.test.tsx
  web-ui/src/components/BlockerPanel.tsx
Due: none

fix(ui): keep filter buttons visible when BlockerPanel filter returns empty results (#281)
  web-ui/__tests__/components/BlockerPanel.test.tsx
  web-ui/src/components/BlockerPanel.tsx
Due: none

feat(api): add Git REST API for branch and commit operations (#270)
  codeframe/ui/routers/git.py
  codeframe/ui/server.py
  codeframe/ui/websocket_broadcasts.py
  tests/api/conftest.py
  tests/api/test_git_api.py
Due: pytest-check, skip-detector

fix(api): address code review feedback for git API
  codeframe/persistence/database.py
  codeframe/persistence/repositories/git_repository.py
  codeframe/ui/routers/git.py
Due: pytest-check

fix(api): validate issue exists and handle edge cases in git API
  codeframe/ui/routers/git.py
  tests/api/test_git_api.py
Due: pytest-check, skip-detector

fix(api): correct staged_files tuple extraction and timestamp normalization
  codeframe/ui/routers/git.py
Due: pytest-check

fix(security): add path validation and handle branch creation race condition
  codeframe/ui/routers/git.py
  tests/api/test_git_api.py
Due: pytest-check, skip-detector

style: remove extraneous f-string prefix (ruff F541)
  codeframe/ui/routers/git.py
Due: pytest-check

feat(api): add Git REST API for branch and commit operations (#270) (#282)
  codeframe/persistence/database.py
  codeframe/persistence/repositories/git_repository.py
  codeframe/ui/routers/git.py
  codeframe/ui/server.py
  codeframe/ui/websocket_broadcasts.py
  tests/api/conftest.py
  tests/api/test_git_api.py
Due: pytest-check, skip-detector

Update e2e test suite with improved configuration and additional tests
  tests/e2e/browser-config.ts
  tests/e2e/playwright.config.ts
  tests/e2e/test-utils.ts
  tests/e2e/test_auth_flow.spec.ts
  tests/e2e/test_complete_user_journey.spec.ts
  tests/e2e/test_dashboard.spec.ts
  tests/e2e/test_late_joining_user.spec.ts
  tests/e2e/test_mobile_smoke.spec.ts
  tests/e2e/test_project_creation.spec.ts
  tests/e2e/test_returning_user.spec.ts
  tests/e2e/test_start_agent_flow.spec.ts
  tests/e2e/test_state_reconciliation.spec.ts
  tests/e2e/test_task_approval.spec.ts
  tests/e2e/test_task_breakdown.spec.ts
  tests/e2e/test_task_execution_flow.spec.ts
Due: none

feat(ui): add Git visualization components (#272)
  web-ui/__tests__/api/git.test.ts
  web-ui/__tests__/components/git/BranchList.test.tsx
  web-ui/__tests__/components/git/CommitHistory.test.tsx
  web-ui/__tests__/components/git/GitBranchIndicator.test.tsx
  web-ui/__tests__/components/git/GitSection.test.tsx
  web-ui/__tests__/reducers/gitActions.test.ts
  web-ui/__tests__/types/git.test.ts
  web-ui/src/api/git.ts
  web-ui/src/components/Dashboard.tsx
  web-ui/src/components/git/BranchList.tsx
  web-ui/src/components/git/CommitHistory.tsx
  web-ui/src/components/git/GitBranchIndicator.tsx
  web-ui/src/components/git/GitSection.tsx
  web-ui/src/components/git/index.ts
  web-ui/src/lib/websocketMessageMapper.ts
  web-ui/src/reducers/agentReducer.ts
  web-ui/src/types/agentState.ts
  web-ui/src/types/git.ts
  web-ui/src/types/index.ts
  web-ui/test-utils/agentState.fixture.ts
Due: none

fix(ui): address review feedback for Git visualization (#272)
  web-ui/__tests__/components/git/GitBranchIndicator.test.tsx
  web-ui/__tests__/lib/websocketMessageMapper.test.ts
  web-ui/src/api/git.ts
  web-ui/src/components/git/CommitHistory.tsx
  web-ui/src/components/git/GitSection.tsx
  web-ui/src/lib/websocketMessageMapper.ts
  web-ui/src/reducers/agentReducer.ts
Due: none

feat(ui): add Git visualization components (#272) (#283)
  web-ui/__tests__/api/git.test.ts
  web-ui/__tests__/components/git/BranchList.test.tsx
  web-ui/__tests__/components/git/CommitHistory.test.tsx
  web-ui/__tests__/components/git/GitBranchIndicator.test.tsx
  web-ui/__tests__/components/git/GitSection.test.tsx
  web-ui/__tests__/lib/websocketMessageMapper.test.ts
  web-ui/__tests__/reducers/gitActions.test.ts
  web-ui/__tests__/types/git.test.ts
  web-ui/src/api/git.ts
  web-ui/src/components/Dashboard.tsx
  web-ui/src/components/git/BranchList.tsx
  web-ui/src/components/git/CommitHistory.tsx
  web-ui/src/components/git/GitBranchIndicator.tsx
  web-ui/src/components/git/GitSection.tsx
  web-ui/src/components/git/index.ts
  web-ui/src/lib/websocketMessageMapper.ts
  web-ui/src/reducers/agentReducer.ts
  web-ui/src/types/agentState.ts
  web-ui/src/types/git.ts
  web-ui/src/types/index.ts
  web-ui/test-utils/agentState.fixture.ts
Due: none

feat(api): add GitHub PR integration for pull request management
  .env.example
  codeframe/core/config.py
  codeframe/git/github_integration.py
  codeframe/persistence/database.py
  codeframe/persistence/repositories/__init__.py
  codeframe/persistence/repositories/pr_repository.py
  codeframe/persistence/schema_manager.py
  codeframe/ui/routers/prs.py
  codeframe/ui/server.py
  codeframe/ui/websocket_broadcasts.py
  tests/unit/test_github_integration.py
  tests/unit/test_pr_repository.py
  tests/unit/test_pr_router.py
Due: pytest-check, skip-detector

fix(pr-integration): address code review feedback
  codeframe/git/github_integration.py
  codeframe/persistence/database.py
  codeframe/persistence/repositories/pr_repository.py
  codeframe/ui/routers/prs.py
Due: pytest-check

fix(pr-integration): make close_pull_request updates conditional
  codeframe/ui/routers/prs.py
Due: pytest-check

feat(api): add GitHub PR integration for pull request management (#284)
  .env.example
  codeframe/core/config.py
  codeframe/git/github_integration.py
  codeframe/persistence/database.py
  codeframe/persistence/repositories/__init__.py
  codeframe/persistence/repositories/pr_repository.py
  codeframe/persistence/schema_manager.py
  codeframe/ui/routers/prs.py
  codeframe/ui/server.py
  codeframe/ui/websocket_broadcasts.py
  tests/unit/test_github_integration.py
  tests/unit/test_pr_repository.py
  tests/unit/test_pr_router.py
Due: pytest-check, skip-detector

fix(ci): add timeout to prevent OpenCode review workflow hangs
  .github/workflows/opencode-review.yml
Due: none

feat(ui): add PR management UI components and Dashboard integration
  web-ui/__tests__/components/PRCreationDialog.test.tsx
  web-ui/__tests__/components/PRList.test.tsx
  web-ui/__tests__/components/PRMergeDialog.test.tsx
  web-ui/package-lock.json
  web-ui/package.json
  web-ui/src/components/Dashboard.tsx
  web-ui/src/components/pr/PRCreationDialog.tsx
  web-ui/src/components/pr/PRList.tsx
  web-ui/src/components/pr/PRMergeDialog.tsx
  web-ui/src/components/pr/index.ts
  web-ui/src/components/ui/checkbox.tsx
  web-ui/src/components/ui/label.tsx
  web-ui/src/components/ui/radio-group.tsx
  web-ui/src/components/ui/textarea.tsx
  web-ui/src/lib/api.ts
  web-ui/src/types/dashboard.ts
  web-ui/src/types/pullRequest.ts
Due: none

fix(tests): add Hugeicons mocks and fix test timing issues
  web-ui/__tests__/components/Dashboard.test.tsx
  web-ui/__tests__/components/PRCreationDialog.test.tsx
  web-ui/__tests__/components/PRMergeDialog.test.tsx
  web-ui/__tests__/integration/dashboard-realtime-updates.test.tsx
  web-ui/__tests__/integration/prd-button-sync.test.tsx
  web-ui/jest.setup.js
Due: none

fix(pr): improve SWR caching, dialog state reset, and Nova colors
  web-ui/src/components/pr/PRList.tsx
  web-ui/src/components/pr/PRMergeDialog.tsx
  web-ui/src/types/pullRequest.ts
Due: none

fix(types): add PR WebSocket event types and fix agent pluralization
  web-ui/__tests__/integration/dashboard-realtime-updates.test.tsx
  web-ui/src/components/Dashboard.tsx
  web-ui/src/components/pr/PRList.tsx
  web-ui/src/types/index.ts
Due: none

feat(ui): add PR management UI components and Dashboard integration (#285)
  web-ui/__tests__/components/Dashboard.test.tsx
  web-ui/__tests__/components/PRCreationDialog.test.tsx
  web-ui/__tests__/components/PRList.test.tsx
  web-ui/__tests__/components/PRMergeDialog.test.tsx
  web-ui/__tests__/integration/dashboard-realtime-updates.test.tsx
  web-ui/__tests__/integration/prd-button-sync.test.tsx
  web-ui/jest.setup.js
  web-ui/package-lock.json
  web-ui/package.json
  web-ui/src/components/Dashboard.tsx
  web-ui/src/components/pr/PRCreationDialog.tsx
  web-ui/src/components/pr/PRList.tsx
  web-ui/src/components/pr/PRMergeDialog.tsx
  web-ui/src/components/pr/index.ts
  web-ui/src/components/ui/checkbox.tsx
  web-ui/src/components/ui/label.tsx
  web-ui/src/components/ui/radio-group.tsx
  web-ui/src/components/ui/textarea.tsx
  web-ui/src/lib/api.ts
  web-ui/src/types/dashboard.ts
  web-ui/src/types/index.ts
  web-ui/src/types/pullRequest.ts
Due: none

test(e2e): add E2E tests for Git visualization and PR management (#272, #284, #285)
  tests/e2e/test_git_visualization.spec.ts
  tests/e2e/test_pr_management.spec.ts
Due: none

fix(e2e): make 422 validation error test independent of prior test state
  tests/e2e/test_task_approval.spec.ts
Due: none
