Repository frankbria/codeframe: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, skip-detector

.pre-commit-config.yaml:

repos:
  # Note: black removed from pre-commit to avoid conflicts with ruff --fix
  # Run `uv run black .` manually before committing if needed

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.2.0
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        types: [python]

  - repo: local
    hooks:
      - id: pytest-check
        name: Run last failed tests (fast feedback)
        entry: bash -c 'if [ -f venv/bin/activate ]; then source venv/bin/activate && pytest --lf -x; elif [ -f .venv/bin/activate ]; then source .venv/bin/activate && pytest --lf -x; else pytest --lf -x; fi'
        language: system
        pass_filenames: false
        files: \.py$
        types: [python]

      - id: coverage-check
        name: Enforce 65% coverage (manual - use scripts/verify-ai-claims.sh for full check)
        entry: bash -c 'if [ -f venv/bin/activate ]; then source venv/bin/activate && pytest --cov --cov-report=term-missing --cov-fail-under=65; elif [ -f .venv/bin/activate ]; then source .venv/bin/activate && pytest --cov --cov-report=term-missing --cov-fail-under=65; else pytest --cov --cov-report=term-missing --cov-fail-under=65; fi || (echo "❌❌❌ COVERAGE BELOW 65% ❌❌❌" && exit 1)'
        language: system
        pass_filenames: false
        files: \.py$
        types: [python]
        stages: [manual]

      - id: skip-detector
        name: Detect skip decorator abuse
        entry: python scripts/detect-skip-abuse.py
        language: system
        files: ^tests/.*\.py$
        pass_filenames: false

fix(discovery): Allow starting discovery when project is running but discovery idle
  codeframe/ui/routers/agents.py
  tests/agents/test_agent_lifecycle.py
  tests/e2e/test_start_agent_flow.spec.ts
  web-ui/src/components/__tests__/DiscoveryProgress.test.tsx
Due: pytest-check, skip-detector

refactor(discovery): Avoid duplicate LeadAgent instantiation
  codeframe/ui/routers/agents.py
Due: pytest-check

fix(discovery): Allow starting discovery when project is running but discovery idle (#181)
  codeframe/ui/routers/agents.py
  tests/agents/test_agent_lifecycle.py
  tests/e2e/test_start_agent_flow.spec.ts
  web-ui/src/components/__tests__/DiscoveryProgress.test.tsx
Due: pytest-check, skip-detector

fix(checkpoints): Unwrap API response to prevent sort error on empty projects
  web-ui/__tests__/api/checkpoints.test.ts
  web-ui/src/api/checkpoints.ts
Due: none

test(e2e): Add empty project checkpoint tests with console error monitoring
  tests/e2e/test_checkpoint_ui.spec.ts
Due: none

fix(e2e): Fix flaky tests with proper element handling
  tests/e2e/test_checkpoint_ui.spec.ts
  tests/e2e/test_start_agent_flow.spec.ts
Due: none

fix(e2e): Fix race condition in waitForResponse
  tests/e2e/test_checkpoint_ui.spec.ts
Due: none

fix(e2e): Make checkpoint creation test resilient to CI environment
  tests/e2e/test_checkpoint_ui.spec.ts
Due: none

fix(e2e): Simplify checkpoint tests for CI stability
  tests/e2e/test_checkpoint_ui.spec.ts
Due: none

fix(checkpoints): Unwrap API response to prevent sort error on empty projects (#182)
  tests/e2e/test_checkpoint_ui.spec.ts
  tests/e2e/test_start_agent_flow.spec.ts
  web-ui/__tests__/api/checkpoints.test.ts
  web-ui/src/api/checkpoints.ts
Due: none

fix(websocket,discovery): Fix JWT auth and improve discovery UX
  codeframe/agents/lead_agent.py
  codeframe/auth/dependencies.py
  codeframe/ui/routers/agents.py
  codeframe/ui/routers/discovery.py
  codeframe/ui/routers/websocket.py
  codeframe/ui/server.py
  codeframe/ui/shared.py
  tests/ui/conftest.py
  tests/ui/test_websocket_router.py
  web-ui/package-lock.json
  web-ui/package.json
  web-ui/src/components/DiscoveryProgress.tsx
  web-ui/src/types/index.ts
Due: pytest-check, skip-detector

feat(discovery): Add loading spinner when generating next question
  web-ui/src/components/DiscoveryProgress.tsx
Due: none

feat(discovery): Show PRD generation status when discovery completes
  web-ui/src/components/DiscoveryProgress.tsx
  web-ui/src/types/index.ts
Due: none

feat(discovery): Auto-trigger PRD generation when discovery completes
  codeframe/ui/routers/discovery.py
  web-ui/src/components/DiscoveryProgress.tsx
  web-ui/src/types/index.ts
Due: pytest-check

feat(discovery): Add real-time PRD generation progress tracking
  codeframe/ui/routers/discovery.py
  web-ui/src/components/DiscoveryProgress.tsx
  web-ui/src/types/index.ts
Due: pytest-check

fix(discovery): Use safe dictionary access to prevent KeyError
  codeframe/ui/routers/discovery.py
Due: pytest-check

fix(discovery): Handle discovering state with missing current question
  codeframe/agents/lead_agent.py
  web-ui/src/components/DiscoveryProgress.tsx
Due: pytest-check

fix(discovery): Address code review feedback for discovery flow
  .gitignore
  codeframe/agents/lead_agent.py
  codeframe/auth/dependencies.py
  codeframe/persistence/repositories/activity_repository.py
  codeframe/ui/routers/discovery.py
  codeframe/ui/routers/websocket.py
  codeframe/ui/shared.py
  docs/discovery-flow-analysis.md
  web-ui/src/components/DiscoveryProgress.tsx
  web-ui/src/lib/api.ts
  web-ui/src/types/index.ts
Due: pytest-check

fix(discovery): Fix success message visibility during state transitions
  web-ui/__tests__/integration/discovery-answer-flow.test.tsx
  web-ui/src/components/DiscoveryProgress.tsx
  web-ui/src/components/__tests__/DiscoveryProgress.test.tsx
Due: none

feat(ui): Add semantic warning/success color tokens and use Hugeicons
  tests/api/test_api_prd.py
  web-ui/__tests__/integration/discovery-answer-flow.test.tsx
  web-ui/src/app/globals.css
  web-ui/src/components/DiscoveryProgress.tsx
  web-ui/src/components/__tests__/DiscoveryProgress.test.tsx
  web-ui/tailwind.config.ts
Due: pytest-check, skip-detector

fix(discovery): Use distinct IDs for AI questions and map answers to framework
  codeframe/agents/lead_agent.py
  web-ui/src/app/globals.css
Due: pytest-check

fix(websocket,discovery): Fix JWT auth and improve discovery UX (#184)
  .gitignore
  codeframe/agents/lead_agent.py
  codeframe/persistence/repositories/activity_repository.py
  codeframe/ui/routers/agents.py
  codeframe/ui/routers/discovery.py
  codeframe/ui/routers/websocket.py
  codeframe/ui/server.py
  codeframe/ui/shared.py
  docs/discovery-flow-analysis.md
  tests/api/test_api_prd.py
  tests/ui/conftest.py
  tests/ui/test_websocket_router.py
  web-ui/__tests__/integration/discovery-answer-flow.test.tsx
  web-ui/package-lock.json
  web-ui/package.json
  web-ui/src/app/globals.css
  web-ui/src/components/DiscoveryProgress.tsx
  web-ui/src/components/__tests__/DiscoveryProgress.test.tsx
  web-ui/src/lib/api.ts
  web-ui/src/types/index.ts
  web-ui/tailwind.config.ts
Due: pytest-check, skip-detector

refactor: Consolidate web-ui test files to __tests__/ directory
  web-ui/__tests__/components/AgentCard.test.tsx
  web-ui/__tests__/components/DiscoveryProgress.test.tsx
  web-ui/__tests__/components/PRDModal.test.tsx
  web-ui/__tests__/components/PhaseIndicator.test.tsx
  web-ui/__tests__/components/ProgressBar.test.tsx
  web-ui/__tests__/components/ProjectCreationForm.test.tsx
  web-ui/__tests__/components/Spinner.test.tsx
  web-ui/__tests__/components/TaskTreeView.test.tsx
  web-ui/__tests__/lib/api.test.ts
  web-ui/src/app/__tests__/page.test.tsx
  web-ui/src/components/AgentCard.test.tsx
  web-ui/src/components/__tests__/ProjectList.test.tsx
Due: none

refactor: Consolidate web-ui test files to __tests__/ directory (#187)
  web-ui/__tests__/components/AgentCard.test.tsx
  web-ui/__tests__/components/DiscoveryProgress.test.tsx
  web-ui/__tests__/components/PRDModal.test.tsx
  web-ui/__tests__/components/PhaseIndicator.test.tsx
  web-ui/__tests__/components/ProgressBar.test.tsx
  web-ui/__tests__/components/ProjectCreationForm.test.tsx
  web-ui/__tests__/components/Spinner.test.tsx
  web-ui/__tests__/components/TaskTreeView.test.tsx
  web-ui/__tests__/lib/api.test.ts
  web-ui/src/app/__tests__/page.test.tsx
  web-ui/src/components/AgentCard.test.tsx
  web-ui/src/components/__tests__/ProjectList.test.tsx
Due: none

feat(e2e): Add comprehensive error monitoring and strict verification
  .github/workflows/test.yml
  tests/e2e/README.md
  tests/e2e/playwright.config.ts
  tests/e2e/test-utils.ts
  tests/e2e/test_auth_flow.spec.ts
  tests/e2e/test_dashboard.spec.ts
  tests/e2e/test_project_creation.spec.ts
  tests/e2e/test_start_agent_flow.spec.ts
Due: none

fix(e2e): Address priority issues in error monitoring implementation
  tests/e2e/test-utils.ts
  tests/e2e/test_auth_flow.spec.ts
  tests/e2e/test_dashboard.spec.ts
  tests/e2e/test_project_creation.spec.ts
  tests/e2e/test_start_agent_flow.spec.ts
Due: none

fix(e2e): Address code review feedback on test verification
  .github/workflows/test.yml
  tests/e2e/test_dashboard.spec.ts
Due: none

fix(ci): Allow ws:// and wss:// protocols in hardcoded URL check
  .github/workflows/test.yml
Due: none

fix(e2e): Add error filter patterns to all test suites
  tests/e2e/test_auth_flow.spec.ts
  tests/e2e/test_dashboard.spec.ts
  tests/e2e/test_project_creation.spec.ts
  tests/e2e/test_start_agent_flow.spec.ts
Due: none

fix(e2e): Filter navigation-cancelled requests and fix WebSocket test
  tests/e2e/test_auth_flow.spec.ts
  tests/e2e/test_dashboard.spec.ts
  tests/e2e/test_project_creation.spec.ts
  tests/e2e/test_start_agent_flow.spec.ts
Due: none

feat(e2e): Add comprehensive error monitoring and strict verification (#188)
  .github/workflows/test.yml
  tests/e2e/README.md
  tests/e2e/playwright.config.ts
  tests/e2e/test-utils.ts
  tests/e2e/test_auth_flow.spec.ts
  tests/e2e/test_dashboard.spec.ts
  tests/e2e/test_project_creation.spec.ts
  tests/e2e/test_start_agent_flow.spec.ts
Due: none

ci: Add npm security audit gate to all deployment paths
  .github/workflows/deploy.yml
  scripts/deploy-staging.sh
Due: none

ci: Add npm security audit gate to all deployment paths (#189)
  .github/workflows/deploy.yml
  scripts/deploy-staging.sh
Due: none

feat(cli): Add comprehensive CLI command groups for API coverage
  codeframe/cli/__init__.py
  codeframe/cli/agents_commands.py
  codeframe/cli/api_client.py
  codeframe/cli/auth.py
  codeframe/cli/auth_commands.py
  codeframe/cli/blocker_commands.py
  codeframe/cli/checkpoint_commands.py
  codeframe/cli/context_commands.py
  codeframe/cli/discovery_commands.py
  codeframe/cli/metrics_commands.py
  codeframe/cli/project_commands.py
  codeframe/cli/quality_gates_commands.py
  codeframe/cli/review_commands.py
  codeframe/cli/session_commands.py
  codeframe/cli/tasks_commands.py
  tests/cli/__init__.py
  tests/cli/test_agents_commands.py
  tests/cli/test_api_client.py
  tests/cli/test_auth_commands.py
  tests/cli/test_auth_module.py
  tests/cli/test_blocker_commands.py
  tests/cli/test_checkpoint_commands.py
  tests/cli/test_context_commands.py
  tests/cli/test_discovery_commands.py
  tests/cli/test_metrics_commands.py
  tests/cli/test_project_commands.py
  tests/cli/test_quality_gates_commands.py
  tests/cli/test_review_commands.py
  tests/cli/test_session_commands.py
  tests/cli/test_tasks_commands.py
Due: pytest-check, skip-detector

style: Fix ruff lint errors in CLI modules
  codeframe/cli/__init__.py
  codeframe/cli/agents_commands.py
  codeframe/cli/api_client.py
  codeframe/cli/auth_commands.py
  codeframe/cli/blocker_commands.py
  codeframe/cli/checkpoint_commands.py
  codeframe/cli/context_commands.py
  codeframe/cli/discovery_commands.py
  codeframe/cli/metrics_commands.py
  codeframe/cli/project_commands.py
  codeframe/cli/quality_gates_commands.py
  codeframe/cli/review_commands.py
  codeframe/cli/tasks_commands.py
  tests/cli/test_agents_commands.py
  tests/cli/test_api_client.py
  tests/cli/test_auth_commands.py
  tests/cli/test_auth_module.py
  tests/cli/test_blocker_commands.py
  tests/cli/test_checkpoint_commands.py
  tests/cli/test_context_commands.py
  tests/cli/test_discovery_commands.py
  tests/cli/test_metrics_commands.py
  tests/cli/test_project_commands.py
  tests/cli/test_quality_gates_commands.py
  tests/cli/test_review_commands.py
  tests/cli/test_session_commands.py
  tests/cli/test_tasks_commands.py
Due: pytest-check, skip-detector

fix(cli): Convert checkpoint stub to deprecation shim
  codeframe/cli/__init__.py
Due: pytest-check

refactor(cli): Extract shared helpers and fix unsafe operations
  codeframe/cli/__init__.py
  codeframe/cli/agents_commands.py
  codeframe/cli/auth_commands.py
  codeframe/cli/blocker_commands.py
  codeframe/cli/checkpoint_commands.py
  codeframe/cli/context_commands.py
  codeframe/cli/discovery_commands.py
  codeframe/cli/helpers.py
  codeframe/cli/metrics_commands.py
  codeframe/cli/project_commands.py
  codeframe/cli/quality_gates_commands.py
  codeframe/cli/review_commands.py
  codeframe/cli/session_commands.py
  codeframe/cli/tasks_commands.py
Due: pytest-check

feat(cli): Add comprehensive CLI command groups for API coverage (#190)
  codeframe/cli/__init__.py
  codeframe/cli/agents_commands.py
  codeframe/cli/api_client.py
  codeframe/cli/auth.py
  codeframe/cli/auth_commands.py
  codeframe/cli/blocker_commands.py
  codeframe/cli/checkpoint_commands.py
  codeframe/cli/context_commands.py
  codeframe/cli/discovery_commands.py
  codeframe/cli/helpers.py
  codeframe/cli/metrics_commands.py
  codeframe/cli/project_commands.py
  codeframe/cli/quality_gates_commands.py
  codeframe/cli/review_commands.py
  codeframe/cli/session_commands.py
  codeframe/cli/tasks_commands.py
  tests/cli/__init__.py
  tests/cli/test_agents_commands.py
  tests/cli/test_api_client.py
  tests/cli/test_auth_commands.py
  tests/cli/test_auth_module.py
  tests/cli/test_blocker_commands.py
  tests/cli/test_checkpoint_commands.py
  tests/cli/test_context_commands.py
  tests/cli/test_discovery_commands.py
  tests/cli/test_metrics_commands.py
  tests/cli/test_project_commands.py
  tests/cli/test_quality_gates_commands.py
  tests/cli/test_review_commands.py
  tests/cli/test_session_commands.py
  tests/cli/test_tasks_commands.py
Due: pytest-check, skip-detector

feat(e2e): Enable conditional tests and fix discovery startup
  codeframe/agents/lead_agent.py
  tests/e2e/seed-test-data.py
  tests/e2e/test-utils.ts
  tests/e2e/test_checkpoint_ui.spec.ts
  tests/e2e/test_complete_user_journey.spec.ts
  tests/e2e/test_start_agent_flow.spec.ts
  tests/e2e/test_task_execution_flow.spec.ts
Due: pytest-check, skip-detector

feat(e2e): Enable conditional tests and fix discovery startup (#191)
  codeframe/agents/lead_agent.py
  tests/e2e/seed-test-data.py
  tests/e2e/test-utils.ts
  tests/e2e/test_checkpoint_ui.spec.ts
  tests/e2e/test_complete_user_journey.spec.ts
  tests/e2e/test_start_agent_flow.spec.ts
  tests/e2e/test_task_execution_flow.spec.ts
Due: pytest-check, skip-detector
