Repository frankbria/codeframe: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, skip-detector

.pre-commit-config.yaml:

repos:
  # Note: black removed from pre-commit to avoid conflicts with ruff --fix
  # Run `uv run black .` manually before committing if needed

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.2.0
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        types: [python]

  - repo: local
    hooks:
      - id: pytest-check
        name: Run last failed tests (fast feedback)
        entry: bash -c 'if [ -f venv/bin/activate ]; then source venv/bin/activate && pytest --lf -x; elif [ -f .venv/bin/activate ]; then source .venv/bin/activate && pytest --lf -x; else pytest --lf -x; fi'
        language: system
        pass_filenames: false
        files: \.py$
        types: [python]

      - id: coverage-check
        name: Enforce 65% coverage (manual - use scripts/verify-ai-claims.sh for full check)
        entry: bash -c 'if [ -f venv/bin/activate ]; then source venv/bin/activate && pytest --cov --cov-report=term-missing --cov-fail-under=65; elif [ -f .venv/bin/activate ]; then source .venv/bin/activate && pytest --cov --cov-report=term-missing --cov-fail-under=65; else pytest --cov --cov-report=term-missing --cov-fail-under=65; fi || (echo "❌❌❌ COVERAGE BELOW 65% ❌❌❌" && exit 1)'
        language: system
        pass_filenames: false
        files: \.py$
        types: [python]
        stages: [manual]

      - id: skip-detector
        name: Detect skip decorator abuse
        entry: python scripts/detect-skip-abuse.py
        language: system
        files: ^tests/.*\.py$
        pass_filenames: false

feat(core): route 4 remaining provider sites through llm_resolution chain (#861)
  codeframe/core/adapters/streaming_chat.py
  codeframe/core/conductor.py
  codeframe/core/dependency_analyzer.py
  codeframe/core/prd_discovery.py
  tests/core/test_provider_resolution_chain.py
Due: pytest-check, skip-detector

fix(streaming-chat): preserve api_key= legacy contract + tighten regression tests
  .opencode-tmp/issue-861.diff
  .opencode-tmp/review-prompt.md
  codeframe/core/adapters/streaming_chat.py
  tests/core/test_provider_resolution_chain.py
Due: pytest-check, skip-detector

chore: gitignore .opencode-tmp scratch dir (review artifacts)
  .gitignore
  .opencode-tmp/issue-861.diff
  .opencode-tmp/review-prompt.md
Due: none

fix(tests): patch llm_resolution.create_provider in prd_generate CLI tests
  tests/cli/test_prd_generate.py
Due: pytest-check, skip-detector

docs(prd-discovery): mark api_key as optional in class docstring
  codeframe/core/prd_discovery.py
Due: pytest-check

feat(core): route 4 remaining provider sites through llm_resolution chain (#861) (#874)
  .gitignore
  codeframe/core/adapters/streaming_chat.py
  codeframe/core/conductor.py
  codeframe/core/dependency_analyzer.py
  codeframe/core/prd_discovery.py
  tests/cli/test_prd_generate.py
  tests/core/test_provider_resolution_chain.py
Due: pytest-check, skip-detector

ci(claude-review): allow dependabot PRs in Claude Code Review
  .github/workflows/claude-code-review.yml
Due: none

ci(claude-review): allow dependabot PRs in Claude Code Review (#870)
  .github/workflows/claude-code-review.yml
Due: none

ci(claude-review): harden against Dependabot-controlled content (#875)
  .github/workflows/claude-code-review.yml
Due: none

fix(security): close credential-handling windows (#772)
  codeframe/cli/api_client.py
  codeframe/cli/auth.py
  codeframe/cli/auth_commands.py
  codeframe/core/credentials.py
  tests/cli/test_api_client.py
  tests/cli/test_auth_module.py
  tests/core/test_credentials.py
Due: pytest-check, skip-detector

docs: document CODEFRAME_CREDENTIAL_SECRET env var (#772)
  CLAUDE.md
Due: none

fix(security): close credential-handling windows (#772) (#879)
  CLAUDE.md
  codeframe/cli/api_client.py
  codeframe/cli/auth.py
  codeframe/cli/auth_commands.py
  codeframe/core/credentials.py
  tests/cli/test_api_client.py
  tests/cli/test_auth_module.py
  tests/core/test_credentials.py
Due: pytest-check, skip-detector

test(test-trust): re-enable stale-skipped suites and fix no-op assertions (#773)
  tests/blockers/test_blocker_expiration_minimal.py
  tests/cli/test_serve_command.py
  tests/core/test_conductor.py
  tests/lifecycle/test_cli_lifecycle.py
  tests/ui/conftest.py
  tests/ui/test_proof_v2.py
  tests/ui/test_terminal_ws.py
  tests/ui/test_websocket_integration.py
Due: pytest-check, skip-detector

test(test-trust): re-enable stale-skipped suites & fix no-op assertions (#773) (#880)
  tests/blockers/test_blocker_expiration_minimal.py
  tests/cli/test_serve_command.py
  tests/core/test_conductor.py
  tests/lifecycle/test_cli_lifecycle.py
  tests/ui/conftest.py
  tests/ui/test_proof_v2.py
  tests/ui/test_terminal_ws.py
  tests/ui/test_websocket_integration.py
Due: pytest-check, skip-detector

fix(web-ui): remove placeholder View Diff toggle from execution stream (#775)
  web-ui/src/__tests__/components/execution/FileChangeEvent.test.tsx
  web-ui/src/components/execution/FileChangeEvent.tsx
Due: none

fix(web-ui): remove placeholder View Diff toggle from execution stream (#775) (#882)
  web-ui/src/__tests__/components/execution/FileChangeEvent.test.tsx
  web-ui/src/components/execution/FileChangeEvent.tsx
Due: none

fix(tui): run dashboard refresh in a thread worker with a single shared connection (#776)
  codeframe/core/blockers.py
  codeframe/core/events.py
  codeframe/core/proof/ledger.py
  codeframe/core/tasks.py
  codeframe/tui/app.py
  codeframe/tui/data_service.py
  tests/core/test_tui_dashboard.py
Due: pytest-check, skip-detector

test(tui): cover own-connection defaults and data-service error isolation (#776)
  tests/core/test_tui_dashboard.py
Due: pytest-check, skip-detector

fix(core): close owned connections in finally in blockers.list_all + ledger.list_requirements
  codeframe/core/blockers.py
  codeframe/core/proof/ledger.py
  codeframe/tui/app.py
Due: pytest-check

fix(tui): gate overlapping refreshes + race-free stale-snapshot drop (#776)
  codeframe/tui/app.py
  tests/core/test_tui_dashboard.py
Due: pytest-check, skip-detector

fix(cli): resolve cf stats DB via cwd walk-up and DATABASE_PATH (#777)
  codeframe/cli/stats_commands.py
  tests/cli/test_stats_db_resolution.py
Due: pytest-check, skip-detector

review: guard against DATABASE_PATH/walk-up hitting a directory (is_file)
  codeframe/cli/stats_commands.py
  tests/cli/test_stats_db_resolution.py
Due: pytest-check, skip-detector

fix(cli): resolve cf stats DB via cwd walk-up and DATABASE_PATH (#777) (#885)
  codeframe/cli/stats_commands.py
  tests/cli/test_stats_db_resolution.py
Due: pytest-check, skip-detector

fix(cli): guard bulk/overwrite CLI ops against partial state and clobbering (#778)
  codeframe/cli/app.py
  tests/cli/test_batch_follow_since_id.py
  tests/cli/test_init_generate_config.py
  tests/cli/test_tasks_set_bulk.py
Due: pytest-check, skip-detector

fix(cli): address cross-family review findings for #778
  codeframe/cli/app.py
  tests/cli/test_batch_follow_since_id.py
  tests/cli/test_tasks_set_bulk.py
Due: pytest-check, skip-detector

fix(cli): guard bulk/overwrite CLI ops against partial state and clobbering (#778) (#886)
  codeframe/cli/app.py
  tests/cli/test_batch_follow_since_id.py
  tests/cli/test_init_generate_config.py
  tests/cli/test_tasks_set_bulk.py
Due: pytest-check, skip-detector

fix(pr_v2): stop leaking httpx.AsyncClient on pr.merged webhook dispatch (#779)
  codeframe/ui/routers/pr_v2.py
  tests/ui/test_pr_v2_webhook.py
Due: pytest-check, skip-detector

test(pr_v2): refresh stale webhook test docstrings after #779 fix
  tests/ui/test_pr_v2_webhook.py
Due: pytest-check, skip-detector

fix(pr_v2): normalize and strictly validate GITHUB_REPO slug for webhook pr_url
  codeframe/ui/routers/pr_v2.py
  tests/ui/test_pr_v2_webhook.py
Due: pytest-check, skip-detector

fix(pr_v2): stop leaking httpx.AsyncClient on pr.merged webhook dispatch (#779) (#887)
  codeframe/ui/routers/pr_v2.py
  tests/ui/test_pr_v2_webhook.py
Due: pytest-check, skip-detector

fix(llm): honor base_url on the Anthropic provider path (#780)
  codeframe/adapters/llm/__init__.py
  codeframe/adapters/llm/anthropic.py
  codeframe/core/llm_resolution.py
  demo-pr552.md
  tests/core/test_llm_resolution.py
Due: pytest-check, skip-detector

docs: showboat demo for PR #888 (#780 base_url fix)
  demo-pr888.md
Due: none

docs: note base_url scope after #780 (config applies to any provider; OPENAI_BASE_URL env is OpenAI-compatible only)
  CLAUDE.md
Due: none

fix(llm): honor base_url on the Anthropic provider path (#780) (#888)
  CLAUDE.md
  codeframe/adapters/llm/__init__.py
  codeframe/adapters/llm/anthropic.py
  codeframe/core/llm_resolution.py
  demo-pr552.md
  demo-pr888.md
  tests/core/test_llm_resolution.py
Due: pytest-check, skip-detector

fix(cli): wrap non-connection request errors and preserve retry-exhaustion cause (#781)
  codeframe/cli/api_client.py
  tests/cli/test_api_client.py
Due: pytest-check, skip-detector

fix(cli): APIClient retry wraps non-connection errors and preserves cause (#781) (#889)
  codeframe/cli/api_client.py
  tests/cli/test_api_client.py
Due: pytest-check, skip-detector
