Repository frankbria/codeframe: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, skip-detector

pytest-check:
  name: Run last failed tests (fast feedback)
  entry: bash -c 'if [ -f venv/bin/activate ]; then source venv/bin/activate && pytest --lf -x; elif [ -f .venv/bin/activate ]; then source .venv/bin/activate && pytest --lf -x; else pytest --lf -x; fi'
  language: system
  pass_filenames: false

skip-detector:
  name: Detect skip decorator abuse
  entry: python scripts/detect-skip-abuse.py
  language: system
  pass_filenames: false

docs(tests) added test issues documentation
  tests/test_issues.md
Due: none

fix(server): Add missing Request import
  codeframe/ui/server.py
Due: pytest-check

fix(tests): Restore missing imports in API test files
  tests/api/test_api_prd.py
  tests/api/test_blocker_resolution_api.py
Due: pytest-check, skip-detector

fix(tests): Update API tests to use class-scoped api_client fixture
  tests/api/test_api_discovery_progress.py
  tests/api/test_chat_api.py
Due: pytest-check, skip-detector

fix(tests): Add __test__ = False to production classes to prevent pytest collection
  codeframe/agents/test_worker_agent.py
  codeframe/enforcement/adaptive_test_runner.py
  codeframe/testing/models.py
  codeframe/testing/test_runner.py
Due: pytest-check

fix: Multiple bug fixes and test improvements
  codeframe/agents/lead_agent.py
  codeframe/agents/worker_agent.py
  codeframe/persistence/database.py
  scripts/fix_workspace_env.py
  scripts/verify-ai-claims.sh
  tests/api/test_blocker_resolution_api.py
  tests/api/test_endpoints_database.py
  tests/blockers/test_blocker_answer_injection.py
  tests/blockers/test_blocker_type_validation.py
Due: pytest-check, skip-detector

docs: Update README.md for Sprint 9 (MVP Completion)
  README.md
Due: none

feat: Add 'codeframe serve' command to start dashboard server
  CLAUDE.md
  README.md
  codeframe/cli.py
  codeframe/core/port_utils.py
  specs/010-server-start-command/contracts/README.md
  specs/010-server-start-command/data-model.md
  specs/010-server-start-command/plan.md
  specs/010-server-start-command/quickstart.md
  specs/010-server-start-command/research.md
  specs/010-server-start-command/spec.md
  specs/010-server-start-command/tasks.md
  tests/cli/test_serve_command.py
  tests/core/test_port_utils.py
  tests/integration/test_dashboard_access.py
Due: pytest-check, skip-detector

fix: Improve race condition handling for port binding
  codeframe/cli.py
  codeframe/core/port_utils.py
  tests/cli/test_serve_command.py
Due: pytest-check, skip-detector

fix: Remove capture_output to show uvicorn logs to user
  codeframe/cli.py
  codeframe/core/port_utils.py
  tests/cli/test_serve_command.py
Due: pytest-check, skip-detector

docs: Complete planning for 011-project-creation-flow (Sprint 9.5 Feature 2)
  specs/011-project-creation-flow/contracts/README.md
  specs/011-project-creation-flow/contracts/api.openapi.yaml
  specs/011-project-creation-flow/data-model.md
  specs/011-project-creation-flow/plan.md
  specs/011-project-creation-flow/quickstart.md
  specs/011-project-creation-flow/research.md
  specs/011-project-creation-flow/spec.md
Due: none

docs: Update Sprint 9.5 to reflect Feature 1 completion (PR #23)
  sprints/sprint-09.5-critical-ux-fixes.md
Due: none

feat: Generate task list for 011-project-creation-flow
  specs/011-project-creation-flow/tasks.md
Due: none

feat: Implement project creation flow (011-project-creation-flow)
  .test-failures.md
  specs/011-project-creation-flow/IMPLEMENTATION.md
  specs/011-project-creation-flow/tasks.md
  web-ui/src/app/__tests__/page.test.tsx
  web-ui/src/app/page.tsx
  web-ui/src/components/ProjectCreationForm.tsx
  web-ui/src/components/Spinner.tsx
  web-ui/src/components/__tests__/ProjectCreationForm.test.tsx
  web-ui/src/components/__tests__/Spinner.test.tsx
  web-ui/src/lib/__tests__/api.test.ts
  web-ui/src/lib/api.ts
  web-ui/src/types/project.ts
Due: none

fix: Remove non-functional project type dropdown
  web-ui/src/components/ProjectCreationForm.tsx
  web-ui/src/components/__tests__/ProjectCreationForm.test.tsx
  web-ui/src/lib/__tests__/api.test.ts
  web-ui/src/lib/api.ts
  web-ui/src/types/project.ts
Due: none

fix: Replace invalid border-3 class with border-4 in Spinner
  web-ui/src/components/Spinner.tsx
  web-ui/src/components/__tests__/Spinner.test.tsx
Due: none

docs: Update Sprint 9.5 to reflect Feature 2 completion (PR #24)
  sprints/sprint-09.5-critical-ux-fixes.md
Due: none

feat: Complete planning for 012-discovery-answer-ui (Sprint 9.5 Feature 3)
  CLAUDE.md
  specs/012-discovery-answer-ui/contracts/README.md
  specs/012-discovery-answer-ui/contracts/api.openapi.yaml
  specs/012-discovery-answer-ui/contracts/websocket.yaml
  specs/012-discovery-answer-ui/data-model.md
  specs/012-discovery-answer-ui/plan.md
  specs/012-discovery-answer-ui/quickstart.md
  specs/012-discovery-answer-ui/research.md
  specs/012-discovery-answer-ui/spec.md
Due: none

Path conditions:
  pytest-check: any of: \.py$ and \.py$
  skip-detector: any of: ^tests/.*\.py$
