Repository frankbria/codeframe: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, skip-detector

.pre-commit-config.yaml:

repos:
  # Note: black removed from pre-commit to avoid conflicts with ruff --fix
  # Run `uv run black .` manually before committing if needed

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.2.0
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        types: [python]

  - repo: local
    hooks:
      - id: pytest-check
        name: Run last failed tests (fast feedback)
        entry: bash -c 'if [ -f venv/bin/activate ]; then source venv/bin/activate && pytest --lf -x; elif [ -f .venv/bin/activate ]; then source .venv/bin/activate && pytest --lf -x; else pytest --lf -x; fi'
        language: system
        pass_filenames: false
        files: \.py$
        types: [python]

      - id: coverage-check
        name: Enforce 65% coverage (manual - use scripts/verify-ai-claims.sh for full check)
        entry: bash -c 'if [ -f venv/bin/activate ]; then source venv/bin/activate && pytest --cov --cov-report=term-missing --cov-fail-under=65; elif [ -f .venv/bin/activate ]; then source .venv/bin/activate && pytest --cov --cov-report=term-missing --cov-fail-under=65; else pytest --cov --cov-report=term-missing --cov-fail-under=65; fi || (echo "❌❌❌ COVERAGE BELOW 65% ❌❌❌" && exit 1)'
        language: system
        pass_filenames: false
        files: \.py$
        types: [python]
        stages: [manual]

      - id: skip-detector
        name: Detect skip decorator abuse
        entry: python scripts/detect-skip-abuse.py
        language: system
        files: ^tests/.*\.py$
        pass_filenames: false

fix: address CodeRabbit feedback on PR #583
  web-ui/__tests__/components/review/PRStatusPanel.test.tsx
  web-ui/src/components/review/PRStatusPanel.tsx
Due: none

fix: guard merge button on data availability (claude-review feedback)
  web-ui/src/components/review/PRStatusPanel.tsx
Due: none

feat(web-ui): PROOF9-gated merge button on PR Status panel (#571)
  web-ui/__tests__/components/review/PRStatusPanel.test.tsx
  web-ui/src/components/review/PRStatusPanel.tsx
  web-ui/src/lib/api.ts
  web-ui/src/types/index.ts
Due: none

fix(pr-status): address claude-review feedback post-merge (#571 follow-up)
  web-ui/__tests__/components/review/PRStatusPanel.test.tsx
  web-ui/src/components/review/PRStatusPanel.tsx
Due: none

feat(pr-history): add PR history endpoint with proof snapshots (#572)
  codeframe/core/proof/ledger.py
  codeframe/git/github_integration.py
  codeframe/ui/routers/pr_v2.py
  tests/core/test_proof_snapshot.py
  tests/ui/test_pr_history.py
Due: pytest-check, skip-detector

feat(web-ui): PR history panel with proof snapshots (#572)
  web-ui/__mocks__/@hugeicons/react.js
  web-ui/src/__tests__/components/review/PRHistoryPanel.test.tsx
  web-ui/src/app/review/page.tsx
  web-ui/src/components/review/PRHistoryPanel.tsx
  web-ui/src/lib/api.ts
  web-ui/src/types/index.ts
Due: none

fix(pr-history): address claude-review + CodeRabbit feedback (#572)
  codeframe/ui/routers/pr_v2.py
  tests/core/test_proof_snapshot.py
  tests/ui/test_pr_history.py
  web-ui/src/components/review/PRHistoryPanel.tsx
Due: pytest-check, skip-detector

feat(pr-history): PR history view with proof snapshots (#572)
  codeframe/core/proof/ledger.py
  codeframe/git/github_integration.py
  codeframe/ui/routers/pr_v2.py
  tests/core/test_proof_snapshot.py
  tests/ui/test_pr_history.py
  web-ui/__mocks__/@hugeicons/react.js
  web-ui/src/__tests__/components/review/PRHistoryPanel.test.tsx
  web-ui/src/app/review/page.tsx
  web-ui/src/components/review/PRHistoryPanel.tsx
  web-ui/src/lib/api.ts
  web-ui/src/types/index.ts
Due: pytest-check, skip-detector

feat(pr-history): Report Glitch action and REQ→PR back-link (#573)
  codeframe/git/github_integration.py
  codeframe/ui/routers/pr_v2.py
  tests/ui/test_pr_history.py
  tests/unit/test_github_integration.py
  web-ui/src/__tests__/components/proof/CaptureGlitchModal.test.tsx
  web-ui/src/__tests__/components/proof/ProofDetailPage.test.tsx
  web-ui/src/__tests__/components/review/PRHistoryPanel.test.tsx
  web-ui/src/app/proof/[req_id]/page.tsx
  web-ui/src/components/proof/CaptureGlitchModal.tsx
  web-ui/src/components/review/PRHistoryPanel.tsx
  web-ui/src/lib/api.ts
  web-ui/src/types/index.ts
Due: pytest-check, skip-detector

fix: address claude-review feedback on PR #586
  codeframe/git/github_integration.py
  tests/unit/test_github_integration.py
  web-ui/src/components/review/PRHistoryPanel.tsx
Due: pytest-check, skip-detector

fix: address CodeRabbit feedback on PR #586
  codeframe/git/github_integration.py
  tests/unit/test_github_integration.py
  web-ui/src/app/proof/[req_id]/page.tsx
  web-ui/src/components/review/PRHistoryPanel.tsx
Due: pytest-check, skip-detector

feat(settings): /settings page skeleton + agent config (#554)
  codeframe/core/config.py
  codeframe/ui/models.py
  codeframe/ui/routers/settings_v2.py
  codeframe/ui/server.py
  tests/ui/test_settings_v2.py
  web-ui/src/__tests__/components/settings/SettingsPage.test.tsx
  web-ui/src/app/settings/page.tsx
  web-ui/src/components/layout/AppSidebar.tsx
  web-ui/src/lib/api.ts
  web-ui/src/types/index.ts
Due: pytest-check, skip-detector

fix(settings): address PR review (#587) — input safety + validation
  codeframe/core/config.py
  codeframe/ui/models.py
  codeframe/ui/routers/settings_v2.py
  tests/core/test_environment_config.py
  tests/ui/test_settings_v2.py
Due: pytest-check, skip-detector

docs(settings): note /settings page shipped (#554)
  CLAUDE.md
  docs/PRODUCT_ROADMAP.md
Due: none

feat(settings): /settings page skeleton + agent config (#554) (#587)
  CLAUDE.md
  codeframe/core/config.py
  codeframe/ui/models.py
  codeframe/ui/routers/settings_v2.py
  codeframe/ui/server.py
  docs/PRODUCT_ROADMAP.md
  tests/core/test_environment_config.py
  tests/ui/test_settings_v2.py
  web-ui/src/__tests__/components/settings/SettingsPage.test.tsx
  web-ui/src/app/settings/page.tsx
  web-ui/src/components/layout/AppSidebar.tsx
  web-ui/src/lib/api.ts
  web-ui/src/types/index.ts
Due: pytest-check, skip-detector

feat(settings): API key management tab (#555)
  codeframe/ui/models.py
  codeframe/ui/routers/settings_v2.py
  tests/ui/test_settings_v2.py
  web-ui/src/__tests__/components/settings/ApiKeysTab.test.tsx
  web-ui/src/app/settings/page.tsx
  web-ui/src/components/settings/ApiKeysTab.tsx
  web-ui/src/components/settings/KeySlot.tsx
  web-ui/src/lib/api.ts
  web-ui/src/types/index.ts
Due: pytest-check, skip-detector

fix: address CodeRabbit feedback on PR #588
  codeframe/ui/routers/settings_v2.py
  tests/ui/test_settings_v2.py
  web-ui/src/__tests__/components/settings/ApiKeysTab.test.tsx
Due: pytest-check, skip-detector

docs: mark issue #555 done in roadmap (5.1)
  docs/PRODUCT_ROADMAP.md
Due: none

fix: address claude-review feedback on PR #588
  codeframe/ui/routers/settings_v2.py
  tests/ui/test_settings_v2.py
  web-ui/src/components/settings/ApiKeysTab.tsx
  web-ui/src/components/settings/KeySlot.tsx
Due: pytest-check, skip-detector

feat(settings): API key management tab (#555) (#588)
  codeframe/ui/models.py
  codeframe/ui/routers/settings_v2.py
  docs/PRODUCT_ROADMAP.md
  tests/ui/test_settings_v2.py
  web-ui/src/__tests__/components/settings/ApiKeysTab.test.tsx
  web-ui/src/app/settings/page.tsx
  web-ui/src/components/settings/ApiKeysTab.tsx
  web-ui/src/components/settings/KeySlot.tsx
  web-ui/src/lib/api.ts
  web-ui/src/types/index.ts
Due: pytest-check, skip-detector

feat(settings): PROOF9 defaults + workspace config tabs (#556)
  codeframe/core/proof/runner.py
  codeframe/ui/routers/proof_v2.py
  codeframe/ui/routers/workspace_v2.py
  tests/core/test_proof_runner_config.py
  tests/ui/test_proof_config.py
  tests/ui/test_workspace_config.py
  web-ui/src/__tests__/components/settings/Proof9DefaultsTab.test.tsx
  web-ui/src/__tests__/components/settings/WorkspaceConfigTab.test.tsx
  web-ui/src/app/settings/page.tsx
  web-ui/src/components/settings/Proof9DefaultsTab.tsx
  web-ui/src/components/settings/WorkspaceConfigTab.tsx
  web-ui/src/lib/api.ts
  web-ui/src/lib/proof.ts
  web-ui/src/types/index.ts
Due: pytest-check, skip-detector

fix(settings): address claude review on #589
  codeframe/core/proof/models.py
  codeframe/core/proof/runner.py
  codeframe/ui/routers/proof_v2.py
  codeframe/ui/routers/workspace_v2.py
  tests/ui/test_proof_config.py
  web-ui/src/components/settings/Proof9DefaultsTab.tsx
Due: pytest-check, skip-detector

fix(settings): address claude + coderabbit review on #589
  codeframe/ui/routers/_helpers.py
  codeframe/ui/routers/proof_v2.py
  codeframe/ui/routers/workspace_v2.py
  tests/ui/test_proof_config.py
  tests/ui/test_workspace_config.py
  web-ui/src/components/settings/Proof9DefaultsTab.tsx
  web-ui/src/components/settings/WorkspaceConfigTab.tsx
  web-ui/src/lib/proof.ts
Due: pytest-check, skip-detector

docs(settings): mark Phase 5.1 complete (#556) + drop unused isLoading
  CLAUDE.md
  docs/PRODUCT_ROADMAP.md
  web-ui/src/components/settings/Proof9DefaultsTab.tsx
  web-ui/src/components/settings/WorkspaceConfigTab.tsx
Due: none

fix(settings): round-3 review on #589
  codeframe/core/proof/runner.py
  codeframe/ui/routers/_helpers.py
  tests/core/test_proof_runner_config.py
  web-ui/src/components/settings/WorkspaceConfigTab.tsx
Due: pytest-check, skip-detector

fix(settings): round-4 polish on #589
  codeframe/core/proof/runner.py
  codeframe/ui/routers/proof_v2.py
Due: pytest-check

fix(settings): round-5 review on #589
  codeframe/core/proof/runner.py
  codeframe/core/workspace.py
  codeframe/ui/routers/workspace_v2.py
Due: pytest-check

fix(settings): round-6 review on #589
  codeframe/ui/routers/workspace_v2.py
  tests/core/test_proof_runner_config.py
  tests/ui/test_workspace_config.py
Due: pytest-check, skip-detector

fix(settings): round-7 review on #589
  codeframe/ui/routers/proof_v2.py
  tests/core/test_proof_runner_config.py
  tests/ui/test_proof_config.py
  web-ui/src/__tests__/components/settings/Proof9DefaultsTab.test.tsx
  web-ui/src/components/settings/Proof9DefaultsTab.tsx
Due: pytest-check, skip-detector

fix(settings): round-8 review on #589
  codeframe/ui/routers/workspace_v2.py
  docs/PRODUCT_ROADMAP.md
  tests/ui/test_workspace_config.py
Due: pytest-check, skip-detector

fix(settings): round-9 review on #589
  codeframe/ui/routers/proof_v2.py
  codeframe/ui/routers/workspace_v2.py
  tests/ui/test_proof_config.py
  tests/ui/test_workspace_config.py
Due: pytest-check, skip-detector

feat(settings): PROOF9 defaults + workspace config tabs (#556) (#589)
  CLAUDE.md
  codeframe/core/proof/models.py
  codeframe/core/proof/runner.py
  codeframe/core/workspace.py
  codeframe/ui/routers/_helpers.py
  codeframe/ui/routers/proof_v2.py
  codeframe/ui/routers/workspace_v2.py
  docs/PRODUCT_ROADMAP.md
  tests/core/test_proof_runner_config.py
  tests/ui/test_proof_config.py
  tests/ui/test_workspace_config.py
  web-ui/src/__tests__/components/settings/Proof9DefaultsTab.test.tsx
  web-ui/src/__tests__/components/settings/WorkspaceConfigTab.test.tsx
  web-ui/src/app/settings/page.tsx
  web-ui/src/components/settings/Proof9DefaultsTab.tsx
  web-ui/src/components/settings/WorkspaceConfigTab.tsx
  web-ui/src/lib/api.ts
  web-ui/src/lib/proof.ts
  web-ui/src/types/index.ts
Due: pytest-check, skip-detector

feat(costs): cost analytics page with daily spend chart (#557)
  codeframe/persistence/repositories/token_repository.py
  codeframe/ui/routers/costs_v2.py
  codeframe/ui/server.py
  tests/persistence/test_token_repository_costs.py
  tests/ui/test_costs_v2.py
  web-ui/__mocks__/@hugeicons/react.js
  web-ui/src/__tests__/components/costs/CostsPage.test.tsx
  web-ui/src/__tests__/components/costs/SpendBarChart.test.tsx
  web-ui/src/app/costs/page.tsx
  web-ui/src/components/costs/SpendBarChart.tsx
  web-ui/src/components/layout/AppSidebar.tsx
  web-ui/src/lib/api.ts
  web-ui/src/types/index.ts
Due: pytest-check, skip-detector

fix(costs): use SQLite-compatible timestamp boundary; reuse repository in router
  codeframe/persistence/repositories/token_repository.py
  codeframe/ui/routers/costs_v2.py
  tests/persistence/test_token_repository_costs.py
Due: pytest-check, skip-detector

fix(costs): catch query-time sqlite3.Error too
  codeframe/ui/routers/costs_v2.py
Due: pytest-check

fix(costs): add upper timestamp bound + warning logs + schema-conflict TODO
  codeframe/persistence/repositories/token_repository.py
  codeframe/ui/routers/costs_v2.py
  tests/persistence/test_token_repository_costs.py
Due: pytest-check, skip-detector

feat(costs): cost analytics page (#557) (#590)
  codeframe/persistence/repositories/token_repository.py
  codeframe/ui/routers/costs_v2.py
  codeframe/ui/server.py
  tests/persistence/test_token_repository_costs.py
  tests/ui/test_costs_v2.py
  web-ui/__mocks__/@hugeicons/react.js
  web-ui/src/__tests__/components/costs/CostsPage.test.tsx
  web-ui/src/__tests__/components/costs/SpendBarChart.test.tsx
  web-ui/src/app/costs/page.tsx
  web-ui/src/components/costs/SpendBarChart.tsx
  web-ui/src/components/layout/AppSidebar.tsx
  web-ui/src/lib/api.ts
  web-ui/src/types/index.ts
Due: pytest-check, skip-detector

feat(costs): per-task and per-agent breakdowns + task board cost badge (#558)
  codeframe/core/models.py
  codeframe/core/react_agent.py
  codeframe/lib/metrics_tracker.py
  codeframe/persistence/repositories/token_repository.py
  codeframe/ui/routers/costs_v2.py
  tests/persistence/test_token_repository_costs.py
  tests/ui/test_costs_v2.py
  web-ui/__tests__/components/tasks/TaskCard.test.tsx
  web-ui/src/__tests__/components/costs/CostsPage.test.tsx
  web-ui/src/app/costs/page.tsx
  web-ui/src/components/costs/AgentCostBars.tsx
  web-ui/src/components/costs/TopTasksTable.tsx
  web-ui/src/components/tasks/TaskBoardContent.tsx
  web-ui/src/components/tasks/TaskBoardView.tsx
  web-ui/src/components/tasks/TaskCard.tsx
  web-ui/src/components/tasks/TaskColumn.tsx
  web-ui/src/lib/api.ts
  web-ui/src/types/index.ts
Due: pytest-check, skip-detector
