Repository frankbria/codeframe: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, skip-detector

pytest-check:
  name: Run last failed tests (fast feedback)
  entry: bash -c 'if [ -f venv/bin/activate ]; then source venv/bin/activate && pytest --lf -x; elif [ -f .venv/bin/activate ]; then source .venv/bin/activate && pytest --lf -x; else pytest --lf -x; fi'
  language: system
  pass_filenames: false

skip-detector:
  name: Detect skip decorator abuse
  entry: python scripts/detect-skip-abuse.py
  language: system
  pass_filenames: false

fix: Update migration test imports to use archive subdirectory
  tests/persistence/test_migration_006.py
  tests/persistence/test_migration_010.py
  tests/persistence/test_migration_011.py
Due: pytest-check, skip-detector

remove: Delete deprecated migration tests
  tests/persistence/test_migration_001.py
  tests/persistence/test_migration_006.py
  tests/persistence/test_migration_010.py
  tests/persistence/test_migration_011.py
Due: pytest-check, skip-detector

fix: Use token as PRIMARY KEY in sessions table
  codeframe/persistence/database.py
Due: pytest-check

security: Fix session token exposure in logs and document password storage
  codeframe/persistence/database.py
  codeframe/ui/auth.py
Due: pytest-check

fix: Correct misleading comments - Better Auth IS already implemented
  codeframe/persistence/database.py
Due: pytest-check

fix: Resolve 85+ test errors (Project dict access, migration imports, UNIQUE constraints)
  codeframe/persistence/database.py
  tests/agents/test_review_agent.py
  tests/agents/test_worker_agent.py
  tests/auth/test_authentication.py
  tests/auth/test_authorization_integration.py
  tests/integration/test_composite_index.py
  tests/lib/test_metrics_tracker.py
Due: pytest-check, skip-detector

refactor: Remove deprecated database migration system
  CLAUDE.md
  CODEFRAME_ISSUES_ANALYSIS.md
  E2E_TESTS_FIX_PLAN.md
  FASTAPI_ROUTER_REFACTORING_TEST_REPORT.md
  PHASE_10_SUMMARY.md
  PRD.md
  claudedocs/MIGRATION_001_SUMMARY.md
  codeframe/lib/checkpoint_manager.py
  codeframe/persistence/database.py
  codeframe/persistence/migrations/README.md
  codeframe/persistence/migrations/__init__.py
  codeframe/persistence/migrations/archive/migration_001_remove_agent_type_constraint.py
  codeframe/persistence/migrations/archive/migration_002_refactor_projects_schema.py
  codeframe/persistence/migrations/archive/migration_003_update_blockers_schema.py
  codeframe/persistence/migrations/archive/migration_004_add_context_checkpoints.py
  codeframe/persistence/migrations/archive/migration_005_add_context_indexes.py
  codeframe/persistence/migrations/archive/migration_006_mvp_completion.py
  codeframe/persistence/migrations/archive/migration_007_sprint10_review_polish.py
  codeframe/persistence/migrations/archive/migration_008_add_session_id.py
  codeframe/persistence/migrations/archive/migration_009_add_project_agents.py
  codeframe/persistence/migrations/archive/migration_010_pause_functionality.py
  codeframe/persistence/migrations/archive/migration_011_created_at_not_null.py
  codeframe/tasks/expire_blockers.py
  scripts/deploy.sh
  scripts/verify_migration_001.py
  tests/agents/test_backend_worker_agent.py
  tests/agents/test_bash_operations_migration.py
  tests/agents/test_file_operations_migration.py
  tests/blockers/test_blocker_expiration.py
  tests/blockers/test_blocker_expiration_cron.py
  tests/blockers/test_blocker_expiration_simple.py
  tests/core/test_project_get_status.py
  tests/integration/test_auto_commit_workflow.py
  tests/integration/test_mvp_completion_workflow.py
  tests/persistence/test_database_typed_returns.py
Due: pytest-check, skip-detector

chore(docs) remove old and outdated analysis documentation
  E2E_PLAYWRIGHT_FAILURE_ANALYSIS.md
  E2E_TESTS_FIX_PLAN.md
  FASTAPI_ROUTER_REFACTORING_TEST_REPORT.md
  PHASE_10_SUMMARY.md
  ROOT_CAUSE_ANALYSIS_E2E_FAILURES.md
  ROOT_CAUSE_ANALYSIS_test_serve_command_lifecycle.md
  TEST_FIXES_NEEDED.md
Due: none

fix: Remove stale migration references from code and tests
  codeframe/persistence/database.py
  tests/persistence/test_database_typed_returns.py
Due: pytest-check, skip-detector

refactor: Remove deprecated database migration system (#142)
  CLAUDE.md
  CODEFRAME_ISSUES_ANALYSIS.md
  E2E_PLAYWRIGHT_FAILURE_ANALYSIS.md
  E2E_TESTS_FIX_PLAN.md
  FASTAPI_ROUTER_REFACTORING_TEST_REPORT.md
  PHASE_10_SUMMARY.md
  PRD.md
  ROOT_CAUSE_ANALYSIS_E2E_FAILURES.md
  ROOT_CAUSE_ANALYSIS_test_serve_command_lifecycle.md
  TEST_FIXES_NEEDED.md
  claudedocs/MIGRATION_001_SUMMARY.md
  codeframe/lib/checkpoint_manager.py
  codeframe/persistence/database.py
  codeframe/persistence/migrations/README.md
  codeframe/persistence/migrations/__init__.py
  codeframe/persistence/migrations/archive/migration_001_remove_agent_type_constraint.py
  codeframe/persistence/migrations/archive/migration_002_refactor_projects_schema.py
  codeframe/persistence/migrations/archive/migration_003_update_blockers_schema.py
  codeframe/persistence/migrations/archive/migration_004_add_context_checkpoints.py
  codeframe/persistence/migrations/archive/migration_005_add_context_indexes.py
  codeframe/persistence/migrations/archive/migration_006_mvp_completion.py
  codeframe/persistence/migrations/archive/migration_007_sprint10_review_polish.py
  codeframe/persistence/migrations/archive/migration_008_add_session_id.py
  codeframe/persistence/migrations/archive/migration_009_add_project_agents.py
  codeframe/persistence/migrations/archive/migration_010_pause_functionality.py
  codeframe/persistence/migrations/archive/migration_011_created_at_not_null.py
  codeframe/tasks/expire_blockers.py
  scripts/deploy.sh
  scripts/verify_migration_001.py
  tests/agents/test_backend_worker_agent.py
  tests/agents/test_bash_operations_migration.py
  tests/agents/test_file_operations_migration.py
  tests/blockers/test_blocker_expiration.py
  tests/blockers/test_blocker_expiration_cron.py
  tests/blockers/test_blocker_expiration_simple.py
  tests/core/test_project_get_status.py
  tests/integration/test_auto_commit_workflow.py
  tests/integration/test_mvp_completion_workflow.py
  tests/persistence/test_database_typed_returns.py
Due: pytest-check, skip-detector

fix: ProjectRouter dict fix
  codeframe/ui/routers/projects.py
Due: pytest-check

fix: ProjectRouter additional string/dict fixes
  codeframe/ui/routers/projects.py
Due: pytest-check

fix: Resolve 403 authorization errors and API test failures (closes #143)
  codeframe/ui/routers/projects.py
  state.db
  tests/api/conftest.py
  tests/api/test_api_metrics.py
Due: pytest-check, skip-detector

fix: Resolve type consistency issues across test suite (closes #144)
  codeframe/agents/backend_worker_agent.py
  tests/agents/test_bottleneck_detection.py
  tests/agents/test_lead_agent.py
  tests/agents/test_multi_agent_integration.py
Due: pytest-check, skip-detector

chore: update test dependencies
  pyproject.toml
  uv.lock
Due: none

fix: Add project_id column to agents table schema (no migration)
  codeframe/persistence/database.py
  tests/auth/test_authorization_integration.py
Due: pytest-check, skip-detector

fix: Resolve comprehensive test suite failures across 6 categories
  codeframe/git/workflow_manager.py
  codeframe/tasks/expire_blockers.py
  codeframe/ui/dependencies.py
  codeframe/ui/routers/projects.py
  codeframe/ui/routers/tasks.py
  codeframe/ui/routers/websocket.py
  codeframe/ui/server.py
  tests/agents/test_lead_agent_blocker_handling.py
  tests/blockers/test_blocker_expiration.py
  tests/blockers/test_blocker_expiration_cron.py
  tests/e2e/test_full_workflow.py
  tests/git/test_git_workflow_manager.py
  tests/integration/test_notification_workflow.py
  tests/integration/test_review_workflow.py
  tests/persistence/test_database_issues.py
  tests/test_review_api.py
Due: pytest-check, skip-detector

fix: Resolve remaining 5 test failures
  tests/auth/test_authorization_integration.py
  tests/git/test_git_auto_commit.py
  tests/persistence/test_project_agents.py
  tests/ui/test_websocket_integration.py
Due: pytest-check, skip-detector

fix: Use INSERT OR REPLACE in WebSocket tests to avoid UNIQUE constraint errors
  tests/ui/test_websocket_integration.py
Due: pytest-check, skip-detector

fix: Resolve test failures in authorization, git workflow, and review API tests
  tests/ui/test_websocket_integration.py
Due: pytest-check, skip-detector

refactor: Refactor monolithic Database class into repository pattern
  CLAUDE.md
  codeframe/persistence/database.py
  codeframe/persistence/database.py.backup
  codeframe/persistence/repositories/__init__.py
  codeframe/persistence/repositories/activity_repository.py
  codeframe/persistence/repositories/agent_repository.py
  codeframe/persistence/repositories/audit_repository.py
  codeframe/persistence/repositories/base.py
  codeframe/persistence/repositories/blocker_repository.py
  codeframe/persistence/repositories/checkpoint_repository.py
  codeframe/persistence/repositories/context_repository.py
  codeframe/persistence/repositories/correction_repository.py
  codeframe/persistence/repositories/git_repository.py
  codeframe/persistence/repositories/issue_repository.py
  codeframe/persistence/repositories/lint_repository.py
  codeframe/persistence/repositories/memory_repository.py
  codeframe/persistence/repositories/project_repository.py
  codeframe/persistence/repositories/quality_repository.py
  codeframe/persistence/repositories/review_repository.py
  codeframe/persistence/repositories/task_repository.py
  codeframe/persistence/repositories/test_repository.py
  codeframe/persistence/repositories/token_repository.py
  codeframe/persistence/schema_manager.py
  docs/architecture/README.md
  docs/architecture/database-repository-pattern.md
Due: pytest-check

fix: Resolve ruff linting errors
  codeframe/persistence/database.py
  codeframe/persistence/repositories/activity_repository.py
  codeframe/persistence/repositories/agent_repository.py
  codeframe/persistence/repositories/audit_repository.py
  codeframe/persistence/repositories/blocker_repository.py
  codeframe/persistence/repositories/checkpoint_repository.py
  codeframe/persistence/repositories/context_repository.py
  codeframe/persistence/repositories/correction_repository.py
  codeframe/persistence/repositories/git_repository.py
  codeframe/persistence/repositories/issue_repository.py
  codeframe/persistence/repositories/lint_repository.py
  codeframe/persistence/repositories/memory_repository.py
  codeframe/persistence/repositories/project_repository.py
  codeframe/persistence/repositories/quality_repository.py
  codeframe/persistence/repositories/review_repository.py
  codeframe/persistence/repositories/task_repository.py
  codeframe/persistence/repositories/test_repository.py
  codeframe/persistence/repositories/token_repository.py
  codeframe/persistence/schema_manager.py
Due: pytest-check

refactor: Address CodeRabbit review comments
  codeframe/persistence/repositories/activity_repository.py
  codeframe/persistence/repositories/agent_repository.py
  codeframe/persistence/repositories/audit_repository.py
  codeframe/persistence/repositories/base.py
  codeframe/persistence/repositories/blocker_repository.py
  codeframe/persistence/repositories/checkpoint_repository.py
  codeframe/persistence/repositories/context_repository.py
  codeframe/persistence/repositories/correction_repository.py
  codeframe/persistence/repositories/git_repository.py
  codeframe/persistence/repositories/issue_repository.py
  codeframe/persistence/repositories/lint_repository.py
  codeframe/persistence/repositories/memory_repository.py
  codeframe/persistence/repositories/project_repository.py
  codeframe/persistence/repositories/quality_repository.py
  codeframe/persistence/repositories/review_repository.py
  codeframe/persistence/repositories/task_repository.py
  codeframe/persistence/repositories/test_repository.py
  codeframe/persistence/repositories/token_repository.py
  docs/architecture/database-repository-pattern.md
Due: pytest-check

security: Fix SQL injection vulnerabilities in update methods
  codeframe/persistence/repositories/agent_repository.py
  codeframe/persistence/repositories/issue_repository.py
  codeframe/persistence/repositories/project_repository.py
  codeframe/persistence/repositories/task_repository.py
Due: pytest-check

fix: Add _get_async_conn() helper method to BaseRepository
  codeframe/persistence/repositories/base.py
Due: pytest-check

Refactor: Database Repository Pattern - 93.4% Code Reduction (#147)
  CLAUDE.md
  codeframe/persistence/database.py
  codeframe/persistence/database.py.backup
  codeframe/persistence/repositories/__init__.py
  codeframe/persistence/repositories/activity_repository.py
  codeframe/persistence/repositories/agent_repository.py
  codeframe/persistence/repositories/audit_repository.py
  codeframe/persistence/repositories/base.py
  codeframe/persistence/repositories/blocker_repository.py
  codeframe/persistence/repositories/checkpoint_repository.py
  codeframe/persistence/repositories/context_repository.py
  codeframe/persistence/repositories/correction_repository.py
  codeframe/persistence/repositories/git_repository.py
  codeframe/persistence/repositories/issue_repository.py
  codeframe/persistence/repositories/lint_repository.py
  codeframe/persistence/repositories/memory_repository.py
  codeframe/persistence/repositories/project_repository.py
  codeframe/persistence/repositories/quality_repository.py
  codeframe/persistence/repositories/review_repository.py
  codeframe/persistence/repositories/task_repository.py
  codeframe/persistence/repositories/test_repository.py
  codeframe/persistence/repositories/token_repository.py
  codeframe/persistence/schema_manager.py
  docs/architecture/README.md
  docs/architecture/database-repository-pattern.md
Due: pytest-check

fix: Resolve WebSocket integration test hangs (#146)
  codeframe/ui/server.py
  tests/ui/conftest.py
  tests/ui/test_websocket_integration.py
Due: pytest-check, skip-detector

fix: Add WebSocket health check and improve E2E test reliability
  codeframe/ui/routers/websocket.py
  tests/e2e/README.md
  tests/e2e/playwright.config.ts
  tests/e2e/test_dashboard.spec.ts
Due: pytest-check

feat: Add test user authentication for E2E tests
  tests/e2e/global-setup.ts
  tests/e2e/test_dashboard.spec.ts
Due: none

fix: Use correct BetterAuth API endpoint paths
  tests/e2e/global-setup.ts
Due: none

fix: Create test user directly in database with session token
  tests/e2e/global-setup.ts
  tests/e2e/seed-test-data.py
Due: pytest-check, skip-detector

fix: Resolve ruff linting errors
  tests/e2e/seed-test-data.py
  tests/ui/conftest.py
  tests/ui/test_websocket_integration.py
Due: pytest-check, skip-detector

fix: Address PR review feedback for WebSocket integration tests
  tests/e2e/global-setup.ts
  tests/e2e/seed-test-data.py
  tests/ui/test_websocket_router.py
Due: pytest-check, skip-detector

fix: Remove unused import from test_websocket_router.py
  tests/ui/test_websocket_router.py
Due: pytest-check, skip-detector

fix: Add database mock to WebSocket router tests
  tests/ui/test_websocket_router.py
Due: pytest-check, skip-detector

fix: Fix failing WebSocket integration tests
  codeframe/ui/routers/websocket.py
  tests/ui/conftest.py
  tests/ui/test_websocket_integration.py
Due: pytest-check, skip-detector

fix: Remove unused manager import from test_websocket_integration.py
  tests/ui/test_websocket_integration.py
Due: pytest-check, skip-detector

fix: Add WebSocket health check and E2E test authentication (#148)
  codeframe/ui/routers/websocket.py
  tests/e2e/README.md
  tests/e2e/global-setup.ts
  tests/e2e/playwright.config.ts
  tests/e2e/seed-test-data.py
  tests/e2e/test_dashboard.spec.ts
  tests/ui/conftest.py
  tests/ui/test_websocket_integration.py
  tests/ui/test_websocket_router.py
Due: pytest-check, skip-detector

fix: Make WebSocket broadcast concurrent to prevent deadlocks (#149)
  codeframe/ui/shared.py
Due: pytest-check

Path conditions:
  pytest-check: any of: \.py$ and \.py$
  skip-detector: any of: ^tests/.*\.py$
