Repository frankbria/codeframe: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, skip-detector

pytest-check:
  name: Run last failed tests (fast feedback)
  entry: bash -c 'if [ -f venv/bin/activate ]; then source venv/bin/activate && pytest --lf -x; elif [ -f .venv/bin/activate ]; then source .venv/bin/activate && pytest --lf -x; else pytest --lf -x; fi'
  language: system
  pass_filenames: false

skip-detector:
  name: Detect skip decorator abuse
  entry: python scripts/detect-skip-abuse.py
  language: system
  pass_filenames: false

fix(ci): add GITHUB_TOKEN to opencode-review workflow
  .github/workflows/opencode-review.yml
Due: none

fix: dispatch TASKS_LOADED when tasks is null/undefined
  web-ui/src/components/AgentStateProvider.tsx
Due: none

chore(ci): disable claude-code-review workflow
  .github/workflows/claude-code-review.yml
Due: none

fix: address code review feedback on workflow and types
  .github/workflows/opencode-review.yml
  web-ui/src/components/TaskList.tsx
  web-ui/src/types/agentState.ts
Due: none

fix(state): load tasks from API for returning users (#231) (#243)
  .github/workflows/claude-code-review.yml
  .github/workflows/opencode-review.yml
  tests/e2e/README.md
  tests/e2e/test-utils.ts
  tests/e2e/test_returning_user.spec.ts
  web-ui/__tests__/reducers/agentReducer.test.ts
  web-ui/src/components/AgentStateProvider.tsx
  web-ui/src/components/Dashboard.tsx
  web-ui/src/components/TaskList.tsx
  web-ui/src/reducers/agentReducer.ts
  web-ui/src/types/agentState.ts
Due: none

Rename workflow from 'opencode' to 'Opencode Responses'
  .github/workflows/opencode.yml
Due: none

feat(agents): trigger multi-agent execution after task approval
  codeframe/ui/routers/tasks.py
  tests/config/test_config.py
  tests/e2e/test_task_approval.spec.ts
  tests/ui/test_task_approval.py
  tests/ui/test_task_approval_execution.py
Due: pytest-check, skip-detector

fix(tests): remove unused imports in test_task_approval_execution
  tests/ui/test_task_approval_execution.py
Due: pytest-check, skip-detector

fix(tests): address code review feedback
  tests/config/test_config.py
  tests/e2e/test_task_approval.spec.ts
  tests/ui/test_task_approval.py
Due: pytest-check, skip-detector

refactor(tests): enforce no test.skip() inside test logic policy
  CLAUDE.md
  tests/e2e/test_task_approval.spec.ts
Due: none

fix(tasks): guard broadcast calls in exception handlers
  codeframe/ui/routers/tasks.py
Due: pytest-check

fix(e2e): address remaining test quality issues
  tests/e2e/test_task_approval.spec.ts
Due: none

fix(e2e): wrap task approval tests in serial describe
  tests/e2e/test_task_approval.spec.ts
Due: none

fix(e2e): handle shared project state in serial test suite
  tests/e2e/test_task_approval.spec.ts
Due: none

feat(agents): trigger multi-agent execution after task approval (#246)
  CLAUDE.md
  codeframe/ui/routers/tasks.py
  tests/config/test_config.py
  tests/e2e/test_task_approval.spec.ts
  tests/ui/test_task_approval.py
  tests/ui/test_task_approval_execution.py
Due: pytest-check, skip-detector

fix(tasks): add Assign Tasks button for stuck pending tasks (#248)
  codeframe/agents/lead_agent.py
  codeframe/ui/routers/tasks.py
  tests/integration/test_multi_agent_execution.py
  tests/ui/test_assign_pending_tasks.py
  web-ui/src/components/TaskList.tsx
  web-ui/src/lib/api.ts
Due: pytest-check, skip-detector

fix(tasks): prevent concurrent execution and improve button UX
  codeframe/ui/routers/tasks.py
  tests/ui/test_assign_pending_tasks.py
  web-ui/src/components/TaskList.tsx
Due: pytest-check, skip-detector

chore: remove unused Task imports in tests
  tests/integration/test_multi_agent_execution.py
Due: pytest-check, skip-detector

fix(tasks): address code review feedback
  codeframe/ui/routers/tasks.py
  tests/ui/test_assign_pending_tasks.py
Due: pytest-check, skip-detector

fix(tasks): add Assign Tasks button for stuck pending tasks (#250)
  codeframe/agents/lead_agent.py
  codeframe/ui/routers/tasks.py
  tests/integration/test_multi_agent_execution.py
  tests/ui/test_assign_pending_tasks.py
  web-ui/src/components/TaskList.tsx
  web-ui/src/lib/api.ts
Due: pytest-check, skip-detector

fix(e2e): remove antipatterns that caused false-positive test passes
  .beads/issues.jsonl
  tests/e2e/e2e-config.ts
  tests/e2e/seed-test-data.py
  tests/e2e/test_assign_tasks_button.spec.ts
  tests/e2e/test_checkpoint_ui.spec.ts
  tests/e2e/test_complete_user_journey.spec.ts
  tests/e2e/test_dashboard.spec.ts
  tests/e2e/test_late_joining_user.spec.ts
  tests/e2e/test_metrics_ui.spec.ts
  tests/e2e/test_review_ui.spec.ts
  tests/e2e/test_start_agent_flow.spec.ts
  tests/e2e/test_state_reconciliation.spec.ts
  tests/e2e/test_task_approval.spec.ts
  tests/e2e/test_task_breakdown.spec.ts
  tests/e2e/test_task_execution_flow.spec.ts
Due: pytest-check, skip-detector

fix(e2e): use .first() with .or() to avoid strict mode violation
  tests/e2e/test_task_execution_flow.spec.ts
Due: none

refactor(tests): split DiscoveryProgress tests into focused files
  web-ui/__tests__/components/DiscoveryProgress.advanced.test.tsx
  web-ui/__tests__/components/DiscoveryProgress.answer.test.tsx
  web-ui/__tests__/components/DiscoveryProgress.core.test.tsx
  web-ui/__tests__/components/DiscoveryProgress.error.test.tsx
  web-ui/__tests__/components/DiscoveryProgress.prd.test.tsx
  web-ui/__tests__/components/DiscoveryProgress.progress.test.tsx
  web-ui/__tests__/components/DiscoveryProgress.testutils.tsx
  web-ui/__tests__/components/DiscoveryProgress.websocket.test.tsx
Due: none

fix(tests): exclude testutils files from Jest test discovery
  web-ui/jest.config.js
Due: none

refactor(tests): split DiscoveryProgress tests into focused files (#256)
  web-ui/__tests__/components/DiscoveryProgress.advanced.test.tsx
  web-ui/__tests__/components/DiscoveryProgress.answer.test.tsx
  web-ui/__tests__/components/DiscoveryProgress.core.test.tsx
  web-ui/__tests__/components/DiscoveryProgress.error.test.tsx
  web-ui/__tests__/components/DiscoveryProgress.prd.test.tsx
  web-ui/__tests__/components/DiscoveryProgress.progress.test.tsx
  web-ui/__tests__/components/DiscoveryProgress.testutils.tsx
  web-ui/__tests__/components/DiscoveryProgress.websocket.test.tsx
  web-ui/jest.config.js
Due: none

feat(discovery): implement AI-powered Socratic questioning system
  codeframe/agents/lead_agent.py
  codeframe/discovery/questions.py
  docs/discovery-socratic-methodology.md
  tests/agents/test_lead_agent_socratic_discovery.py
Due: pytest-check, skip-detector

fix(discovery): address CodeRabbit feedback on Socratic questioning
  codeframe/agents/lead_agent.py
  tests/agents/test_lead_agent_socratic_discovery.py
Due: pytest-check, skip-detector

perf(discovery): add caching to category coverage detection
  codeframe/agents/lead_agent.py
Due: pytest-check

fix: add UNIQUE constraint and optimistic retry for conversation turns
  codeframe/agents/lead_agent.py
  codeframe/persistence/schema_manager.py
Due: pytest-check

fix: use startswith() for AI-generated question ID matching
  codeframe/agents/lead_agent.py
Due: pytest-check

fix: address UNIQUE constraint failures in memory storage
  codeframe/agents/lead_agent.py
  codeframe/persistence/database.py
  codeframe/persistence/repositories/memory_repository.py
  codeframe/ui/routers/chat.py
  tests/agents/test_lead_agent.py
  tests/api/test_chat_api.py
Due: pytest-check, skip-detector

fix: use timestamp fallback in _get_next_conversation_index
  codeframe/agents/lead_agent.py
Due: pytest-check

fix: use ON CONFLICT in upsert_memory to preserve id and created_at
  codeframe/persistence/repositories/memory_repository.py
Due: pytest-check

feat(discovery): implement AI-powered Socratic questioning system (#257)
  codeframe/agents/lead_agent.py
  codeframe/discovery/questions.py
  codeframe/persistence/database.py
  codeframe/persistence/repositories/memory_repository.py
  codeframe/persistence/schema_manager.py
  codeframe/ui/routers/chat.py
  docs/discovery-socratic-methodology.md
  tests/agents/test_lead_agent.py
  tests/agents/test_lead_agent_socratic_discovery.py
  tests/api/test_chat_api.py
Due: pytest-check, skip-detector

fix(e2e): resolve checkpoint UI test timeouts with race condition fix
  tests/e2e/seed-test-data.py
  tests/e2e/test_checkpoint_ui.spec.ts
  web-ui/src/api/checkpoints.ts
  web-ui/src/components/checkpoints/CheckpointList.tsx
Due: pytest-check, skip-detector

fix(review): address PR feedback from code review
  tests/e2e/test_checkpoint_ui.spec.ts
  web-ui/src/components/checkpoints/CheckpointList.tsx
Due: none

fix(e2e): resolve checkpoint UI test timeouts with race condition fix (#260)
  tests/e2e/seed-test-data.py
  tests/e2e/test_checkpoint_ui.spec.ts
  web-ui/src/api/checkpoints.ts
  web-ui/src/components/checkpoints/CheckpointList.tsx
Due: pytest-check, skip-detector

fix: Clean up data migration from UNIQUE constraint change and other test improvements
  codeframe/persistence/schema_manager.py
  web-ui/__tests__/components/DISCOVERY_PROGRESS_TESTS_README.md
  web-ui/__tests__/components/TaskList.test.tsx
  web-ui/__tests__/components/complete-migration.md
  web-ui/src/components/TaskList.tsx
Due: pytest-check

feat(quality-gates): implement task classification for selective gate execution
  codeframe/agents/worker_agent.py
  codeframe/config/quality_gates_config.py
  codeframe/core/models.py
  codeframe/lib/quality_gate_rules.py
  codeframe/lib/quality_gates.py
  codeframe/lib/task_classifier.py
  tests/config/test_quality_gates_config.py
  tests/lib/test_quality_gate_rules.py
  tests/lib/test_quality_gates.py
  tests/lib/test_task_classifier.py
Due: pytest-check, skip-detector

fix: remove unused pytest import in test_quality_gates_config
  tests/config/test_quality_gates_config.py
Due: pytest-check, skip-detector

Path conditions:
  pytest-check: any of: \.py$ and \.py$
  skip-detector: any of: ^tests/.*\.py$
