Repository frankbria/codeframe: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, skip-detector

pytest-check:
  name: Run last failed tests (fast feedback)
  entry: bash -c 'if [ -f venv/bin/activate ]; then source venv/bin/activate && pytest --lf -x; elif [ -f .venv/bin/activate ]; then source .venv/bin/activate && pytest --lf -x; else pytest --lf -x; fi'
  language: system
  pass_filenames: false

skip-detector:
  name: Detect skip decorator abuse
  entry: python scripts/detect-skip-abuse.py
  language: system
  pass_filenames: false

test: remove dead v1 tests/examples referencing removed cluster (#599)
  examples/agent_definition_usage.py
  examples/agent_factory_usage.py
  test_mock_check.py
  test_standalone.py
  tests/api/test_api_discovery_progress.py
  tests/api/test_discovery_endpoints.py
  tests/cli/test_cli_session.py
  tests/conftest.py
  tests/context/test_context_stats.py
  tests/test_review_api.py
Due: pytest-check, skip-detector

refactor: address claude-bot review on PR #603
  codeframe/persistence/database.py
  codeframe/persistence/repositories/base.py
Due: pytest-check

fix: update codeframe.persistence ref in tests/e2e/global-setup.ts
  tests/e2e/global-setup.ts
Due: none

fix: address CodeRabbit + claude-bot review on PR #604
  PRD.md
  codeframe/platform_store/__init__.py
  tests/blockers/test_blocker_expiration_simple.py
  tests/conftest.py
  tests/lib/test_metrics_tracker.py
  tests/ui/conftest.py
Due: pytest-check, skip-detector

feat(workspaces): server-side workspace registry + listing/switcher API (#601)
  codeframe/platform_store/database.py
  codeframe/platform_store/repositories/__init__.py
  codeframe/platform_store/repositories/workspace_registry_repository.py
  codeframe/platform_store/schema_manager.py
  codeframe/ui/routers/workspace_v2.py
  tests/platform_store/test_workspace_registry_repository.py
  tests/ui/test_workspace_registry_api.py
  web-ui/__tests__/components/workspace/WorkspaceSelector.test.tsx
  web-ui/src/__tests__/hooks/useWorkspaces.test.ts
  web-ui/src/app/page.tsx
  web-ui/src/components/workspace/WorkspaceSelector.tsx
  web-ui/src/hooks/useWorkspaces.ts
  web-ui/src/lib/api.ts
  web-ui/src/lib/workspace-storage.ts
  web-ui/src/types/index.ts
Due: pytest-check, skip-detector

fix(workspaces): preserve local recents on registry outage (codex review #601)
  codeframe/ui/routers/workspace_v2.py
  tests/ui/test_workspace_registry_api.py
  web-ui/src/__tests__/hooks/useWorkspaces.test.ts
  web-ui/src/hooks/useWorkspaces.ts
Due: pytest-check, skip-detector

fix(workspaces): registry consistency on tech-stack edit + show local recents online (codex round 2 #601)
  codeframe/ui/routers/workspace_v2.py
  tests/ui/test_workspace_registry_api.py
  web-ui/src/__tests__/hooks/useWorkspaces.test.ts
  web-ui/src/hooks/useWorkspaces.ts
Due: pytest-check, skip-detector

fix(workspaces): keep online list server-authoritative to avoid resurrecting deletes (codex round 3 #601)
  web-ui/src/__tests__/hooks/useWorkspaces.test.ts
  web-ui/src/hooks/useWorkspaces.ts
Due: none

refactor(workspaces): address PR review polish (#605)
  codeframe/platform_store/repositories/workspace_registry_repository.py
  codeframe/platform_store/schema_manager.py
  codeframe/ui/routers/workspace_v2.py
  web-ui/__tests__/components/workspace/WorkspaceSelector.test.tsx
  web-ui/src/components/workspace/WorkspaceSelector.tsx
Due: pytest-check

fix(workspaces): non-blocking recency bump + upsert preserves metadata (PR #605 review)
  codeframe/platform_store/repositories/workspace_registry_repository.py
  tests/platform_store/test_workspace_registry_repository.py
  tests/ui/test_workspace_registry_api.py
  web-ui/src/app/page.tsx
Due: pytest-check, skip-detector

feat(web-ui): PRD stress-test results view + refinement (#562)
  codeframe/core/prd_stress_test.py
  codeframe/ui/routers/prd_v2.py
  tests/core/test_prd_stress_test.py
  tests/ui/test_prd_stress_test_router.py
  web-ui/src/__tests__/components/prd/AmbiguityCard.test.tsx
  web-ui/src/__tests__/components/prd/StressTestModal.test.tsx
  web-ui/src/__tests__/hooks/useStressTestStream.test.ts
  web-ui/src/app/prd/page.tsx
  web-ui/src/components/prd/AmbiguityCard.tsx
  web-ui/src/components/prd/StressTestModal.tsx
  web-ui/src/components/prd/index.ts
  web-ui/src/hooks/useStressTestStream.ts
  web-ui/src/lib/api.ts
  web-ui/src/types/index.ts
  web-ui/src/types/prd.ts
Due: pytest-check, skip-detector

fix(prd): refine returns 503 for missing LLM config; clarify dropped fields
  codeframe/ui/routers/prd_v2.py
  tests/ui/test_prd_stress_test_router.py
Due: pytest-check, skip-detector

fix(prd): offload blocking refine LLM call to thread + type hardening
  codeframe/core/prd_stress_test.py
  codeframe/ui/routers/prd_v2.py
  tests/ui/test_prd_stress_test_router.py
  web-ui/src/components/prd/StressTestModal.tsx
Due: pytest-check, skip-detector

fix(prd): correct error codes on refine 503/500 paths
  codeframe/ui/routers/prd_v2.py
  tests/ui/test_prd_stress_test_router.py
Due: pytest-check, skip-detector

docs: mark Phase 5.4 stress-test results view + refinement complete (#562)
  CLAUDE.md
  docs/PRODUCT_ROADMAP.md
Due: none

feat(web-ui): PRD stress-test results view + refinement (#562) (#606)
  CLAUDE.md
  codeframe/core/prd_stress_test.py
  codeframe/ui/routers/prd_v2.py
  docs/PRODUCT_ROADMAP.md
  tests/core/test_prd_stress_test.py
  tests/ui/test_prd_stress_test_router.py
  web-ui/src/__tests__/components/prd/AmbiguityCard.test.tsx
  web-ui/src/__tests__/components/prd/StressTestModal.test.tsx
  web-ui/src/__tests__/hooks/useStressTestStream.test.ts
  web-ui/src/app/prd/page.tsx
  web-ui/src/components/prd/AmbiguityCard.tsx
  web-ui/src/components/prd/StressTestModal.tsx
  web-ui/src/components/prd/index.ts
  web-ui/src/hooks/useStressTestStream.ts
  web-ui/src/lib/api.ts
  web-ui/src/types/index.ts
  web-ui/src/types/prd.ts
Due: pytest-check, skip-detector

feat(integrations): GitHub repo connection via PAT (#563)
  codeframe/core/github_connect_service.py
  codeframe/core/github_integration_config.py
  codeframe/ui/routers/github_integrations_v2.py
  codeframe/ui/server.py
  tasks/todo.md
  tests/core/test_github_connect_service.py
  tests/core/test_github_integration_config.py
  tests/ui/test_github_integrations_v2.py
  web-ui/src/__tests__/components/settings/GitHubIntegrationCard.test.tsx
  web-ui/src/app/settings/page.tsx
  web-ui/src/components/settings/GitHubIntegrationCard.tsx
  web-ui/src/lib/api.ts
  web-ui/src/types/index.ts
Due: pytest-check, skip-detector

fix(integrations): preserve prior PAT on config-save rollback (#563)
  codeframe/ui/routers/github_integrations_v2.py
  tests/ui/test_github_integrations_v2.py
Due: pytest-check, skip-detector

chore(integrations): address PR #607 review feedback (#563)
  .gitignore
  codeframe/core/github_connect_service.py
  tasks/todo.md
  tests/core/test_github_connect_service.py
  web-ui/src/components/settings/GitHubIntegrationCard.tsx
Due: pytest-check, skip-detector

docs: note GitHub repo connection (#563) shipped under Phase 5.5
  CLAUDE.md
  docs/PRODUCT_ROADMAP.md
Due: none

feat(integrations): GitHub repo connection via PAT (#563)
  .gitignore
  CLAUDE.md
  codeframe/core/github_connect_service.py
  codeframe/core/github_integration_config.py
  codeframe/ui/routers/github_integrations_v2.py
  codeframe/ui/server.py
  docs/PRODUCT_ROADMAP.md
  tests/core/test_github_connect_service.py
  tests/core/test_github_integration_config.py
  tests/ui/test_github_integrations_v2.py
  web-ui/src/__tests__/components/settings/GitHubIntegrationCard.test.tsx
  web-ui/src/app/settings/page.tsx
  web-ui/src/components/settings/GitHubIntegrationCard.tsx
  web-ui/src/lib/api.ts
  web-ui/src/types/index.ts
Due: pytest-check, skip-detector

feat(integrations): GitHub issue browser + multi-select import UI (#564)
  .gitignore
  codeframe/core/github_issues_service.py
  codeframe/ui/routers/github_integrations_v2.py
  tests/core/test_github_issues_service.py
  tests/ui/test_github_integrations_v2.py
  web-ui/__mocks__/@hugeicons/react.js
  web-ui/src/__tests__/components/tasks/GitHubIssueImportModal.test.tsx
  web-ui/src/__tests__/components/tasks/TaskBoardView.githubImport.test.tsx
  web-ui/src/components/tasks/GitHubIssueImportModal.tsx
  web-ui/src/components/tasks/TaskBoardView.tsx
  web-ui/src/lib/api.ts
  web-ui/src/types/index.ts
Due: pytest-check, skip-detector

fix(integrations): address CodeRabbit review on #564
  pyproject.toml
  web-ui/src/components/tasks/GitHubIssueImportModal.tsx
Due: none

docs: mark Phase 5.5 issue browse (#564) complete in CLAUDE.md
  CLAUDE.md
Due: none

feat(integrations): GitHub issue browser + multi-select import UI (#564) (#608)
  .gitignore
  CLAUDE.md
  codeframe/core/github_issues_service.py
  codeframe/ui/routers/github_integrations_v2.py
  pyproject.toml
  tests/core/test_github_issues_service.py
  tests/ui/test_github_integrations_v2.py
  web-ui/__mocks__/@hugeicons/react.js
  web-ui/src/__tests__/components/tasks/GitHubIssueImportModal.test.tsx
  web-ui/src/__tests__/components/tasks/TaskBoardView.githubImport.test.tsx
  web-ui/src/components/tasks/GitHubIssueImportModal.tsx
  web-ui/src/components/tasks/TaskBoardView.tsx
  web-ui/src/lib/api.ts
  web-ui/src/types/index.ts
Due: pytest-check, skip-detector

feat(tasks): GitHub-issue traceability fields on v2 tasks (#565)
  codeframe/core/tasks.py
  codeframe/core/workspace.py
  tests/core/test_task_github_traceability.py
Due: pytest-check, skip-detector

feat(github): import issues as tasks + auto-close on DONE (#565)
  codeframe/core/github_issues_service.py
  codeframe/ui/routers/github_integrations_v2.py
  codeframe/ui/routers/tasks_v2.py
  tests/core/test_github_issues_service.py
  tests/ui/test_github_integrations_v2.py
  tests/ui/test_v2_routers_integration.py
Due: pytest-check, skip-detector

feat(web-ui): execute GitHub issue import + task traceability (#565)
  web-ui/src/__tests__/components/tasks/GitHubIssueBadge.test.tsx
  web-ui/src/__tests__/components/tasks/TaskBoardView.import565.test.tsx
  web-ui/src/__tests__/components/tasks/TaskDetailModal.test.tsx
  web-ui/src/components/tasks/GitHubIssueBadge.tsx
  web-ui/src/components/tasks/GitHubIssueImportModal.tsx
  web-ui/src/components/tasks/TaskBoardView.tsx
  web-ui/src/components/tasks/TaskDetailModal.tsx
  web-ui/src/lib/api.ts
  web-ui/src/types/index.ts
Due: none

fix(github): repo-aware import dedupe + core-level auto-close (#565)
  codeframe/core/tasks.py
  codeframe/ui/routers/github_integrations_v2.py
  codeframe/ui/routers/tasks_v2.py
  tests/core/test_task_github_traceability.py
  tests/ui/test_github_integrations_v2.py
  tests/ui/test_v2_routers_integration.py
Due: pytest-check, skip-detector

fix(github): close issue on combined DONE+optin PATCH; non-daemon close (#565)
  codeframe/core/tasks.py
  codeframe/ui/routers/tasks_v2.py
  tests/ui/test_v2_routers_integration.py
Due: pytest-check, skip-detector

fix(github): source-repo auto-close, transactional import, no PATCH side-effects (#565)
  codeframe/core/tasks.py
  codeframe/ui/routers/github_integrations_v2.py
  codeframe/ui/routers/tasks_v2.py
  tests/core/test_task_github_traceability.py
  tests/ui/test_github_integrations_v2.py
  tests/ui/test_v2_routers_integration.py
Due: pytest-check, skip-detector

fix(github): dedupe payload, reject PRs, drop unused close endpoint (#565)
  codeframe/core/github_issues_service.py
  codeframe/ui/routers/github_integrations_v2.py
  tests/core/test_github_issues_service.py
  tests/ui/test_github_integrations_v2.py
  web-ui/src/lib/api.ts
Due: pytest-check, skip-detector

fix(github): context-aware auto-close + atomic import dedupe (#565)
  codeframe/core/github_issues_service.py
  codeframe/core/tasks.py
  codeframe/core/workspace.py
  codeframe/ui/routers/github_integrations_v2.py
  tests/core/test_task_github_traceability.py
Due: pytest-check, skip-detector

Path conditions:
  pytest-check: any of: \.py$ and \.py$
  skip-detector: any of: ^tests/.*\.py$
