Repository frankbria/codeframe: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, skip-detector

pytest-check:
  name: Run last failed tests (fast feedback)
  entry: bash -c 'if [ -f venv/bin/activate ]; then source venv/bin/activate && pytest --lf -x; elif [ -f .venv/bin/activate ]; then source .venv/bin/activate && pytest --lf -x; else pytest --lf -x; fi'
  language: system
  pass_filenames: false

skip-detector:
  name: Detect skip decorator abuse
  entry: python scripts/detect-skip-abuse.py
  language: system
  pass_filenames: false

feat(agents): broadcast agent status changes via WebSocket (#217)
  codeframe/agents/agent_pool_manager.py
  codeframe/ui/websocket_broadcasts.py
  tests/agents/test_agent_pool_manager.py
Due: pytest-check, skip-detector

feat(ui): replace emojis with Hugeicons in Dashboard and SessionStatus
  web-ui/__tests__/components/Dashboard.test.tsx
  web-ui/__tests__/components/SessionStatus.test.tsx
  web-ui/__tests__/integration/dashboard-realtime-updates.test.tsx
  web-ui/__tests__/integration/prd-button-sync.test.tsx
  web-ui/src/components/Dashboard.tsx
  web-ui/src/components/SessionStatus.tsx
Due: none

feat(ui): replace emojis with Hugeicons in Dashboard and SessionStatus (#220)
  web-ui/__tests__/components/Dashboard.test.tsx
  web-ui/__tests__/components/SessionStatus.test.tsx
  web-ui/__tests__/integration/dashboard-realtime-updates.test.tsx
  web-ui/__tests__/integration/prd-button-sync.test.tsx
  web-ui/src/components/Dashboard.tsx
  web-ui/src/components/SessionStatus.tsx
Due: none

feat(api): add manual task generation endpoint
  codeframe/ui/routers/discovery.py
  tests/api/test_generate_tasks_endpoint.py
  tests/e2e/test_task_breakdown.spec.ts
  web-ui/src/lib/api.ts
Due: pytest-check, skip-detector

fix(e2e): tighten error filters and require real validation
  tests/e2e/E2E_TEST_AUDIT.md
  tests/e2e/test_auth_flow.spec.ts
  tests/e2e/test_complete_user_journey.spec.ts
  tests/e2e/test_dashboard.spec.ts
  tests/e2e/test_project_creation.spec.ts
  tests/e2e/test_start_agent_flow.spec.ts
  tests/e2e/test_task_execution_flow.spec.ts
Due: none

fix(e2e): replace .catch(() => false) patterns with proper assertions
  tests/e2e/E2E_TEST_AUDIT.md
  tests/e2e/test_complete_user_journey.spec.ts
  tests/e2e/test_metrics_ui.spec.ts
  tests/e2e/test_start_agent_flow.spec.ts
  tests/e2e/test_task_breakdown.spec.ts
Due: none

fix(api): remove misleading retry endpoint reference
  codeframe/ui/routers/discovery.py
Due: pytest-check

fix(e2e): resolve test logic errors causing false failures
  tests/e2e/test_auth_flow.spec.ts
  tests/e2e/test_complete_user_journey.spec.ts
  tests/e2e/test_dashboard.spec.ts
  tests/e2e/test_metrics_ui.spec.ts
  tests/e2e/test_project_creation.spec.ts
  tests/e2e/test_start_agent_flow.spec.ts
  tests/e2e/test_task_breakdown.spec.ts
  tests/e2e/test_task_execution_flow.spec.ts
  web-ui/src/components/DiscoveryProgress.tsx
Due: none

docs(e2e): document remaining app issues for GitHub
  tests/e2e/APP_ISSUES_FOR_GITHUB.md
Due: none

docs(e2e): update metrics issue with accurate 404 diagnosis
  tests/e2e/APP_ISSUES_FOR_GITHUB.md
Due: none

feat(api): add manual task generation endpoint (#221)
  codeframe/ui/routers/discovery.py
  tests/api/test_generate_tasks_endpoint.py
  tests/e2e/APP_ISSUES_FOR_GITHUB.md
  tests/e2e/E2E_TEST_AUDIT.md
  tests/e2e/test_auth_flow.spec.ts
  tests/e2e/test_complete_user_journey.spec.ts
  tests/e2e/test_dashboard.spec.ts
  tests/e2e/test_metrics_ui.spec.ts
  tests/e2e/test_project_creation.spec.ts
  tests/e2e/test_start_agent_flow.spec.ts
  tests/e2e/test_task_breakdown.spec.ts
  tests/e2e/test_task_execution_flow.spec.ts
  web-ui/src/components/DiscoveryProgress.tsx
  web-ui/src/lib/api.ts
Due: pytest-check, skip-detector

feat(websocket): implement proactive messaging system
  codeframe/ui/routers/websocket.py
  codeframe/ui/websocket_broadcasts.py
  tests/e2e/test_dashboard.spec.ts
  tests/ui/test_websocket_integration.py
  tests/ui/test_websocket_proactive.py
  web-ui/src/types/index.ts
Due: pytest-check, skip-detector

fix(websocket): cancel heartbeat task on unsubscribe
  codeframe/ui/routers/websocket.py
  tests/ui/test_websocket_proactive.py
Due: pytest-check, skip-detector

fix(websocket): address claude bot review feedback
  codeframe/ui/routers/websocket.py
Due: pytest-check

Update codeframe/ui/routers/websocket.py
  codeframe/ui/routers/websocket.py
Due: pytest-check

feat(websocket): implement proactive messaging system (#224)
  codeframe/ui/routers/websocket.py
  codeframe/ui/websocket_broadcasts.py
  tests/e2e/test_dashboard.spec.ts
  tests/ui/test_websocket_integration.py
  tests/ui/test_websocket_proactive.py
  web-ui/src/types/index.ts
Due: pytest-check, skip-detector

chore: add state.db to .gitignore
  .gitignore
  claudedocs/SESSION.md
Due: none

feat(api): add token usage timeseries endpoint for metrics charting
  codeframe/lib/metrics_tracker.py
  codeframe/ui/routers/metrics.py
  tests/api/test_api_metrics.py
Due: pytest-check, skip-detector

fix: address code review feedback for metrics timeseries
  codeframe/lib/metrics_tracker.py
  codeframe/ui/routers/metrics.py
  tests/api/test_api_metrics.py
Due: pytest-check, skip-detector

feat(api): add token usage timeseries endpoint for metrics charting (#225)
  codeframe/lib/metrics_tracker.py
  codeframe/ui/routers/metrics.py
  tests/api/test_api_metrics.py
Due: pytest-check, skip-detector

fix(ui): prevent duplicate task generation button for late-joining users
  codeframe/ui/routers/discovery.py
  tests/api/test_generate_tasks_endpoint.py
  web-ui/__tests__/components/DiscoveryProgress.test.tsx
  web-ui/src/components/DiscoveryProgress.tsx
  web-ui/src/lib/api.ts
Due: pytest-check, skip-detector

test(e2e): add late-joining user tests for task generation
  tests/e2e/seed-test-data.py
  tests/e2e/test_late_joining_user.spec.ts
Due: pytest-check, skip-detector

fix(e2e): correct projects table schema in seed script
  tests/e2e/seed-test-data.py
Due: pytest-check, skip-detector

fix(e2e): complete Project 2 seed data for late-joining user tests
  tests/e2e/debug-error.spec.ts
  tests/e2e/seed-test-data.py
Due: pytest-check, skip-detector

fix: address code review feedback for late-joining user feature
  tests/e2e/seed-test-data.py
  tests/e2e/test_late_joining_user.spec.ts
  web-ui/src/components/DiscoveryProgress.tsx
Due: pytest-check, skip-detector

test(e2e): add curated smoke test suite with @smoke tagging
  tests/e2e/package.json
  tests/e2e/test_auth_flow.spec.ts
  tests/e2e/test_dashboard.spec.ts
  tests/e2e/test_late_joining_user.spec.ts
  tests/e2e/test_project_creation.spec.ts
Due: none

fix(websocket): queue subscriptions when socket not yet open
  tests/e2e/test_dashboard.spec.ts
  web-ui/src/lib/websocket.ts
Due: none

fix(e2e): align tasks_p2 schema with 22-column tasks table format
  tests/e2e/seed-test-data.py
Due: pytest-check, skip-detector

fix(ux): convert tasks-already-exist notification to fixed-position toast
  web-ui/src/components/DiscoveryProgress.tsx
Due: none

test: add missing API mocks for task-generation-section tests
  web-ui/__tests__/components/DiscoveryProgress.test.tsx
Due: none

fix(e2e): correct project 2 seeding schema alignment
  tests/e2e/seed-test-data.py
Due: pytest-check, skip-detector

fix(react): prevent state update on unmounted component
  web-ui/src/components/DiscoveryProgress.tsx
Due: none

fix: prevent duplicate task generation button for late-joining users (#228)
  codeframe/ui/routers/discovery.py
  tests/api/test_generate_tasks_endpoint.py
  tests/e2e/debug-error.spec.ts
  tests/e2e/package.json
  tests/e2e/seed-test-data.py
  tests/e2e/test_auth_flow.spec.ts
  tests/e2e/test_dashboard.spec.ts
  tests/e2e/test_late_joining_user.spec.ts
  tests/e2e/test_project_creation.spec.ts
  web-ui/__tests__/components/DiscoveryProgress.test.tsx
  web-ui/src/components/DiscoveryProgress.tsx
  web-ui/src/lib/api.ts
  web-ui/src/lib/websocket.ts
Due: pytest-check, skip-detector

feat(e2e): add state reconciliation tests for late-joining users
  tests/e2e/README.md
  tests/e2e/e2e-config.ts
  tests/e2e/seed-test-data.py
  tests/e2e/test_state_reconciliation.spec.ts
Due: pytest-check, skip-detector

fix(e2e): use valid status value for review phase project
  tests/e2e/seed-test-data.py
Due: pytest-check, skip-detector

refactor(e2e): improve test assertiveness and fix conditional skips
  tests/e2e/test_state_reconciliation.spec.ts
Due: none

fix: correct seed data constraints and add strong UI assertions
  tests/e2e/seed-test-data.py
  tests/e2e/test_state_reconciliation.spec.ts
Due: pytest-check, skip-detector

fix: correct seed data constraint violations
  tests/e2e/seed-test-data.py
  tests/e2e/test_state_reconciliation.spec.ts
Due: pytest-check, skip-detector

fix: use proper regex patterns for Playwright text locators
  tests/e2e/test_state_reconciliation.spec.ts
Due: none

fix: correct remaining invalid text= selectors in completed state tests
  tests/e2e/test_state_reconciliation.spec.ts
Due: none

Path conditions:
  pytest-check: any of: \.py$ and \.py$
  skip-detector: any of: ^tests/.*\.py$
