Repository frankbria/codeframe: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, skip-detector

pytest-check:
  name: Run last failed tests (fast feedback)
  entry: bash -c 'if [ -f venv/bin/activate ]; then source venv/bin/activate && pytest --lf -x; elif [ -f .venv/bin/activate ]; then source .venv/bin/activate && pytest --lf -x; else pytest --lf -x; fi'
  language: system
  pass_filenames: false

skip-detector:
  name: Detect skip decorator abuse
  entry: python scripts/detect-skip-abuse.py
  language: system
  pass_filenames: false

perf(dashboard): Wrap sub-components with React.memo for performance optimization
  web-ui/src/components/AgentList.tsx
  web-ui/src/components/Dashboard.tsx
  web-ui/src/components/checkpoints/CheckpointList.tsx
  web-ui/src/components/metrics/CostDashboard.tsx
  web-ui/src/components/reviews/ReviewSummary.tsx
Due: none

docs: Fix HTTP method and path for update agent role endpoint
  QUICK_REFERENCE_AGENT_ASSIGNMENT.md
Due: none

fix(e2e): Fix code review category constraints in seed data
  PHASE1_API_ENDPOINT_ANALYSIS.md
  claudedocs/SESSION.md
  tests/e2e/global-setup.ts
  tests/e2e/seed-test-data.py
Due: pytest-check, skip-detector

fix(e2e): Add data-testid attributes and fix API field name mismatches
  claudedocs/SESSION.md
  codeframe/lib/metrics_tracker.py
  tests/e2e/seed-test-data.py
  web-ui/src/components/checkpoints/CheckpointList.tsx
  web-ui/src/components/metrics/CostDashboard.tsx
Due: pytest-check, skip-detector

fix(e2e): Remove date suffixes from model names to match pricing dictionary
  tests/e2e/seed-test-data.py
Due: pytest-check, skip-detector

fix(frontend): Use NEXT_PUBLIC_API_URL instead of REACT_APP_API_URL
  web-ui/src/api/checkpoints.ts
  web-ui/src/api/context.ts
  web-ui/src/api/metrics.ts
  web-ui/src/api/qualityGates.ts
  web-ui/src/api/review.ts
  web-ui/src/api/reviews.ts
Due: none

chore: clean up root directory documentation
  docs/AI_Development_Enforcement_Guide.md
  docs/API_IMPROVEMENTS_FUTURE.md
  docs/MULTI_AGENT_SCHEMA_DESIGN.md
  docs/QUICK_REFERENCE_AGENT_ASSIGNMENT.md
  docs/SCHEMA_DIAGRAM.md
  docs/archive/multi-agent-refactor-2025-12/AGENT_REFACTORING_SUMMARY.md
  docs/archive/multi-agent-refactor-2025-12/API_DESIGN_REVIEW.md
  docs/archive/multi-agent-refactor-2025-12/CHECKPOINT_API_SUMMARY.md
  docs/archive/multi-agent-refactor-2025-12/PHASE1_API_ENDPOINT_ANALYSIS.md
  docs/archive/multi-agent-refactor-2025-12/SCHEMA_ANALYSIS_REPORT.md
  docs/archive/multi-agent-refactor-2025-12/TYPESCRIPT_TYPES_UPDATE_SUMMARY.md
  docs/archive/multi-agent-refactor-2025-12/test-failures-historical.md
Due: none

fix(e2e): Comprehensive E2E test fixes for CI compatibility
  tests/e2e/global-setup.ts
  tests/e2e/playwright.config.ts
  tests/e2e/seed-test-data.py
  tests/e2e/test_checkpoint_ui.spec.ts
  tests/e2e/test_dashboard.spec.ts
  tests/e2e/test_metrics_ui.spec.ts
  tests/e2e/test_review_ui.spec.ts
  web-ui/src/components/checkpoints/CheckpointList.tsx
  web-ui/src/components/checkpoints/CheckpointRestore.tsx
  web-ui/src/components/metrics/CostDashboard.tsx
  web-ui/src/components/reviews/ReviewSummary.tsx
Due: pytest-check, skip-detector

fix(tests): Improve test stability and async fixture handling
  tests/agents/test_agent_factory.py
  tests/blockers/test_blocker_answer_injection.py
  tests/blockers/test_blocker_type_validation.py
  tests/blockers/test_wait_for_blocker_resolution.py
  tests/context/test_context_manager.py
  tests/context/test_context_stats.py
  tests/context/test_flash_save.py
  tests/context/test_tier_filtering.py
  tests/integration/test_auto_commit_workflow.py
  tests/integration/test_flash_save_workflow.py
  tests/integration/test_mvp_completion_workflow.py
  tests/integration/test_score_recalculation.py
  tests/integration/test_worker_context_storage.py
  web-ui/__tests__/integration/dashboard-realtime-updates.test.tsx
  web-ui/__tests__/lib/websocketMessageMapper.test.ts
  web-ui/src/components/reviews/ReviewSummary.tsx
Due: pytest-check, skip-detector

fix(e2e): Implement Phase 2 test improvements from comprehensive analysis
  tests/e2e/test_checkpoint_ui.spec.ts
  tests/e2e/test_dashboard.spec.ts
  tests/e2e/test_review_ui.spec.ts
  web-ui/src/api/reviews.ts
  web-ui/src/components/Dashboard.tsx
Due: none

feat: Add project-level code reviews API endpoint
  codeframe/persistence/database.py
  codeframe/ui/server.py
  tests/api/test_project_reviews.py
Due: pytest-check, skip-detector

feat(e2e): Add quality gate results seeding for test data
  tests/e2e/seed-test-data.py
Due: pytest-check, skip-detector

fix(tests) linting error
  tests/e2e/seed-test-data.py
Due: pytest-check, skip-detector

fix(tests): Remove unnecessary skip decorators from 29 tests
  tests/agents/test_subagent_generator.py
  tests/enforcement/test_quality_ratchet.py
  tests/enforcement/test_skip_detector.py
Due: pytest-check, skip-detector

fix(tests): Remove unnecessary skip decorators from 29 tests (#48)
  tests/agents/test_subagent_generator.py
  tests/enforcement/test_quality_ratchet.py
  tests/enforcement/test_skip_detector.py
Due: pytest-check, skip-detector

docs: Archive E2E test fixing analysis and update session docs
  CLAUDE.md
  claudedocs/2025-12-04_SESSION_playwright-e2e-continued.md
  claudedocs/SESSION.md
  docs/archive/e2e-test-fixes-2025-12/E2E_PLAYWRIGHT_FIX_SUMMARY.md
  docs/archive/e2e-test-fixes-2025-12/E2E_TEST_DATA_REQUIREMENTS.md
  docs/archive/e2e-test-fixes-2025-12/FIX_IMPLEMENTATION_PLAN.md
  docs/archive/e2e-test-fixes-2025-12/INVESTIGATION_INDEX.md
  docs/archive/e2e-test-fixes-2025-12/PHASE2C_INVESTIGATION_SUMMARY.md
  docs/archive/e2e-test-fixes-2025-12/PHASE2_TEST_ANALYSIS.md
  docs/archive/e2e-test-fixes-2025-12/PHASE_COMPARISON_ANALYSIS.md
  docs/archive/e2e-test-fixes-2025-12/PR_SUMMARY.md
  docs/archive/e2e-test-fixes-2025-12/QUICK_REFERENCE.md
  docs/archive/e2e-test-fixes-2025-12/REACT_COMPONENT_ANALYSIS.md
  docs/archive/e2e-test-fixes-2025-12/README.md
  docs/archive/e2e-test-fixes-2025-12/REPRODUCTION_GUIDE.md
  docs/archive/e2e-test-fixes-2025-12/ROOT_CAUSE_ANALYSIS.md
  docs/archive/e2e-test-fixes-2025-12/TEST_FIX_SUMMARY.md
Due: none

fix(tests): Remove obsolete project_id parameter from agent tests
  tests/agents/test_backend_worker_auto_commit.py
  tests/agents/test_bash_operations_migration.py
  tests/agents/test_file_operations_migration.py
  tests/agents/test_frontend_worker_auto_commit.py
  tests/agents/test_hybrid_worker.py
  tests/agents/test_review_worker_agent.py
  tests/agents/test_test_worker_auto_commit.py
Due: pytest-check, skip-detector

fix(tests): Fix agent initialization for project-agnostic architecture
  tests/agents/test_bash_operations_migration.py
  tests/agents/test_hybrid_worker.py
  tests/e2e/test_full_workflow.py
  tests/enforcement/test_quality_ratchet.py
  tests/enforcement/test_skip_detector.py
Due: pytest-check, skip-detector

fix(tests): Fix agent initialization and database schema issues
  codeframe/persistence/database.py
  codeframe/ui/server.py
  tests/agents/test_backend_worker_agent.py
  tests/agents/test_review_worker_agent.py
  tests/api/test_api_metrics.py
  tests/api/test_endpoints_database.py
  tests/api/test_multi_agent_api.py
  tests/integration/test_auto_commit_workflow.py
  tests/integration/test_mvp_completion_workflow.py
  tests/lib/test_metrics_tracker.py
  tests/testing/test_self_correction_integration.py
Due: pytest-check, skip-detector

fix(tests): Fix blocker creation in self-correction loop
  codeframe/agents/backend_worker_agent.py
Due: pytest-check

fix(tests): Fix 8 failing API and integration tests
  codeframe/lib/metrics_tracker.py
  codeframe/persistence/database.py
  codeframe/ui/models.py
  codeframe/ui/server.py
  tests/api/test_endpoints_database.py
  tests/integration/test_mvp_completion_workflow.py
Due: pytest-check, skip-detector

style: Remove unused ContextItemType import
  tests/integration/test_mvp_completion_workflow.py
Due: pytest-check, skip-detector

feat: Add inline dependency rendering to TaskTreeView
  web-ui/src/components/TaskTreeView.test.tsx
  web-ui/src/components/TaskTreeView.tsx
Due: none

feat: Implement Quality Gates Panel in Dashboard (#43)
  tests/e2e/test_dashboard.spec.ts
  web-ui/src/components/Dashboard.tsx
  web-ui/src/components/quality-gates/GateStatusIndicator.tsx
  web-ui/src/components/quality-gates/QualityGatesPanel.tsx
  web-ui/src/components/quality-gates/index.ts
  web-ui/src/types/qualityGates.ts
Due: none

feat: Add TaskStats component to Dashboard Overview tab
  tests/e2e/test_dashboard.spec.ts
  web-ui/src/components/Dashboard.tsx
  web-ui/src/components/tasks/TaskStats.tsx
Due: none

feat: Implement detailed Review Findings UI with filtering and recommendations
  tests/e2e/test_review_ui.spec.ts
  web-ui/src/components/reviews/ReviewSummary.tsx
Due: none

fix: Address code review feedback for dependency rendering
  web-ui/src/components/TaskTreeView.tsx
Due: none

feat: Add inline dependency rendering to TaskTreeView (#49)
  web-ui/src/components/TaskTreeView.test.tsx
  web-ui/src/components/TaskTreeView.tsx
Due: none

refactor: Improve TaskStats component with unit tests and optimizations
  web-ui/__tests__/components/tasks/TaskStats.test.tsx
  web-ui/src/components/tasks/TaskStats.tsx
Due: none

fix: Address code review issues for Quality Gates Panel
  web-ui/src/components/Dashboard.tsx
  web-ui/src/components/quality-gates/GateStatusIndicator.tsx
  web-ui/src/components/quality-gates/QualityGatesPanel.tsx
  web-ui/src/lib/qualityGateUtils.ts
  web-ui/src/types/qualityGates.ts
Due: none

fix: Address code review feedback - performance, accessibility, and type safety
  state.db
  tests/e2e/test_review_ui.spec.ts
  web-ui/src/components/reviews/ReviewSummary.tsx
Due: none

feat: Add TaskStats component to Dashboard Overview tab (#51)
  tests/e2e/test_dashboard.spec.ts
  web-ui/__tests__/components/tasks/TaskStats.test.tsx
  web-ui/src/components/Dashboard.tsx
  web-ui/src/components/tasks/TaskStats.tsx
Due: none

fix: Address PR review comments - projectId, code duplication, performance
  web-ui/src/api/qualityGates.ts
  web-ui/src/components/Dashboard.tsx
  web-ui/src/components/quality-gates/QualityGateStatus.tsx
  web-ui/src/components/quality-gates/QualityGatesPanel.tsx
Due: none

feat: Implement detailed Review Findings UI with filtering and recommendations (#52)
  state.db
  tests/e2e/test_review_ui.spec.ts
  web-ui/src/components/reviews/ReviewSummary.tsx
Due: none

fix: Address code review feedback - duplication, edge cases, and docs
  web-ui/src/api/qualityGates.ts
  web-ui/src/components/quality-gates/QualityGatesPanel.tsx
  web-ui/src/lib/qualityGateUtils.ts
Due: none

feat: Add advanced metrics UI features to CostDashboard
  tests/e2e/test_metrics_ui.spec.ts
  web-ui/__tests__/components/CostDashboard.test.tsx
  web-ui/src/components/metrics/CostDashboard.tsx
Due: none

refactor: Improve error handling, code clarity, and null handling
  web-ui/src/components/quality-gates/GateStatusIndicator.tsx
  web-ui/src/components/quality-gates/QualityGatesPanel.tsx
Due: none

feat: Add advanced metrics UI features to CostDashboard (#58)
  tests/e2e/test_metrics_ui.spec.ts
  web-ui/__tests__/components/CostDashboard.test.tsx
  web-ui/src/components/metrics/CostDashboard.tsx
Due: none

fix: Improve WCAG AA contrast in default status badge
  web-ui/src/lib/qualityGateUtils.ts
Due: none

refactor: Improve code quality, documentation, and maintainability
  web-ui/src/components/quality-gates/QualityGatesPanel.tsx
  web-ui/src/types/qualityGates.ts
Due: none

Path conditions:
  pytest-check: any of: \.py$ and \.py$
  skip-detector: any of: ^tests/.*\.py$
