Repository frankbria/codeframe: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, skip-detector

pytest-check:
  name: Run last failed tests (fast feedback)
  entry: bash -c 'if [ -f venv/bin/activate ]; then source venv/bin/activate && pytest --lf -x; elif [ -f .venv/bin/activate ]; then source .venv/bin/activate && pytest --lf -x; else pytest --lf -x; fi'
  language: system
  pass_filenames: false

skip-detector:
  name: Detect skip decorator abuse
  entry: python scripts/detect-skip-abuse.py
  language: system
  pass_filenames: false

docs: match CI gate command to workflow (explicit tests/) (#669)
  CLAUDE.md
Due: none

fix(ci): run full non-e2e suite, drop -m v2 blind spot (#669) (#697)
  .github/workflows/test.yml
  CLAUDE.md
  pytest.ini
  tests/auth/test_query_param_token.py
Due: pytest-check, skip-detector

fix(web-ui): resolve react-hooks/exhaustive-deps warnings (#682)
  web-ui/package.json
  web-ui/src/app/proof/[req_id]/page.tsx
  web-ui/src/components/execution/BatchExecutionMonitor.tsx
  web-ui/src/components/prd/DiscoveryPanel.tsx
Due: none

fix(web-ui): resolve react-hooks/exhaustive-deps warnings (#682) (#698)
  web-ui/package.json
  web-ui/src/app/proof/[req_id]/page.tsx
  web-ui/src/components/execution/BatchExecutionMonitor.tsx
  web-ui/src/components/prd/DiscoveryPanel.tsx
Due: none

chore(e2e): address CodeRabbit review on #703
  .github/workflows/test.yml
  tests/e2e/costs.spec.ts
Due: none

fix(security): workspace path allowlist + session ownership (#655)
  codeframe/platform_store/repositories/interactive_sessions.py
  codeframe/platform_store/schema_manager.py
  codeframe/ui/dependencies.py
  codeframe/ui/routers/interactive_sessions_v2.py
  codeframe/ui/routers/session_chat_ws.py
  codeframe/ui/routers/terminal_ws.py
  codeframe/ui/routers/workspace_v2.py
  tests/api/test_session_chat_ws.py
  tests/ui/test_workspace_allowlist.py
Due: pytest-check, skip-detector

test(security): assert WebSocketDisconnect(1008) on chat ownership mismatch (#655)
  tests/api/test_session_chat_ws.py
Due: pytest-check, skip-detector

docs: document WORKSPACE_ROOT allowlist + deployment mode env vars (#655)
  CLAUDE.md
Due: none

fix(security): workspace path allowlist + session ownership (#655) (#705)
  CLAUDE.md
  codeframe/platform_store/repositories/interactive_sessions.py
  codeframe/platform_store/schema_manager.py
  codeframe/ui/dependencies.py
  codeframe/ui/routers/interactive_sessions_v2.py
  codeframe/ui/routers/session_chat_ws.py
  codeframe/ui/routers/terminal_ws.py
  codeframe/ui/routers/workspace_v2.py
  tests/api/test_session_chat_ws.py
  tests/ui/test_workspace_allowlist.py
Due: pytest-check, skip-detector

fix(security): block SSRF to internal/metadata hosts in webhook URLs (#656)
  codeframe/notifications/webhook.py
  codeframe/ui/routers/settings_v2.py
  tests/notifications/test_webhook_send_event.py
  tests/ui/test_settings_notifications.py
Due: pytest-check, skip-detector

test(security): harden #656 SSRF tests; reword docstring
  codeframe/ui/routers/settings_v2.py
  tests/ui/test_settings_notifications.py
Due: pytest-check, skip-detector

docs: document CODEFRAME_ALLOW_PRIVATE_WEBHOOKS env var (#656)
  CLAUDE.md
Due: none

fix(security): block SSRF to internal/metadata hosts in webhook URLs (#656) (#706)
  CLAUDE.md
  codeframe/notifications/webhook.py
  codeframe/ui/routers/settings_v2.py
  tests/notifications/test_webhook_send_event.py
  tests/ui/test_settings_notifications.py
Due: pytest-check, skip-detector

fix(security): owner-scope session REST endpoints + revalidate workspace path at WS connect (#704)
  codeframe/platform_store/repositories/interactive_sessions.py
  codeframe/ui/dependencies.py
  codeframe/ui/routers/interactive_sessions_v2.py
  codeframe/ui/routers/session_chat_ws.py
  codeframe/ui/routers/terminal_ws.py
  tests/api/test_session_chat_ws.py
  tests/ui/test_session_owner_scoping.py
  tests/ui/test_terminal_ws.py
Due: pytest-check, skip-detector

refactor: address review feedback on #704
  codeframe/ui/dependencies.py
  codeframe/ui/routers/session_chat_ws.py
  codeframe/ui/routers/terminal_ws.py
  tests/ui/test_terminal_ws.py
Due: pytest-check, skip-detector

fix(security): hosted multi-tenancy hardening — session REST owner-scoping + TOCTOU path revalidation (#704) (#707)
  codeframe/platform_store/repositories/interactive_sessions.py
  codeframe/ui/dependencies.py
  codeframe/ui/routers/interactive_sessions_v2.py
  codeframe/ui/routers/session_chat_ws.py
  codeframe/ui/routers/terminal_ws.py
  tests/api/test_session_chat_ws.py
  tests/ui/test_session_owner_scoping.py
  tests/ui/test_terminal_ws.py
Due: pytest-check, skip-detector

Fix lifecycle CI: replace defunct Anthropic model IDs and honor CODEFRAME_LIFECYCLE_MODEL (#708)
  codeframe/adapters/llm/base.py
  codeframe/core/adapters/streaming_chat.py
  tests/lifecycle/conftest.py
Due: pytest-check, skip-detector

fix(security): shorten JWT lifetime to 24h + add web-UI CSP (#657)
  CLAUDE.md
  codeframe/auth/manager.py
  web-ui/__tests__/security-headers.test.js
  web-ui/next.config.js
  web-ui/security-headers.js
Due: pytest-check

test(security): use ESM import in CSP test to satisfy eslint (#657)
  web-ui/__tests__/security-headers.test.js
Due: none

fix(security): shorten JWT lifetime to 24h + add web-UI CSP (#657) (#709)
  CLAUDE.md
  codeframe/auth/manager.py
  web-ui/__tests__/security-headers.test.js
  web-ui/next.config.js
  web-ui/security-headers.js
Due: pytest-check

fix(schema): create per-workspace token_usage table (#712)
  codeframe/core/react_agent.py
  codeframe/core/workspace.py
  tests/core/test_token_usage_schema.py
  tests/ui/test_costs_v2.py
Due: pytest-check, skip-detector

docs(schema): note intentional token_usage nullability (#712 review nit)
  codeframe/core/workspace.py
Due: pytest-check

fix(schema): create per-workspace token_usage table (#712) (#784)
  codeframe/core/react_agent.py
  codeframe/core/workspace.py
  tests/core/test_token_usage_schema.py
  tests/ui/test_costs_v2.py
Due: pytest-check, skip-detector

fix(react_agent): persist tokens via workspace repo, not control-plane DB (#713)
  codeframe/core/react_agent.py
  tests/core/test_react_agent_tokens.py
Due: pytest-check, skip-detector

test/style: assert accounts+audit_logs absent, hoist sqlite3 import (#713 review)
  codeframe/core/react_agent.py
  tests/core/test_react_agent_tokens.py
Due: pytest-check, skip-detector

fix(react_agent): persist tokens via workspace repo, not control-plane DB (#713) (#785)
  codeframe/core/react_agent.py
  tests/core/test_react_agent_tokens.py
Due: pytest-check, skip-detector

fix(isolation): hard-reject worktree isolation to stop silent data loss (#714)
  codeframe/cli/app.py
  codeframe/core/sandbox/context.py
  tests/core/test_sandbox_context.py
Due: pytest-check, skip-detector

docs/api: fix worktree docstring, export validate_isolation, note legacy paths (#714 review)
  codeframe/core/conductor.py
  codeframe/core/sandbox/__init__.py
  codeframe/core/sandbox/context.py
Due: pytest-check

test(cli): cover --isolation worktree rejection in work start/batch (#714 review)
  tests/cli/test_work_exit_codes.py
Due: pytest-check, skip-detector

fix(cli): reject worktree isolation before API-key check in batch run (#714)
  codeframe/cli/app.py
Due: pytest-check

fix(isolation): hard-reject worktree isolation to stop silent data loss (#714) (#786)
  codeframe/cli/app.py
  codeframe/core/conductor.py
  codeframe/core/sandbox/__init__.py
  codeframe/core/sandbox/context.py
  tests/cli/test_work_exit_codes.py
  tests/core/test_sandbox_context.py
Due: pytest-check, skip-detector

fix(auth): enforce API-key scopes on v2 routes (#717)
  codeframe/auth/dependencies.py
  codeframe/ui/routers/pr_v2.py
  codeframe/ui/routers/settings_v2.py
  codeframe/ui/server.py
  tests/ui/test_v2_scope_enforcement.py
Due: pytest-check, skip-detector

test(auth): admin-merge positive + PATCH coverage; comment require_scope chain (#717 review)
  codeframe/auth/dependencies.py
  tests/ui/test_v2_scope_enforcement.py
Due: pytest-check, skip-detector

fix(auth): enforce API-key scopes on v2 routes (#717) (#788)
  codeframe/auth/dependencies.py
  codeframe/ui/routers/pr_v2.py
  codeframe/ui/routers/settings_v2.py
  codeframe/ui/server.py
  tests/ui/test_v2_scope_enforcement.py
Due: pytest-check, skip-detector

fix(security): enforce single-trust-domain; block shared credentials in hosted mode (#718)
  SECURITY.md
  codeframe/ui/dependencies.py
  codeframe/ui/routers/github_integrations_v2.py
  codeframe/ui/routers/settings_v2.py
  codeframe/ui/routers/workspace_v2.py
  tests/ui/test_hosted_credential_block.py
Due: pytest-check, skip-detector

test/docs: cover github hosted block, clarify assertion, note deferred import (#718 review)
  codeframe/ui/dependencies.py
  tests/ui/test_hosted_credential_block.py
Due: pytest-check, skip-detector

Path conditions:
  pytest-check: any of: \.py$ and \.py$
  skip-detector: any of: ^tests/.*\.py$
