Repository frankbria/codeframe: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, skip-detector

pytest-check:
  name: Run last failed tests (fast feedback)
  entry: bash -c 'if [ -f venv/bin/activate ]; then source venv/bin/activate && pytest --lf -x; elif [ -f .venv/bin/activate ]; then source .venv/bin/activate && pytest --lf -x; else pytest --lf -x; fi'
  language: system
  pass_filenames: false

skip-detector:
  name: Detect skip decorator abuse
  entry: python scripts/detect-skip-abuse.py
  language: system
  pass_filenames: false

feat(prd): Add comprehensive PRD management commands and versioning
  codeframe/cli/app.py
  codeframe/core/events.py
  codeframe/core/prd.py
  codeframe/core/workspace.py
  tests/cli/test_prd_commands.py
  tests/core/test_prd.py
Due: pytest-check, skip-detector

Update codeframe/core/prd.py
  codeframe/core/prd.py
Due: pytest-check

fix: Address code review issues for PRD versioning
  codeframe/core/prd.py
  codeframe/core/workspace.py
  docs/CLI_WIREFRAME.md
  tests/core/test_prd.py
Due: pytest-check, skip-detector

Update codeframe/cli/app.py
  codeframe/cli/app.py
Due: pytest-check

feat(prd): Add comprehensive PRD management commands and versioning (#293)
  codeframe/cli/app.py
  codeframe/core/events.py
  codeframe/core/prd.py
  codeframe/core/workspace.py
  docs/CLI_WIREFRAME.md
  tests/cli/test_prd_commands.py
  tests/core/test_prd.py
Due: pytest-check, skip-detector

feat(credentials): Add comprehensive credential management system
  codeframe/adapters/llm/anthropic.py
  codeframe/cli/auth_commands.py
  codeframe/core/credential_audit.py
  codeframe/core/credential_validator.py
  codeframe/core/credentials.py
  codeframe/git/github_integration.py
  pyproject.toml
  tests/cli/test_credential_commands.py
  tests/core/test_config_credentials.py
  tests/core/test_credential_audit.py
  tests/core/test_credential_validator.py
  tests/core/test_credentials.py
  tests/core/test_environment_config.py
  uv.lock
Due: pytest-check, skip-detector

fix(credentials): Address PR review feedback for security and code quality
  codeframe/cli/auth_commands.py
  codeframe/core/credentials.py
  tests/core/test_credentials.py
Due: pytest-check, skip-detector

Update codeframe/core/credentials.py
  codeframe/core/credentials.py
Due: pytest-check

Update codeframe/core/credential_audit.py
  codeframe/core/credential_audit.py
Due: pytest-check

fix(credentials): Address remaining PR review issues
  codeframe/cli/auth_commands.py
  codeframe/core/credentials.py
Due: pytest-check

Update codeframe/cli/auth_commands.py
  codeframe/cli/auth_commands.py
Due: pytest-check

feat(credentials): Add comprehensive credential management system (#294)
  codeframe/adapters/llm/anthropic.py
  codeframe/cli/auth_commands.py
  codeframe/core/credential_audit.py
  codeframe/core/credential_validator.py
  codeframe/core/credentials.py
  codeframe/git/github_integration.py
  pyproject.toml
  tests/cli/test_credential_commands.py
  tests/core/test_config_credentials.py
  tests/core/test_credential_audit.py
  tests/core/test_credential_validator.py
  tests/core/test_credentials.py
  tests/core/test_environment_config.py
  uv.lock
Due: pytest-check, skip-detector

fix(ui): address CodeRabbit review feedback for icon migration
  .beads/issues.jsonl
  web-ui/__tests__/components/AgentList.test.tsx
  web-ui/__tests__/components/checkpoints/CheckpointRestore.test.tsx
  web-ui/__tests__/components/review/ReviewFindingsList.test.tsx
  web-ui/src/components/checkpoints/CheckpointRestore.tsx
Due: none

fix(ui): complete Hugeicons migration and fix redundant className
  web-ui/__tests__/components/checkpoints/CheckpointRestore.test.tsx
  web-ui/src/components/checkpoints/CheckpointRestore.tsx
  web-ui/src/components/quality-gates/QualityGateStatus.tsx
  web-ui/src/lib/qualityGateUtils.tsx
Due: none

fix(cli): ensure consistent 'codeframe' usage in help text
  codeframe/__main__.py
  codeframe/cli.py
  codeframe/cli/__init__.py
  codeframe/cli/__main__.py
  codeframe/tasks/expire_blockers.py
Due: pytest-check

fix: address code review findings across LLM adapters and core modules
  codeframe/adapters/llm/anthropic.py
  codeframe/adapters/llm/base.py
  codeframe/core/agent.py
  codeframe/core/checkpoints.py
  codeframe/core/conductor.py
  codeframe/core/dependency_analyzer.py
  codeframe/core/executor.py
  codeframe/core/quick_fixes.py
  codeframe/core/runtime.py
  codeframe/core/tasks.py
  codeframe/core/workspace.py
Due: pytest-check

fix(core): Address code review findings for security and reliability
  codeframe/core/agent.py
  codeframe/core/checkpoints.py
  codeframe/core/conductor.py
  codeframe/core/dependency_analyzer.py
  codeframe/core/executor.py
  codeframe/core/quick_fixes.py
  codeframe/core/workspace.py
Due: pytest-check

style: fix ruff lint errors across codebase
  codeframe/core/artifacts.py
  codeframe/core/dependency_graph.py
  codeframe/core/events.py
  codeframe/core/gates.py
  tests/adapters/test_llm.py
  tests/cli/test_credential_commands.py
  tests/cli/test_tasks_crud.py
  tests/cli/test_tasks_set_bulk.py
  tests/core/test_blocker_classification.py
  tests/core/test_conductor.py
  tests/core/test_context.py
  tests/core/test_credential_validator.py
  tests/core/test_credentials.py
  tests/core/test_executor.py
  tests/core/test_fix_tracker.py
  tests/core/test_quick_fixes.py
  tests/core/test_supervisor_resolver.py
  tests/core/test_task_dependencies.py
Due: pytest-check, skip-detector

ci: disable frontend tests during v2 CLI-first refactor
  .github/workflows/test.yml
Due: none

fix(core): Address code review findings for reliability and consistency
  codeframe/core/artifacts.py
  codeframe/core/dependency_graph.py
  codeframe/core/events.py
  codeframe/core/gates.py
Due: pytest-check

fix(cli): Register auth_app and fix test failures
  codeframe/cli/app.py
  tests/cli/test_cli_session.py
  tests/cli/test_credential_commands.py
  tests/cli/test_serve_command.py
Due: pytest-check, skip-detector

test: skip WebSocket integration tests during v2 refactor
  tests/ui/test_websocket_integration.py
Due: pytest-check, skip-detector

fix(core): Improve stats accuracy and handle empty dependency lists
  codeframe/core/artifacts.py
  codeframe/core/dependency_graph.py
Due: pytest-check

test: skip dashboard integration tests during v2 refactor
  tests/integration/test_dashboard_access.py
Due: pytest-check, skip-detector

feat(diagnostics): add self-diagnosis system for failed task analysis
  codeframe/cli/app.py
  codeframe/core/diagnostic_agent.py
  codeframe/core/diagnostics.py
  codeframe/core/runtime.py
  codeframe/core/tasks.py
  codeframe/core/workspace.py
  tests/cli/test_work_diagnose.py
  tests/core/test_diagnostic_agent.py
  tests/core/test_diagnostics.py
  tests/integration/test_self_diagnosis_workflow.py
Due: pytest-check, skip-detector

style: fix ruff lint errors (unused imports, f-string placeholders)
  codeframe/cli/app.py
  codeframe/core/diagnostic_agent.py
  tests/cli/test_work_diagnose.py
  tests/core/test_diagnostic_agent.py
  tests/core/test_diagnostics.py
  tests/integration/test_self_diagnosis_workflow.py
Due: pytest-check, skip-detector

fix: address code review issues in diagnostic system
  codeframe/core/diagnostic_agent.py
  codeframe/core/tasks.py
Due: pytest-check

fix: address second round of code review issues
  codeframe/core/diagnostic_agent.py
  codeframe/core/tasks.py
  codeframe/core/workspace.py
  tests/core/test_diagnostic_agent.py
Due: pytest-check, skip-detector

Path conditions:
  pytest-check: any of: \.py$ and \.py$
  skip-detector: any of: ^tests/.*\.py$
