Repository frankbria/codeframe: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, skip-detector

pytest-check:
  name: Run last failed tests (fast feedback)
  entry: bash -c 'if [ -f venv/bin/activate ]; then source venv/bin/activate && pytest --lf -x; elif [ -f .venv/bin/activate ]; then source .venv/bin/activate && pytest --lf -x; else pytest --lf -x; fi'
  language: system
  pass_filenames: false

skip-detector:
  name: Detect skip decorator abuse
  entry: python scripts/detect-skip-abuse.py
  language: system
  pass_filenames: false

Fix E2E Frontend test failures - Auto-start backend server (#81)
  CLAUDE.md
  README.md
  claudedocs/SESSION.md
  codeframe/ui/server.py
  tests/api/test_project_reviews.py
  tests/e2e/README.md
  tests/e2e/debug-error.spec.ts
  tests/e2e/playwright.config.ts
  tests/e2e/seed-test-data.py
  tests/e2e/test-utils.ts
  tests/e2e/test_checkpoint_ui.spec.ts
  tests/e2e/test_dashboard.spec.ts
  tests/e2e/test_metrics_ui.spec.ts
  tests/e2e/test_review_ui.spec.ts
  web-ui/src/components/Dashboard.tsx
  web-ui/src/components/metrics/CostDashboard.tsx
Due: pytest-check, skip-detector

refactor(server): Extract shared state and dependencies
  codeframe/ui/dependencies.py
  codeframe/ui/routers/__init__.py
  codeframe/ui/server.py
  codeframe/ui/services/__init__.py
  codeframe/ui/services/agent_service.py
  codeframe/ui/services/review_service.py
  codeframe/ui/shared.py
Due: pytest-check

refactor(server): Extract lint, session, and metrics routers
  codeframe/ui/routers/lint.py
  codeframe/ui/routers/metrics.py
  codeframe/ui/routers/session.py
  codeframe/ui/server.py
Due: pytest-check

refactor(server): Extract blockers, discovery, and chat routers
  codeframe/ui/routers/blockers.py
  codeframe/ui/routers/chat.py
  codeframe/ui/routers/discovery.py
  codeframe/ui/server.py
  tests/api/test_chat_api.py
Due: pytest-check, skip-detector

refactor(server): Extract context and review routers
  codeframe/ui/routers/context.py
  codeframe/ui/routers/review.py
  codeframe/ui/server.py
Due: pytest-check

refactor(server): Extract quality_gates and checkpoints routers
  codeframe/ui/routers/checkpoints.py
  codeframe/ui/routers/quality_gates.py
  codeframe/ui/server.py
Due: pytest-check

refactor(server): Extract agents and projects routers
  codeframe/ui/routers/agents.py
  codeframe/ui/routers/projects.py
  codeframe/ui/server.py
  tests/agents/test_agent_lifecycle.py
Due: pytest-check, skip-detector

refactor(server): Extract websocket router
  codeframe/ui/routers/websocket.py
  codeframe/ui/server.py
Due: pytest-check

refactor(server): Finalize main server.py file
  codeframe/ui/server.py
Due: pytest-check

fix(tests): Update imports for refactored shared state
  tests/api/test_chat_api.py
  tests/e2e/BACKEND_CONFIG_UPDATE.md
  tests/e2e/verify-config.js
  tests/test_review_api.py
Due: pytest-check, skip-detector

docs(review): Add comprehensive code review report for router refactoring
  docs/code-review/2025-12-11-fastapi-router-refactoring-review.md
Due: none

docs: Add analysis and test reports from refactoring
  FASTAPI_ROUTER_REFACTORING_TEST_REPORT.md
  PHASE_10_SUMMARY.md
  ROOT_CAUSE_ANALYSIS_E2E_FAILURES.md
  TEST_FIXES_NEEDED.md
  docs/FASTAPI_ROUTER_ANALYSIS.md
  docs/refactoring/REFACTORING_PLAN.md
  docs/refactoring/phase1-analysis-report.md
Due: none

fix(chat): Run synchronous agent.chat() in thread to prevent event loop blocking
  codeframe/ui/routers/chat.py
Due: pytest-check

fix(checkpoints): Use correct database API method name
  codeframe/ui/routers/checkpoints.py
Due: pytest-check

fix(quality_gates): Create fresh DB connection in background task
  codeframe/ui/routers/quality_gates.py
Due: pytest-check

fix(websocket): Prevent connection leaks with proper cleanup in finally block
  codeframe/ui/routers/websocket.py
Due: pytest-check

fix(context): Add ownership validation to context item deletion endpoint
  codeframe/ui/routers/context.py
Due: pytest-check

fix(checkpoints): Remove unused Optional import (F401)
  codeframe/ui/routers/checkpoints.py
Due: pytest-check

fix(review_service): Replace deprecated datetime.utcnow() and remove unused import
  codeframe/ui/services/review_service.py
Due: pytest-check

fix(agent_service): Use STOPPED status for terminated agents, not PAUSED
  codeframe/core/models.py
  codeframe/ui/services/agent_service.py
Due: pytest-check

feat(checkpoints): Add WebSocket broadcasts for checkpoint lifecycle events
  codeframe/ui/routers/checkpoints.py
Due: pytest-check

fix(websocket): Add JSON parsing error handling to prevent connection drops
  codeframe/ui/routers/websocket.py
Due: pytest-check

fix(security): Comprehensive security and code quality improvements
  codeframe/persistence/database.py
  codeframe/ui/routers/checkpoints.py
  codeframe/ui/routers/websocket.py
  codeframe/ui/services/review_service.py
Due: pytest-check

fix(agent_service): Make lifecycle methods non-blocking and improve state management
  codeframe/ui/services/agent_service.py
Due: pytest-check

fix(security): Add thread safety and path traversal protection
  codeframe/lib/checkpoint_manager.py
  codeframe/ui/shared.py
Due: pytest-check

fix(shared): Fix race conditions and timestamp in start_agent function
  codeframe/ui/shared.py
Due: pytest-check

fix(shared): Synchronize deprecated dicts with SharedState storage
  codeframe/ui/shared.py
Due: pytest-check

fix(shared): Make DB calls non-blocking and add cleanup on failure
  codeframe/ui/shared.py
Due: pytest-check

fix(lint): Remove unused Any import from shared.py
  codeframe/ui/shared.py
Due: pytest-check

fix(lint): Remove unused imports across routers and tests
  codeframe/ui/routers/agents.py
  codeframe/ui/routers/projects.py
  codeframe/ui/routers/review.py
  codeframe/ui/routers/session.py
  tests/api/test_chat_api.py
Due: pytest-check, skip-detector

fix(tests): Fix agent lifecycle tests after router refactoring
  tests/agents/test_agent_lifecycle.py
Due: pytest-check, skip-detector

fix(deps): Move pytest-json-report to main dependencies
  pyproject.toml
Due: none

refactor: Extract FastAPI routers for improved maintainability (94% reduction in server.py) (#83)
  FASTAPI_ROUTER_REFACTORING_TEST_REPORT.md
  PHASE_10_SUMMARY.md
  ROOT_CAUSE_ANALYSIS_E2E_FAILURES.md
  TEST_FIXES_NEEDED.md
  codeframe/core/models.py
  codeframe/lib/checkpoint_manager.py
  codeframe/persistence/database.py
  codeframe/ui/dependencies.py
  codeframe/ui/routers/__init__.py
  codeframe/ui/routers/agents.py
  codeframe/ui/routers/blockers.py
  codeframe/ui/routers/chat.py
  codeframe/ui/routers/checkpoints.py
  codeframe/ui/routers/context.py
  codeframe/ui/routers/discovery.py
  codeframe/ui/routers/lint.py
  codeframe/ui/routers/metrics.py
  codeframe/ui/routers/projects.py
  codeframe/ui/routers/quality_gates.py
  codeframe/ui/routers/review.py
  codeframe/ui/routers/session.py
  codeframe/ui/routers/websocket.py
  codeframe/ui/server.py
  codeframe/ui/services/__init__.py
  codeframe/ui/services/agent_service.py
  codeframe/ui/services/review_service.py
  codeframe/ui/shared.py
  docs/FASTAPI_ROUTER_ANALYSIS.md
  docs/code-review/2025-12-11-fastapi-router-refactoring-review.md
  docs/refactoring/REFACTORING_PLAN.md
  docs/refactoring/phase1-analysis-report.md
  pyproject.toml
  tests/agents/test_agent_lifecycle.py
  tests/api/test_chat_api.py
  tests/e2e/BACKEND_CONFIG_UPDATE.md
  tests/e2e/verify-config.js
  tests/test_review_api.py
Due: pytest-check, skip-detector

fix(packages) Update glob package
  claudedocs/SESSION.md
  test_output.log
  uv.lock
  web-ui/package-lock.json
  web-ui/package.json
Due: none

fix(ci): Resolve CI test failures for integration and frontend tests
  ROOT_CAUSE_ANALYSIS_test_serve_command_lifecycle.md
  tests/integration/test_dashboard_access.py
  web-ui/jest.config.js
Due: pytest-check, skip-detector

feat(e2e): Add smoke test mode and streamline CI testing strategy
  .github/workflows/test.yml
  tests/e2e/package.json
Due: none

fix(tests): Make performance test CI-aware with relaxed threshold
  tests/enforcement/test_skip_detector.py
Due: pytest-check, skip-detector

tests: make sqlite concurrency race test opt-in
  tests/blockers/test_blockers.py
Due: pytest-check, skip-detector

fix(e2e): Configure backend to use test database instead of production
  tests/e2e/playwright.config.ts
Due: none

fix(e2e): Configure backend to use test database instead of production (#90)
  tests/e2e/playwright.config.ts
Due: none

Path conditions:
  pytest-check: any of: \.py$ and \.py$
  skip-detector: any of: ^tests/.*\.py$
