Repository frankbria/codeframe: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, skip-detector

pytest-check:
  name: Run last failed tests (fast feedback)
  entry: bash -c 'if [ -f venv/bin/activate ]; then source venv/bin/activate && pytest --lf -x; elif [ -f .venv/bin/activate ]; then source .venv/bin/activate && pytest --lf -x; else pytest --lf -x; fi'
  language: system
  pass_filenames: false

skip-detector:
  name: Detect skip decorator abuse
  entry: python scripts/detect-skip-abuse.py
  language: system
  pass_filenames: false

fix(gates): per-edit lint/autofix no longer re-read "ran and failed" as missing (#1262)
  codeframe/core/gates.py
  tests/core/test_gates_bundled_tool_1262.py
Due: pytest-check, skip-detector

fix(gates): run CodeFRAME's own ruff/bandit when the project has none (#1262)
  CHANGELOG.md
  codeframe/core/gates.py
  codeframe/lib/quality/security_scanner.py
  scripts/quickstart-cleanroom/README.md
  scripts/quickstart-cleanroom/artifacts-1262/final-tree.txt
  scripts/quickstart-cleanroom/artifacts-1262/findings.tsv
  scripts/quickstart-cleanroom/artifacts-1262/run-logs/output.log
  scripts/quickstart-cleanroom/artifacts-1262/timings.tsv
  scripts/quickstart-cleanroom/artifacts-1262/total.txt
  scripts/quickstart-cleanroom/artifacts-1262/transcript.txt
  scripts/quickstart-cleanroom/walkthrough.sh
  tests/core/test_gates_bundled_tool_1262.py
  tests/core/test_gates_observability.py
  tests/core/test_locale_decoding_1029.py
  tests/core/test_proof_sec_gate_925.py
  tests/core/test_review_fails_loud_910.py
Due: pytest-check, skip-detector

fix(hooks): stop cf hooks set/clear from trusting repo-committed hooks (#1263)
  codeframe/cli/hooks_commands.py
  tests/cli/test_hooks_trust_commands.py
Due: pytest-check, skip-detector

docs(changelog): record the #1263 hook-trust fix
  CHANGELOG.md
Due: none

fix(hooks): stop cf hooks set/clear from trusting repo-committed hooks (#1263)
  CHANGELOG.md
  codeframe/cli/hooks_commands.py
  tests/cli/test_hooks_trust_commands.py
Due: pytest-check, skip-detector

fix(security): refuse execution in hosted mode and make the terminal admin-only (#1266)
  SECURITY.md
  codeframe/auth/dependencies.py
  codeframe/auth/router.py
  codeframe/auth/stream_tickets.py
  codeframe/ui/dependencies.py
  codeframe/ui/routers/batches_v2.py
  codeframe/ui/routers/gates_v2.py
  codeframe/ui/routers/proof_v2.py
  codeframe/ui/routers/tasks_v2.py
  codeframe/ui/routers/terminal_ws.py
  tests/auth/test_stream_ticket_endpoint.py
  tests/ui/test_hosted_execution_refusal_1266.py
  web-ui/src/__tests__/components/sessions/SessionDetailPage.test.tsx
  web-ui/src/__tests__/hooks/useTerminalSocket.test.ts
  web-ui/src/app/sessions/[id]/SessionDetailClient.tsx
  web-ui/src/hooks/useTerminalSocket.ts
Due: pytest-check, skip-detector

test+docs(#1266): fail fast instead of hanging when a gate regresses; changelog and trust-model notes
  CHANGELOG.md
  CLAUDE.md
  SECURITY.md
  tests/ui/test_hosted_execution_refusal_1266.py
Due: pytest-check, skip-detector

fix(auth): an admin terminal ticket also needs the account to still be a superuser (#1266)
  codeframe/auth/dependencies.py
  tests/ui/test_hosted_execution_refusal_1266.py
Due: pytest-check, skip-detector

fix(ws): accept before closing 4403 so the browser receives the code (#1266)
  SECURITY.md
  codeframe/auth/dependencies.py
  codeframe/ui/routers/terminal_ws.py
  tests/ui/test_hosted_execution_refusal_1266.py
Due: pytest-check, skip-detector

fix(security): refuse execution in hosted mode and make the terminal admin-only (#1266)
  CHANGELOG.md
  CLAUDE.md
  SECURITY.md
  codeframe/auth/dependencies.py
  codeframe/auth/router.py
  codeframe/auth/stream_tickets.py
  codeframe/ui/dependencies.py
  codeframe/ui/routers/batches_v2.py
  codeframe/ui/routers/gates_v2.py
  codeframe/ui/routers/proof_v2.py
  codeframe/ui/routers/tasks_v2.py
  codeframe/ui/routers/terminal_ws.py
  tests/auth/test_stream_ticket_endpoint.py
  tests/ui/test_hosted_execution_refusal_1266.py
  web-ui/src/__tests__/components/sessions/SessionDetailPage.test.tsx
  web-ui/src/__tests__/hooks/useTerminalSocket.test.ts
  web-ui/src/app/sessions/[id]/SessionDetailClient.tsx
  web-ui/src/hooks/useTerminalSocket.ts
Due: pytest-check, skip-detector

fix(telemetry): move the default collector off the for-sale codeframe.dev (#1269)
  CHANGELOG.md
  CLAUDE.md
  PRIVACY.md
  codeframe/core/telemetry.py
  tests/core/test_telemetry.py
Due: pytest-check, skip-detector

chore: drop the commented codeframe.dev sitemap and hoist a test import (#1269)
  tests/core/test_telemetry.py
  web-ui/public/robots.txt
Due: pytest-check, skip-detector

fix(telemetry): move the default collector off the for-sale codeframe.dev (#1269) (#1312)
  CHANGELOG.md
  CLAUDE.md
  PRIVACY.md
  codeframe/core/telemetry.py
  tests/core/test_telemetry.py
  web-ui/public/robots.txt
Due: pytest-check, skip-detector

fix(security): trust client-IP headers only from trusted proxies, rightmost hop (#1274)
  .env.example
  .env.production.example
  .env.staging.example
  codeframe/auth/router.py
  codeframe/config/rate_limits.py
  codeframe/core/config.py
  codeframe/lib/rate_limiter.py
  deploy/README.md
  docker-compose.yml
  tests/lib/test_client_ip_trust_1274.py
  tests/lib/test_rate_limiter.py
  tests/test_deploy_config.py
  web-ui/next.config.js
  web-ui/src/__tests__/next-config-rewrites.test.js
Due: pytest-check, skip-detector

fix(rate-limit): keep the untrusted-peer proxy-header warning (#1274)
  codeframe/lib/rate_limiter.py
Due: pytest-check

fix(rate-limit): match a trusted proxy under either IPv4-mapped spelling (#1274)
  codeframe/config/rate_limits.py
  tests/lib/test_client_ip_trust_1274.py
  web-ui/next-env.d.ts
Due: pytest-check, skip-detector

fix(web-ui): keep the CSP proxy off /auth so the refusing rewrite does not 404 logins (#1274)
  web-ui/src/__tests__/next-config-rewrites.test.js
  web-ui/src/proxy.ts
Due: none

fix(auth): bootstrap gate refuses every proxied request (#1274)
  CLAUDE.md
  codeframe/auth/router.py
  deploy/README.md
  docs/QUICKSTART.md
  tests/auth/test_registration_bootstrap.py
  web-ui/next.config.js
  web-ui/src/__tests__/next-config-rewrites.test.js
  web-ui/src/app/login/page.tsx
Due: pytest-check, skip-detector

docs(changelog): note the #1274 bootstrap and rate-limit behavior change
  CHANGELOG.md
Due: none

test(web-ui): import the proxy config instead of require() (lint gate)
  web-ui/src/__tests__/next-config-rewrites.test.js
Due: none

fix(rate-limit): match a mapped trusted-proxy config against a plain IPv4 peer (#1274)
  codeframe/config/rate_limits.py
  tests/lib/test_client_ip_trust_1274.py
  web-ui/next-env.d.ts
Due: pytest-check, skip-detector

fix(rate-limit): an all-trusted chain yields the peer-appended hop, not the client's (#1274)
  codeframe/lib/rate_limiter.py
  tests/lib/test_client_ip_trust_1274.py
Due: pytest-check, skip-detector

fix(rate-limit): key by the hop the trusted proxy appended, non-recursively (#1274)
  .env.example
  .env.production.example
  .env.staging.example
  CHANGELOG.md
  codeframe/lib/rate_limiter.py
  deploy/README.md
  tests/lib/test_client_ip_trust_1274.py
Due: pytest-check, skip-detector

fix(security): client-IP trust at both proxies — fail-closed bootstrap gate, non-recursive rate-limit keying (#1274) (#1315)
  .env.example
  .env.production.example
  .env.staging.example
  CHANGELOG.md
  CLAUDE.md
  codeframe/auth/router.py
  codeframe/config/rate_limits.py
  codeframe/core/config.py
  codeframe/lib/rate_limiter.py
  deploy/README.md
  docker-compose.yml
  docs/QUICKSTART.md
  tests/auth/test_registration_bootstrap.py
  tests/lib/test_client_ip_trust_1274.py
  tests/lib/test_rate_limiter.py
  tests/test_deploy_config.py
  web-ui/next.config.js
  web-ui/src/__tests__/next-config-rewrites.test.js
  web-ui/src/app/login/page.tsx
  web-ui/src/proxy.ts
Due: pytest-check, skip-detector

fix(security): strip quotes from the issue-search label so it cannot add qualifiers (#1275)
  codeframe/core/github_issues_service.py
  tests/core/test_github_issues_service.py
Due: pytest-check, skip-detector

docs: extend the #956 search-sanitization invariant to the label field (#1275)
  CLAUDE.md
Due: none

fix(security): also strip backslashes from the search label (#1275 review)
  codeframe/core/github_issues_service.py
  tests/core/test_github_issues_service.py
Due: pytest-check, skip-detector

fix(security): strip backslashes from search words too (#1275 review)
  codeframe/core/github_issues_service.py
  tests/core/test_github_issues_service.py
Due: pytest-check, skip-detector

fix(security): strip quotes from the issue-search label so it cannot add qualifiers (#1275) (#1317)
  CLAUDE.md
  codeframe/core/github_issues_service.py
  tests/core/test_github_issues_service.py
Due: pytest-check, skip-detector

fix(codex): zero-file false-completion guard and reachable dangerous-command guard (#1278)
  codeframe/core/adapters/codex.py
  codeframe/core/adapters/git_utils.py
  codeframe/core/adapters/subprocess_adapter.py
  tests/core/adapters/test_codex.py
  tests/core/adapters/test_engine_smoke_tier.py
  tests/core/adapters/test_subprocess_adapter.py
Due: pytest-check, skip-detector

fix(guard): do not flag output discarded to /dev/null as a device write (#1278)
  codeframe/core/dangerous_commands.py
  tests/core/test_dangerous_commands_955.py
Due: pytest-check, skip-detector

fix(codex): keep the sandbox — send on-request and decline every escalation (#1278)
  codeframe/core/adapters/codex.py
  tests/core/adapters/test_codex.py
Due: pytest-check, skip-detector

docs(changelog): codex zero-file guard and sandbox-preserving approvals (#1278)
  CHANGELOG.md
Due: none

fix(codex): zero-file guard + sandbox-preserving approval routing (#1278) (#1318)
  CHANGELOG.md
  codeframe/core/adapters/codex.py
  codeframe/core/adapters/git_utils.py
  codeframe/core/adapters/subprocess_adapter.py
  codeframe/core/dangerous_commands.py
  tests/core/adapters/test_codex.py
  tests/core/adapters/test_engine_smoke_tier.py
  tests/core/adapters/test_subprocess_adapter.py
  tests/core/test_dangerous_commands_955.py
Due: pytest-check, skip-detector

fix(auth): password policy and current-password check for the superuser (#1285)
  codeframe/auth/manager.py
  codeframe/auth/schemas.py
  codeframe/cli/auth_commands.py
  tests/auth/test_password_policy_1285.py
  tests/auth/test_registration_bootstrap.py
  tests/ui/test_v2_auth_enforcement.py
  web-ui/src/__tests__/app/login.test.tsx
  web-ui/src/app/login/page.tsx
Due: pytest-check, skip-detector

refactor(auth): drop the current_password update-dict override (#1285)
  codeframe/auth/schemas.py
Due: pytest-check

fix(auth): check a new password against the new email in the same PATCH (#1285)
  codeframe/auth/manager.py
  tests/auth/test_password_policy_1285.py
Due: pytest-check, skip-detector

docs: password policy and current_password requirement (#1285)
  CHANGELOG.md
  deploy/README.md
Due: none

fix(web): show the password-policy reason on a register 400 (#1285)
  tests/auth/test_password_policy_1285.py
  web-ui/src/__tests__/lib/auth.test.ts
  web-ui/src/lib/auth.ts
Due: pytest-check, skip-detector

fix(auth): password policy + current-password check for the superuser (#1285) (#1319)
  CHANGELOG.md
  codeframe/auth/manager.py
  codeframe/auth/schemas.py
  codeframe/cli/auth_commands.py
  deploy/README.md
  tests/auth/test_password_policy_1285.py
  tests/auth/test_registration_bootstrap.py
  tests/ui/test_v2_auth_enforcement.py
  web-ui/src/__tests__/app/login.test.tsx
  web-ui/src/__tests__/lib/auth.test.ts
  web-ui/src/app/login/page.tsx
  web-ui/src/lib/auth.ts
Due: pytest-check, skip-detector

Path conditions:
  pytest-check: any of: \.py$ and \.py$
  skip-detector: any of: ^tests/.*\.py$
