Repository frankbria/codeframe: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, skip-detector

.pre-commit-config.yaml:

repos:
  # Note: black removed from pre-commit to avoid conflicts with ruff --fix
  # Run `uv run black .` manually before committing if needed

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.2.0
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        types: [python]

  - repo: local
    hooks:
      - id: pytest-check
        name: Run last failed tests (fast feedback)
        entry: bash -c 'if [ -f venv/bin/activate ]; then source venv/bin/activate && pytest --lf -x; elif [ -f .venv/bin/activate ]; then source .venv/bin/activate && pytest --lf -x; else pytest --lf -x; fi'
        language: system
        pass_filenames: false
        files: \.py$
        types: [python]

      - id: coverage-check
        name: Enforce 65% coverage (manual - use scripts/verify-ai-claims.sh for full check)
        entry: bash -c 'if [ -f venv/bin/activate ]; then source venv/bin/activate && pytest --cov --cov-report=term-missing --cov-fail-under=65; elif [ -f .venv/bin/activate ]; then source .venv/bin/activate && pytest --cov --cov-report=term-missing --cov-fail-under=65; else pytest --cov --cov-report=term-missing --cov-fail-under=65; fi || (echo "❌❌❌ COVERAGE BELOW 65% ❌❌❌" && exit 1)'
        language: system
        pass_filenames: false
        files: \.py$
        types: [python]
        stages: [manual]

      - id: skip-detector
        name: Detect skip decorator abuse
        entry: python scripts/detect-skip-abuse.py
        language: system
        files: ^tests/.*\.py$
        pass_filenames: false

Fix ruff linting errors
  codeframe/core/project.py
Due: pytest-check

Address code review findings: Add comprehensive tests and refactor
  codeframe/agents/lead_agent.py
  codeframe/core/project.py
  docs/code-review/2025-01-17-project-start-review.md
  tests/core/test_project_start.py
Due: pytest-check, skip-detector

Implement Project.start() with LeadAgent integration (#129)
  codeframe/agents/lead_agent.py
  codeframe/core/project.py
  docs/code-review/2025-01-17-project-start-review.md
  tests/core/test_project_start.py
Due: pytest-check, skip-detector

Implement Project.pause() with flash save and checkpoint integration (#130)
  codeframe/core/project.py
  codeframe/persistence/database.py
  codeframe/persistence/migrations/migration_010_pause_functionality.py
  docs/code-review/2025-01-17-project-pause-review.md
Due: pytest-check

Fix 4 critical issues identified in code review
  codeframe/core/models.py
  codeframe/core/project.py
  codeframe/lib/checkpoint_manager.py
  codeframe/persistence/database.py
  docs/code-review/2025-12-17-project-pause-review.md
Due: pytest-check

Fix migration_008 to use Migration class pattern
  codeframe/persistence/migrations/migration_008_add_session_id.py
Due: pytest-check

Add comprehensive test coverage for pause/resume functionality
  tests/core/test_project_pause.py
  tests/persistence/test_migration_010.py
Due: pytest-check, skip-detector

Fix linting issues: remove unused imports
  tests/core/test_project_pause.py
Due: pytest-check, skip-detector

Fix critical issues in pause/resume implementation
  PAUSE_ANALYSIS_SUMMARY.md
  PAUSE_ARCHITECTURE_DIAGRAM.txt
  PAUSE_IMPLEMENTATION_ANALYSIS.md
  PAUSE_IMPLEMENTATION_INDEX.md
  codeframe/core/project.py
  tests/core/test_project_pause.py
  tests/integration/test_pause_resume_workflow.py
Due: pytest-check, skip-detector

Remove problematic integration tests and analysis files
  PAUSE_ANALYSIS_SUMMARY.md
  PAUSE_ARCHITECTURE_DIAGRAM.txt
  PAUSE_IMPLEMENTATION_ANALYSIS.md
  PAUSE_IMPLEMENTATION_INDEX.md
  tests/integration/test_pause_resume_workflow.py
Due: pytest-check, skip-detector

Implement Project.pause() with flash save and checkpoint integration (#130)
  codeframe/core/models.py
  codeframe/core/project.py
  codeframe/lib/checkpoint_manager.py
  codeframe/persistence/database.py
  codeframe/persistence/migrations/migration_008_add_session_id.py
  codeframe/persistence/migrations/migration_010_pause_functionality.py
  docs/code-review/2025-12-17-project-pause-review.md
  tests/core/test_project_pause.py
  tests/persistence/test_migration_010.py
Due: pytest-check, skip-detector

Implement database-backed tasks endpoint with security fixes
  claudedocs/SESSION.md
  codeframe/ui/routers/projects.py
  docs/code-review/2025-12-17-tasks-endpoint-review.md
  tests/api/test_endpoints_database.py
Due: pytest-check, skip-detector

Update code review to reflect input validation fix
  docs/code-review/2025-12-17-tasks-endpoint-review.md
Due: none

Implement database-backed tasks endpoint with security fixes (#131)
  claudedocs/SESSION.md
  codeframe/ui/routers/projects.py
  docs/code-review/2025-12-17-tasks-endpoint-review.md
  tests/api/test_endpoints_database.py
Due: pytest-check, skip-detector

Implement WebSocket subscription filtering for project-scoped broadcasts
  codeframe/ui/routers/websocket.py
  codeframe/ui/shared.py
  codeframe/ui/websocket_broadcasts.py
  docs/code-review/2025-12-17-websocket-subscription-review.md
  tests/ui/test_websocket_router.py
  tests/ui/test_websocket_subscriptions.py
Due: pytest-check, skip-detector

Fix unused imports found by ruff linter
  tests/ui/test_websocket_integration.py
  tests/ui/test_websocket_subscriptions.py
Due: pytest-check, skip-detector

WebSocket Subscription Filtering for Project-Scoped Broadcasts (#134)
  codeframe/ui/routers/websocket.py
  codeframe/ui/shared.py
  codeframe/ui/websocket_broadcasts.py
  docs/code-review/2025-12-17-websocket-subscription-review.md
  tests/ui/test_websocket_integration.py
  tests/ui/test_websocket_router.py
  tests/ui/test_websocket_subscriptions.py
Due: pytest-check, skip-detector

Convert database query methods to return typed Task/Issue objects
  codeframe/agents/lead_agent.py
  codeframe/agents/review_worker_agent.py
  codeframe/git/workflow_manager.py
  codeframe/persistence/database.py
  codeframe/ui/routers/lint.py
  codeframe/ui/routers/projects.py
  codeframe/ui/routers/quality_gates.py
  codeframe/ui/routers/review.py
  tests/agents/test_lead_agent_git_integration.py
  tests/persistence/test_database_issues.py
Due: pytest-check, skip-detector

Fix redundant DB calls in task status counting
  codeframe/agents/lead_agent.py
Due: pytest-check

Add status parameter validation and complete docstring for get_tasks API
  codeframe/ui/routers/projects.py
Due: pytest-check

Improve type safety and reduce code duplication
  codeframe/agents/lead_agent.py
  codeframe/core/models.py
  codeframe/persistence/database.py
  codeframe/ui/routers/lint.py
  codeframe/ui/routers/projects.py
Due: pytest-check

Remove unused imports flagged by ruff
  codeframe/ui/routers/quality_gates.py
  codeframe/ui/routers/review.py
  tests/persistence/test_database_issues.py
Due: pytest-check, skip-detector

Fix dict-style access on Task objects in lead_agent.py
  codeframe/agents/lead_agent.py
Due: pytest-check

Use explicit None check for created_at default value
  codeframe/persistence/database.py
Due: pytest-check

Convert get_tasks_by_issue to async and preserve None for created_at
  codeframe/agents/lead_agent.py
  codeframe/core/models.py
  codeframe/git/workflow_manager.py
  codeframe/persistence/database.py
  tests/persistence/test_database_issues.py
Due: pytest-check, skip-detector

Fix async connection leak, missing await, and add NOT NULL migration
  codeframe/agents/lead_agent.py
  codeframe/core/models.py
  codeframe/git/workflow_manager.py
  codeframe/persistence/database.py
  codeframe/persistence/migrations/migration_011_created_at_not_null.py
Due: pytest-check

Fix type annotation for row converters to accept aiosqlite.Row
  codeframe/persistence/database.py
Due: pytest-check

Improve async connection lifecycle with proper management
  codeframe/persistence/database.py
Due: pytest-check

Add typed Project returns for API consistency
  codeframe/core/models.py
  codeframe/persistence/database.py
  codeframe/ui/routers/projects.py
Due: pytest-check

Fix migration 011 to include full schema and explicit column lists
  codeframe/persistence/migrations/migration_011_created_at_not_null.py
Due: pytest-check

Add IssueWithTaskCount type, null checks, and migration safety
  codeframe/core/models.py
  codeframe/persistence/database.py
  codeframe/persistence/migrations/migration_011_created_at_not_null.py
Due: pytest-check

Register migration 011 and add comprehensive tests
  codeframe/persistence/database.py
  tests/persistence/test_migration_011.py
Due: pytest-check, skip-detector

Fix critical issues and add comprehensive test coverage
  codeframe/core/models.py
  codeframe/persistence/database.py
  tests/agents/test_lead_agent_git_integration.py
  tests/persistence/test_database_typed_returns.py
Due: pytest-check, skip-detector

Return typed objects from database queries (#135)
  codeframe/agents/lead_agent.py
  codeframe/agents/review_worker_agent.py
  codeframe/core/models.py
  codeframe/git/workflow_manager.py
  codeframe/persistence/database.py
  codeframe/persistence/migrations/migration_011_created_at_not_null.py
  codeframe/ui/routers/lint.py
  codeframe/ui/routers/projects.py
  codeframe/ui/routers/quality_gates.py
  codeframe/ui/routers/review.py
  tests/agents/test_lead_agent_git_integration.py
  tests/persistence/test_database_issues.py
  tests/persistence/test_database_typed_returns.py
  tests/persistence/test_migration_011.py
Due: pytest-check, skip-detector

Implement comprehensive database-backed Project.get_status() method
  claudedocs/2025-12-18_SESSION_project-get-status.md
  codeframe/core/project.py
  docs/code-review/2025-12-18-project-get-status-review.md
  tests/core/test_project_get_status.py
Due: pytest-check, skip-detector

fix: Remove unused imports (ruff linting)
  codeframe/core/project.py
  tests/core/test_project_get_status.py
Due: pytest-check, skip-detector

Implement comprehensive database-backed Project.get_status() method (#136)
  claudedocs/2025-12-18_SESSION_project-get-status.md
  codeframe/core/project.py
  docs/code-review/2025-12-18-project-get-status-review.md
  tests/core/test_project_get_status.py
Due: pytest-check, skip-detector

Add skip detection quality gate to prevent bypassed tests
  CLAUDE.md
  codeframe/config/security.py
  codeframe/core/models.py
  codeframe/lib/quality_gates.py
  docs/code-review/2025-12-18-skip-detection-quality-gate-review.md
  tests/integration/test_quality_gates_integration.py
  tests/lib/test_quality_gates.py
Due: pytest-check, skip-detector

Fix Project.get_status() schema consistency and error handling
  codeframe/core/project.py
  codeframe/lib/quality_gates.py
  tests/core/test_project_get_status.py
Due: pytest-check, skip-detector

fix: Resolve mypy type checking errors
  codeframe/core/models.py
  codeframe/lib/metrics_tracker.py
  codeframe/lib/quality_gates.py
Due: pytest-check
