Repository frankbria/codeframe: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, skip-detector

.pre-commit-config.yaml:

repos:
  # Note: black removed from pre-commit to avoid conflicts with ruff --fix
  # Run `uv run black .` manually before committing if needed

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.2.0
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        types: [python]

  - repo: local
    hooks:
      - id: pytest-check
        name: Run last failed tests (fast feedback)
        entry: bash -c 'if [ -f venv/bin/activate ]; then source venv/bin/activate && pytest --lf -x; elif [ -f .venv/bin/activate ]; then source .venv/bin/activate && pytest --lf -x; else pytest --lf -x; fi'
        language: system
        pass_filenames: false
        files: \.py$
        types: [python]

      - id: coverage-check
        name: Enforce 65% coverage (manual - use scripts/verify-ai-claims.sh for full check)
        entry: bash -c 'if [ -f venv/bin/activate ]; then source venv/bin/activate && pytest --cov --cov-report=term-missing --cov-fail-under=65; elif [ -f .venv/bin/activate ]; then source .venv/bin/activate && pytest --cov --cov-report=term-missing --cov-fail-under=65; else pytest --cov --cov-report=term-missing --cov-fail-under=65; fi || (echo "❌❌❌ COVERAGE BELOW 65% ❌❌❌" && exit 1)'
        language: system
        pass_filenames: false
        files: \.py$
        types: [python]
        stages: [manual]

      - id: skip-detector
        name: Detect skip decorator abuse
        entry: python scripts/detect-skip-abuse.py
        language: system
        files: ^tests/.*\.py$
        pass_filenames: false

fix(cli): escape the user's --status in the pr list table title (#1290)
  CHANGELOG.md
  codeframe/cli/pr_commands.py
  tests/cli/test_rich_hostile_data_1054.py
Due: pytest-check, skip-detector

test(cli): the #1206 markup scan also covers Table and Panel constructors (#1290)
  tests/cli/test_typer_arg_markup_1206.py
Due: pytest-check, skip-detector

fix(cli): file, GitHub and LLM text renders as data, not Rich markup (#1290) (#1379)
  CHANGELOG.md
  codeframe/cli/app.py
  codeframe/cli/engines_commands.py
  codeframe/cli/import_commands.py
  codeframe/cli/pr_commands.py
  codeframe/core/prd.py
  tests/cli/test_engines_stats_commands.py
  tests/cli/test_rich_hostile_data_1054.py
  tests/cli/test_typer_arg_markup_1206.py
  tests/core/test_prd.py
Due: pytest-check, skip-detector

fix(terminal): run the session shell on a PTY that is its controlling tty (#1291)
  codeframe/ui/routers/terminal_ws.py
  tests/ui/test_terminal_pty_1291.py
Due: pytest-check, skip-detector

fix(terminal): bounded output, close on shell exit, quiet disconnects, sane resize (#1291)
  codeframe/ui/routers/terminal_ws.py
  tests/e2e/terminal.spec.ts
  tests/ui/test_terminal_pty_1291.py
Due: pytest-check, skip-detector

test(terminal): the stall test asserts the reader paused, not just a capped depth (#1291)
  tests/ui/test_terminal_pty_1291.py
Due: pytest-check, skip-detector

docs(changelog): the session terminal runs what you type (#1291)
  CHANGELOG.md
Due: none

fix(terminal): a shell's last output reaches the client before teardown (#1291)
  codeframe/ui/routers/terminal_ws.py
  tests/ui/test_terminal_pty_1291.py
Due: pytest-check, skip-detector

fix(terminal): run the session shell on a PTY that is its controlling tty (#1291) (#1380)
  CHANGELOG.md
  codeframe/ui/routers/terminal_ws.py
  tests/e2e/terminal.spec.ts
  tests/ui/test_terminal_pty_1291.py
Due: pytest-check, skip-detector

fix(settings): every Settings control does something; the dead model picker is gone (#1292)
  codeframe/cli/pr_commands.py
  codeframe/core/config.py
  codeframe/core/workspace.py
  codeframe/ui/models.py
  codeframe/ui/routers/pr_v2.py
  codeframe/ui/routers/settings_v2.py
  codeframe/ui/routers/workspace_v2.py
  tests/core/test_dead_v1_layers_968.py
  tests/core/test_environment_config.py
  tests/ui/test_settings_v2.py
  tests/ui/test_workspace_settings_wired_1292.py
  web-ui/src/__tests__/components/settings/SettingsPage.test.tsx
  web-ui/src/app/settings/page.tsx
  web-ui/src/types/index.ts
Due: pytest-check, skip-detector

docs: settings controls are all wired (#1292)
  CHANGELOG.md
  docs/PRODUCT_ROADMAP.md
Due: none

fix(settings): tech stack changes only when its controls change, clearing included; bad config types fall back (#1292)
  codeframe/core/workspace.py
  codeframe/ui/routers/workspace_v2.py
  tests/ui/test_workspace_settings_wired_1292.py
Due: pytest-check, skip-detector

fix(settings): persist the workspace config only after its tech stack applied (#1292)
  codeframe/ui/routers/workspace_v2.py
  tests/ui/test_workspace_settings_wired_1292.py
Due: pytest-check, skip-detector

fix(settings): every Settings control does something; the dead model picker is gone (#1292) (#1382)
  CHANGELOG.md
  codeframe/cli/pr_commands.py
  codeframe/core/config.py
  codeframe/core/workspace.py
  codeframe/ui/models.py
  codeframe/ui/routers/pr_v2.py
  codeframe/ui/routers/settings_v2.py
  codeframe/ui/routers/workspace_v2.py
  docs/PRODUCT_ROADMAP.md
  tests/core/test_dead_v1_layers_968.py
  tests/core/test_environment_config.py
  tests/ui/test_settings_v2.py
  tests/ui/test_workspace_settings_wired_1292.py
  web-ui/src/__tests__/components/settings/SettingsPage.test.tsx
  web-ui/src/app/settings/page.tsx
  web-ui/src/types/index.ts
Due: pytest-check, skip-detector

fix(think): no placeholder tasks, truncated PRDs, crashing self-edges or saved cycles (#1293)
  codeframe/core/importers/ralph.py
  codeframe/core/prd_stress_test.py
  codeframe/core/task_tree.py
  codeframe/core/tasks.py
  tests/core/test_task_tree.py
  tests/core/test_think_integrity_1293.py
Due: pytest-check, skip-detector

fix(think): tolerate prose around task JSON; keep ralph keys stable (#1293)
  codeframe/core/importers/ralph.py
  codeframe/core/llm_json.py
  codeframe/core/task_tree.py
  codeframe/core/tasks.py
  tests/core/test_think_integrity_1293.py
Due: pytest-check, skip-detector

docs(changelog): THINK-stage output integrity (#1293)
  CHANGELOG.md
Due: none

fix(think): a code-block-shaped PRD is never unwrapped; active runs block auto-completion (#1293)
  codeframe/core/importers/ralph.py
  codeframe/core/prd_stress_test.py
  codeframe/core/task_tree.py
  tests/core/test_think_integrity_1293.py
Due: pytest-check, skip-detector

fix(think): an untagged wrapper is unwrapped only when nothing inside it is fenced (#1293)
  codeframe/core/prd_stress_test.py
  tests/core/test_think_integrity_1293.py
Due: pytest-check, skip-detector

test(think): pin the no-heading-in-preamble rule with a titled PRD of markdown examples (#1293)
  tests/core/test_think_integrity_1293.py
Due: pytest-check, skip-detector

fix(think): 'not composite' classifies as atomic (#1293)
  codeframe/core/task_tree.py
  tests/core/test_think_integrity_1293.py
Due: pytest-check, skip-detector

fix(think): an echoed PRD is never unwrapped; task-JSON failures say why (#1293)
  codeframe/core/prd_stress_test.py
  codeframe/core/task_tree.py
  codeframe/core/tasks.py
  tests/core/test_think_integrity_1293.py
Due: pytest-check, skip-detector

fix(think): unwrap a refine only when its payload starts like the PRD; decode task JSON raw first (#1293)
  codeframe/core/llm_json.py
  codeframe/core/prd_stress_test.py
  tests/core/test_think_integrity_1293.py
Due: pytest-check, skip-detector

fix(think): reject a wrapped refine instead of unwrapping it; stricter array extraction (#1293)
  codeframe/core/llm_json.py
  codeframe/core/prd_stress_test.py
  tests/core/test_think_integrity_1293.py
Due: pytest-check, skip-detector

fix(think): the array scan raises on a cut-off or malformed result instead of guessing (#1293)
  codeframe/core/llm_json.py
  tests/core/test_think_integrity_1293.py
Due: pytest-check, skip-detector

refactor(think): drop the end-of-text rule, which resuming past the error already covers (#1293)
  codeframe/core/llm_json.py
Due: pytest-check

fix(think): a JSON container that fails after its first element is rejected, not scanned into (#1293)
  codeframe/core/llm_json.py
  tests/core/test_think_integrity_1293.py
Due: pytest-check, skip-detector

fix(think): read 'not a composite' as atomic, refuse a negation the classifier cannot read (#1293)
  codeframe/core/task_tree.py
  tests/core/test_think_integrity_1293.py
Due: pytest-check, skip-detector

docs(changelog): the #1293 refine entry says a wrapped reply is rejected, not unwrapped
  CHANGELOG.md
Due: none

fix(think): THINK-stage output fails loudly instead of corrupting the plan (#1293) (#1383)
  CHANGELOG.md
  codeframe/core/importers/ralph.py
  codeframe/core/llm_json.py
  codeframe/core/prd_stress_test.py
  codeframe/core/task_tree.py
  codeframe/core/tasks.py
  tests/core/test_task_tree.py
  tests/core/test_think_integrity_1293.py
Due: pytest-check, skip-detector

fix: list_tasks returns every task by default; event paging moves forward from the cursor (#1294)
  codeframe/core/events.py
  codeframe/core/tasks.py
  tests/core/test_list_limits_1294.py
  tests/core/test_tasks_truncation.py
Due: pytest-check, skip-detector

fix: schedule, checkpoints and blocker listings no longer cap silently (#1294)
  codeframe/core/blockers.py
  codeframe/core/checkpoints.py
  codeframe/core/schedule.py
  codeframe/ui/routers/events_v2.py
  tests/core/test_list_limits_1294.py
Due: pytest-check, skip-detector

docs(changelog): #1294 list-limit truncation
  CHANGELOG.md
Due: none

docs(changelog): #1294 names the commands that read the event log
  CHANGELOG.md
Due: none

fix: no silent truncation at list limits — tasks, blockers, schedule, checkpoints, event paging (#1294) (#1387)
  CHANGELOG.md
  codeframe/core/blockers.py
  codeframe/core/checkpoints.py
  codeframe/core/events.py
  codeframe/core/schedule.py
  codeframe/core/tasks.py
  codeframe/ui/routers/events_v2.py
  tests/core/test_list_limits_1294.py
  tests/core/test_tasks_truncation.py
Due: pytest-check, skip-detector

docs(changelog): #1295 container deploy operations
  CHANGELOG.md
Due: none

fix(deploy): backups are never readable by other users while written (#1295)
  .github/workflows/deploy.yml
  deploy/backup-db.sh
  tests/ci/test_deploy_ops_1295.py
Due: pytest-check, skip-detector

fix(deploy): back up the live volume DB before every deploy; keep the bootstrap token (#1295)
  .github/workflows/deploy.yml
  deploy/README.md
  deploy/backup-db.sh
  tests/ci/test_deploy_ops_1295.py
Due: pytest-check, skip-detector

fix(deploy): the backup never reads the ssh script's stdin; history, not the volume, decides first deploy (#1295)
  .github/workflows/deploy.yml
  deploy/backup-db.sh
  tests/ci/test_deploy_ops_1295.py
Due: pytest-check, skip-detector

fix(auth): the bootstrap 403 points a container deploy inside the backend container (#1295)
  codeframe/auth/router.py
Due: pytest-check
