Repository frankbria/codeframe: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, skip-detector

.pre-commit-config.yaml:

repos:
  # Note: black removed from pre-commit to avoid conflicts with ruff --fix
  # Run `uv run black .` manually before committing if needed

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.2.0
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        types: [python]

  - repo: local
    hooks:
      - id: pytest-check
        name: Run last failed tests (fast feedback)
        entry: bash -c 'if [ -f venv/bin/activate ]; then source venv/bin/activate && pytest --lf -x; elif [ -f .venv/bin/activate ]; then source .venv/bin/activate && pytest --lf -x; else pytest --lf -x; fi'
        language: system
        pass_filenames: false
        files: \.py$
        types: [python]

      - id: coverage-check
        name: Enforce 65% coverage (manual - use scripts/verify-ai-claims.sh for full check)
        entry: bash -c 'if [ -f venv/bin/activate ]; then source venv/bin/activate && pytest --cov --cov-report=term-missing --cov-fail-under=65; elif [ -f .venv/bin/activate ]; then source .venv/bin/activate && pytest --cov --cov-report=term-missing --cov-fail-under=65; else pytest --cov --cov-report=term-missing --cov-fail-under=65; fi || (echo "❌❌❌ COVERAGE BELOW 65% ❌❌❌" && exit 1)'
        language: system
        pass_filenames: false
        files: \.py$
        types: [python]
        stages: [manual]

      - id: skip-detector
        name: Detect skip decorator abuse
        entry: python scripts/detect-skip-abuse.py
        language: system
        files: ^tests/.*\.py$
        pass_filenames: false

docs: add Phase 2 route audit and gap analysis
  docs/PHASE_2_GAP_ANALYSIS.md
  docs/PHASE_2_ROUTE_AUDIT.md
Due: none

feat(server): add v2 discovery router delegating to core
  codeframe/core/prd_discovery.py
  codeframe/ui/dependencies.py
  codeframe/ui/routers/discovery_v2.py
  codeframe/ui/server.py
Due: pytest-check

docs: update gap analysis with discovery extraction progress
  docs/PHASE_2_GAP_ANALYSIS.md
Due: none

feat(server): add v2 task execution router delegating to core
  codeframe/core/runtime.py
  codeframe/ui/routers/tasks_v2.py
  codeframe/ui/server.py
Due: pytest-check

docs: update gap analysis with task execution progress
  docs/PHASE_2_GAP_ANALYSIS.md
Due: none

feat(api): add v2 checkpoints router delegating to core
  codeframe/core/checkpoints.py
  codeframe/ui/routers/checkpoints_v2.py
  codeframe/ui/server.py
Due: pytest-check

feat(api): add v2 schedule router delegating to core
  codeframe/core/schedule.py
  codeframe/ui/routers/schedule_v2.py
  codeframe/ui/server.py
Due: pytest-check

feat(api): add v2 templates router delegating to core
  codeframe/core/templates.py
  codeframe/ui/routers/templates_v2.py
  codeframe/ui/server.py
Due: pytest-check

docs: update gap analysis with completed HIGH priority items
  docs/PHASE_2_GAP_ANALYSIS.md
Due: none

feat(api): add v2 projects router delegating to core
  codeframe/core/project_status.py
  codeframe/ui/routers/projects_v2.py
  codeframe/ui/server.py
Due: pytest-check

docs: update gap analysis with projects/session extraction
  docs/PHASE_2_GAP_ANALYSIS.md
Due: none

feat(api): add v2 git and review routers delegating to core
  codeframe/core/git.py
  codeframe/core/review.py
  codeframe/ui/routers/git_v2.py
  codeframe/ui/routers/review_v2.py
  codeframe/ui/server.py
  docs/PHASE_2_GAP_ANALYSIS.md
Due: pytest-check

feat(api): establish route consistency standards for v2 API
  codeframe/ui/response_models.py
  codeframe/ui/routers/tasks_v2.py
  docs/PHASE_2_ROUTE_CONSISTENCY.md
Due: pytest-check

feat(api): add v2 routers for blockers, PRD CRUD, and task management
  codeframe/ui/routers/blockers_v2.py
  codeframe/ui/routers/prd_v2.py
  codeframe/ui/routers/tasks_v2.py
  codeframe/ui/server.py
  docs/PHASE_2_CLI_API_MAPPING.md
Due: pytest-check

feat(api): add SSE streaming and run status endpoints for task output
  codeframe/core/runtime.py
  codeframe/ui/routers/tasks_v2.py
  docs/PHASE_2_CLI_API_MAPPING.md
Due: pytest-check

test(ui): add integration tests for v2 routers
  docs/PHASE_2_BUSINESS_LOGIC_AUDIT.md
  docs/PHASE_2_CLI_API_MAPPING.md
  tests/ui/test_v2_routers_integration.py
Due: pytest-check, skip-detector

docs: update Phase 2 documentation with progress and developer guide
  docs/PHASE_2_BUSINESS_LOGIC_AUDIT.md
  docs/PHASE_2_DEVELOPER_GUIDE.md
  docs/V2_STRATEGIC_ROADMAP.md
Due: none

feat(api): add 6 missing v2 routers completing Phase 2 server layer (#322)
  codeframe/ui/routers/batches_v2.py
  codeframe/ui/routers/diagnose_v2.py
  codeframe/ui/routers/environment_v2.py
  codeframe/ui/routers/gates_v2.py
  codeframe/ui/routers/pr_v2.py
  codeframe/ui/routers/workspace_v2.py
  codeframe/ui/server.py
  docs/PHASE_2_BUSINESS_LOGIC_AUDIT.md
Due: pytest-check

fix(api): address code review feedback for Phase 2 PR
  codeframe/core/git.py
  codeframe/core/project_status.py
  codeframe/core/review.py
  codeframe/ui/dependencies.py
  codeframe/ui/routers/environment_v2.py
  codeframe/ui/routers/schedule_v2.py
Due: pytest-check

feat(api): Phase 2 Server Layer - Routes delegating to core modules (#322) (#325)
  codeframe/core/checkpoints.py
  codeframe/core/git.py
  codeframe/core/prd_discovery.py
  codeframe/core/project_status.py
  codeframe/core/review.py
  codeframe/core/runtime.py
  codeframe/core/schedule.py
  codeframe/core/templates.py
  codeframe/ui/dependencies.py
  codeframe/ui/response_models.py
  codeframe/ui/routers/batches_v2.py
  codeframe/ui/routers/blockers_v2.py
  codeframe/ui/routers/checkpoints_v2.py
  codeframe/ui/routers/diagnose_v2.py
  codeframe/ui/routers/discovery_v2.py
  codeframe/ui/routers/environment_v2.py
  codeframe/ui/routers/gates_v2.py
  codeframe/ui/routers/git_v2.py
  codeframe/ui/routers/pr_v2.py
  codeframe/ui/routers/prd_v2.py
  codeframe/ui/routers/projects_v2.py
  codeframe/ui/routers/review_v2.py
  codeframe/ui/routers/schedule_v2.py
  codeframe/ui/routers/tasks_v2.py
  codeframe/ui/routers/templates_v2.py
  codeframe/ui/routers/workspace_v2.py
  codeframe/ui/server.py
  docs/PHASE_2_BUSINESS_LOGIC_AUDIT.md
  docs/PHASE_2_CLI_API_MAPPING.md
  docs/PHASE_2_DEVELOPER_GUIDE.md
  docs/PHASE_2_GAP_ANALYSIS.md
  docs/PHASE_2_ROUTE_AUDIT.md
  docs/PHASE_2_ROUTE_CONSISTENCY.md
  docs/V2_STRATEGIC_ROADMAP.md
  tests/ui/test_v2_routers_integration.py
Due: pytest-check, skip-detector

feat(auth): add API key authentication for server endpoints
  codeframe/auth/api_key_router.py
  codeframe/auth/api_keys.py
  codeframe/auth/dependencies.py
  codeframe/auth/router.py
  codeframe/auth/scopes.py
  codeframe/persistence/database.py
  codeframe/persistence/repositories/__init__.py
  codeframe/persistence/repositories/api_key_repository.py
  codeframe/persistence/schema_manager.py
  tests/auth/test_api_key_endpoints.py
  tests/auth/test_api_key_repository.py
  tests/auth/test_api_keys.py
  tests/auth/test_dual_auth.py
Due: pytest-check, skip-detector

feat(cli): add API key CLI commands using core service
  codeframe/auth/api_key_router.py
  codeframe/cli/auth_commands.py
  codeframe/core/api_key_service.py
  tests/cli/test_api_key_commands.py
Due: pytest-check, skip-detector

chore: remove unused imports in test files
  tests/auth/test_api_keys.py
  tests/auth/test_dual_auth.py
  tests/cli/test_api_key_commands.py
Due: pytest-check, skip-detector

fix: address PR review feedback
  codeframe/auth/api_key_router.py
  codeframe/auth/dependencies.py
  codeframe/core/api_key_service.py
  codeframe/persistence/repositories/api_key_repository.py
  tests/auth/test_api_key_endpoints.py
  tests/auth/test_dual_auth.py
  tests/cli/test_api_key_commands.py
Due: pytest-check, skip-detector

fix: inject app.state.db in test fixture for proper isolation
  tests/auth/test_api_key_endpoints.py
Due: pytest-check, skip-detector

fix: address additional PR review feedback
  codeframe/auth/api_key_router.py
  codeframe/auth/api_keys.py
  codeframe/auth/dependencies.py
  codeframe/core/api_key_service.py
Due: pytest-check

feat(auth): add API key authentication for CLI and REST API (#326)
  codeframe/auth/api_key_router.py
  codeframe/auth/api_keys.py
  codeframe/auth/dependencies.py
  codeframe/auth/router.py
  codeframe/auth/scopes.py
  codeframe/cli/auth_commands.py
  codeframe/core/api_key_service.py
  codeframe/persistence/database.py
  codeframe/persistence/repositories/__init__.py
  codeframe/persistence/repositories/api_key_repository.py
  codeframe/persistence/schema_manager.py
  tests/auth/test_api_key_endpoints.py
  tests/auth/test_api_key_repository.py
  tests/auth/test_api_keys.py
  tests/auth/test_dual_auth.py
  tests/cli/test_api_key_commands.py
Due: pytest-check, skip-detector

feat(security): add API rate limiting with slowapi
  .env.example
  codeframe/config/rate_limits.py
  codeframe/core/config.py
  codeframe/lib/audit_logger.py
  codeframe/lib/rate_limiter.py
  codeframe/ui/routers/agents.py
  codeframe/ui/routers/chat.py
  codeframe/ui/routers/projects.py
  codeframe/ui/routers/tasks.py
  codeframe/ui/server.py
  pyproject.toml
  tests/config/__init__.py
  tests/config/test_rate_limits.py
  tests/lib/test_rate_limiter.py
  uv.lock
Due: pytest-check, skip-detector

chore: remove unused imports in rate limit tests
  tests/config/test_rate_limits.py
  tests/lib/test_rate_limiter.py
Due: pytest-check, skip-detector

fix(tests): update UI tests for rate limiting request parameter
  codeframe/ui/routers/tasks.py
  tests/ui/test_assign_pending_tasks.py
  tests/ui/test_task_approval.py
  tests/ui/test_task_approval_execution.py
Due: pytest-check, skip-detector

fix: address code review issues in rate limiting
  codeframe/config/rate_limits.py
  codeframe/lib/rate_limiter.py
  tests/lib/test_rate_limiter.py
Due: pytest-check, skip-detector

feat: implement audit logging for rate limit exceeded events
  codeframe/lib/rate_limiter.py
Due: pytest-check

fix: prevent duplicate 'rate limiting disabled' log messages
  codeframe/lib/rate_limiter.py
Due: pytest-check

feat(api): add rate limiting to all v2 routers
  codeframe/ui/routers/batches_v2.py
  codeframe/ui/routers/blockers_v2.py
  codeframe/ui/routers/checkpoints_v2.py
  codeframe/ui/routers/diagnose_v2.py
  codeframe/ui/routers/discovery_v2.py
  codeframe/ui/routers/environment_v2.py
  codeframe/ui/routers/gates_v2.py
  codeframe/ui/routers/git_v2.py
  codeframe/ui/routers/pr_v2.py
  codeframe/ui/routers/prd_v2.py
  codeframe/ui/routers/projects_v2.py
  codeframe/ui/routers/review_v2.py
  codeframe/ui/routers/schedule_v2.py
  codeframe/ui/routers/tasks_v2.py
  codeframe/ui/routers/templates_v2.py
  codeframe/ui/routers/workspace_v2.py
Due: pytest-check

docs: update docstrings to reflect renamed body parameters
  codeframe/ui/routers/batches_v2.py
  codeframe/ui/routers/blockers_v2.py
  codeframe/ui/routers/checkpoints_v2.py
  codeframe/ui/routers/discovery_v2.py
  codeframe/ui/routers/gates_v2.py
  codeframe/ui/routers/git_v2.py
  codeframe/ui/routers/pr_v2.py
  codeframe/ui/routers/prd_v2.py
  codeframe/ui/routers/projects_v2.py
  codeframe/ui/routers/tasks_v2.py
  codeframe/ui/routers/templates_v2.py
  codeframe/ui/routers/workspace_v2.py
Due: pytest-check

fix(rate-limiter): address security and config review feedback
  codeframe/config/rate_limits.py
  codeframe/core/config.py
  codeframe/lib/rate_limiter.py
  tests/config/test_rate_limits.py
  tests/lib/test_rate_limiter.py
Due: pytest-check, skip-detector

test(rate-limiter): add integration tests and simplify decorator pattern
  codeframe/lib/rate_limiter.py
  tests/ui/test_v2_routers_integration.py
Due: pytest-check, skip-detector

style: remove unused import in rate limit integration tests
  tests/ui/test_v2_routers_integration.py
Due: pytest-check, skip-detector

feat(security): add API rate limiting with slowapi (#327)
  .env.example
  codeframe/config/rate_limits.py
  codeframe/core/config.py
  codeframe/lib/audit_logger.py
  codeframe/lib/rate_limiter.py
  codeframe/ui/routers/agents.py
  codeframe/ui/routers/batches_v2.py
  codeframe/ui/routers/blockers_v2.py
  codeframe/ui/routers/chat.py
  codeframe/ui/routers/checkpoints_v2.py
  codeframe/ui/routers/diagnose_v2.py
  codeframe/ui/routers/discovery_v2.py
  codeframe/ui/routers/environment_v2.py
  codeframe/ui/routers/gates_v2.py
  codeframe/ui/routers/git_v2.py
  codeframe/ui/routers/pr_v2.py
  codeframe/ui/routers/prd_v2.py
  codeframe/ui/routers/projects.py
  codeframe/ui/routers/projects_v2.py
  codeframe/ui/routers/review_v2.py
  codeframe/ui/routers/schedule_v2.py
  codeframe/ui/routers/tasks.py
  codeframe/ui/routers/tasks_v2.py
  codeframe/ui/routers/templates_v2.py
  codeframe/ui/routers/workspace_v2.py
  codeframe/ui/server.py
  pyproject.toml
  tests/config/__init__.py
  tests/config/test_rate_limits.py
  tests/lib/test_rate_limiter.py
  tests/ui/test_assign_pending_tasks.py
  tests/ui/test_task_approval.py
  tests/ui/test_task_approval_execution.py
  tests/ui/test_v2_routers_integration.py
  uv.lock
Due: pytest-check, skip-detector

docs: update README and roadmap for Phase 2 progress
  README.md
  docs/V2_STRATEGIC_ROADMAP.md
Due: none
