Repository frankbria/codeframe: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, skip-detector

pytest-check:
  name: Run last failed tests (fast feedback)
  entry: bash -c 'if [ -f venv/bin/activate ]; then source venv/bin/activate && pytest --lf -x; elif [ -f .venv/bin/activate ]; then source .venv/bin/activate && pytest --lf -x; else pytest --lf -x; fi'
  language: system
  pass_filenames: false

skip-detector:
  name: Detect skip decorator abuse
  entry: python scripts/detect-skip-abuse.py
  language: system
  pass_filenames: false

feat: opt-in telemetry + crash reporting (#616)
  CLAUDE.md
  PRIVACY.md
  README.md
  codeframe/__main__.py
  codeframe/cli/__main__.py
  codeframe/cli/app.py
  codeframe/cli/config_commands.py
  codeframe/cli/telemetry_runtime.py
  codeframe/core/telemetry.py
  docs/CLI_WIREFRAME.md
  docs/QUICKSTART.md
  pyproject.toml
  scripts/telemetry_collector.py
  tests/cli/test_config_telemetry_cli.py
  tests/cli/test_telemetry_entry.py
  tests/conftest.py
  tests/core/test_telemetry.py
  tests/scripts/test_telemetry_collector.py
Due: pytest-check, skip-detector

docs: launch-prep — SECURITY.md, licensing clarity, beta issue templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  CONTRIBUTING.md
  LICENSING.md
  README.md
  SECURITY.md
Due: none

docs: launch-prep — SECURITY.md, licensing clarity, beta issue templates (#622)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  CONTRIBUTING.md
  LICENSING.md
  README.md
  SECURITY.md
Due: none

docs: add codeframe.sh contact aliases to launch docs
  LICENSING.md
  README.md
  SECURITY.md
Due: none

docs: add codeframe.sh contact aliases to launch docs (#625)
  LICENSING.md
  README.md
  SECURITY.md
Due: none

feat(packaging): publishable codeframe-ai 0.9.0 + PyPI release workflow
  .github/workflows/release.yml
  CHANGELOG.md
  README.md
  codeframe/platform_store/database.py,cover
  pyproject.toml
  uv.lock
Due: none

feat(packaging): publishable codeframe-ai 0.9.0 + PyPI release workflow (#626)
  .github/workflows/release.yml
  CHANGELOG.md
  README.md
  codeframe/platform_store/database.py,cover
  pyproject.toml
  uv.lock
Due: none

feat: v0.9.1 — silence CLI AUTH_SECRET warning, add cf --version, trademark policy
  CHANGELOG.md
  LICENSING.md
  README.md
  TRADEMARKS.md
  codeframe/auth/manager.py
  codeframe/cli/app.py
  pyproject.toml
  tests/auth/test_import_is_quiet.py
  tests/cli/test_version_flag.py
  uv.lock
Due: pytest-check, skip-detector

feat: v0.9.1 — silence CLI AUTH_SECRET warning, add cf --version, trademark policy (#627)
  CHANGELOG.md
  LICENSING.md
  README.md
  TRADEMARKS.md
  codeframe/auth/manager.py
  codeframe/cli/app.py
  pyproject.toml
  tests/auth/test_import_is_quiet.py
  tests/cli/test_version_flag.py
  uv.lock
Due: pytest-check, skip-detector

chore(ci): supply-chain hardening — SHA-pin actions, dependabot, deploy gate
  .github/dependabot.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  .github/workflows/deploy.yml
  .github/workflows/lifecycle.yml
  .github/workflows/opencode-review.yml
  .github/workflows/opencode.yml
  .github/workflows/test.yml
Due: none

chore(ci): align opencode.yml checkout to v4 SHA for pin consistency
  .github/workflows/opencode.yml
Due: none

chore(ci): supply-chain hardening — SHA-pin actions, dependabot, deploy gate (#632)
  .github/dependabot.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  .github/workflows/deploy.yml
  .github/workflows/lifecycle.yml
  .github/workflows/opencode-review.yml
  .github/workflows/opencode.yml
  .github/workflows/test.yml
Due: none

fix(deps): patch high-severity pip CVEs — runtime bumps + transitive security floors (#659)
  pyproject.toml
  uv.lock
Due: none

chore(tests): remove orphaned v1 tests for removed /api/projects endpoint
  tests/api/test_project_creation_api.py
  tests/api/test_workspace_cleanup.py
Due: pytest-check, skip-detector

chore: remove beads (bd) issue tracker from the repo
  .beads/issues.jsonl
  .gitignore
Due: none

chore(tests): remove orphaned v1 tests for removed /api/projects endpoint (#667)
  tests/api/test_project_creation_api.py
  tests/api/test_workspace_cleanup.py
Due: pytest-check, skip-detector

chore: remove beads (bd) issue tracker from the repo (#668)
  .beads/issues.jsonl
  .gitignore
Due: none

fix(deps): patch high-severity pip CVEs — runtime bumps + transitive security floors (#659) (#670)
  pyproject.toml
  uv.lock
Due: none

fix(security): hard-fail on default AUTH_SECRET whenever auth is enabled (#643)
  .env.example
  codeframe/ui/server.py
  docs/QUICKSTART.md
  tests/ui/test_security_config.py
Due: pytest-check, skip-detector

fix(security): honor .env-only AUTH_SECRET and clarify self-hosted test (#643 review)
  codeframe/auth/manager.py
  codeframe/ui/routers/session_chat_ws.py
  codeframe/ui/routers/terminal_ws.py
  codeframe/ui/server.py
  tests/auth/test_import_is_quiet.py
  tests/ui/test_security_config.py
Due: pytest-check, skip-detector

test(security): dedupe DEFAULT_SECRET + cover hosted+auth-disabled (#643 review)
  tests/ui/test_security_config.py
Due: pytest-check, skip-detector

fix(security): treat blank/whitespace AUTH_SECRET as unset (#643 review)
  codeframe/auth/manager.py
  tests/ui/test_security_config.py
Due: pytest-check, skip-detector

ci(e2e): supply test AUTH_SECRET to server-start commands (#643 review)
  .github/workflows/test.yml
  tests/e2e/README.md
  tests/e2e/playwright.config.ts
Due: none

docs(security): recommend CODEFRAME_ALLOW_INSECURE_SECRET, not auth-off (#643 review)
  codeframe/ui/server.py
  docs/QUICKSTART.md
Due: pytest-check

fix(security): normalize whitespace-padded default AUTH_SECRET (#643 review)
  codeframe/auth/manager.py
  tests/ui/test_security_config.py
Due: pytest-check, skip-detector

fix(security): hard-fail on default AUTH_SECRET whenever auth is enabled (#643) (#675)
  .env.example
  .github/workflows/test.yml
  codeframe/auth/manager.py
  codeframe/ui/routers/session_chat_ws.py
  codeframe/ui/routers/terminal_ws.py
  codeframe/ui/server.py
  docs/QUICKSTART.md
  tests/auth/test_import_is_quiet.py
  tests/e2e/README.md
  tests/e2e/playwright.config.ts
  tests/ui/test_security_config.py
Due: pytest-check, skip-detector

fix(security): rate-limit /auth/jwt/login and /auth/register (#644)
  codeframe/auth/router.py
  codeframe/lib/rate_limiter.py
  tests/ui/test_auth_rate_limit.py
Due: pytest-check, skip-detector

docs: address review nits — clarify private-API use, key docstring, register test intent (#644)
  codeframe/lib/rate_limiter.py
  tests/ui/test_auth_rate_limit.py
Due: pytest-check, skip-detector

fix(security): rate-limit /auth/jwt/login and /auth/register (#644) (#677)
  codeframe/auth/router.py
  codeframe/lib/rate_limiter.py
  tests/ui/test_auth_rate_limit.py
Due: pytest-check, skip-detector

fix(security): warn when in-memory rate limiting is per-worker (#678)
  CLAUDE.md
  codeframe/ui/server.py
  docs/QUICKSTART.md
  tests/ui/test_rate_limit_worker_warning.py
Due: pytest-check, skip-detector

fix(security): warn when in-memory rate limiting is per-worker (#678) (#679)
  CLAUDE.md
  codeframe/ui/server.py
  docs/QUICKSTART.md
  tests/ui/test_rate_limit_worker_warning.py
Due: pytest-check, skip-detector

ci(frontend): add npm run build + re-enable frontend lint (#646)
  .github/workflows/test.yml
  web-ui/__tests__/app/proof/req_id/page.test.tsx
  web-ui/src/__tests__/components/proof/ProofDetailPage.test.tsx
  web-ui/src/__tests__/components/tasks/GitHubIssueImportModal.test.tsx
  web-ui/src/components/proof/CaptureGlitchModal.tsx
Due: none

ci(frontend): disable Next telemetry in CI build step (#646 review)
  .github/workflows/test.yml
Due: none

ci(frontend): add npm run build + re-enable frontend lint (#646) (#681)
  .github/workflows/test.yml
  web-ui/__tests__/app/proof/req_id/page.test.tsx
  web-ui/src/__tests__/components/proof/ProofDetailPage.test.tsx
  web-ui/src/__tests__/components/tasks/GitHubIssueImportModal.test.tsx
  web-ui/src/components/proof/CaptureGlitchModal.tsx
Due: none

ci(e2e): formally defer Playwright browser E2E + fix legacy comments (#647)
  .github/workflows/test.yml
Due: none

ci(e2e): formally defer Playwright browser E2E + fix legacy comments (#647) (#685)
  .github/workflows/test.yml
Due: none

fix(core): add busy_timeout + WAL to workspace SQLite connections (#648)
  .env.staging.example
  .github/workflows/deploy.yml
  codeframe/adapters/e2b/budget.py
  codeframe/core/workspace.py
  codeframe/ui/routers/costs_v2.py
  tests/core/test_workspace.py
Due: pytest-check, skip-detector

test(core): make #648 concurrency test deterministic; clarify _open_db
  codeframe/core/workspace.py
  tests/core/test_workspace.py
Due: pytest-check, skip-detector

ci(deploy): reject whitespace-only AUTH_SECRET in deploy guard
  .github/workflows/deploy.yml
Due: none

refactor(core): expose get_db_connection_by_path; drop private cross-module import
  codeframe/core/workspace.py
  codeframe/ui/routers/costs_v2.py
Due: pytest-check

Path conditions:
  pytest-check: any of: \.py$ and \.py$
  skip-detector: any of: ^tests/.*\.py$
