Repository frankbria/codeframe: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, skip-detector

.pre-commit-config.yaml:

repos:
  # Note: black removed from pre-commit to avoid conflicts with ruff --fix
  # Run `uv run black .` manually before committing if needed

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.2.0
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        types: [python]

  - repo: local
    hooks:
      - id: pytest-check
        name: Run last failed tests (fast feedback)
        entry: bash -c 'if [ -f venv/bin/activate ]; then source venv/bin/activate && pytest --lf -x; elif [ -f .venv/bin/activate ]; then source .venv/bin/activate && pytest --lf -x; else pytest --lf -x; fi'
        language: system
        pass_filenames: false
        files: \.py$
        types: [python]

      - id: coverage-check
        name: Enforce 65% coverage (manual - use scripts/verify-ai-claims.sh for full check)
        entry: bash -c 'if [ -f venv/bin/activate ]; then source venv/bin/activate && pytest --cov --cov-report=term-missing --cov-fail-under=65; elif [ -f .venv/bin/activate ]; then source .venv/bin/activate && pytest --cov --cov-report=term-missing --cov-fail-under=65; else pytest --cov --cov-report=term-missing --cov-fail-under=65; fi || (echo "❌❌❌ COVERAGE BELOW 65% ❌❌❌" && exit 1)'
        language: system
        pass_filenames: false
        files: \.py$
        types: [python]
        stages: [manual]

      - id: skip-detector
        name: Detect skip decorator abuse
        entry: python scripts/detect-skip-abuse.py
        language: system
        files: ^tests/.*\.py$
        pass_filenames: false

feat(web-ui): add AssociatedTasksSummary and wire task generation (#330)
  web-ui/src/app/prd/page.tsx
  web-ui/src/components/prd/AssociatedTasksSummary.tsx
  web-ui/src/components/prd/PRDHeader.tsx
  web-ui/src/components/prd/PRDView.tsx
  web-ui/src/components/prd/index.ts
Due: none

feat(web-ui): add SSE hooks for real-time task streaming (#330)
  web-ui/src/hooks/index.ts
  web-ui/src/hooks/useEventSource.ts
  web-ui/src/hooks/useTaskStream.ts
Due: none

feat(web-ui): add persistent sidebar navigation (#330)
  web-ui/src/app/layout.tsx
  web-ui/src/app/prd/page.tsx
  web-ui/src/components/layout/AppLayout.tsx
  web-ui/src/components/layout/AppSidebar.tsx
  web-ui/src/components/layout/index.ts
Due: none

test(web-ui): add 64 tests for PRD components, sidebar, and SSE hooks (#330)
  web-ui/__mocks__/@hugeicons/react.js
  web-ui/__tests__/components/layout/AppSidebar.test.tsx
  web-ui/__tests__/components/prd/AssociatedTasksSummary.test.tsx
  web-ui/__tests__/components/prd/DiscoveryInput.test.tsx
  web-ui/__tests__/components/prd/DiscoveryTranscript.test.tsx
  web-ui/__tests__/components/prd/MarkdownEditor.test.tsx
  web-ui/__tests__/components/prd/PRDHeader.test.tsx
  web-ui/__tests__/hooks/useEventSource.test.ts
  web-ui/__tests__/hooks/useTaskStream.test.ts
Due: none

fix(web-ui): address code review findings for PRD View (#330)
  docs/code-review/2026-02-05-prd-view-review.md
  web-ui/src/app/prd/page.tsx
  web-ui/src/components/prd/DiscoveryPanel.tsx
Due: none

fix(web-ui): address PR review feedback from CodeRabbit and Macroscope (#330)
  web-ui/__tests__/components/workspace/WorkspaceStatsCards.test.tsx
  web-ui/src/app/prd/page.tsx
  web-ui/src/components/layout/AppLayout.tsx
  web-ui/src/components/layout/AppSidebar.tsx
  web-ui/src/components/prd/AssociatedTasksSummary.tsx
  web-ui/src/components/prd/DiscoveryPanel.tsx
  web-ui/src/components/prd/MarkdownEditor.tsx
  web-ui/src/components/prd/PRDView.tsx
  web-ui/src/components/prd/UploadPRDModal.tsx
  web-ui/src/components/ui/badge.tsx
  web-ui/src/hooks/useEventSource.ts
  web-ui/src/hooks/useTaskStream.ts
  web-ui/src/lib/workspace-storage.ts
Due: none

feat: PRD View - Document Creation & Discovery (#330) (#337)
  docs/ISSUE_330_PRD_VIEW_PLAN.md
  docs/code-review/2026-02-05-prd-view-review.md
  web-ui/__mocks__/@hugeicons/react.js
  web-ui/__tests__/components/layout/AppSidebar.test.tsx
  web-ui/__tests__/components/prd/AssociatedTasksSummary.test.tsx
  web-ui/__tests__/components/prd/DiscoveryInput.test.tsx
  web-ui/__tests__/components/prd/DiscoveryTranscript.test.tsx
  web-ui/__tests__/components/prd/MarkdownEditor.test.tsx
  web-ui/__tests__/components/prd/PRDHeader.test.tsx
  web-ui/__tests__/components/workspace/WorkspaceStatsCards.test.tsx
  web-ui/__tests__/hooks/useEventSource.test.ts
  web-ui/__tests__/hooks/useTaskStream.test.ts
  web-ui/package-lock.json
  web-ui/package.json
  web-ui/src/app/layout.tsx
  web-ui/src/app/prd/page.tsx
  web-ui/src/components/layout/AppLayout.tsx
  web-ui/src/components/layout/AppSidebar.tsx
  web-ui/src/components/layout/index.ts
  web-ui/src/components/prd/AssociatedTasksSummary.tsx
  web-ui/src/components/prd/DiscoveryInput.tsx
  web-ui/src/components/prd/DiscoveryPanel.tsx
  web-ui/src/components/prd/DiscoveryTranscript.tsx
  web-ui/src/components/prd/MarkdownEditor.tsx
  web-ui/src/components/prd/PRDHeader.tsx
  web-ui/src/components/prd/PRDView.tsx
  web-ui/src/components/prd/UploadPRDModal.tsx
  web-ui/src/components/prd/index.ts
  web-ui/src/components/ui/badge.tsx
  web-ui/src/components/ui/dialog.tsx
  web-ui/src/components/ui/tabs.tsx
  web-ui/src/hooks/index.ts
  web-ui/src/hooks/useEventSource.ts
  web-ui/src/hooks/useTaskStream.ts
  web-ui/src/lib/api.ts
  web-ui/src/lib/workspace-storage.ts
  web-ui/src/types/index.ts
  web-ui/src/types/prd.ts
Due: none

Update GitHub header image
  codeframe_github_header_1600x500.png
Due: none

docs(readme): update for Phase 3 Web UI progress
  README.md
Due: none

fix: wire up cf serve, discovery session resume, and PRD markdown rendering
  codeframe/cli/app.py
  web-ui/next-env.d.ts
  web-ui/package-lock.json
  web-ui/package.json
  web-ui/src/components/prd/DiscoveryPanel.tsx
  web-ui/tailwind.config.ts
Due: pytest-check

docs: add implementation plan for #331 Task Board View
  docs/ISSUE_331_TASK_BOARD_PLAN.md
Due: none

feat: Task Board View with Kanban & Batch Execution (#331)
  web-ui/__mocks__/@hugeicons/react.js
  web-ui/__tests__/components/layout/AppSidebar.test.tsx
  web-ui/__tests__/components/tasks/TaskBoardView.test.tsx
  web-ui/__tests__/components/tasks/TaskCard.test.tsx
  web-ui/__tests__/components/tasks/TaskDetailModal.test.tsx
  web-ui/__tests__/components/tasks/TaskFilters.test.tsx
  web-ui/package-lock.json
  web-ui/package.json
  web-ui/src/app/tasks/page.tsx
  web-ui/src/components/layout/AppSidebar.tsx
  web-ui/src/components/tasks/BatchActionsBar.tsx
  web-ui/src/components/tasks/TaskBoardContent.tsx
  web-ui/src/components/tasks/TaskBoardView.tsx
  web-ui/src/components/tasks/TaskCard.tsx
  web-ui/src/components/tasks/TaskColumn.tsx
  web-ui/src/components/tasks/TaskDetailModal.tsx
  web-ui/src/components/tasks/TaskFilters.tsx
  web-ui/src/components/tasks/index.ts
  web-ui/src/components/ui/checkbox.tsx
  web-ui/src/components/ui/input.tsx
  web-ui/src/components/ui/select.tsx
  web-ui/src/lib/api.ts
  web-ui/src/types/index.ts
Due: none

fix: align TaskResponse with frontend Task type contract
  codeframe/ui/routers/tasks_v2.py
  web-ui/src/types/index.ts
Due: pytest-check

fix: add sr-only DialogTitle for loading/error states
  web-ui/src/components/tasks/TaskDetailModal.tsx
Due: none

fix: handle structured api_error objects in normalizeErrorDetail
  web-ui/__tests__/lib/api.test.ts
  web-ui/src/lib/api.ts
Due: none

feat: Task Board View with Kanban & Batch Execution (#331) (#338)
  codeframe/ui/routers/tasks_v2.py
  web-ui/__mocks__/@hugeicons/react.js
  web-ui/__tests__/components/layout/AppSidebar.test.tsx
  web-ui/__tests__/components/tasks/TaskBoardView.test.tsx
  web-ui/__tests__/components/tasks/TaskCard.test.tsx
  web-ui/__tests__/components/tasks/TaskDetailModal.test.tsx
  web-ui/__tests__/components/tasks/TaskFilters.test.tsx
  web-ui/__tests__/lib/api.test.ts
  web-ui/package-lock.json
  web-ui/package.json
  web-ui/src/app/tasks/page.tsx
  web-ui/src/components/layout/AppSidebar.tsx
  web-ui/src/components/tasks/BatchActionsBar.tsx
  web-ui/src/components/tasks/TaskBoardContent.tsx
  web-ui/src/components/tasks/TaskBoardView.tsx
  web-ui/src/components/tasks/TaskCard.tsx
  web-ui/src/components/tasks/TaskColumn.tsx
  web-ui/src/components/tasks/TaskDetailModal.tsx
  web-ui/src/components/tasks/TaskFilters.tsx
  web-ui/src/components/tasks/index.ts
  web-ui/src/components/ui/checkbox.tsx
  web-ui/src/components/ui/input.tsx
  web-ui/src/components/ui/select.tsx
  web-ui/src/lib/api.ts
  web-ui/src/types/index.ts
Due: pytest-check

docs(readme): update for Task Board View completion (#331)
  README.md
Due: none

docs: add implementation plan for #332 Execution Monitor View
  docs/ISSUE_332_EXECUTION_MONITOR_PLAN.md
Due: none

feat(web-ui): add Execution Monitor View for real-time task monitoring (#332)
  web-ui/package-lock.json
  web-ui/package.json
  web-ui/src/app/execution/[taskId]/page.tsx
  web-ui/src/app/execution/page.tsx
  web-ui/src/components/execution/BatchExecutionMonitor.tsx
  web-ui/src/components/execution/BlockerEvent.tsx
  web-ui/src/components/execution/ChangesSidebar.tsx
  web-ui/src/components/execution/EventItem.tsx
  web-ui/src/components/execution/EventStream.tsx
  web-ui/src/components/execution/ExecutionHeader.tsx
  web-ui/src/components/execution/FileChangeEvent.tsx
  web-ui/src/components/execution/PlanningEvent.tsx
  web-ui/src/components/execution/ProgressIndicator.tsx
  web-ui/src/components/execution/ShellCommandEvent.tsx
  web-ui/src/components/execution/VerificationEvent.tsx
  web-ui/src/components/execution/index.ts
  web-ui/src/components/layout/AppSidebar.tsx
  web-ui/src/components/tasks/TaskBoardView.tsx
  web-ui/src/components/ui/alert-dialog.tsx
  web-ui/src/components/ui/progress.tsx
  web-ui/src/components/ui/scroll-area.tsx
  web-ui/src/hooks/useExecutionMonitor.ts
  web-ui/src/lib/api.ts
  web-ui/src/lib/eventStyles.ts
  web-ui/src/types/index.ts
Due: none

test: add execution monitor tests (Step 13) (#332)
  web-ui/__mocks__/@hugeicons/react.js
  web-ui/__tests__/components/execution/BlockerEvent.test.tsx
  web-ui/__tests__/components/execution/EventItem.test.tsx
  web-ui/__tests__/components/layout/AppSidebar.test.tsx
  web-ui/__tests__/hooks/useExecutionMonitor.test.ts
  web-ui/__tests__/lib/eventStyles.test.ts
Due: none

fix: address code review findings for execution monitor (#332)
  web-ui/__tests__/hooks/useExecutionMonitor.test.ts
  web-ui/__tests__/lib/eventStyles.test.ts
  web-ui/src/components/execution/BatchExecutionMonitor.tsx
  web-ui/src/components/execution/BlockerEvent.tsx
  web-ui/src/components/execution/ChangesSidebar.tsx
  web-ui/src/components/execution/EventStream.tsx
  web-ui/src/components/execution/ExecutionHeader.tsx
  web-ui/src/lib/eventStyles.ts
Due: none

fix: address review findings for execution monitor (#332)
  codeframe/ui/routers/streaming_v2.py
  tests/ui/test_streaming_router.py
  web-ui/__tests__/hooks/useTaskStream.test.ts
  web-ui/src/app/execution/[taskId]/page.tsx
  web-ui/src/components/execution/BatchExecutionMonitor.tsx
  web-ui/src/components/execution/ChangesSidebar.tsx
  web-ui/src/components/execution/EventStream.tsx
  web-ui/src/components/execution/FileChangeEvent.tsx
  web-ui/src/components/execution/ShellCommandEvent.tsx
  web-ui/src/components/execution/VerificationEvent.tsx
  web-ui/src/components/ui/progress.tsx
  web-ui/src/hooks/useExecutionMonitor.ts
  web-ui/src/hooks/useTaskStream.ts
  web-ui/src/lib/api.ts
  web-ui/src/lib/eventStyles.ts
Due: pytest-check, skip-detector

chore: remove unused imports and dead fixtures from streaming tests
  tests/ui/test_streaming_router.py
Due: pytest-check, skip-detector

fix: add console.error to silent catch handlers for debuggability (#332)
  web-ui/src/app/execution/[taskId]/page.tsx
  web-ui/src/components/execution/BatchExecutionMonitor.tsx
Due: none

fix: wire SSE streaming for execution monitor (#332)
  codeframe/ui/routers/streaming_v2.py
  codeframe/ui/routers/tasks_v2.py
  tests/ui/test_streaming_router.py
  tests/ui/test_v2_routers_integration.py
Due: pytest-check, skip-detector

fix: show full error context in normalizeErrorDetail (#332)
  web-ui/__tests__/lib/api.test.ts
  web-ui/src/lib/api.ts
Due: none

fix: connect SSE directly to backend, bypassing Next.js proxy (#332)
  web-ui/.env.example
  web-ui/src/app/execution/[taskId]/page.tsx
  web-ui/src/hooks/useTaskStream.ts
Due: none

fix: send initial SSE event and handle terminal task state (#332)
  codeframe/ui/routers/tasks_v2.py
Due: pytest-check

fix: deduplicate file paths in ChangesSidebar to prevent React key warnings (#332)
  web-ui/src/components/execution/ChangesSidebar.tsx
Due: none

fix: close SSE on completion to prevent infinite reconnect loop (#332)
  web-ui/src/hooks/useTaskStream.ts
Due: none

feat: Execution Monitor View with real-time SSE streaming (#332) (#339)
  codeframe/ui/routers/streaming_v2.py
  codeframe/ui/routers/tasks_v2.py
  tests/ui/test_streaming_router.py
  tests/ui/test_v2_routers_integration.py
  web-ui/.env.example
  web-ui/__mocks__/@hugeicons/react.js
  web-ui/__tests__/components/execution/BlockerEvent.test.tsx
  web-ui/__tests__/components/execution/EventItem.test.tsx
  web-ui/__tests__/components/layout/AppSidebar.test.tsx
  web-ui/__tests__/hooks/useExecutionMonitor.test.ts
  web-ui/__tests__/hooks/useTaskStream.test.ts
  web-ui/__tests__/lib/api.test.ts
  web-ui/__tests__/lib/eventStyles.test.ts
  web-ui/package-lock.json
  web-ui/package.json
  web-ui/src/app/execution/[taskId]/page.tsx
  web-ui/src/app/execution/page.tsx
  web-ui/src/components/execution/BatchExecutionMonitor.tsx
  web-ui/src/components/execution/BlockerEvent.tsx
  web-ui/src/components/execution/ChangesSidebar.tsx
  web-ui/src/components/execution/EventItem.tsx
  web-ui/src/components/execution/EventStream.tsx
  web-ui/src/components/execution/ExecutionHeader.tsx
  web-ui/src/components/execution/FileChangeEvent.tsx
  web-ui/src/components/execution/PlanningEvent.tsx
  web-ui/src/components/execution/ProgressIndicator.tsx
  web-ui/src/components/execution/ShellCommandEvent.tsx
  web-ui/src/components/execution/VerificationEvent.tsx
  web-ui/src/components/execution/index.ts
  web-ui/src/components/layout/AppSidebar.tsx
  web-ui/src/components/tasks/TaskBoardView.tsx
  web-ui/src/components/ui/alert-dialog.tsx
  web-ui/src/components/ui/progress.tsx
  web-ui/src/components/ui/scroll-area.tsx
  web-ui/src/hooks/useExecutionMonitor.ts
  web-ui/src/hooks/useTaskStream.ts
  web-ui/src/lib/api.ts
  web-ui/src/lib/eventStyles.ts
  web-ui/src/types/index.ts
Due: pytest-check, skip-detector

fix(ci): use `uv venv --clear` to prevent deploy failures
  .github/workflows/deploy.yml
Due: none

feat: improve agent execution resilience - file conflicts, verification recovery, observability
  codeframe/core/agent.py
  codeframe/core/executor.py
  codeframe/core/gates.py
  codeframe/core/planner.py
  tests/core/test_agent.py
  tests/core/test_executor.py
  tests/core/test_gates_observability.py
  tests/core/test_planner.py
Due: pytest-check, skip-detector

fix: address review feedback - counter reset, forced blocker, multi-letter ruff codes
  codeframe/core/agent.py
  codeframe/core/gates.py
  tests/core/test_agent.py
  tests/core/test_gates_observability.py
Due: pytest-check, skip-detector

feat: agent execution resilience - file conflicts, verification recovery, observability (#342)
  codeframe/core/agent.py
  codeframe/core/executor.py
  codeframe/core/gates.py
  codeframe/core/planner.py
  tests/core/test_agent.py
  tests/core/test_executor.py
  tests/core/test_gates_observability.py
  tests/core/test_planner.py
Due: pytest-check, skip-detector

chore(dev): add pytest-cov to dev dependencies
  pyproject.toml
  uv.lock
Due: none

chore: update next-env.d.ts route types path for Next.js
  web-ui/next-env.d.ts
Due: none

test: add placeholder test for new feature
  tests/test_new_feature.py
Due: pytest-check, skip-detector

test(web-ui): add Playwright E2E test suite for v2 UI (132 tests)
  web-ui/.gitignore
  web-ui/e2e/execution.spec.ts
  web-ui/e2e/fixtures/mock-data.ts
  web-ui/e2e/fixtures/test-setup.ts
  web-ui/e2e/prd.spec.ts
  web-ui/e2e/tasks.spec.ts
  web-ui/e2e/workspace.spec.ts
  web-ui/package-lock.json
  web-ui/package.json
  web-ui/playwright.config.ts
Due: none

fix: file_create edit fallback and verification error context preservation
  codeframe/core/agent.py
  codeframe/core/executor.py
  tests/core/test_agent.py
  tests/core/test_executor.py
Due: pytest-check, skip-detector
