Repository frankbria/codeframe: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, skip-detector

pytest-check:
  name: Run last failed tests (fast feedback)
  entry: bash -c 'if [ -f venv/bin/activate ]; then source venv/bin/activate && pytest --lf -x; elif [ -f .venv/bin/activate ]; then source .venv/bin/activate && pytest --lf -x; else pytest --lf -x; fi'
  language: system
  pass_filenames: false

skip-detector:
  name: Detect skip decorator abuse
  entry: python scripts/detect-skip-abuse.py
  language: system
  pass_filenames: false

Update AGENTS.md
  AGENTS.md
Due: none

feat(core): implement Golden Path Phases 1-2 with CLI-first architecture
  codeframe/cli/app.py
  codeframe/cli/commands/__init__.py
  codeframe/core/events.py
  codeframe/core/prd.py
  codeframe/core/state_machine.py
  codeframe/core/tasks.py
  codeframe/core/workspace.py
  pyproject.toml
  tests/core/test_golden_path_integration.py
  tests/core/test_state_machine.py
  tests/core/test_workspace.py
Due: pytest-check, skip-detector

feat(cli): implement status command (Phase 4)
  codeframe/cli/app.py
Due: pytest-check

feat(core): implement work commands with runtime module (Phase 5)
  codeframe/cli/app.py
  codeframe/core/runtime.py
Due: pytest-check

feat(core): implement blocker commands (Phase 6)
  codeframe/cli/app.py
  codeframe/core/blockers.py
Due: pytest-check

feat(core): implement review command with verification gates (Phase 7)
  codeframe/cli/app.py
  codeframe/core/gates.py
Due: pytest-check

feat(core): implement patch and commit commands (Phase 8)
  codeframe/cli/app.py
  codeframe/core/artifacts.py
Due: pytest-check

feat(core): implement checkpoint and summary commands (Phase 9)
  codeframe/cli/app.py
  codeframe/core/checkpoints.py
Due: pytest-check

docs: add agent implementation task list
  docs/AGENT_IMPLEMENTATION_TASKS.md
Due: none

feat(adapters): implement LLM adapter with Anthropic and Mock providers
  codeframe/adapters/__init__.py
  codeframe/adapters/llm/__init__.py
  codeframe/adapters/llm/anthropic.py
  codeframe/adapters/llm/base.py
  codeframe/adapters/llm/mock.py
  docs/AGENT_IMPLEMENTATION_TASKS.md
  tests/adapters/__init__.py
  tests/adapters/test_llm.py
Due: pytest-check, skip-detector

feat(core): implement task context loader for agent execution
  codeframe/core/blockers.py
  codeframe/core/context.py
  tests/core/test_context.py
Due: pytest-check, skip-detector

feat(core): implement agent planning module
  codeframe/core/planner.py
  tests/core/test_planner.py
Due: pytest-check, skip-detector

feat(core): implement code execution engine
  codeframe/core/executor.py
  tests/core/test_executor.py
Due: pytest-check, skip-detector

feat(core): implement agent orchestrator with blocker detection
  codeframe/core/agent.py
  tests/core/test_agent.py
Due: pytest-check, skip-detector

feat(runtime): wire agent orchestrator into work start command
  codeframe/cli/app.py
  codeframe/core/runtime.py
Due: pytest-check

fix(agent): correct GateResult attribute access
  codeframe/core/agent.py
Due: pytest-check

fix(agent): remove duplicate task status update
  codeframe/core/agent.py
Due: pytest-check

docs: mark agent implementation tasks complete
  docs/AGENT_IMPLEMENTATION_TASKS.md
Due: none

fix(runtime): avoid READY->READY transition in stop_run
  codeframe/core/runtime.py
Due: pytest-check

fix(agent): remove duplicate BLOCKED status updates
  codeframe/core/agent.py
Due: pytest-check

fix(executor): handle verification steps intelligently
  codeframe/core/executor.py
Due: pytest-check

docs(readme): update for v2 agent implementation
  README.md
Due: none

docs(claude): update for v2 agent implementation complete
  CLAUDE.md
Due: none

feat(agent): add error classification and self-correction for technical errors
  codeframe/core/agent.py
  tests/core/test_agent.py
Due: pytest-check, skip-detector

feat(blockers): auto-reset task to READY when blocker is answered
  codeframe/core/blockers.py
Due: pytest-check

fix(agent): prevent infinite loop when self-correction returns None
  codeframe/core/agent.py
Due: pytest-check

fix(agent): trigger self-correction when verification fails after file edit
  codeframe/core/agent.py
Due: pytest-check

fix(agent): convert failed VERIFICATION steps to FILE_EDIT for self-correction
  codeframe/core/agent.py
Due: pytest-check

docs: add batch execution implementation plan
  docs/BATCH_EXECUTION_PLAN.md
  docs/CLI_WIREFRAME.md
Due: none

docs: organize planning docs, mark Golden Path complete
  docs/GOLDEN_PATH.md
  docs/finished/AGENT_IMPLEMENTATION_TASKS.md
  docs/finished/README.md
  docs/finished/REFACTOR_PLAN_FOR_AGENT.md
Due: none

feat(batch): implement Phase 1 batch execution
  codeframe/cli/app.py
  codeframe/core/conductor.py
  codeframe/core/events.py
  codeframe/core/workspace.py
  tests/core/test_conductor.py
Due: pytest-check, skip-detector

refactor(cli): restructure batch commands to use subcommand group
  codeframe/cli/app.py
  docs/BATCH_EXECUTION_PLAN.md
  docs/CLI_WIREFRAME.md
Due: pytest-check

test(conductor): add integration tests for batch failure scenarios
  tests/core/test_conductor.py
Due: pytest-check, skip-detector

feat(agent): add self-correction capabilities and model flexibility
  codeframe/adapters/llm/base.py
  codeframe/core/agent.py
  codeframe/core/executor.py
  codeframe/core/planner.py
  codeframe/core/runtime.py
Due: pytest-check

docs: add retry/self-correction future enhancements section
  docs/BATCH_EXECUTION_PLAN.md
  docs/CLI_WIREFRAME.md
Due: none

feat(batch): implement batch resume command
  codeframe/cli/app.py
  codeframe/core/conductor.py
  docs/BATCH_EXECUTION_PLAN.md
  docs/CLI_WIREFRAME.md
  tests/core/test_conductor.py
Due: pytest-check, skip-detector

feat(batch): add --retry N flag for automatic task retry
  codeframe/cli/app.py
  codeframe/core/conductor.py
  docs/BATCH_EXECUTION_PLAN.md
  docs/CLI_WIREFRAME.md
  tests/core/test_conductor.py
Due: pytest-check, skip-detector

feat(tasks): add depends_on field for task dependencies
  codeframe/core/tasks.py
  codeframe/core/workspace.py
  docs/CLI_WIREFRAME.md
  tests/core/test_task_dependencies.py
Due: pytest-check, skip-detector

feat(batch): add dependency graph analysis for parallel execution
  codeframe/core/dependency_graph.py
  docs/CLI_WIREFRAME.md
  tests/core/test_dependency_graph.py
Due: pytest-check, skip-detector

Path conditions:
  pytest-check: any of: \.py$ and \.py$
  skip-detector: any of: ^tests/.*\.py$
