Repository frankbria/codeframe: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, skip-detector

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/psf/black
    rev: 24.1.0
    hooks:
      - id: black
        language_version: python3.11
        types: [python]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.2.0
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        types: [python]

  - repo: local
    hooks:
      - id: pytest-check
        name: Run last failed tests (fast feedback)
        entry: bash -c 'if [ -f venv/bin/activate ]; then source venv/bin/activate && pytest --lf -x; elif [ -f .venv/bin/activate ]; then source .venv/bin/activate && pytest --lf -x; else pytest --lf -x; fi'
        language: system
        pass_filenames: false
        files: \.py$
        types: [python]

      - id: coverage-check
        name: Enforce 85% coverage (manual - use scripts/verify-ai-claims.sh for full check)
        entry: bash -c 'if [ -f venv/bin/activate ]; then source venv/bin/activate && pytest --cov --cov-report=term-missing --cov-fail-under=85; elif [ -f .venv/bin/activate ]; then source .venv/bin/activate && pytest --cov --cov-report=term-missing --cov-fail-under=85; else pytest --cov --cov-report=term-missing --cov-fail-under=85; fi || (echo "❌❌❌ COVERAGE BELOW 85% ❌❌❌" && exit 1)'
        language: system
        pass_filenames: false
        files: \.py$
        types: [python]
        stages: [manual]

      - id: skip-detector
        name: Detect skip decorator abuse
        entry: python scripts/detect-skip-abuse.py
        language: system
        files: ^tests/.*\.py$
        pass_filenames: false

fix: Mock linting step in test_execute_task_success test
  tests/agents/test_test_worker_agent.py
Due: pytest-check, skip-detector

test: Fix test_test_worker_auto_commit tests by mocking linting
  tests/agents/test_test_worker_auto_commit.py
Due: pytest-check, skip-detector

test: Fix test_notification_workflow.py async fixture and Database API usage
  tests/integration/test_notification_workflow.py
Due: pytest-check, skip-detector

fix: Update test_backend_worker_agent_integration.py to use async properly
  tests/integration/test_backend_worker_agent_integration.py
Due: pytest-check, skip-detector

feat: Complete session lifecycle implementation and fix integration tests
  CLAUDE.md
  README.md
  specs/014-session-lifecycle/tasks.md
  tests/integration/test_backend_worker_agent_integration.py
  tests/integration/test_dashboard_access.py
  tests/integration/test_session_lifecycle.py
Due: pytest-check, skip-detector

Fix test environment variable pollution in config tests
  tests/api/conftest.py
  tests/config/test_config.py
Due: pytest-check, skip-detector

fix: Critical database and session handling improvements
  codeframe/agents/lead_agent.py
  codeframe/persistence/database.py
  codeframe/ui/server.py
  tests/agents/test_lead_agent_session.py
  web-ui/package-lock.json
  web-ui/package.json
Due: pytest-check, skip-detector

test: Fix failing frontend tests in blocker-websocket and Dashboard
  web-ui/__tests__/components/Dashboard.test.tsx
  web-ui/__tests__/integration/blocker-websocket.test.ts
  web-ui/src/components/Dashboard.tsx
Due: none

test: Add cleanup and improve Dashboard test reliability
  web-ui/__tests__/components/Dashboard.test.tsx
Due: none

Align docs with PRD and mark historical sprint plans
  PRD.md
  README.md
  SPRINTS.md
  TESTING.md
  docs/API_CONTRACT_ROADMAP.md
  docs/BIG_PICTURE.md
  docs/CLAUDE.md
  docs/README.md
  docs/SPRINT2_PLAN.md
  docs/archive/AGILE_SPRINTS.md
  docs/archive/AGILE_SPRINTS_AUDIT_REPORT.md
  docs/archive/AGILE_SPRINTS_CORRECTIONS.md
  docs/archive/AUDIT_SUMMARY.md
  docs/archive/SPRINT_STATUS_VISUAL.md
  docs/archive/meta/sprint-documentation-review.md
  specs/CODEFRAME_SPEC.md
  sprints/sprint-09.5-critical-ux-fixes.md
  sprints/sprint-10-polish.md
Due: none

Add TestSprite config to .gitignore
  .gitignore
Due: none

Clean up .gitignore and ignore TestSprite config
  .gitignore
Due: none

feat: Add Sprint 10 (Review & Polish) planning artifacts
  CLAUDE.md
  specs/015-review-polish/PLAN_SUMMARY.md
  specs/015-review-polish/contracts/api-spec.yaml
  specs/015-review-polish/data-model.md
  specs/015-review-polish/plan.md
  specs/015-review-polish/quickstart.md
  specs/015-review-polish/research.md
  specs/015-review-polish/spec.md
  specs/015-review-polish/tasks.md
Due: none

feat: Sprint 10 Phase 1 & 2 - Database migrations and Review Agent core
  codeframe/agents/review_agent.py
  codeframe/core/models.py
  codeframe/persistence/database.py
  codeframe/persistence/migrations/migration_007_sprint10_review_polish.py
  tests/agents/test_review_agent.py
Due: pytest-check, skip-detector

feat: Sprint 10 Phases 2-4 - Review Agent, Quality Gates, Checkpoints
  CHECKPOINT_API_SUMMARY.md
  codeframe/agents/review_agent.py
  codeframe/agents/worker_agent.py
  codeframe/core/models.py
  codeframe/core/project.py
  codeframe/lib/checkpoint_manager.py
  codeframe/lib/quality_gates.py
  codeframe/persistence/database.py
  codeframe/persistence/migration_015_sprint10.py
  codeframe/ui/models.py
  codeframe/ui/server.py
  specs/015-review-polish/tasks.md
  tests/integration/test_checkpoint_restore.py
  tests/integration/test_quality_gates_integration.py
  tests/lib/test_checkpoint_manager.py
  tests/lib/test_quality_gates.py
  web-ui/__tests__/api/checkpoints.test.ts
  web-ui/__tests__/components/QualityGateStatus.test.tsx
  web-ui/__tests__/components/ReviewFindings.test.tsx
  web-ui/__tests__/components/ReviewSummary.test.tsx
  web-ui/__tests__/components/checkpoints/CheckpointList.test.tsx
  web-ui/__tests__/components/checkpoints/CheckpointRestore.test.tsx
  web-ui/__tests__/components/checkpoints/TEST_SUMMARY.md
  web-ui/__tests__/fixtures/reviews.ts
  web-ui/src/api/checkpoints.ts
  web-ui/src/api/qualityGates.ts
  web-ui/src/api/reviews.ts
  web-ui/src/components/TaskTreeView.tsx
  web-ui/src/components/checkpoints/CheckpointList.tsx
  web-ui/src/components/checkpoints/CheckpointRestore.tsx
  web-ui/src/components/quality-gates/QualityGateStatus.tsx
  web-ui/src/components/reviews/ReviewFindings.tsx
  web-ui/src/components/reviews/ReviewSummary.tsx
  web-ui/src/types/checkpoints.ts
  web-ui/src/types/qualityGates.ts
  web-ui/src/types/reviews.ts
Due: pytest-check, skip-detector

feat: Phase 6 E2E Integration Testing (Sprint 10)
  .github/workflows/test.yml
  specs/015-review-polish/tasks.md
  tests/e2e/README.md
  tests/e2e/fixtures/hello_world_api/README.md
  tests/e2e/fixtures/hello_world_api/prd.md
  tests/e2e/package.json
  tests/e2e/playwright.config.ts
  tests/e2e/test_checkpoint_ui.spec.ts
  tests/e2e/test_dashboard.spec.ts
  tests/e2e/test_full_workflow.py
  tests/e2e/test_hello_world_project.py
  tests/e2e/test_metrics_ui.spec.ts
  tests/e2e/test_review_ui.spec.ts
Due: pytest-check, skip-detector

fix: Correct E2E tests to work with actual codebase
  tests/e2e/test_full_workflow.py
  tests/e2e/test_hello_world_project.py
Due: pytest-check, skip-detector

docs: Complete Phase 7 documentation for Sprint 10
  CLAUDE.md
  README.md
  specs/015-review-polish/tasks.md
Due: none

fix: Add uv to PATH in GitHub Actions workflow
  .github/workflows/test.yml
Due: none

fix: Use official astral-sh/setup-uv action for GitHub Actions
  .github/workflows/test.yml
Due: none

fix: Install dev dependencies in CI with uv sync --extra dev
  .github/workflows/test.yml
Due: none

fix: Adjust CI coverage thresholds and fix test failures
  .github/workflows/test.yml
  tests/agents/test_review_agent.py
  tests/lib/test_quality_gates.py
  web-ui/src/components/TaskTreeView.test.tsx
Due: pytest-check, skip-detector

fix: Reorder CI workflow and fix test failures (25→15)
  .github/workflows/test.yml
  codeframe/agents/worker_agent.py
  codeframe/cli.py
  codeframe/core/session_manager.py
  codeframe/lib/metrics_tracker.py
  codeframe/lib/quality_gates.py
  codeframe/persistence/database.py
  codeframe/persistence/migration_015_sprint10.py
  codeframe/ui/server.py
  pytest.ini
  state.db
  tests/agents/test_review_agent.py
  tests/api/test_api_metrics.py
  tests/api/test_api_session.py
  tests/e2e/test_full_workflow.py
  tests/integration/test_backend_worker_agent_integration.py
  tests/integration/test_checkpoint_restore.py
  tests/integration/test_quality_gates_integration.py
  tests/integration/test_session_lifecycle.py
  tests/lib/test_checkpoint_manager.py
  tests/lib/test_metrics_tracker.py
  tests/lib/test_quality_gates.py
  web-ui/__tests__/api/metrics.test.ts
  web-ui/__tests__/components/CostDashboard.test.tsx
  web-ui/__tests__/components/Dashboard.test.tsx
  web-ui/__tests__/components/TokenUsageChart.test.tsx
  web-ui/coverage.json
  web-ui/src/api/metrics.ts
  web-ui/src/components/metrics/AgentMetrics.tsx
  web-ui/src/components/metrics/CostDashboard.tsx
  web-ui/src/components/metrics/TokenUsageChart.tsx
  web-ui/src/types/metrics.ts
Due: pytest-check, skip-detector

fix: Improve test fixture cleanup to prevent database connection issues
  tests/test_review_api.py
  tests/ui/test_deployment_mode.py
  tests/ui/test_project_api.py
Due: pytest-check, skip-detector

fix: Fix discovery endpoint tests and empty next_question bug
  codeframe/ui/server.py
  tests/api/conftest.py
  tests/api/test_discovery_endpoints.py
Due: pytest-check, skip-detector

fix: Prevent environment contamination from agent lifecycle tests
  tests/agents/test_agent_lifecycle.py
Due: pytest-check, skip-detector

fix: Prevent environment contamination in UI tests
  tests/ui/test_deployment_mode.py
  tests/ui/test_project_api.py
Due: pytest-check, skip-detector

fix: Handle case-insensitive key collisions in normalize_data test
  tests/debug/test_template.py
Due: pytest-check, skip-detector

fix: Prevent environment contamination in review API tests
  tests/test_review_api.py
Due: pytest-check, skip-detector

fix: Resolve all ruff linting errors
  README.md
  codeframe/core/models.py
  codeframe/enforcement/__init__.py
  codeframe/git/workflow_manager.py
  codeframe/lib/checkpoint_manager.py
  codeframe/persistence/database.py
  codeframe/persistence/migrations/migration_007_sprint10_review_polish.py
  codeframe/providers/anthropic.py
  codeframe/ui/server.py
  pyproject.toml
  scripts/test-websocket.py
  tests/api/conftest.py
  web-ui/src/api/checkpoints.ts
  web-ui/src/types/checkpoints.ts
Due: pytest-check, skip-detector

fix: Resolve all TypeScript type errors in web-ui tests
  web-ui/__tests__/components/ErrorBoundary.test.tsx
  web-ui/__tests__/fixtures/reviews.ts
Due: none

fix: Configure mypy to focus on Sprint 10 core modules only
  codeframe/lib/checkpoint_manager.py
  codeframe/lib/metrics_tracker.py
  codeframe/lib/quality_gates.py
  pyproject.toml
Due: pytest-check
