Repository frankbria/codeframe: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, skip-detector

pytest-check:
  name: Run last failed tests (fast feedback)
  entry: bash -c 'if [ -f venv/bin/activate ]; then source venv/bin/activate && pytest --lf -x; elif [ -f .venv/bin/activate ]; then source .venv/bin/activate && pytest --lf -x; else pytest --lf -x; fi'
  language: system
  pass_filenames: false

skip-detector:
  name: Detect skip decorator abuse
  entry: python scripts/detect-skip-abuse.py
  language: system
  pass_filenames: false

feat(cli): add comprehensive GitHub PR workflow commands (#305)
  .github/workflows/opencode-review.yml
  codeframe/cli/__init__.py
  codeframe/cli/app.py
  codeframe/cli/pr_commands.py
  docs/CLI_WIREFRAME.md
  tests/cli/test_pr_commands.py
  tests/cli/test_v2_cli_integration.py
Due: pytest-check, skip-detector

feat(env): add environment validation with tool detection
  codeframe/cli/__init__.py
  codeframe/cli/app.py
  codeframe/cli/env_commands.py
  codeframe/core/environment.py
  codeframe/core/installer.py
  tests/cli/test_env_commands.py
  tests/core/test_environment.py
  tests/core/test_installer.py
Due: pytest-check, skip-detector

chore: fix unused import lint errors in test files
  coverage.json
  tests/cli/test_env_commands.py
  tests/core/test_environment.py
  tests/core/test_installer.py
  tests/test_new_feature.py
Due: pytest-check, skip-detector

ci: disable opencode-review (leaks secrets), re-enable claude-code-review
  .github/workflows/claude-code-review.yml
  .github/workflows/opencode-review.yml
Due: none

refactor(env): address PR review recommendations
  codeframe/core/environment.py
  codeframe/core/installer.py
  docs/CLI_WIREFRAME.md
  tests/core/test_installer.py
Due: pytest-check, skip-detector

fix(installer): add pre-install checks for NpmInstaller and CargoInstaller
  codeframe/core/installer.py
  tests/core/test_installer.py
  tests/test_new_feature.py
Due: pytest-check, skip-detector

feat(env): add environment validation with tool detection (#306)
  .github/workflows/claude-code-review.yml
  .github/workflows/opencode-review.yml
  codeframe/cli/__init__.py
  codeframe/cli/app.py
  codeframe/cli/env_commands.py
  codeframe/core/environment.py
  codeframe/core/installer.py
  coverage.json
  docs/CLI_WIREFRAME.md
  tests/cli/test_env_commands.py
  tests/core/test_environment.py
  tests/core/test_installer.py
Due: pytest-check, skip-detector

fix: add null checks for codebase_index and workspace directory
  codeframe/agents/backend_worker_agent.py
  codeframe/ui/routers/checkpoints.py
Due: pytest-check

docs: add v2 strategic roadmap with 5-phase plan
  docs/V2_STRATEGIC_ROADMAP.md
Due: none

docs(readme): update for v2 Phase 1 with recent features
  README.md
Due: none

docs(claudemd): update for v2 Phase 1 with new features
  CLAUDE.md
Due: none

feat(cli): add interactive PRD generation via Socratic discovery
  codeframe/cli/app.py
  codeframe/core/prd_discovery.py
  tests/cli/test_prd_generate.py
  tests/core/test_prd_discovery.py
Due: pytest-check, skip-detector

refactor(prd): make discovery fully AI-native with coverage scoring
  codeframe/cli/app.py
  codeframe/core/prd_discovery.py
  tests/cli/test_prd_generate.py
  tests/core/test_prd_discovery.py
Due: pytest-check, skip-detector

fix(test): strip ANSI codes when checking help output
  tests/cli/test_prd_generate.py
Due: pytest-check, skip-detector

fix(prd): address CodeRabbit review feedback
  codeframe/core/prd_discovery.py
Due: pytest-check

Update codeframe/cli/app.py
  codeframe/cli/app.py
Due: pytest-check

fix(prd): raise NoApiKeyError instead of silent None in get_active_session
  codeframe/core/prd_discovery.py
Due: pytest-check

feat(cli): add interactive PRD generation via Socratic discovery (#317)
  codeframe/cli/app.py
  codeframe/core/prd_discovery.py
  tests/cli/test_prd_generate.py
  tests/core/test_prd_discovery.py
Due: pytest-check, skip-detector

feat(cli): add `cf work follow` command for real-time execution streaming
  CLAUDE.md
  codeframe/cli/app.py
  codeframe/core/agent.py
  codeframe/core/runtime.py
  codeframe/core/streaming.py
  tests/cli/test_v2_cli_integration.py
  tests/cli/test_work_follow.py
  tests/core/test_agent_streaming.py
  tests/core/test_streaming.py
Due: pytest-check, skip-detector

fix: address CodeRabbit review feedback for work follow feature
  codeframe/cli/app.py
  codeframe/core/runtime.py
  tests/cli/test_work_follow.py
Due: pytest-check, skip-detector

fix: address additional CodeRabbit feedback
  codeframe/core/runtime.py
  codeframe/core/streaming.py
Due: pytest-check

feat(cli): add `cf work follow` for live execution streaming (#319)
  CLAUDE.md
  codeframe/cli/app.py
  codeframe/core/agent.py
  codeframe/core/runtime.py
  codeframe/core/streaming.py
  tests/cli/test_v2_cli_integration.py
  tests/cli/test_work_follow.py
  tests/core/test_agent_streaming.py
  tests/core/test_streaming.py
Due: pytest-check, skip-detector

test(core): add integration tests for credentials and environment modules
  tests/core/conftest.py
  tests/core/test_credentials_integration.py
  tests/core/test_environment_integration.py
Due: pytest-check, skip-detector

fix(tests): address PR feedback from CodeRabbit
  tests/core/test_credentials_integration.py
  tests/core/test_environment_integration.py
Due: pytest-check, skip-detector

fix(tests): clear ANTHROPIC_API_KEY env var in credential manager tests
  tests/core/test_credentials_integration.py
Due: pytest-check, skip-detector

fix(tests): improve test assertions per PR feedback
  tests/core/test_credentials_integration.py
  tests/core/test_environment_integration.py
Due: pytest-check, skip-detector

test(core): add integration tests for credentials and environment modules (#320)
  tests/core/conftest.py
  tests/core/test_credentials_integration.py
  tests/core/test_environment_integration.py
Due: pytest-check, skip-detector

feat(planning): add PRD template system for customizable output formats (#316)
  codeframe/cli/app.py
  codeframe/planning/__init__.py
  codeframe/planning/prd_template_functions.py
  codeframe/planning/prd_templates.py
  pyproject.toml
  tests/cli/test_prd_template_commands.py
  tests/planning/test_prd_templates.py
  uv.lock
Due: pytest-check, skip-detector

fix(planning): integrate template_id into PRD generation (#316)
  codeframe/cli/app.py
  codeframe/core/prd_discovery.py
  tests/cli/test_prd_template_commands.py
Due: pytest-check, skip-detector

fix(planning): persist imported templates and use workspace scope (#316)
  codeframe/cli/app.py
  codeframe/core/prd_discovery.py
  codeframe/planning/prd_templates.py
  tests/planning/test_prd_templates.py
Due: pytest-check, skip-detector

fix(planning): use repo_path instead of path for Workspace attribute
  codeframe/core/prd_discovery.py
Due: pytest-check

fix(planning): track resolved vs requested template ID in PRD metadata
  codeframe/core/prd_discovery.py
Due: pytest-check

fix(planning): align docstring and use OS-agnostic test assertions
  codeframe/core/prd_discovery.py
  tests/planning/test_prd_templates.py
Due: pytest-check, skip-detector

style(tests): remove unused Path import
  tests/planning/test_prd_templates.py
Due: pytest-check, skip-detector

fix(planning): improve template validation and override handling
  codeframe/cli/app.py
  codeframe/planning/prd_templates.py
  tests/planning/test_prd_templates.py
Due: pytest-check, skip-detector

security(planning): add input validation and XSS prevention
  codeframe/planning/prd_templates.py
  tests/planning/test_prd_templates.py
Due: pytest-check, skip-detector

test(planning): use resolve() for robust path comparison
  tests/planning/test_prd_templates.py
Due: pytest-check, skip-detector

fix(planning): address PR review feedback
  codeframe/core/prd_discovery.py
  codeframe/planning/prd_templates.py
  tests/planning/test_prd_templates.py
Due: pytest-check, skip-detector

feat(planning): add PRD template system for customizable output formats (#316) (#321)
  codeframe/cli/app.py
  codeframe/core/prd_discovery.py
  codeframe/planning/__init__.py
  codeframe/planning/prd_template_functions.py
  codeframe/planning/prd_templates.py
  pyproject.toml
  tests/cli/test_prd_template_commands.py
  tests/planning/test_prd_templates.py
  uv.lock
Due: pytest-check, skip-detector

docs: mark Phase 1 complete, add Phase 2 issues (#322-324)
  README.md
  docs/V2_STRATEGIC_ROADMAP.md
Due: none

Path conditions:
  pytest-check: any of: \.py$ and \.py$
  skip-detector: any of: ^tests/.*\.py$
