Repository frankbria/codeframe: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, skip-detector

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/psf/black
    rev: 24.1.0
    hooks:
      - id: black
        language_version: python3.11
        types: [python]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.2.0
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        types: [python]

  - repo: local
    hooks:
      - id: pytest-check
        name: Run last failed tests (fast feedback)
        entry: bash -c 'if [ -f venv/bin/activate ]; then source venv/bin/activate && pytest --lf -x; elif [ -f .venv/bin/activate ]; then source .venv/bin/activate && pytest --lf -x; else pytest --lf -x; fi'
        language: system
        pass_filenames: false
        files: \.py$
        types: [python]

      - id: coverage-check
        name: Enforce 85% coverage (manual - use scripts/verify-ai-claims.sh for full check)
        entry: bash -c 'if [ -f venv/bin/activate ]; then source venv/bin/activate && pytest --cov --cov-report=term-missing --cov-fail-under=85; elif [ -f .venv/bin/activate ]; then source .venv/bin/activate && pytest --cov --cov-report=term-missing --cov-fail-under=85; else pytest --cov --cov-report=term-missing --cov-fail-under=85; fi || (echo "❌❌❌ COVERAGE BELOW 85% ❌❌❌" && exit 1)'
        language: system
        pass_filenames: false
        files: \.py$
        types: [python]
        stages: [manual]

      - id: skip-detector
        name: Detect skip decorator abuse
        entry: python scripts/detect-skip-abuse.py
        language: system
        files: ^tests/.*\.py$
        pass_filenames: false

feat: Add discovery answer UI foundation and input field (Phase 1-3)
  codeframe/core/models.py
  codeframe/ui/server.py
  codeframe/ui/websocket_broadcasts.py
  specs/012-discovery-answer-ui/tasks.md
  web-ui/src/components/DiscoveryProgress.tsx
  web-ui/src/components/__tests__/DiscoveryProgress.test.tsx
  web-ui/src/types/discovery.ts
Due: pytest-check

feat: Implement discovery answer submission UI (Phases 4-7, US2-US7)
  codeframe/ui/server.py
  specs/012-discovery-answer-ui/tasks.md
  tests/api/test_discovery_endpoints.py
  web-ui/src/components/DiscoveryProgress.tsx
  web-ui/src/components/__tests__/DiscoveryProgress.test.tsx
Due: pytest-check, skip-detector

feat: Complete discovery answer UI with tests and accessibility (Phases 8-14, US6-US10)
  specs/012-discovery-answer-ui/tasks.md
  web-ui/__tests__/integration/discovery-answer-flow.test.tsx
  web-ui/src/components/DiscoveryProgress.tsx
  web-ui/src/components/__tests__/DiscoveryProgress.test.tsx
Due: none

fix: Add critical discovery state validation to answer endpoint
  codeframe/ui/server.py
  tests/api/test_discovery_endpoints.py
Due: pytest-check, skip-detector

fix: Resolve three runtime issues in discovery answer endpoint
  codeframe/ui/server.py
Due: pytest-check

fix: Prevent divide-by-zero and out-of-range percentage calculations
  codeframe/ui/websocket_broadcasts.py
Due: pytest-check

fix: Add submission guard to prevent duplicate concurrent requests
  web-ui/src/components/DiscoveryProgress.tsx
Due: none

feat: Add Context Panel integration to Dashboard (Feature 013)
  specs/013-context-panel-integration/TYPESCRIPT_ERRORS.md
  specs/013-context-panel-integration/contracts/README.md
  specs/013-context-panel-integration/data-model.md
  specs/013-context-panel-integration/plan.md
  specs/013-context-panel-integration/quickstart.md
  specs/013-context-panel-integration/research.md
  specs/013-context-panel-integration/spec.md
  specs/013-context-panel-integration/tasks.md
  web-ui/__tests__/components/AgentCard.test.tsx
  web-ui/__tests__/components/AgentStateProvider.test.tsx
  web-ui/__tests__/components/Dashboard.test.tsx
  web-ui/src/components/Dashboard.tsx
  web-ui/src/types/dashboard.ts
Due: none

fix: Resolve 17 TypeScript errors across agent state management files
  web-ui/src/components/AgentStateProvider.tsx
  web-ui/src/components/ProjectList.tsx
  web-ui/src/lib/agentStateSync.ts
  web-ui/src/lib/websocketMessageMapper.ts
Due: none

test: Fix 14 of 16 failing frontend tests
  __tests__/components/Dashboard.test.tsx
  web-ui/__tests__/components/BlockerPanel.test.tsx
  web-ui/__tests__/components/Dashboard.test.tsx
  web-ui/jest.config.js
Due: none

fix: resolve type errors
  web-ui/__tests__/integration/blocker-websocket.test.ts
  web-ui/__tests__/integration/discovery-answer-flow.test.tsx
  web-ui/__tests__/lib/validation.test.ts
  web-ui/__tests__/lib/websocketMessageMapper.test.ts
  web-ui/src/components/__tests__/DiscoveryProgress.test.tsx
Due: none

Revert 'fix: resolve type errors' - broke 18 tests
  __tests__/components/Dashboard.test.tsx
  web-ui/__tests__/integration/blocker-websocket.test.ts
  web-ui/__tests__/integration/discovery-answer-flow.test.tsx
  web-ui/__tests__/lib/validation.test.ts
  web-ui/__tests__/lib/websocketMessageMapper.test.ts
  web-ui/src/components/__tests__/DiscoveryProgress.test.tsx
Due: none

fix: Resolve all 58 TypeScript errors in test files
  web-ui/__tests__/integration/blocker-websocket.test.ts
  web-ui/__tests__/integration/discovery-answer-flow.test.tsx
  web-ui/__tests__/lib/validation.test.ts
  web-ui/__tests__/lib/websocketMessageMapper.test.ts
  web-ui/src/components/__tests__/DiscoveryProgress.test.tsx
Due: none

refactor: Improve WebSocket message mapper validation and type safety
  web-ui/__tests__/lib/websocketMessageMapper.test.ts
  web-ui/src/lib/websocketMessageMapper.ts
  web-ui/src/types/index.ts
Due: none

docs: Update Sprint 9.5 to reflect Features 3 & 4 completion (PRs #25, #26)
  sprints/sprint-09.5-critical-ux-fixes.md
Due: none

fix: Correct pytest.ini configuration issues
  pytest.ini
Due: none

Update dependencies
  pyproject.toml
  uv.lock
Due: none

fix: Remove conflicting pytest config from pyproject.toml
  pyproject.toml
Due: none

feat: Implement session lifecycle management (014-session-lifecycle)
  CLAUDE.md
  codeframe/agents/lead_agent.py
  codeframe/cli.py
  codeframe/core/session_manager.py
  codeframe/persistence/database.py
  codeframe/ui/server.py
  specs/014-session-lifecycle/SUMMARY.md
  specs/014-session-lifecycle/contracts/api.yaml
  specs/014-session-lifecycle/contracts/session-state-schema.json
  specs/014-session-lifecycle/data-model.md
  specs/014-session-lifecycle/plan.md
  specs/014-session-lifecycle/quickstart.md
  specs/014-session-lifecycle/spec.md
  specs/014-session-lifecycle/tasks.md
  tests/agents/test_lead_agent_session.py
  tests/api/conftest.py
  tests/api/test_api_discovery_progress.py
  tests/api/test_api_prd.py
  tests/api/test_api_session.py
  tests/api/test_chat_api.py
  tests/api/test_discovery_endpoints.py
  tests/cli/test_cli_session.py
  web-ui/__tests__/components/SessionStatus.test.tsx
  web-ui/package-lock.json
  web-ui/package.json
  web-ui/src/components/Dashboard.tsx
  web-ui/src/components/SessionStatus.tsx
Due: pytest-check, skip-detector

fix: Use task IDs instead of task numbers in blocker handling tests
  tests/agents/test_lead_agent_blocker_handling.py
Due: pytest-check, skip-detector
