Repository frankbria/codeframe: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, skip-detector

pytest-check:
  name: Run last failed tests (fast feedback)
  entry: bash -c 'if [ -f venv/bin/activate ]; then source venv/bin/activate && pytest --lf -x; elif [ -f .venv/bin/activate ]; then source .venv/bin/activate && pytest --lf -x; else pytest --lf -x; fi'
  language: system
  pass_filenames: false

skip-detector:
  name: Detect skip decorator abuse
  entry: python scripts/detect-skip-abuse.py
  language: system
  pass_filenames: false

test(deploy): a backup with corrupt pages fails the integrity check (#1295)
  tests/ci/test_deploy_ops_1295.py
Due: pytest-check, skip-detector

docs(deploy): the backup marker and how to clear it after a reset (#1295)
  deploy/README.md
Due: none

fix(web): the streams find the backend without NEXT_PUBLIC_SSE_URL; one default port (#1296)
  .env.example
  docs/QUICKSTART.md
  tests/e2e/playwright.config.ts
  web-ui/next.config.js
  web-ui/security-headers.js
  web-ui/src/__tests__/components/sessions/AgentTerminal.test.tsx
  web-ui/src/__tests__/lib/sseBase.test.ts
  web-ui/src/__tests__/lib/wsBase.test.ts
  web-ui/src/__tests__/security-headers.test.js
  web-ui/src/hooks/useStressTestStream.ts
  web-ui/src/hooks/useTaskStream.ts
  web-ui/src/lib/sseBase.ts
  web-ui/src/lib/wsBase.ts
Due: none

fix(web): the CSP carries the build-time origins into the image (#1296)
  web-ui/src/__tests__/security-headers.test.js
  web-ui/src/proxy.ts
Due: none

fix(deploy): a truncated DB is data loss; the archive is born 600; stream the backup in chunks (#1295)
  .github/workflows/deploy.yml
  deploy/backup-db.sh
  tests/ci/test_deploy_ops_1295.py
Due: pytest-check, skip-detector

test(deploy): the archive umask check matches the command, not its comment (#1295)
  tests/ci/test_deploy_ops_1295.py
Due: pytest-check, skip-detector

docs(changelog): #1296 web run configuration
  CHANGELOG.md
Due: none

fix(web): web-ui/.env.example no longer pins the streams to :8000 (#1296)
  web-ui/.env.example
  web-ui/src/__tests__/security-headers.test.js
Due: none

fix(deploy): container deploys back up the live DB and can create their first account (#1295) (#1388)
  .github/workflows/deploy.yml
  CHANGELOG.md
  codeframe/auth/router.py
  deploy/README.md
  deploy/backup-db.sh
  tests/ci/test_deploy_ops_1295.py
Due: pytest-check, skip-detector

docs(changelog): #1297 web UX
  CHANGELOG.md
Due: none

fix(web): confirm destructive actions, report save and init failures, keep pages inside the viewport (#1297)
  web-ui/src/__tests__/app/page.test.tsx
  web-ui/src/__tests__/components/prd/PrdPage.test.tsx
  web-ui/src/__tests__/components/settings/ApiKeysTab.test.tsx
  web-ui/src/__tests__/components/settings/GitHubIntegrationCard.test.tsx
  web-ui/src/__tests__/components/settings/KeySlot.test.tsx
  web-ui/src/__tests__/components/tasks/TaskBoardView.test.tsx
  web-ui/src/__tests__/components/tasks/TaskCard.test.tsx
  web-ui/src/app/page.tsx
  web-ui/src/app/prd/page.tsx
  web-ui/src/components/execution/ExecutionHeader.tsx
  web-ui/src/components/layout/AppLayout.tsx
  web-ui/src/components/settings/GitHubIntegrationCard.tsx
  web-ui/src/components/settings/KeySlot.tsx
  web-ui/src/components/tasks/TaskBoardContent.tsx
  web-ui/src/components/tasks/TaskCard.tsx
Due: none

fix(web): a failed Stop on the execution page says so (#1297)
  web-ui/src/__tests__/app/execution/stop-failure.test.tsx
  web-ui/src/app/execution/[taskId]/page.tsx
Due: none

fix(web): confirm destructive actions, surface save/init/stop failures, keep pages inside the viewport (#1297) (#1391)
  CHANGELOG.md
  web-ui/src/__tests__/app/execution/stop-failure.test.tsx
  web-ui/src/__tests__/app/page.test.tsx
  web-ui/src/__tests__/components/prd/PrdPage.test.tsx
  web-ui/src/__tests__/components/settings/ApiKeysTab.test.tsx
  web-ui/src/__tests__/components/settings/GitHubIntegrationCard.test.tsx
  web-ui/src/__tests__/components/settings/KeySlot.test.tsx
  web-ui/src/__tests__/components/tasks/TaskBoardView.test.tsx
  web-ui/src/__tests__/components/tasks/TaskCard.test.tsx
  web-ui/src/app/execution/[taskId]/page.tsx
  web-ui/src/app/page.tsx
  web-ui/src/app/prd/page.tsx
  web-ui/src/components/execution/ExecutionHeader.tsx
  web-ui/src/components/layout/AppLayout.tsx
  web-ui/src/components/settings/GitHubIntegrationCard.tsx
  web-ui/src/components/settings/KeySlot.tsx
  web-ui/src/components/tasks/TaskBoardContent.tsx
  web-ui/src/components/tasks/TaskCard.tsx
Due: none

fix(web): name every control, untangle the task card, announce stress-test progress, meet AA contrast (#1298)
  web-ui/src/__tests__/components/layout/AppSidebar.test.tsx
  web-ui/src/__tests__/components/prd/DiscoveryInput.test.tsx
  web-ui/src/__tests__/components/prd/StressTestModal.test.tsx
  web-ui/src/__tests__/components/tasks/TaskCard.test.tsx
  web-ui/src/app/globals.css
  web-ui/src/components/execution/ProgressIndicator.tsx
  web-ui/src/components/layout/AppSidebar.tsx
  web-ui/src/components/prd/DiscoveryInput.tsx
  web-ui/src/components/prd/StressTestModal.tsx
  web-ui/src/components/review/DiffViewer.tsx
  web-ui/src/components/review/PRHistoryPanel.tsx
  web-ui/src/components/review/ReviewHeader.tsx
  web-ui/src/components/tasks/TaskCard.tsx
Due: none

fix(web): streams find the backend without NEXT_PUBLIC_SSE_URL; CSP reaches the image; one default port; local run docs (#1296) (#1389)
  .env.example
  CHANGELOG.md
  docs/QUICKSTART.md
  tests/e2e/playwright.config.ts
  web-ui/.env.example
  web-ui/next.config.js
  web-ui/security-headers.js
  web-ui/src/__tests__/components/sessions/AgentTerminal.test.tsx
  web-ui/src/__tests__/lib/sseBase.test.ts
  web-ui/src/__tests__/lib/wsBase.test.ts
  web-ui/src/__tests__/security-headers.test.js
  web-ui/src/hooks/useStressTestStream.ts
  web-ui/src/hooks/useTaskStream.ts
  web-ui/src/lib/sseBase.ts
  web-ui/src/lib/wsBase.ts
  web-ui/src/proxy.ts
Due: none

test(e2e): an axe pass over the core pages fails on serious or critical violations; fix what it found (#1298)
  tests/e2e/a11y.spec.ts
  tests/e2e/package-lock.json
  tests/e2e/package.json
  web-ui/src/__tests__/components/costs/SpendBarChart.test.tsx
  web-ui/src/__tests__/components/costs/TopTasksTable.test.tsx
  web-ui/src/__tests__/components/prd/MarkdownEditor.test.tsx
  web-ui/src/components/costs/SpendBarChart.tsx
  web-ui/src/components/costs/TopTasksTable.tsx
  web-ui/src/components/prd/MarkdownEditor.tsx
  web-ui/src/components/review/DiffViewer.tsx
  web-ui/src/components/review/FileTreePanel.tsx
  web-ui/src/components/review/PRStatusPanel.tsx
  web-ui/src/components/review/ReviewHeader.tsx
Due: none

docs(changelog): #1298 accessibility baseline
  CHANGELOG.md
Due: none

test(e2e): the lifecycle spec finds a task card by its title button (#1298)
  tests/e2e/lifecycle.spec.ts
  web-ui/src/components/tasks/TaskCard.tsx
Due: none

fix(web): accessibility baseline — named controls, untangled task card, live regions, AA contrast — enforced by an axe smoke gate (#1298) (#1392)
  CHANGELOG.md
  tests/e2e/a11y.spec.ts
  tests/e2e/lifecycle.spec.ts
  tests/e2e/package-lock.json
  tests/e2e/package.json
  web-ui/src/__tests__/components/costs/SpendBarChart.test.tsx
  web-ui/src/__tests__/components/costs/TopTasksTable.test.tsx
  web-ui/src/__tests__/components/layout/AppSidebar.test.tsx
  web-ui/src/__tests__/components/prd/DiscoveryInput.test.tsx
  web-ui/src/__tests__/components/prd/MarkdownEditor.test.tsx
  web-ui/src/__tests__/components/prd/StressTestModal.test.tsx
  web-ui/src/__tests__/components/tasks/TaskCard.test.tsx
  web-ui/src/app/globals.css
  web-ui/src/components/costs/SpendBarChart.tsx
  web-ui/src/components/costs/TopTasksTable.tsx
  web-ui/src/components/execution/ProgressIndicator.tsx
  web-ui/src/components/layout/AppSidebar.tsx
  web-ui/src/components/prd/DiscoveryInput.tsx
  web-ui/src/components/prd/MarkdownEditor.tsx
  web-ui/src/components/prd/StressTestModal.tsx
  web-ui/src/components/review/DiffViewer.tsx
  web-ui/src/components/review/FileTreePanel.tsx
  web-ui/src/components/review/PRHistoryPanel.tsx
  web-ui/src/components/review/PRStatusPanel.tsx
  web-ui/src/components/review/ReviewHeader.tsx
  web-ui/src/components/tasks/TaskCard.tsx
Due: none

fix(sessions): price interactive sessions from MODEL_PRICING; an unpriced session's cost is unknown, not $0 (#1299)
  codeframe/core/adapters/streaming_chat.py
  codeframe/lib/metrics_tracker.py
  codeframe/platform_store/repositories/interactive_sessions.py
  codeframe/ui/routers/interactive_sessions_v2.py
  codeframe/ui/routers/session_chat_ws.py
  tests/api/test_session_chat_ws.py
  tests/core/test_session_cost_1299.py
  web-ui/src/__tests__/components/sessions/AgentChatPanel.test.tsx
  web-ui/src/__tests__/components/sessions/SessionCard.test.tsx
  web-ui/src/__tests__/hooks/useAgentChat.test.ts
  web-ui/src/app/sessions/[id]/SessionDetailClient.tsx
  web-ui/src/components/sessions/AgentChatPanel.tsx
  web-ui/src/components/sessions/SessionCard.tsx
  web-ui/src/hooks/useAgentChat.ts
  web-ui/src/lib/format.ts
  web-ui/src/types/index.ts
Due: pytest-check, skip-detector

test(sessions): an unpriced tool-loop step makes its whole turn unknown (#1299)
  tests/api/test_session_chat_ws.py
Due: pytest-check, skip-detector

docs(changelog): #1299 session cost
  CHANGELOG.md
Due: none

fix(replay): a real react run records the trace cf work replay reads (#1300)
  codeframe/core/adapters/builtin.py
  codeframe/core/runtime.py
  tests/core/test_replay_recorded_1300.py
Due: pytest-check, skip-detector

fix(replay): the recorder numbers steps, so a resumed or retried run does not interleave its attempts (#1300)
  README.md
  codeframe/core/replay.py
  tests/core/test_replay_recorded_1300.py
Due: pytest-check, skip-detector

docs(changelog): #1300 replay records real runs
  CHANGELOG.md
Due: none

fix(sessions): price interactive sessions from MODEL_PRICING; unpriced is unknown, not $0 (#1299) (#1394)
  CHANGELOG.md
  codeframe/core/adapters/streaming_chat.py
  codeframe/lib/metrics_tracker.py
  codeframe/platform_store/repositories/interactive_sessions.py
  codeframe/ui/routers/interactive_sessions_v2.py
  codeframe/ui/routers/session_chat_ws.py
  tests/api/test_session_chat_ws.py
  tests/core/test_session_cost_1299.py
  web-ui/src/__tests__/components/sessions/AgentChatPanel.test.tsx
  web-ui/src/__tests__/components/sessions/SessionCard.test.tsx
  web-ui/src/__tests__/hooks/useAgentChat.test.ts
  web-ui/src/app/sessions/[id]/SessionDetailClient.tsx
  web-ui/src/components/sessions/AgentChatPanel.tsx
  web-ui/src/components/sessions/SessionCard.tsx
  web-ui/src/hooks/useAgentChat.ts
  web-ui/src/lib/format.ts
  web-ui/src/types/index.ts
Due: pytest-check, skip-detector

fix(api): a provider failure on an LLM route is the provider's answer, not an opaque 500 (#1328)
  codeframe/core/prd_stress_test.py
  codeframe/ui/response_models.py
  codeframe/ui/routers/discovery_v2.py
  codeframe/ui/routers/prd_v2.py
  tests/ui/test_llm_error_mapping_1328.py
Due: pytest-check, skip-detector

fix(api): an unexpected stress-test stream failure sends a correlation id, not its internals (#1328)
  codeframe/ui/routers/prd_v2.py
  tests/ui/test_llm_error_mapping_1328.py
Due: pytest-check, skip-detector

docs(changelog): #1328 LLM error mapping
  CHANGELOG.md
Due: none

fix(proof): stubs for same-title requirements get distinct file names (#1372)
  codeframe/core/proof/stubs.py
  tests/core/test_proof_same_title_1372.py
Due: pytest-check, skip-detector

fix(replay): real react runs record the trace cf work replay reads; resumed runs keep a clean step sequence (#1300) (#1395)
  CHANGELOG.md
  README.md
  codeframe/core/adapters/builtin.py
  codeframe/core/replay.py
  codeframe/core/runtime.py
  tests/core/test_replay_recorded_1300.py
Due: pytest-check, skip-detector

docs(changelog): #1372 same-title proof stubs
  CHANGELOG.md
Due: none

fix(proof): same-title requirements get distinct stub file names, so both can be satisfied (#1372) (#1398)
  CHANGELOG.md
  codeframe/core/proof/stubs.py
  tests/core/test_proof_same_title_1372.py
Due: pytest-check, skip-detector

fix(proof): a requirement's evidence rules select only its own tests (#1397)
  codeframe/core/proof/capture.py
  codeframe/core/proof/obligations.py
  codeframe/core/proof/stubs.py
  tests/core/test_proof_evidence_rules.py
  tests/core/test_proof_rule_scope_1397.py
Due: pytest-check, skip-detector

docs(changelog): #1397 proof rules scoped by requirement
  CHANGELOG.md
Due: none

fix(api): a rejected LLM key on PRD/discovery routes is 502 UPSTREAM_AUTH_FAILED with its message, not an opaque 500 (#1328) (#1396)
  CHANGELOG.md
  codeframe/core/prd_stress_test.py
  codeframe/ui/response_models.py
  codeframe/ui/routers/discovery_v2.py
  codeframe/ui/routers/prd_v2.py
  tests/ui/test_llm_error_mapping_1328.py
Due: pytest-check, skip-detector

refactor(proof): capture names its rules through requirement_slug, the one helper stubs use (#1397)
  codeframe/core/proof/capture.py
Due: pytest-check

feat(spend): THINK-stage routes and session chat are inside the daily spend limit (#1345)
  codeframe/core/models.py
  codeframe/core/prd_discovery.py
  codeframe/core/usage_recording.py
  codeframe/ui/dependencies.py
  codeframe/ui/routers/discovery_v2.py
  codeframe/ui/routers/prd_v2.py
  codeframe/ui/routers/session_chat_ws.py
  tests/api/test_session_chat_spend_1345.py
  tests/core/test_usage_recording_1345.py
  tests/ui/test_spend_limit_llm_routes_1345.py
Due: pytest-check, skip-detector

fix(spend): planning runs are bounded by a reserved budget; chat without a ledger fails closed (#1345)
  codeframe/core/usage_recording.py
  codeframe/ui/dependencies.py
  codeframe/ui/routers/discovery_v2.py
  codeframe/ui/routers/prd_v2.py
  codeframe/ui/routers/session_chat_ws.py
  tests/api/test_session_chat_spend_1345.py
  tests/core/test_prd_discovery_provider_917.py
  tests/core/test_provider_resolution_chain.py
  tests/core/test_usage_recording_1345.py
  tests/ui/test_discovery_generate_tasks.py
  tests/ui/test_spend_limit_llm_routes_1345.py
Due: pytest-check, skip-detector

fix(spend): chat turns run under a reserved budget; unpriced spend today refuses new work (#1345)
  codeframe/core/adapters/streaming_chat.py
  codeframe/core/spend_limit.py
  codeframe/core/usage_recording.py
  codeframe/ui/routers/session_chat_ws.py
  tests/api/test_session_chat_spend_1345.py
  tests/core/test_usage_recording_1345.py
Due: pytest-check, skip-detector

Path conditions:
  pytest-check: any of: \.py$ and \.py$
  skip-detector: any of: ^tests/.*\.py$
