Repository frankbria/codeframe: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, skip-detector

pytest-check:
  name: Run last failed tests (fast feedback)
  entry: bash -c 'if [ -f venv/bin/activate ]; then source venv/bin/activate && pytest --lf -x; elif [ -f .venv/bin/activate ]; then source .venv/bin/activate && pytest --lf -x; else pytest --lf -x; fi'
  language: system
  pass_filenames: false

skip-detector:
  name: Detect skip decorator abuse
  entry: python scripts/detect-skip-abuse.py
  language: system
  pass_filenames: false

Add uv path to deployment workflow
  .github/workflows/deploy.yml
Due: none

Correct uv path to deployment workflow
  .github/workflows/deploy.yml
Due: none

Fix PM2 variable names
  .github/workflows/deploy.yml
Due: none

Fix PM2 variable availability
  .github/workflows/deploy.yml
Due: none

Debug PM2 names
  .github/workflows/deploy.yml
Due: none

Skip testing to debug
  .github/workflows/deploy.yml
Due: none

Skip testing for debugging explicitly
  .github/workflows/deploy.yml
Due: none

Debug PM2 variable handling
  .github/workflows/deploy.yml
Due: none

Fix over-encoding of PM2 variables
  .github/workflows/deploy.yml
Due: none

Fix PM2 ecosystem file name
  .github/workflows/deploy.yml
Due: none

Fix PM2 service identification services
  .github/workflows/deploy.yml
Due: none

Fix PM2 process varaible code
  .github/workflows/deploy.yml
Due: none

Fix and debug PM2 nema and file varaibles
  .github/workflows/deploy.yml
Due: none

Replace dependency on earlier tests
  .github/workflows/deploy.yml
Due: none

Add comprehensive user documentation and issues analysis
  CODEFRAME_ISSUES_ANALYSIS.md
  CODEFRAME_USER_DOCUMENTATION.md
Due: none

Implement WorkerAgent.execute_task() with AsyncAnthropic client
  codeframe/agents/worker_agent.py
  tests/agents/test_worker_agent.py
  tests/e2e/test_full_workflow.py
  tests/integration/test_worker_agent_integration.py
Due: pytest-check, skip-detector

Fix project_id falsy value handling in token tracking
  codeframe/agents/worker_agent.py
Due: pytest-check

Add model validation, configurable max_tokens, and token tracking visibility
  codeframe/agents/worker_agent.py
  tests/agents/test_worker_agent.py
Due: pytest-check, skip-detector

Fix AsyncMock usage in token tracking tests
  tests/agents/test_worker_agent.py
Due: pytest-check, skip-detector

Implement WorkerAgent execute_task method (#125)
  codeframe/agents/worker_agent.py
  tests/agents/test_worker_agent.py
  tests/e2e/test_full_workflow.py
  tests/integration/test_worker_agent_integration.py
Due: pytest-check, skip-detector

Add token tracking to WorkerAgent execute_task method
  codeframe/agents/worker_agent.py
  tests/agents/test_worker_agent.py
Due: pytest-check, skip-detector

Remove unused Issue import from test_worker_agent.py
  tests/agents/test_worker_agent.py
Due: pytest-check, skip-detector

Improve error handling: fail fast on missing project_id
  codeframe/agents/worker_agent.py
  tests/agents/test_worker_agent.py
Due: pytest-check, skip-detector

Remove obsolete test with unreachable assertions
  tests/agents/test_worker_agent.py
Due: pytest-check, skip-detector

Fix misleading comments in database error test
  tests/agents/test_worker_agent.py
Due: pytest-check, skip-detector

Implement zero-token no-op behavior for consistency
  codeframe/agents/worker_agent.py
  tests/agents/test_worker_agent.py
Due: pytest-check, skip-detector

Fix unsafe error handling in _record_token_usage
  codeframe/agents/worker_agent.py
Due: pytest-check

Add comprehensive security and reliability improvements to WorkerAgent
  codeframe/agents/worker_agent.py
  docs/code-review/2025-12-16-worker-agent-token-tracking-review.md
  pyproject.toml
  tests/agents/test_worker_agent.py
  tests/e2e/test_full_workflow.py
  uv.lock
Due: pytest-check, skip-detector

Add token tracking to WorkerAgent execute_task method (#126)
  codeframe/agents/worker_agent.py
  docs/code-review/2025-12-16-worker-agent-token-tracking-review.md
  pyproject.toml
  tests/agents/test_worker_agent.py
  tests/e2e/test_full_workflow.py
  uv.lock
Due: pytest-check, skip-detector

Implement LeadAgent.assign_task() method with comprehensive validation
  codeframe/agents/lead_agent.py
  docs/code-review/2025-12-16-assign-task-review.md
  tests/agents/test_lead_agent.py
Due: pytest-check, skip-detector

Fix ruff linting: remove unused Task import
  tests/agents/test_lead_agent.py
Due: pytest-check, skip-detector

Fix weak test assertion in test_t9
  tests/agents/test_lead_agent.py
Due: pytest-check, skip-detector

Fix incomplete WebSocket broadcast verification
  tests/agents/test_lead_agent.py
Due: pytest-check, skip-detector

Implement LeadAgent.assign_task() method (#127)
  codeframe/agents/lead_agent.py
  docs/code-review/2025-12-16-assign-task-review.md
  tests/agents/test_lead_agent.py
Due: pytest-check, skip-detector

Implement bottleneck detection for workflow monitoring (#101)
  codeframe/agents/lead_agent.py
  docs/BOTTLENECK_DETECTION.md
  docs/code-review/2025-12-17-bottleneck-detection-review.md
  tests/agents/test_bottleneck_detection.py
  tests/agents/test_multi_agent_integration.py
Due: pytest-check, skip-detector

Fix ruff linting issues (remove unused imports)
  tests/agents/test_bottleneck_detection.py
  tests/agents/test_multi_agent_integration.py
Due: pytest-check, skip-detector

fix: Address user feedback on bottleneck detection
  codeframe/agents/lead_agent.py
  docs/BOTTLENECK_DETECTION.md
  tests/agents/test_bottleneck_detection.py
Due: pytest-check, skip-detector

Implement bottleneck detection for workflow monitoring (#128)
  codeframe/agents/lead_agent.py
  docs/BOTTLENECK_DETECTION.md
  docs/code-review/2025-12-17-bottleneck-detection-review.md
  tests/agents/test_bottleneck_detection.py
  tests/agents/test_multi_agent_integration.py
Due: pytest-check, skip-detector

Implement Project.start() with LeadAgent integration
  codeframe/core/project.py
Due: pytest-check

Apply code review fixes: Add validation and Zero Trust checks
  codeframe/core/project.py
  docs/code-review/2025-01-17-project-start-review.md
Due: pytest-check

Path conditions:
  pytest-check: any of: \.py$ and \.py$
  skip-detector: any of: ^tests/.*\.py$
