Repository frankbria/codeframe: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, skip-detector

pytest-check:
  name: Run last failed tests (fast feedback)
  entry: bash -c 'if [ -f venv/bin/activate ]; then source venv/bin/activate && pytest --lf -x; elif [ -f .venv/bin/activate ]; then source .venv/bin/activate && pytest --lf -x; else pytest --lf -x; fi'
  language: system
  pass_filenames: false

skip-detector:
  name: Detect skip decorator abuse
  entry: python scripts/detect-skip-abuse.py
  language: system
  pass_filenames: false

fix(proof9): reuse the open connection in the vacuous_pass migration (#1247)
  codeframe/core/proof/ledger.py
Due: pytest-check

fix(proof9): a rename must not escape its own requirement (#1247)
  codeframe/git/github_integration.py
  codeframe/ui/routers/pr_v2.py
  tests/core/test_pr_scope_renames_1247.py
  tests/ui/test_pr_merge_gate.py
Due: pytest-check, skip-detector

fix(review): only a PROOF9 409 opens the override dialog (#1247)
  web-ui/src/__tests__/components/review/PRStatusPanel.override.test.tsx
  web-ui/src/components/review/PRStatusPanel.tsx
Due: none

fix(review): the override dialog agrees with itself about number (#1247)
  web-ui/src/__tests__/components/review/PRStatusPanel.override.test.tsx
  web-ui/src/components/review/MergeOverrideModal.tsx
Due: none

docs: record the #1247 merge-gate follow-ups as shipped
  CLAUDE.md
  docs/PRODUCT_ROADMAP.md
Due: none

feat(proof9): merge gate follow-ups — per-PR scope, vacuous_pass, override UI (#1247)
  CLAUDE.md
  codeframe/core/proof/evidence.py
  codeframe/core/proof/ledger.py
  codeframe/core/proof/models.py
  codeframe/core/proof/runner.py
  codeframe/git/github_integration.py
  codeframe/ui/routers/pr_v2.py
  codeframe/ui/routers/proof_v2.py
  docs/PRODUCT_ROADMAP.md
  tests/core/test_pr_scope_renames_1247.py
  tests/core/test_proof_merge_gate_scope_1247.py
  tests/core/test_proof_vacuous_pass_1247.py
  tests/ui/test_pr_merge_gate.py
  tests/ui/test_proof_vacuous_pass_api_1247.py
  web-ui/src/__tests__/components/proof/RunHistoryPanel.test.tsx
  web-ui/src/__tests__/components/review/PRStatusPanel.override.test.tsx
  web-ui/src/__tests__/components/review/PRStatusPanel.test.tsx
  web-ui/src/components/proof/RunHistoryPanel.tsx
  web-ui/src/components/review/MergeOverrideModal.tsx
  web-ui/src/components/review/PRStatusPanel.tsx
  web-ui/src/lib/api.ts
  web-ui/src/types/index.ts
Due: pytest-check, skip-detector

fix(cli): cf proof run exits 2 when verification was impossible (#1253)
  CHANGELOG.md
  codeframe/cli/proof_commands.py
  tests/cli/test_proof_vacuous_exit_1253.py
Due: pytest-check, skip-detector

refactor(cli): single-source the nothing-verified exit policy (#1253)
  codeframe/cli/proof_commands.py
Due: pytest-check

fix(cli): scope cf pr merge's PROOF9 gate to the PR's changed files (#1254)
  codeframe/cli/pr_commands.py
  tests/cli/test_merge_gate_scope_1254.py
  tests/cli/test_merge_gate_subdir_926.py
  tests/cli/test_pr_commands.py
Due: pytest-check, skip-detector

fix(proof9): match requirement scopes by normalized path (#1254 review P1)
  CLAUDE.md
  codeframe/core/proof/scope.py
  docs/PRODUCT_ROADMAP.md
  tests/cli/test_merge_gate_scope_1254.py
  tests/ui/test_pr_merge_gate.py
Due: pytest-check, skip-detector

style: replace a decorative noqa with the reason for the bare except
  codeframe/cli/pr_commands.py
Due: pytest-check

fix(proof9): a root-scoped requirement covers every file (#1254 review pass 2)
  CLAUDE.md
  codeframe/core/proof/scope.py
  tests/cli/test_merge_gate_scope_1254.py
Due: pytest-check, skip-detector

fix(cli): scope cf pr merge's PROOF9 gate to the PR's changed files (#1254) (#1257)
  CLAUDE.md
  codeframe/cli/pr_commands.py
  codeframe/core/proof/scope.py
  docs/PRODUCT_ROADMAP.md
  tests/cli/test_merge_gate_scope_1254.py
  tests/cli/test_merge_gate_subdir_926.py
  tests/cli/test_pr_commands.py
  tests/ui/test_pr_merge_gate.py
Due: pytest-check, skip-detector

fix(proof9): classify absolute capture paths against the workspace (#1258)
  codeframe/cli/proof_commands.py
  codeframe/core/proof/capture.py
  codeframe/core/proof/scope.py
  tests/core/test_proof_scope_absolute_1258.py
Due: pytest-check, skip-detector

test: assert the scope dimension, not just that it matches (#1258)
  tests/core/test_proof_scope_absolute_1258.py
Due: pytest-check, skip-detector

fix(proof9): keep route-shaped paths under the repo root as routes (#1258 review)
  codeframe/core/proof/scope.py
  tests/core/test_proof_scope_absolute_1258.py
Due: pytest-check, skip-detector

docs: record the workspace-aware capture classifier (#1258)
  CLAUDE.md
Due: none

fix(proof9): escape CR/LF in the scope warning (#1259 review)
  codeframe/core/proof/scope.py
  tests/core/test_proof_scope_absolute_1258.py
Due: pytest-check, skip-detector

fix(proof9): escape all control characters in the scope warning (#1259 review r2)
  codeframe/core/proof/scope.py
  tests/core/test_proof_scope_absolute_1258.py
Due: pytest-check, skip-detector

fix(proof9): catch scheme:/drive-relative spellings too (#1259 review r2)
  codeframe/core/proof/scope.py
  tests/core/test_proof_scope_absolute_1258.py
Due: pytest-check, skip-detector

fix(proof9): a captured file symlink stores both spellings (#1259 review r3)
  codeframe/core/proof/scope.py
  tests/core/test_proof_scope_absolute_1258.py
Due: pytest-check, skip-detector

fix(proof9): record every symlink a capture traverses (#1259 review r5)
  codeframe/core/proof/scope.py
  tests/core/test_proof_scope_absolute_1258.py
Due: pytest-check, skip-detector

fix(proof9): classify absolute capture paths against the workspace (#1258) (#1259)
  CLAUDE.md
  codeframe/cli/proof_commands.py
  codeframe/core/proof/capture.py
  codeframe/core/proof/scope.py
  tests/core/test_proof_scope_absolute_1258.py
Due: pytest-check, skip-detector

docs: record the symlink rule in the PROOF9 capture classifier (#1258)
  CLAUDE.md
Due: none

docs: record the symlink rule in the PROOF9 capture classifier (#1258) (#1260)
  CLAUDE.md
Due: none

feat(web-ui): gate admin-only actions on the session's admin scope (#1255)
  codeframe/auth/router.py
  tests/auth/test_auth_me_1255.py
  web-ui/src/__tests__/components/review/CommitPanel.test.tsx
  web-ui/src/__tests__/components/review/PRStatusPanel.override.test.tsx
  web-ui/src/__tests__/components/settings/GitHubIntegrationCard.test.tsx
  web-ui/src/__tests__/components/settings/KeySlot.test.tsx
  web-ui/src/__tests__/hooks/useAdminDenied.test.ts
  web-ui/src/__tests__/lib/api.contract.test.ts
  web-ui/src/components/review/CommitPanel.tsx
  web-ui/src/components/review/PRStatusPanel.tsx
  web-ui/src/components/settings/GitHubIntegrationCard.tsx
  web-ui/src/components/settings/KeySlot.tsx
  web-ui/src/hooks/useAdminDenied.ts
  web-ui/src/lib/api.ts
Due: pytest-check, skip-detector

fix(web-ui): merge tooltip names only the admin requirement for a non-admin (#1255)
  web-ui/next-env.d.ts
  web-ui/src/components/review/PRStatusPanel.tsx
Due: none

fix(web-ui): review sidebar scrolls instead of overflowing onto PR history
  web-ui/src/app/review/page.tsx
Due: none

fix(web-ui): non-admin cannot type a PAT into the GitHub connect form (#1255)
  web-ui/src/__tests__/components/settings/GitHubIntegrationCard.test.tsx
  web-ui/src/components/settings/GitHubIntegrationCard.tsx
Due: none

docs: record the admin-gating pattern (#1255)
  CLAUDE.md
Due: none

chore(web-ui): restore next-env.d.ts rewritten by next dev during the demo
  web-ui/next-env.d.ts
Due: none

feat(web-ui): gate admin-only actions on the session's admin scope (#1255)
  CLAUDE.md
  codeframe/auth/router.py
  tests/auth/test_auth_me_1255.py
  web-ui/src/__tests__/components/review/CommitPanel.test.tsx
  web-ui/src/__tests__/components/review/PRStatusPanel.override.test.tsx
  web-ui/src/__tests__/components/settings/GitHubIntegrationCard.test.tsx
  web-ui/src/__tests__/components/settings/KeySlot.test.tsx
  web-ui/src/__tests__/hooks/useAdminDenied.test.ts
  web-ui/src/__tests__/lib/api.contract.test.ts
  web-ui/src/app/review/page.tsx
  web-ui/src/components/review/CommitPanel.tsx
  web-ui/src/components/review/PRStatusPanel.tsx
  web-ui/src/components/settings/GitHubIntegrationCard.tsx
  web-ui/src/components/settings/KeySlot.tsx
  web-ui/src/hooks/useAdminDenied.ts
  web-ui/src/lib/api.ts
Due: pytest-check, skip-detector

fix(gates): run CodeFRAME's own ruff/bandit when the project has none (#1262)
  codeframe/core/gates.py
  scripts/quickstart-cleanroom/walkthrough.sh
  tests/core/test_gates_bundled_tool_1262.py
  tests/core/test_proof_sec_gate_925.py
Due: pytest-check, skip-detector

fix(gates): fall back only on spawn failure; cover every off-PATH call site (#1262)
  codeframe/core/gates.py
  codeframe/lib/quality/security_scanner.py
  scripts/quickstart-cleanroom/walkthrough.sh
  tests/core/test_gates_bundled_tool_1262.py
  tests/core/test_gates_observability.py
  tests/core/test_review_fails_loud_910.py
Due: pytest-check, skip-detector

fix(gates): harden the bundled-tool fallback per second review (#1262)
  codeframe/core/gates.py
  tests/core/test_gates_bundled_tool_1262.py
Due: pytest-check, skip-detector

chore(cleanroom): archive the #1262 source run — 6-work-start passes
  scripts/quickstart-cleanroom/artifacts-1262/final-tree.txt
  scripts/quickstart-cleanroom/artifacts-1262/findings.tsv
  scripts/quickstart-cleanroom/artifacts-1262/run-logs/output.log
  scripts/quickstart-cleanroom/artifacts-1262/timings.tsv
  scripts/quickstart-cleanroom/artifacts-1262/total.txt
  scripts/quickstart-cleanroom/artifacts-1262/transcript.txt
Due: none

test: keep #1262's harness step visible to the #1171 guard; lower the #1029 floor
  scripts/quickstart-cleanroom/walkthrough.sh
  tests/core/test_locale_decoding_1029.py
Due: pytest-check, skip-detector

fix(gates): a clean ruff run is summarized as passing, not "1 issues found"
  codeframe/core/gates.py
  tests/core/test_gates_bundled_tool_1262.py
Due: pytest-check, skip-detector

docs: CHANGELOG and cleanroom README for #1262
  CHANGELOG.md
  scripts/quickstart-cleanroom/README.md
Due: none

Path conditions:
  pytest-check: any of: \.py$ and \.py$
  skip-detector: any of: ^tests/.*\.py$
