Repository frankbria/codeframe: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, skip-detector

pytest-check:
  name: Run last failed tests (fast feedback)
  entry: bash -c 'if [ -f venv/bin/activate ]; then source venv/bin/activate && pytest --lf -x; elif [ -f .venv/bin/activate ]; then source .venv/bin/activate && pytest --lf -x; else pytest --lf -x; fi'
  language: system
  pass_filenames: false

skip-detector:
  name: Detect skip decorator abuse
  entry: python scripts/detect-skip-abuse.py
  language: system
  pass_filenames: false

fix(cli): gate the batch dry-run too; add the CHANGELOG entry (#966)
  CHANGELOG.md
  codeframe/cli/app.py
  tests/core/test_cloud_engine_gate_966.py
Due: pytest-check, skip-detector

fix(engine): gate the experimental cloud engine behind an opt-in (#966) (#1099)
  CHANGELOG.md
  CLAUDE.md
  codeframe/cli/app.py
  codeframe/cli/engines_commands.py
  codeframe/core/config.py
  codeframe/core/engine_registry.py
  codeframe/core/sandbox/context.py
  docs/PRODUCT_ROADMAP.md
  tests/adapters/test_e2b_adapter.py
  tests/core/test_cloud_engine_gate_966.py
  tests/core/test_engine_registry.py
Due: pytest-check, skip-detector

fix(e2b): contain sandbox downloads and close the unscanned-upload leak (#967)
  codeframe/adapters/e2b/adapter.py
  codeframe/adapters/e2b/credential_scanner.py
  tests/adapters/test_e2b_adapter.py
  tests/adapters/test_e2b_trust_boundary_967.py
Due: pytest-check, skip-detector

fix(e2b): count and warn on malformed porcelain records (#967)
  codeframe/adapters/e2b/adapter.py
  tests/adapters/test_e2b_trust_boundary_967.py
Due: pytest-check, skip-detector

fix(e2b): a faked rename header can no longer swallow the next record (#967)
  codeframe/adapters/e2b/adapter.py
  tests/adapters/test_e2b_trust_boundary_967.py
Due: pytest-check, skip-detector

fix(e2b): match the porcelain status alphabet, not just the shape (#967)
  codeframe/adapters/e2b/adapter.py
  tests/adapters/test_e2b_trust_boundary_967.py
Due: pytest-check, skip-detector

fix(e2b): an unresolvable path rejects one entry, not the whole download (#967)
  codeframe/adapters/e2b/adapter.py
  tests/adapters/test_e2b_trust_boundary_967.py
Due: pytest-check, skip-detector

fix(e2b): --no-renames removes the paired-field ambiguity entirely (#967)
  codeframe/adapters/e2b/adapter.py
  tests/adapters/test_e2b_trust_boundary_967.py
Due: pytest-check, skip-detector

fix(e2b): the reject count message now matches what it counts (#967)
  codeframe/adapters/e2b/adapter.py
  tests/adapters/test_e2b_trust_boundary_967.py
Due: pytest-check, skip-detector

fix(e2b): contain sandbox downloads and close the unscanned-upload leak (#967) (#1100)
  codeframe/adapters/e2b/adapter.py
  codeframe/adapters/e2b/credential_scanner.py
  tests/adapters/test_e2b_adapter.py
  tests/adapters/test_e2b_trust_boundary_967.py
Due: pytest-check, skip-detector

perf(tests): build the workspace schema once per session, not per test (#979)
  CLAUDE.md
  tests/conftest.py
  tests/core/test_workspace_db_template_979.py
Due: pytest-check, skip-detector

fix(tests): template only a NEW database, never an existing one (#979)
  tests/conftest.py
  tests/core/test_workspace_db_template_979.py
Due: pytest-check, skip-detector

docs: use the final measured suite timing (#979)
  CLAUDE.md
Due: none

perf(tests): build the template lazily; fix conftest spacing (#979)
  tests/conftest.py
Due: pytest-check, skip-detector

perf(tests): build the workspace schema once per session, not per test (#979) (#1101)
  CLAUDE.md
  tests/conftest.py
  tests/core/test_workspace_db_template_979.py
Due: pytest-check, skip-detector

fix(hooks): a stale lastfailed entry must not run the whole suite (#984)
  .pre-commit-config.yaml
  scripts/pretest_lastfailed.py
  tests/scripts/test_pretest_lastfailed_984.py
Due: pytest-check, skip-detector

fix(hooks): a file that stops collecting is breakage, not staleness (#984)
  scripts/pretest_lastfailed.py
  tests/scripts/test_pretest_lastfailed_984.py
Due: pytest-check, skip-detector

fix(hooks): clear addopts for the collection probe (#984)
  scripts/pretest_lastfailed.py
  tests/scripts/test_pretest_lastfailed_984.py
Due: pytest-check, skip-detector

fix(hooks): the format guard must fire even when a file also errored (#984)
  scripts/pretest_lastfailed.py
  tests/scripts/test_pretest_lastfailed_984.py
Due: pytest-check, skip-detector

fix(hooks): a broken neighbour must not swallow the failure you came to see (#984)
  scripts/pretest_lastfailed.py
  tests/scripts/test_pretest_lastfailed_984.py
Due: pytest-check, skip-detector

test(hooks): pin fail-fast across the two run groups as intentional (#984)
  scripts/pretest_lastfailed.py
  tests/scripts/test_pretest_lastfailed_984.py
Due: pytest-check, skip-detector

fix(hooks): a stale lastfailed entry must not run the whole suite (#984) (#1102)
  .pre-commit-config.yaml
  scripts/pretest_lastfailed.py
  tests/scripts/test_pretest_lastfailed_984.py
Due: pytest-check, skip-detector

refactor(workspace): one definition of the schema, shared by both paths (#1060)
  codeframe/core/workspace.py
  tests/core/test_schema_convergence_1060.py
Due: pytest-check, skip-detector

fix(workspace): create indexes after migrations, not before (#1060)
  codeframe/core/workspace.py
  tests/core/test_schema_convergence_1060.py
Due: pytest-check, skip-detector

fix(workspace): one guarded attempt at the unique index, not two (#1060)
  codeframe/core/workspace.py
  tests/core/test_schema_convergence_1060.py
Due: pytest-check, skip-detector

refactor(workspace): de-duplicate the index DDL too (#1060)
  codeframe/core/workspace.py
  tests/core/test_schema_convergence_1060.py
Due: pytest-check, skip-detector

refactor(workspace): remove the last three leftovers of the old duplication (#1060)
  codeframe/core/workspace.py
Due: pytest-check

docs(workspace): fix a stale docstring; pin legacy tasks migration (#1060)
  codeframe/core/workspace.py
  tests/core/test_schema_convergence_1060.py
Due: pytest-check, skip-detector

docs(workspace): drop the last orphaned comment (#1060)
  codeframe/core/workspace.py
Due: pytest-check

refactor(workspace): one definition of the schema, shared by both paths (#1060) (#1103)
  codeframe/core/workspace.py
  tests/core/test_schema_convergence_1060.py
Due: pytest-check, skip-detector

docs(quickstart): validate the cold start from a clean machine (#614)
  .gitignore
  CLAUDE.md
  README.md
  docs/GOLDEN_PATH.md
  docs/QUICKSTART.md
  docs/demos/quickstart-cleanroom.md
  scripts/quickstart-cleanroom/Dockerfile
  scripts/quickstart-cleanroom/README.md
  scripts/quickstart-cleanroom/artifacts-pypi-0.9.1/final-tree.txt
  scripts/quickstart-cleanroom/artifacts-pypi-0.9.1/findings.tsv
  scripts/quickstart-cleanroom/artifacts-pypi-0.9.1/timings.tsv
  scripts/quickstart-cleanroom/artifacts-pypi-0.9.1/total.txt
  scripts/quickstart-cleanroom/artifacts-pypi-0.9.1/transcript.txt
  scripts/quickstart-cleanroom/artifacts-source-main/final-tree.txt
  scripts/quickstart-cleanroom/artifacts-source-main/findings.tsv
  scripts/quickstart-cleanroom/artifacts-source-main/run-logs/output.log
  scripts/quickstart-cleanroom/artifacts-source-main/timings.tsv
  scripts/quickstart-cleanroom/artifacts-source-main/total.txt
  scripts/quickstart-cleanroom/artifacts-source-main/transcript.txt
  scripts/quickstart-cleanroom/build-demo.sh
  scripts/quickstart-cleanroom/responder.py
  scripts/quickstart-cleanroom/run.sh
  scripts/quickstart-cleanroom/walkthrough.sh
Due: pytest-check

fix(ci): repair the invalid deploy workflow, harden the #614 harness
  .github/workflows/deploy.yml
  scripts/quickstart-cleanroom/.dockerignore
  scripts/quickstart-cleanroom/responder.py
Due: pytest-check

fix(scripts): keep artifacts readable when the cleanroom container crashes
  scripts/quickstart-cleanroom/run.sh
Due: none

docs(quickstart): validate the cold start from a clean machine, and repair the broken Deploy workflow (#614) (#1120)
  .github/workflows/deploy.yml
  .gitignore
  CLAUDE.md
  README.md
  docs/GOLDEN_PATH.md
  docs/QUICKSTART.md
  docs/demos/quickstart-cleanroom.md
  scripts/quickstart-cleanroom/.dockerignore
  scripts/quickstart-cleanroom/Dockerfile
  scripts/quickstart-cleanroom/README.md
  scripts/quickstart-cleanroom/artifacts-pypi-0.9.1/final-tree.txt
  scripts/quickstart-cleanroom/artifacts-pypi-0.9.1/findings.tsv
  scripts/quickstart-cleanroom/artifacts-pypi-0.9.1/timings.tsv
  scripts/quickstart-cleanroom/artifacts-pypi-0.9.1/total.txt
  scripts/quickstart-cleanroom/artifacts-pypi-0.9.1/transcript.txt
  scripts/quickstart-cleanroom/artifacts-source-main/final-tree.txt
  scripts/quickstart-cleanroom/artifacts-source-main/findings.tsv
  scripts/quickstart-cleanroom/artifacts-source-main/run-logs/output.log
  scripts/quickstart-cleanroom/artifacts-source-main/timings.tsv
  scripts/quickstart-cleanroom/artifacts-source-main/total.txt
  scripts/quickstart-cleanroom/artifacts-source-main/transcript.txt
  scripts/quickstart-cleanroom/build-demo.sh
  scripts/quickstart-cleanroom/responder.py
  scripts/quickstart-cleanroom/run.sh
  scripts/quickstart-cleanroom/walkthrough.sh
Due: pytest-check

fix(release): guard against dated Anthropic model IDs rotting out of a published wheel (#1112)
  .github/workflows/release.yml
  codeframe/cli/auth_commands.py
  codeframe/ui/routers/settings_v2.py
  pyproject.toml
  scripts/check_model_defaults.py
  tests/adapters/test_model_defaults_guard_1112.py
  uv.lock
Due: pytest-check, skip-detector

fix(tasks): decompose the PRD into tasks instead of splitting its bullets (#1115)
  codeframe/core/tasks.py
  tests/cli/test_v2_cli_integration.py
  tests/core/test_task_decomposition_1115.py
Due: pytest-check, skip-detector

docs(release): add the 0.9.2 section and bump the README beta banner (#1112)
  CHANGELOG.md
  README.md
Due: none

fix(tasks): the non-work section filter must not eat feature sections (#1115)
  codeframe/core/tasks.py
  tests/core/test_task_decomposition_1115.py
Due: pytest-check, skip-detector

fix(release-guard): keep confirmed 404s when a later live check errors (#1112)
  scripts/check_model_defaults.py
  tests/adapters/test_model_defaults_guard_1112.py
Due: pytest-check, skip-detector

fix(llm): actionable provider errors instead of a raw JSON repr (#1110)
  codeframe/adapters/llm/anthropic.py
  codeframe/adapters/llm/base.py
  codeframe/adapters/llm/errors.py
  codeframe/adapters/llm/openai.py
  codeframe/core/tasks.py
  tests/adapters/test_llm_error_messages_1110.py
  tests/adapters/test_llm_openai.py
Due: pytest-check, skip-detector

Path conditions:
  pytest-check: any of: \.py$ and \.py$
  skip-detector: any of: ^tests/.*\.py$
