Repository frankbria/codeframe: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, skip-detector

.pre-commit-config.yaml:

repos:
  # Note: black removed from pre-commit to avoid conflicts with ruff --fix
  # Run `uv run black .` manually before committing if needed

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.2.0
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        types: [python]

  - repo: local
    hooks:
      - id: pytest-check
        name: Run last failed tests (fast feedback)
        entry: bash -c 'if [ -f venv/bin/activate ]; then source venv/bin/activate && pytest --lf -x; elif [ -f .venv/bin/activate ]; then source .venv/bin/activate && pytest --lf -x; else pytest --lf -x; fi'
        language: system
        pass_filenames: false
        files: \.py$
        types: [python]

      - id: coverage-check
        name: Enforce 65% coverage (manual - use scripts/verify-ai-claims.sh for full check)
        entry: bash -c 'if [ -f venv/bin/activate ]; then source venv/bin/activate && pytest --cov --cov-report=term-missing --cov-fail-under=65; elif [ -f .venv/bin/activate ]; then source .venv/bin/activate && pytest --cov --cov-report=term-missing --cov-fail-under=65; else pytest --cov --cov-report=term-missing --cov-fail-under=65; fi || (echo "❌❌❌ COVERAGE BELOW 65% ❌❌❌" && exit 1)'
        language: system
        pass_filenames: false
        files: \.py$
        types: [python]
        stages: [manual]

      - id: skip-detector
        name: Detect skip decorator abuse
        entry: python scripts/detect-skip-abuse.py
        language: system
        files: ^tests/.*\.py$
        pass_filenames: false

fix(core): append assistant tool_use message in interactive chat loop (#738) (#817)
  codeframe/core/adapters/streaming_chat.py
  tests/core/test_streaming_chat.py
Due: pytest-check, skip-detector

ci: rename codecov 'file' input to 'files' for v5+ compatibility
  .github/workflows/test.yml
Due: none

fix(adapters): grant claude-code write permissions + fail on zero-file completion (#739)
  codeframe/core/adapters/claude_code.py
  codeframe/core/adapters/subprocess_adapter.py
  tests/core/adapters/test_claude_code.py
  tests/core/adapters/test_subprocess_adapter.py
Due: pytest-check, skip-detector

fix(adapters): don't false-fail self-committed or non-git runs (#739 review)
  codeframe/core/adapters/subprocess_adapter.py
  tests/core/adapters/test_claude_code.py
  tests/core/adapters/test_subprocess_adapter.py
Due: pytest-check, skip-detector

fix(adapters): require known HEAD baseline to credit a commit (#739 re-review)
  codeframe/core/adapters/subprocess_adapter.py
  tests/core/adapters/test_subprocess_adapter.py
Due: pytest-check, skip-detector

fix(adapters): grant claude-code write permissions + fail on zero-file completion (#739) (#818)
  codeframe/core/adapters/claude_code.py
  codeframe/core/adapters/subprocess_adapter.py
  tests/core/adapters/test_claude_code.py
  tests/core/adapters/test_subprocess_adapter.py
Due: pytest-check, skip-detector

fix(react): stuck-loop detection returns FAILED, not COMPLETED (#740)
  codeframe/core/react_agent.py
  tests/core/test_react_agent.py
Due: pytest-check, skip-detector

fix(react): stuck-loop detection returns FAILED, not COMPLETED (#740) (#820)
  codeframe/core/react_agent.py
  tests/core/test_react_agent.py
Due: pytest-check, skip-detector

fix(conductor): reconcile crashed task run to FAILED, make RUNNING retryable (#742)
  codeframe/core/conductor.py
  tests/core/test_conductor.py
Due: pytest-check, skip-detector

fix(conductor): broaden reconcile catch to non-ValueError transitions (#742 review)
  codeframe/core/conductor.py
  tests/core/test_conductor.py
Due: pytest-check, skip-detector

test(conductor): make reconcile test verify run-row ordering (#742 review)
  tests/core/test_conductor.py
Due: pytest-check, skip-detector

fix(conductor): crashed/killed task subprocess is retryable (#742) (#821)
  codeframe/core/conductor.py
  tests/core/test_conductor.py
Due: pytest-check, skip-detector

fix(conductor): persist batch provider/model/stall/concurrency for resume (#741)
  codeframe/core/conductor.py
  codeframe/core/workspace.py
  tests/core/test_conductor.py
  tests/core/test_workspace.py
Due: pytest-check, skip-detector

fix(conductor): persist batch provider/model/stall/concurrency for resume (#741) (#822)
  codeframe/core/conductor.py
  codeframe/core/workspace.py
  tests/core/test_conductor.py
  tests/core/test_workspace.py
Due: pytest-check, skip-detector

fix(pre-commit): stop full-suite runaway + python-not-found; refine skip detector
  .pre-commit-config.yaml
  scripts/detect-skip-abuse.py
Due: pytest-check

fix(tools): run_tests falls back to bare pytest for non-uv projects
  codeframe/core/tools.py
Due: pytest-check

fix(pre-commit): stop full-suite runaway + python-not-found; refine skip detector (#823)
  .pre-commit-config.yaml
  codeframe/core/tools.py
  scripts/detect-skip-abuse.py
Due: pytest-check

fix(tasks): resolve/list tasks beyond the 100-task cap (#743)
  codeframe/cli/app.py
  codeframe/core/tasks.py
  tests/core/test_tasks_truncation.py
Due: pytest-check, skip-detector

fix(tasks): extend #743 to batch-run + delete-all count; harden test
  codeframe/cli/app.py
  tests/core/test_tasks_truncation.py
Due: pytest-check, skip-detector

fix(tasks): resolve/list tasks beyond the 100-task cap (#743) (#824)
  codeframe/cli/app.py
  codeframe/core/tasks.py
  tests/core/test_tasks_truncation.py
Due: pytest-check, skip-detector

fix(stats): accept UUID task IDs in cf stats --task (#744)
  codeframe/cli/stats_commands.py
  codeframe/lib/metrics_tracker.py
  codeframe/platform_store/repositories/token_repository.py
  tests/cli/test_stats_task_uuid.py
Due: pytest-check, skip-detector

fix(stats): accept UUID task IDs in cf stats --task (#744) (#826)
  codeframe/cli/stats_commands.py
  codeframe/lib/metrics_tracker.py
  codeframe/platform_store/repositories/token_repository.py
  tests/cli/test_stats_task_uuid.py
Due: pytest-check, skip-detector

fix(deploy): terminate TLS in front of services via Caddy reverse proxy (#747)
  .env.production.example
  deploy/Caddyfile.example
  deploy/README.md
  ecosystem.production.config.js
  ecosystem.staging.config.js
  scripts/remote-setup.sh
  tests/test_deploy_config.py
Due: pytest-check, skip-detector

fix(deploy): address review — robust backend loopback bind + trusted-proxy rate limiting (#747)
  .env.production.example
  .env.staging.example
  deploy/Caddyfile.example
  deploy/README.md
  ecosystem.production.config.js
  ecosystem.staging.config.js
  tests/test_deploy_config.py
Due: pytest-check, skip-detector

docs(deploy): point remote-setup.sh at deploy/README.md (was dangling ref) (#747)
  scripts/remote-setup.sh
Due: none

fix(deploy): terminate TLS in front of services via Caddy reverse proxy (#747) (#827)
  .env.production.example
  deploy/Caddyfile.example
  deploy/README.md
  ecosystem.production.config.js
  ecosystem.staging.config.js
  scripts/remote-setup.sh
  tests/test_deploy_config.py
Due: pytest-check, skip-detector

fix(ci): gate comment-triggered AI workflows on author association (#748)
  .github/workflows/claude.yml
  .github/workflows/opencode.yml
Due: none

fix(ci): gate comment-triggered AI workflows on author association (#748) (#828)
  .github/workflows/claude.yml
  .github/workflows/opencode.yml
Due: none

test(tasks): cover server-side execute_agent (BUILD) path (#749)
  tests/ui/test_v2_routers_integration.py
Due: pytest-check, skip-detector

test(tasks): assert output file has content, not just existence (#749)
  tests/ui/test_v2_routers_integration.py
Due: pytest-check, skip-detector

test(tasks): cover server-side execute_agent (BUILD) path (#749) (#829)
  tests/ui/test_v2_routers_integration.py
Due: pytest-check, skip-detector

fix(costs): eliminate N+1 in /tasks endpoint (#750)
  codeframe/core/tasks.py
  codeframe/platform_store/repositories/token_repository.py
  codeframe/ui/routers/costs_v2.py
  tests/ui/test_costs_v2.py
Due: pytest-check, skip-detector

chore(costs): log batch title-lookup failure at warning (CodeRabbit)
  codeframe/ui/routers/costs_v2.py
Due: pytest-check

fix(costs): eliminate N+1 in /tasks endpoint (#750) (#830)
  codeframe/core/tasks.py
  codeframe/platform_store/repositories/token_repository.py
  codeframe/ui/routers/costs_v2.py
  tests/ui/test_costs_v2.py
Due: pytest-check, skip-detector

fix(perf): offload sync SQLite in async task/costs handlers (#751)
  codeframe/ui/routers/costs_v2.py
  codeframe/ui/routers/tasks_v2.py
  tests/ui/test_async_handler_offload_751.py
Due: pytest-check, skip-detector

test(tasks): guard all 7 async orchestration handlers (#751 review)
  tests/ui/test_async_handler_offload_751.py
Due: pytest-check, skip-detector

fix(perf): offload sync SQLite in async task/costs handlers (#751) (#831)
  codeframe/ui/routers/costs_v2.py
  codeframe/ui/routers/tasks_v2.py
  tests/ui/test_async_handler_offload_751.py
Due: pytest-check, skip-detector

fix(perf): push cf stats aggregation into SQL, stream exports (#752)
  codeframe/cli/stats_commands.py
  codeframe/lib/metrics_tracker.py
  codeframe/platform_store/database.py
  codeframe/platform_store/repositories/token_repository.py
  tests/core/test_token_repository_aggregation.py
Due: pytest-check, skip-detector

docs: move get_token_usage_iter note out of docstring into a real comment
  codeframe/platform_store/repositories/token_repository.py
Due: pytest-check

refactor(stats): address follow-up review — atomic exports, cursor cleanup
  codeframe/cli/stats_commands.py
  codeframe/lib/metrics_tracker.py
  codeframe/platform_store/repositories/token_repository.py
  tests/core/test_token_repository_aggregation.py
Due: pytest-check, skip-detector
