Repository frankbria/codeframe: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, skip-detector

.pre-commit-config.yaml:

repos:
  # Note: black removed from pre-commit to avoid conflicts with ruff --fix
  # Run `uv run black .` manually before committing if needed

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.2.0
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        types: [python]

  - repo: local
    hooks:
      - id: pytest-check
        name: Run last failed tests (fast feedback)
        entry: bash -c 'if [ -f venv/bin/activate ]; then source venv/bin/activate && pytest --lf -x; elif [ -f .venv/bin/activate ]; then source .venv/bin/activate && pytest --lf -x; else pytest --lf -x; fi'
        language: system
        pass_filenames: false
        files: \.py$
        types: [python]

      - id: coverage-check
        name: Enforce 65% coverage (manual - use scripts/verify-ai-claims.sh for full check)
        entry: bash -c 'if [ -f venv/bin/activate ]; then source venv/bin/activate && pytest --cov --cov-report=term-missing --cov-fail-under=65; elif [ -f .venv/bin/activate ]; then source .venv/bin/activate && pytest --cov --cov-report=term-missing --cov-fail-under=65; else pytest --cov --cov-report=term-missing --cov-fail-under=65; fi || (echo "❌❌❌ COVERAGE BELOW 65% ❌❌❌" && exit 1)'
        language: system
        pass_filenames: false
        files: \.py$
        types: [python]
        stages: [manual]

      - id: skip-detector
        name: Detect skip decorator abuse
        entry: python scripts/detect-skip-abuse.py
        language: system
        files: ^tests/.*\.py$
        pass_filenames: false

fix: address third round of code review issues
  codeframe/core/diagnostic_agent.py
  tests/cli/test_work_diagnose.py
Due: pytest-check, skip-detector

feat(diagnostics): add self-diagnosis system for failed task analysis (#300)
  codeframe/cli/app.py
  codeframe/core/diagnostic_agent.py
  codeframe/core/diagnostics.py
  codeframe/core/runtime.py
  codeframe/core/tasks.py
  codeframe/core/workspace.py
  tests/cli/test_work_diagnose.py
  tests/core/test_diagnostic_agent.py
  tests/core/test_diagnostics.py
  tests/integration/test_self_diagnosis_workflow.py
Due: pytest-check, skip-detector

fix(ci): correct frontend path to legacy/web-ui in deploy workflow
  .github/workflows/deploy.yml
Due: none

feat(tasks): add effort estimation to task decomposition (Phase 1)
  codeframe/core/models.py
  codeframe/persistence/repositories/task_repository.py
  codeframe/persistence/schema_manager.py
  codeframe/planning/task_decomposer.py
  tests/planning/test_task_decomposer_effort.py
Due: pytest-check, skip-detector

feat(deps): add critical path analysis and conflict detection (Phase 2)
  codeframe/agents/dependency_resolver.py
  tests/agents/test_dependency_resolver_critical_path.py
Due: pytest-check, skip-detector

feat(scheduling): add TaskScheduler with CPM-based scheduling (Phase 3)
  codeframe/planning/task_scheduler.py
  tests/planning/test_task_scheduler.py
Due: pytest-check, skip-detector

feat(scheduling): integrate TaskScheduler with LeadAgent (Phase 3.3)
  codeframe/agents/lead_agent.py
  tests/agents/test_lead_agent_scheduling.py
Due: pytest-check, skip-detector

feat(templates): add Task Template System with builtin templates (Phase 4)
  codeframe/planning/task_templates.py
  tests/planning/test_task_templates.py
Due: pytest-check, skip-detector

feat(cli): add Phase 5 schedule and templates CLI commands
  codeframe/agents/dependency_resolver.py
  codeframe/cli/app.py
  codeframe/core/tasks.py
  codeframe/core/workspace.py
  tests/cli/test_schedule_commands.py
  tests/cli/test_templates_commands.py
Due: pytest-check, skip-detector

feat(api): add Phase 6 schedule and templates API endpoints
  codeframe/ui/routers/schedule.py
  codeframe/ui/routers/templates.py
  codeframe/ui/server.py
  tests/api/test_schedule_api.py
  tests/api/test_templates_api.py
Due: pytest-check, skip-detector

docs: update CLAUDE.md for Phase 4 - enhanced task generation
  CLAUDE.md
Due: none

style: fix ruff lint errors
  codeframe/cli/app.py
  tests/agents/test_dependency_resolver_critical_path.py
Due: pytest-check, skip-detector

fix: address code review issues for PR #301
  codeframe/core/phase_manager.py
  codeframe/planning/task_scheduler.py
  codeframe/ui/routers/schedule.py
  codeframe/ui/routers/tasks.py
  codeframe/ui/routers/templates.py
  tests/agents/test_dependency_resolver_critical_path.py
  tests/agents/test_lead_agent_scheduling.py
  tests/api/test_schedule_api.py
  tests/api/test_templates_api.py
  tests/cli/test_schedule_commands.py
  tests/cli/test_templates_commands.py
  tests/core/test_phase_manager.py
  tests/planning/test_task_decomposer_effort.py
  tests/planning/test_task_scheduler.py
  tests/planning/test_task_templates.py
Due: pytest-check, skip-detector

fix: wire up template dependencies and normalize status checks
  codeframe/cli/app.py
  codeframe/ui/routers/templates.py
Due: pytest-check

fix: API validation, transaction safety, and effort field propagation
  codeframe/cli/app.py
  codeframe/core/tasks.py
  codeframe/core/workspace.py
  codeframe/persistence/database.py
  codeframe/ui/routers/schedule.py
  codeframe/ui/routers/templates.py
Due: pytest-check

security: avoid exposing internal error details in API responses
  codeframe/ui/routers/schedule.py
  codeframe/ui/routers/templates.py
Due: pytest-check

fix: use actual issue_number when reusing existing issue
  codeframe/ui/routers/templates.py
Due: pytest-check

fix: add thread safety and CLI validation for schedule commands
  codeframe/cli/app.py
  codeframe/persistence/database.py
Due: pytest-check

fix: improve transaction safety with RLock and BEGIN error handling
  codeframe/persistence/database.py
Due: pytest-check

fix: consistent duration handling in schedule CLI commands
  codeframe/cli/app.py
Due: pytest-check

fix: log warning when tasks are omitted from schedule
  codeframe/planning/task_scheduler.py
Due: pytest-check

feat: Enhanced Task Generation with Scheduling and Templates (#301)
  CLAUDE.md
  codeframe/agents/dependency_resolver.py
  codeframe/agents/lead_agent.py
  codeframe/cli/app.py
  codeframe/core/models.py
  codeframe/core/phase_manager.py
  codeframe/core/tasks.py
  codeframe/core/workspace.py
  codeframe/persistence/database.py
  codeframe/persistence/repositories/task_repository.py
  codeframe/persistence/schema_manager.py
  codeframe/planning/task_decomposer.py
  codeframe/planning/task_scheduler.py
  codeframe/planning/task_templates.py
  codeframe/ui/routers/schedule.py
  codeframe/ui/routers/tasks.py
  codeframe/ui/routers/templates.py
  codeframe/ui/server.py
  tests/agents/test_dependency_resolver_critical_path.py
  tests/agents/test_lead_agent_scheduling.py
  tests/api/test_schedule_api.py
  tests/api/test_templates_api.py
  tests/cli/test_schedule_commands.py
  tests/cli/test_templates_commands.py
  tests/core/test_phase_manager.py
  tests/planning/test_task_decomposer_effort.py
  tests/planning/test_task_scheduler.py
  tests/planning/test_task_templates.py
Due: pytest-check, skip-detector

feat(agents): add tactical pattern supervisor for file conflict handling
  codeframe/agents/backend_worker_agent.py
  codeframe/agents/frontend_worker_agent.py
  codeframe/agents/lead_agent.py
  codeframe/agents/tactical_patterns.py
  codeframe/core/models.py
  codeframe/persistence/database.py
  codeframe/persistence/repositories/task_repository.py
  codeframe/persistence/schema_manager.py
  tests/agents/test_backend_worker_intervention.py
  tests/agents/test_lead_agent_intervention.py
  tests/agents/test_lead_agent_workspace_state.py
  tests/agents/test_tactical_patterns.py
  tests/persistence/test_intervention_context.py
Due: pytest-check, skip-detector

fix: remove unused imports and variables (ruff)
  codeframe/agents/backend_worker_agent.py
  codeframe/agents/lead_agent.py
  codeframe/agents/tactical_patterns.py
  tests/agents/test_backend_worker_intervention.py
  tests/agents/test_lead_agent_intervention.py
  tests/agents/test_tactical_patterns.py
Due: pytest-check, skip-detector

fix(agents): address PR review issues for tactical pattern supervisor
  codeframe/agents/backend_worker_agent.py
  codeframe/agents/lead_agent.py
  tests/agents/test_backend_worker_intervention.py
Due: pytest-check, skip-detector

fix(persistence): populate intervention_context in _row_to_task()
  codeframe/persistence/repositories/task_repository.py
  tests/persistence/test_intervention_context.py
Due: pytest-check, skip-detector

fix: add intervention_context migration and v2 test markers
  codeframe/persistence/schema_manager.py
  tests/agents/test_backend_worker_intervention.py
  tests/agents/test_lead_agent_intervention.py
  tests/agents/test_lead_agent_workspace_state.py
  tests/agents/test_tactical_patterns.py
  tests/persistence/test_intervention_context.py
Due: pytest-check, skip-detector

feat(agents): add tactical pattern supervisor for file conflict handling (#302)
  codeframe/agents/backend_worker_agent.py
  codeframe/agents/frontend_worker_agent.py
  codeframe/agents/lead_agent.py
  codeframe/agents/tactical_patterns.py
  codeframe/core/models.py
  codeframe/persistence/database.py
  codeframe/persistence/repositories/task_repository.py
  codeframe/persistence/schema_manager.py
  tests/agents/test_backend_worker_intervention.py
  tests/agents/test_lead_agent_intervention.py
  tests/agents/test_lead_agent_workspace_state.py
  tests/agents/test_tactical_patterns.py
  tests/persistence/test_intervention_context.py
Due: pytest-check, skip-detector

feat(gates): add BUILD validation gate to catch config errors early
  codeframe/core/models.py
  codeframe/lib/quality_gate_rules.py
  codeframe/lib/quality_gate_tool.py
  codeframe/lib/quality_gates.py
  tests/lib/test_quality_gate_rules.py
  tests/lib/test_quality_gates.py
Due: pytest-check, skip-detector

fix: address PR review feedback for BUILD gate
  codeframe/lib/quality_gate_tool.py
  codeframe/lib/quality_gates.py
Due: pytest-check

fix(ci): fix opencode-review workflow reliability issues
  .github/workflows/opencode-review.yml
Due: none

feat(gates): add BUILD validation gate for config errors (#303)
  .github/workflows/opencode-review.yml
  codeframe/core/models.py
  codeframe/lib/quality_gate_rules.py
  codeframe/lib/quality_gate_tool.py
  codeframe/lib/quality_gates.py
  tests/lib/test_quality_gate_rules.py
  tests/lib/test_quality_gates.py
Due: pytest-check, skip-detector

test(cli): add comprehensive v2 CLI integration test suite
  tests/cli/test_v2_cli_integration.py
Due: pytest-check, skip-detector

test(cli): add AI integration tests with MockProvider
  tests/cli/test_v2_cli_integration.py
Due: pytest-check, skip-detector

fix(lint): remove unused Path import
  tests/cli/test_v2_cli_integration.py
Due: pytest-check, skip-detector

test(cli): add comprehensive v2 CLI integration test suite (#304)
  tests/cli/test_v2_cli_integration.py
Due: pytest-check, skip-detector

feat(cli): add comprehensive GitHub PR workflow commands
  codeframe/cli/__init__.py
  codeframe/cli/app.py
  codeframe/cli/pr_commands.py
  docs/CLI_WIREFRAME.md
  tests/cli/test_pr_commands.py
Due: pytest-check, skip-detector

fix(cli): don't show success message when PR already closed
  codeframe/cli/pr_commands.py
Due: pytest-check

ci(workflow): improve opencode-review stability and context passing
  .github/workflows/opencode-review.yml
Due: none

test(cli): add PR commands to v2 CLI integration tests
  tests/cli/test_v2_cli_integration.py
Due: pytest-check, skip-detector
