Repository frankbria/codeframe: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, coverage-check, skip-detector

pytest-check:
  name: Run all tests
  entry: bash -c 'if [ -f venv/bin/activate ]; then source venv/bin/activate && pytest; elif [ -f .venv/bin/activate ]; then source .venv/bin/activate && pytest; else pytest; fi'
  language: system
  pass_filenames: false

coverage-check:
  name: Enforce 85% coverage
  ...

skip-detector:
  name: Detect skip decorator abuse
  entry: python scripts/detect-skip-abuse.py
  language: system
  pass_filenames: false

docs(sprint-8): Mark Sprint 8 complete and add comprehensive documentation
  SPRINTS.md
  sprints/sprint-08-quality-enforcement.md
Due: none

fix(enforcement): Fix 4 failing multi-language skip pattern detector tests
  codeframe/enforcement/skip_pattern_detector.py
  tests/enforcement/test_skip_pattern_detector.py
Due: pytest-check, coverage-check, skip-detector

feat(sprint-8): Complete US5 Enhanced Verification and US6 Context Management
  .beads/issues.jsonl
  .gitmessage
  CLAUDE.md
  scripts/quality-ratchet-example.json
  scripts/verify-ai-claims.sh
  specs/008-ai-quality-enforcement/tasks.md
Due: none

chore: Update .gitignore for testing artifacts and Claude settings
  .gitignore
Due: none

chore: Remove .claude/settings.local.json from git tracking
  .claude/settings.local.json
Due: none

fix(config): Fix typo in pytest coverage report option
  pyproject.toml
Due: none

fix(config): Fix typo in coverage exclusion pattern
  pyproject.toml
Due: none

fix(docs): Fix Sprint 9 anchor fragments in SPRINTS.md
  SPRINTS.md
Due: none

feat(ci): Add filters to Claude code review workflow
  .github/workflows/claude-code-review.yml
Due: none

fix(config): Fix pytest and coverage configuration issues
  .pre-commit-config.yaml
  pyproject.toml
Due: none

fix(security): Prevent command injection in AdaptiveTestRunner
  SECURITY.md
  codeframe/enforcement/adaptive_test_runner.py
Due: pytest-check, coverage-check

fix(security): Expand SAFE_COMMANDS to include common package managers
  codeframe/enforcement/adaptive_test_runner.py
Due: pytest-check, coverage-check

docs(security): Add deployment security architecture and configuration
  codeframe/config/security.py
  docs/DEPLOYMENT.md
Due: pytest-check, coverage-check

fix(ci): Fix arithmetic operator in GitHub Actions workflow
  .github/workflows/claude-code-review.yml
Due: none

docs: Update README.md and SPRINTS.md for Sprint 8 completion
  README.md
  SPRINTS.md
Due: none

feat: Add 'cf' CLI shortcut alias
  README.md
  pyproject.toml
Due: none

docs: Create Sprint 9 (MVP Completion) and restructure roadmap
  .beads/issues.jsonl
  SPRINTS.md
  sprints/sprint-09-mvp-completion.md
Due: none

chore: Change license from MIT to AGPL-3.0
  LICENSE
  README.md
Due: none

docs(sprint-9.5): Add Sprint 9.5 Critical UX Fixes specification
  sprints/sprint-09.5-critical-ux-fixes.md
Due: none

fix(pre-commit): Add file type filters to skip hooks on docs-only commits
  .pre-commit-config.yaml
Due: none

Path conditions:
  pytest-check: any of: \.py$ and \.py$
  coverage-check: any of: \.py$ and \.py$
  skip-detector: any of: ^tests/.*\.py$
