Repository frankbria/codeframe: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, skip-detector

pytest-check:
  name: Run last failed tests (fast feedback)
  entry: bash -c 'if [ -f venv/bin/activate ]; then source venv/bin/activate && pytest --lf -x; elif [ -f .venv/bin/activate ]; then source .venv/bin/activate && pytest --lf -x; else pytest --lf -x; fi'
  language: system
  pass_filenames: false

skip-detector:
  name: Detect skip decorator abuse
  entry: python scripts/detect-skip-abuse.py
  language: system
  pass_filenames: false

fix(worktrees): a stopped or failed worktree run can be started again, resuming its work (#1363) (#1424)
  CHANGELOG.md
  codeframe/core/sandbox/context.py
  tests/core/test_preserved_worktree_resume_1363.py
  tests/core/test_sandbox_context.py
Due: pytest-check, skip-detector

fix(workspaces): deleting a workspace forgets who connected its GitHub repo (#1370)
  codeframe/core/github_integration_config.py
  codeframe/ui/routers/workspace_v2.py
  tests/ui/test_forget_connection_owner_1370.py
Due: pytest-check, skip-detector

docs(changelog): #1370
  CHANGELOG.md
Due: none

fix(workspaces): deleting a workspace forgets who connected its GitHub repo (#1370) (#1425)
  CHANGELOG.md
  codeframe/core/github_integration_config.py
  codeframe/ui/routers/workspace_v2.py
  tests/ui/test_forget_connection_owner_1370.py
Due: pytest-check, skip-detector

fix(init): cf init migrates a serve-first legacy state.db to platform.db (#1376)
  codeframe/core/workspace.py
  codeframe/platform_store/database.py
  tests/core/test_legacy_control_plane_migration_1376.py
Due: pytest-check, skip-detector

fix(init): a migrated legacy directory reports a new workspace, not 'already initialized' (#1376)
  codeframe/cli/app.py
  tests/core/test_legacy_control_plane_migration_1376.py
Due: pytest-check, skip-detector

docs(changelog): #1376
  CHANGELOG.md
Due: none

fix(init): never move a legacy control-plane DB a server has open, or one DATABASE_PATH names (#1376 review)
  codeframe/platform_store/database.py
  tests/core/test_legacy_control_plane_migration_1376.py
Due: pytest-check, skip-detector

fix(init): serialize the legacy control-plane migration across processes (#1376 review)
  codeframe/core/workspace.py
  codeframe/platform_store/database.py
  tests/core/test_legacy_control_plane_migration_1376.py
Due: pytest-check, skip-detector

fix(init): the migrated account DB keeps the original's permissions (#1376 review)
  codeframe/platform_store/database.py
  tests/core/test_legacy_control_plane_migration_1376.py
Due: pytest-check, skip-detector

fix(init): finish a control-plane migration interrupted after publishing platform.db (#1376)
  codeframe/platform_store/database.py
  tests/core/test_legacy_control_plane_migration_1376.py
Due: pytest-check, skip-detector

fix(init): keep the pending marker until the interrupted move actually finishes (#1376 review)
  codeframe/platform_store/database.py
  tests/core/test_legacy_control_plane_migration_1376.py
Due: pytest-check, skip-detector

fix(init): a resumed migration keeps the safety checks, and a failed copy leaves no temp file (#1376 review)
  codeframe/platform_store/database.py
  tests/core/test_legacy_control_plane_migration_1376.py
Due: pytest-check, skip-detector

fix(init): make each migration step durable before the next (#1376 review)
  codeframe/platform_store/database.py
  tests/core/test_legacy_control_plane_migration_1376.py
Due: pytest-check, skip-detector

fix(init): migrate before anything loads state.db as a workspace; resolve a relative DATABASE_PATH from the repo root too (#1376 review)
  codeframe/cli/app.py
  codeframe/core/workspace.py
  codeframe/platform_store/database.py
  tests/core/test_legacy_control_plane_migration_1376.py
Due: pytest-check, skip-detector

fix(init): the migrated platform.db replays control-plane migrations, and no loader stamps a control-plane state.db as a workspace (#1376 review)
  codeframe/core/workspace.py
  codeframe/platform_store/database.py
  tests/core/test_legacy_control_plane_migration_1376.py
Due: pytest-check, skip-detector

fix(api): the v2 workspace-init route migrates a legacy control-plane state.db too (#1376 review)
  codeframe/ui/routers/workspace_v2.py
  tests/core/test_legacy_control_plane_migration_1376.py
Due: pytest-check, skip-detector

fix(init): cf init migrates a serve-first legacy state.db to platform.db (#1376) (#1426)
  CHANGELOG.md
  codeframe/cli/app.py
  codeframe/core/workspace.py
  codeframe/platform_store/database.py
  codeframe/ui/routers/workspace_v2.py
  tests/core/test_legacy_control_plane_migration_1376.py
Due: pytest-check, skip-detector

fix(workspace): one tech-stack detector in core for the CLI and the web UI (#1381)
  codeframe/cli/app.py
  codeframe/core/tech_stack.py
  codeframe/ui/routers/workspace_v2.py
  tests/core/test_tech_stack_detection_1381.py
Due: pytest-check, skip-detector

docs(changelog): #1381
  CHANGELOG.md
Due: none

fix(workspace): tech-stack detection tolerates a package.json that is valid JSON but not an object (#1381 review)
  codeframe/core/tech_stack.py
  tests/core/test_tech_stack_detection_1381.py
Due: pytest-check, skip-detector

fix(workspace): one tech-stack detector for the CLI and the web UI (#1381) (#1428)
  CHANGELOG.md
  codeframe/cli/app.py
  codeframe/core/tech_stack.py
  codeframe/ui/routers/workspace_v2.py
  tests/core/test_tech_stack_detection_1381.py
Due: pytest-check, skip-detector

fix(proof): an evidence rule runs exactly the test it names, not every -k substring match (#1401)
  codeframe/core/gates.py
  codeframe/core/proof/obligations.py
  codeframe/core/proof/runner.py
  codeframe/core/proof/stubs.py
  tests/core/test_proof_evidence_rules.py
  tests/core/test_proof_exact_test_selection_1401.py
Due: pytest-check, skip-detector

docs(changelog): #1401
  CHANGELOG.md
Due: none

fix(proof): collect node ids whatever the project's addopts verbosity, and strip parameter ids before the name split (#1401 review)
  codeframe/core/gates.py
  tests/core/test_proof_exact_test_selection_1401.py
Due: pytest-check, skip-detector

fix(proof): override verbosity_test_cases for collection too (#1401 review)
  codeframe/core/gates.py
  tests/core/test_proof_exact_test_selection_1401.py
Due: pytest-check, skip-detector

fix(proof): run with the collection's -k and deselect other names, so an addopts test path cannot add unfiltered tests (#1401 review)
  codeframe/core/gates.py
  tests/core/test_proof_evidence_rules.py
  tests/core/test_proof_exact_test_selection_1401.py
Due: pytest-check, skip-detector

fix(proof): decide an evidence rule from the JUnit cases named exactly, not console parsing or prefix --deselect (#1401 review)
  codeframe/core/gates.py
  tests/core/test_proof_evidence_rules.py
  tests/core/test_proof_exact_test_selection_1401.py
Due: pytest-check, skip-detector

fix(proof): a project's -x/--maxfail cannot leave an exact-named case unrun (#1401 review)
  codeframe/core/gates.py
  tests/core/test_proof_exact_test_selection_1401.py
Due: pytest-check, skip-detector

docs(changelog): #1401 describes the report-based verdict
  CHANGELOG.md
Due: none

style(proof): wrap the obligations docstring line (#1401 review nit)
  codeframe/core/proof/obligations.py
Due: pytest-check

fix(proof): an evidence rule runs and is judged by exactly the test it names (#1401) (#1429)
  CHANGELOG.md
  codeframe/core/gates.py
  codeframe/core/proof/obligations.py
  codeframe/core/proof/runner.py
  codeframe/core/proof/stubs.py
  tests/core/test_proof_evidence_rules.py
  tests/core/test_proof_exact_test_selection_1401.py
Due: pytest-check, skip-detector

fix(chat): an interrupted call is charged for the tool arguments it streamed (#1405)
  codeframe/adapters/llm/anthropic.py
  codeframe/adapters/llm/base.py
  codeframe/adapters/llm/openai.py
  codeframe/core/adapters/streaming_chat.py
  tests/api/test_chat_tool_args_usage_1405.py
Due: pytest-check, skip-detector

docs(changelog): #1405
  CHANGELOG.md
Due: none

test(chat): pin tool_input_delta at the adapter and keep partial JSON out of the UI (#1405)
  tests/adapters/test_anthropic_async_stream_949.py
  tests/core/test_streaming_chat.py
Due: pytest-check, skip-detector

test(chat): cancel once every argument chunk has streamed, not after a fixed sleep (#1405 review)
  tests/api/test_chat_tool_args_usage_1405.py
Due: pytest-check, skip-detector

fix(chat): an interrupted call is charged for the tool arguments it streamed (#1405) (#1431)
  CHANGELOG.md
  codeframe/adapters/llm/anthropic.py
  codeframe/adapters/llm/base.py
  codeframe/adapters/llm/openai.py
  codeframe/core/adapters/streaming_chat.py
  tests/adapters/test_anthropic_async_stream_949.py
  tests/api/test_chat_tool_args_usage_1405.py
  tests/core/test_streaming_chat.py
Due: pytest-check, skip-detector

fix(llm): every unmapped 4xx from a provider is a rejected request naming its status, not a connection failure (#1418)
  codeframe/adapters/llm/errors.py
  tests/adapters/test_other_4xx_rejected_1418.py
Due: pytest-check, skip-detector

docs(changelog): #1418
  CHANGELOG.md
Due: none

fix(llm): any unmapped 4xx from a provider is a rejected request, not a connection failure (#1418) (#1433)
  CHANGELOG.md
  codeframe/adapters/llm/errors.py
  tests/adapters/test_other_4xx_rejected_1418.py
Due: pytest-check, skip-detector

Path conditions:
  pytest-check: any of: \.py$ and \.py$
  skip-detector: any of: ^tests/.*\.py$
