Repository frankbria/codeframe: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, skip-detector

pytest-check:
  name: Run last failed tests (fast feedback)
  entry: bash -c 'if [ -f venv/bin/activate ]; then source venv/bin/activate && pytest --lf -x; elif [ -f .venv/bin/activate ]; then source .venv/bin/activate && pytest --lf -x; else pytest --lf -x; fi'
  language: system
  pass_filenames: false

skip-detector:
  name: Detect skip decorator abuse
  entry: python scripts/detect-skip-abuse.py
  language: system
  pass_filenames: false

fix(adapters): pass temperature unconditionally in AnthropicProvider (#767)
  codeframe/adapters/llm/anthropic.py
  tests/adapters/test_llm_anthropic.py
Due: pytest-check, skip-detector

test(adapters): cover sync stream() temperature passthrough (#767)
  tests/adapters/test_llm_anthropic.py
Due: pytest-check, skip-detector

fix(adapters): pass temperature unconditionally in AnthropicProvider (#767) (#856)
  codeframe/adapters/llm/anthropic.py
  tests/adapters/test_llm_anthropic.py
Due: pytest-check, skip-detector

ci(glm-review): skip GLM review on Dependabot PRs
  .github/workflows/glm-review.yml
Due: none

ci(glm-review): skip GLM review on Dependabot PRs (#857)
  .github/workflows/glm-review.yml
Due: none

ci(deploy): serialize deploys + surface backend crash logs on health-check failure
  .github/workflows/deploy.yml
Due: none

ci(deploy): serialize deploys + surface backend crash logs on health-check failure (#858)
  .github/workflows/deploy.yml
Due: none

fix(core): mark batch terminal on worker exception in resume/retry paths (#848)
  codeframe/core/conductor.py
  tests/core/test_conductor.py
Due: pytest-check, skip-detector

fix(core): mark batch terminal on worker exception in resume/retry paths (#848) (#859)
  codeframe/core/conductor.py
  tests/core/test_conductor.py
Due: pytest-check, skip-detector

fix(cli): provider-aware pre-flight key checks + Think-phase provider resolution (#768)
  codeframe/cli/app.py
  codeframe/cli/validators.py
  codeframe/core/llm_resolution.py
  codeframe/core/runtime.py
  codeframe/core/tasks.py
  codeframe/ui/routers/prd_v2.py
  tests/core/test_cli_llm_flags.py
  tests/core/test_cli_validators.py
  tests/core/test_llm_resolution.py
Due: pytest-check, skip-detector

test: repoint stress-test CLI mocks at the shared provider-resolution seam
  tests/core/test_prd_stress_test.py
Due: pytest-check, skip-detector

fix: address cross-family review findings (#768)
  codeframe/adapters/llm/__init__.py
  codeframe/cli/app.py
  tests/core/test_cli_validators.py
  tests/core/test_llm_resolution.py
Due: pytest-check, skip-detector

fix: address PR feedback — discovery generate-tasks provider chain + CI test seam
  codeframe/cli/app.py
  codeframe/ui/routers/discovery_v2.py
  tests/cli/test_tasks_tree_cli.py
  tests/ui/test_discovery_generate_tasks.py
Due: pytest-check, skip-detector

docs: provider-aware key prerequisite (README) + Think-phase llm flags in CLAUDE.md (#768)
  CLAUDE.md
  README.md
Due: none

docs: provider-aware Raises docstring on execute_agent (review nitpick)
  codeframe/core/runtime.py
Due: pytest-check

fix(cli): provider-aware pre-flight key checks + Think-phase provider resolution (#768)
  CLAUDE.md
  README.md
  codeframe/adapters/llm/__init__.py
  codeframe/cli/app.py
  codeframe/cli/validators.py
  codeframe/core/llm_resolution.py
  codeframe/core/runtime.py
  codeframe/core/tasks.py
  codeframe/ui/routers/discovery_v2.py
  codeframe/ui/routers/prd_v2.py
  tests/cli/test_tasks_tree_cli.py
  tests/core/test_cli_llm_flags.py
  tests/core/test_cli_validators.py
  tests/core/test_llm_resolution.py
  tests/core/test_prd_stress_test.py
  tests/ui/test_discovery_generate_tasks.py
Due: pytest-check, skip-detector

fix(cli): remove unimplemented 'cloud' from --isolation choices (#769)
  codeframe/cli/app.py
  tests/cli/test_work_exit_codes.py
Due: pytest-check, skip-detector

fix(cli): remove unimplemented 'cloud' from --isolation choices (#769) (#862)
  codeframe/cli/app.py
  tests/cli/test_work_exit_codes.py
Due: pytest-check, skip-detector

fix(cli): wire stub commands 'cf events tail' and 'cf gates run' (#770)
  codeframe/cli/app.py
  codeframe/core/events.py
  tests/cli/test_events_gates_commands.py
Due: pytest-check, skip-detector

fix(cli): reject --limit 0 in events tail (codex review P3 — would replay old events)
  codeframe/cli/app.py
  tests/cli/test_events_gates_commands.py
Due: pytest-check, skip-detector

fix(cli): wire stub commands 'cf events tail' and 'cf gates run' (#770) (#863)
  codeframe/cli/app.py
  codeframe/core/events.py
  tests/cli/test_events_gates_commands.py
Due: pytest-check, skip-detector

docs: repo hygiene + docs drift cleanup (#771)
  .gitignore
  AGENTS.md
  PRD.md
  README.md
  TESTING.md
  codeframe/ui/routers/events_v2.py
  codeframe/ui/server.py
  coverage.json
  test_output.log
Due: pytest-check

docs: correct false archival claim in PRD.md stub
  PRD.md
Due: none

docs: repo hygiene + docs drift cleanup (#771) (#864)
  .gitignore
  AGENTS.md
  PRD.md
  README.md
  TESTING.md
  codeframe/ui/routers/events_v2.py
  codeframe/ui/server.py
  coverage.json
  test_output.log
Due: pytest-check

fix(adapters): harden claude-code require_file_changes + bypassPermissions (#819)
  codeframe/core/adapters/claude_code.py
  codeframe/core/adapters/claude_code_guard.py
  codeframe/core/adapters/git_utils.py
  codeframe/core/adapters/subprocess_adapter.py
  tests/core/adapters/test_claude_code.py
  tests/core/adapters/test_claude_code_guard.py
  tests/core/adapters/test_git_utils.py
  tests/core/adapters/test_subprocess_adapter.py
Due: pytest-check, skip-detector

fix(adapters): make the claude-code guard cheap to import + fail safe (#819)
  codeframe/core/adapters/claude_code.py
  codeframe/core/claude_code_guard.py
  codeframe/core/dangerous_commands.py
  codeframe/core/executor.py
  tests/core/adapters/test_claude_code.py
  tests/core/test_claude_code_guard.py
Due: pytest-check, skip-detector

fix(adapters): harden claude-code require_file_changes + bypassPermissions (#819)
  codeframe/core/adapters/claude_code.py
  codeframe/core/adapters/git_utils.py
  codeframe/core/adapters/subprocess_adapter.py
  codeframe/core/claude_code_guard.py
  codeframe/core/dangerous_commands.py
  codeframe/core/executor.py
  tests/core/adapters/test_claude_code.py
  tests/core/adapters/test_git_utils.py
  tests/core/adapters/test_subprocess_adapter.py
  tests/core/test_claude_code_guard.py
Due: pytest-check, skip-detector

feat(isolation): re-enable worktree isolation with real merge-back (#787)
  codeframe/cli/app.py
  codeframe/core/adapters/builtin.py
  codeframe/core/adapters/verification_wrapper.py
  codeframe/core/conductor.py
  codeframe/core/runtime.py
  codeframe/core/sandbox/context.py
  codeframe/core/worktrees.py
  tests/cli/test_work_exit_codes.py
  tests/core/test_sandbox_context.py
  tests/core/test_worktree_isolation.py
Due: pytest-check, skip-detector

fix(isolation): harden worktree merge-back per review (#787)
  codeframe/cli/app.py
  codeframe/core/runtime.py
  codeframe/core/sandbox/context.py
  codeframe/core/worktrees.py
  tests/core/adapters/test_builtin.py
  tests/core/adapters/test_verification_wrapper.py
  tests/core/test_engine_registry_extended.py
  tests/core/test_sandbox_context.py
  tests/core/test_worktree_isolation.py
Due: pytest-check, skip-detector

feat(isolation): re-enable worktree isolation with real merge-back (#787) (#867)
  codeframe/cli/app.py
  codeframe/core/adapters/builtin.py
  codeframe/core/adapters/verification_wrapper.py
  codeframe/core/conductor.py
  codeframe/core/runtime.py
  codeframe/core/sandbox/context.py
  codeframe/core/worktrees.py
  tests/cli/test_work_exit_codes.py
  tests/core/adapters/test_builtin.py
  tests/core/adapters/test_verification_wrapper.py
  tests/core/test_engine_registry_extended.py
  tests/core/test_sandbox_context.py
  tests/core/test_worktree_isolation.py
Due: pytest-check, skip-detector

feat(auth): per-user credential scoping for hosted mode (#790)
  codeframe/core/credentials.py
  codeframe/core/github_integration_config.py
  codeframe/core/github_issues_service.py
  codeframe/core/tasks.py
  codeframe/ui/dependencies.py
  codeframe/ui/routers/github_integrations_v2.py
  codeframe/ui/routers/settings_v2.py
  codeframe/ui/server.py
  pyproject.toml
  tests/core/test_credentials_per_user.py
  tests/core/test_task_github_traceability.py
  tests/ui/test_credential_tenant_isolation.py
  tests/ui/test_github_integrations_v2.py
  tests/ui/test_hosted_credential_block.py
  tests/ui/test_security_config.py
  tests/ui/test_settings_v2.py
  tests/ui/test_v2_auth_enforcement.py
  tests/ui/test_v2_scope_enforcement.py
  uv.lock
Due: pytest-check, skip-detector

fix(auth): prevent write-scope migration leak on github endpoints
  codeframe/ui/routers/github_integrations_v2.py
Due: pytest-check

feat(auth): per-user credential scoping for hosted mode (#790) (#871)
  codeframe/core/credentials.py
  codeframe/core/github_integration_config.py
  codeframe/core/github_issues_service.py
  codeframe/core/tasks.py
  codeframe/ui/dependencies.py
  codeframe/ui/routers/github_integrations_v2.py
  codeframe/ui/routers/settings_v2.py
  codeframe/ui/server.py
  pyproject.toml
  tests/core/test_credentials_per_user.py
  tests/core/test_task_github_traceability.py
  tests/ui/test_credential_tenant_isolation.py
  tests/ui/test_github_integrations_v2.py
  tests/ui/test_hosted_credential_block.py
  tests/ui/test_security_config.py
  tests/ui/test_settings_v2.py
  tests/ui/test_v2_auth_enforcement.py
  tests/ui/test_v2_scope_enforcement.py
  uv.lock
Due: pytest-check, skip-detector

fix(batches): resolve batch ids by SQL prefix, not capped Python list (#825)
  codeframe/cli/app.py
  codeframe/core/conductor.py
  tests/core/test_batch_truncation.py
Due: pytest-check, skip-detector

fix(batches): reject ambiguous batch id prefix on all four CLI commands
  codeframe/cli/app.py
  tests/core/test_batch_truncation.py
Due: pytest-check, skip-detector

fix(batches): resolve batch ids beyond the 100-batch cap (#825)
  codeframe/cli/app.py
  codeframe/core/conductor.py
  tests/core/test_batch_truncation.py
Due: pytest-check, skip-detector

refactor(blockers): rename ORIGIN_CONFIG.Icon → .icon for camelCase consistency
  web-ui/src/components/blockers/BlockerCard.tsx
Due: none

refactor(notifications): rename iconForNotification Icon → icon for camelCase
  web-ui/src/components/layout/NotificationCenter.tsx
Due: none

Path conditions:
  pytest-check: any of: \.py$ and \.py$
  skip-detector: any of: ^tests/.*\.py$
