Repository frankbria/codeframe: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, skip-detector

.pre-commit-config.yaml:

repos:
  # Note: black removed from pre-commit to avoid conflicts with ruff --fix
  # Run `uv run black .` manually before committing if needed

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.2.0
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        types: [python]

  - repo: local
    hooks:
      - id: pytest-check
        name: Run last failed tests (fast feedback)
        entry: bash -c 'if [ -f venv/bin/activate ]; then source venv/bin/activate && pytest --lf -x; elif [ -f .venv/bin/activate ]; then source .venv/bin/activate && pytest --lf -x; else pytest --lf -x; fi'
        language: system
        pass_filenames: false
        files: \.py$
        types: [python]

      - id: coverage-check
        name: Enforce 65% coverage (manual - use scripts/verify-ai-claims.sh for full check)
        entry: bash -c 'if [ -f venv/bin/activate ]; then source venv/bin/activate && pytest --cov --cov-report=term-missing --cov-fail-under=65; elif [ -f .venv/bin/activate ]; then source .venv/bin/activate && pytest --cov --cov-report=term-missing --cov-fail-under=65; else pytest --cov --cov-report=term-missing --cov-fail-under=65; fi || (echo "❌❌❌ COVERAGE BELOW 65% ❌❌❌" && exit 1)'
        language: system
        pass_filenames: false
        files: \.py$
        types: [python]
        stages: [manual]

      - id: skip-detector
        name: Detect skip decorator abuse
        entry: python scripts/detect-skip-abuse.py
        language: system
        files: ^tests/.*\.py$
        pass_filenames: false

Add skip detection quality gate to prevent bypassed tests (#137)
  CLAUDE.md
  codeframe/config/security.py
  codeframe/core/models.py
  codeframe/core/project.py
  codeframe/lib/metrics_tracker.py
  codeframe/lib/quality_gates.py
  docs/code-review/2025-12-18-skip-detection-quality-gate-review.md
  tests/core/test_project_get_status.py
  tests/integration/test_quality_gates_integration.py
  tests/lib/test_quality_gates.py
Due: pytest-check, skip-detector

fix(ui): Reset form submitting state after successful project creation (#94)
  web-ui/src/components/ProjectCreationForm.tsx
Due: none

fix(tests): Fix E2E tests for typed object return values
  codeframe/persistence/database.py
  tests/e2e/test_full_workflow.py
Due: pytest-check, skip-detector

refactor(db): Flatten all migrations into v1.0 schema
  codeframe/persistence/database.py
  codeframe/persistence/migrations/archive/migration_001_remove_agent_type_constraint.py
  codeframe/persistence/migrations/archive/migration_002_refactor_projects_schema.py
  codeframe/persistence/migrations/archive/migration_003_update_blockers_schema.py
  codeframe/persistence/migrations/archive/migration_004_add_context_checkpoints.py
  codeframe/persistence/migrations/archive/migration_005_add_context_indexes.py
  codeframe/persistence/migrations/archive/migration_006_mvp_completion.py
  codeframe/persistence/migrations/archive/migration_007_sprint10_review_polish.py
  codeframe/persistence/migrations/archive/migration_008_add_session_id.py
  codeframe/persistence/migrations/archive/migration_009_add_project_agents.py
  codeframe/persistence/migrations/archive/migration_010_pause_functionality.py
  codeframe/persistence/migrations/archive/migration_011_created_at_not_null.py
Due: pytest-check

feat(auth): Add authentication and authorization infrastructure (#132)
  CLAUDE.md
  codeframe/persistence/database.py
  codeframe/ui/auth.py
  codeframe/ui/dependencies.py
  web-ui/package-lock.json
  web-ui/package.json
  web-ui/src/app/api/auth/[...all]/route.ts
  web-ui/src/app/layout.tsx
  web-ui/src/app/login/page.tsx
  web-ui/src/app/projects/[projectId]/page.tsx
  web-ui/src/app/signup/page.tsx
  web-ui/src/components/Navigation.tsx
  web-ui/src/components/auth/LoginForm.tsx
  web-ui/src/components/auth/ProtectedRoute.tsx
  web-ui/src/components/auth/SignupForm.tsx
  web-ui/src/lib/auth-client.ts
  web-ui/src/lib/auth.ts
Due: pytest-check

feat(auth): Add authorization checks to projects router (#132)
  codeframe/ui/routers/projects.py
Due: pytest-check

feat(auth): Complete authorization for projects router (#132)
  codeframe/ui/routers/projects.py
Due: pytest-check

feat(auth): Add authorization to agents router
  codeframe/ui/routers/agents.py
Due: pytest-check

feat(auth): Add authorization to blockers router
  codeframe/ui/routers/blockers.py
Due: pytest-check

feat(auth): Add authorization to chat router
  codeframe/ui/routers/chat.py
Due: pytest-check

feat(auth): Add authorization to checkpoints router
  codeframe/ui/routers/checkpoints.py
Due: pytest-check

feat(auth): Add authorization to discovery router
  codeframe/ui/routers/discovery.py
Due: pytest-check

feat(auth): Add authorization to lint router
  codeframe/ui/routers/lint.py
Due: pytest-check

feat(auth): Add authorization to metrics router
  codeframe/ui/routers/metrics.py
Due: pytest-check

feat(auth): Add authorization to quality_gates router
  codeframe/ui/routers/quality_gates.py
Due: pytest-check

feat(auth): Add authorization to review router endpoints (6/13 routers complete)
  codeframe/ui/routers/review.py
Due: pytest-check

feat(auth): Add authorization to context router endpoints (11/13 routers complete)
  codeframe/ui/routers/context.py
Due: pytest-check

feat(auth): Add authorization to session router endpoint (12/13 routers complete)
  codeframe/ui/routers/session.py
Due: pytest-check

docs(auth): Document WebSocket authorization requirements (Phase 2.4 complete)
  codeframe/ui/routers/websocket.py
Due: pytest-check

feat(audit): Create audit log infrastructure (Phase 3.1 complete)
  codeframe/lib/audit_logger.py
  codeframe/persistence/database.py
Due: pytest-check

feat(audit): Add audit logging to authentication flows (Phase 3.2 complete)
  codeframe/ui/auth.py
Due: pytest-check

feat(audit): Add audit logging to authorization checks (Phase 3.3 complete)
  codeframe/persistence/database.py
Due: pytest-check

feat(audit): Add audit logging to project lifecycle (Phase 3.4 complete)
  codeframe/persistence/database.py
Due: pytest-check

docs: Add comprehensive authentication & authorization documentation
  CONTRIBUTING.md
  README.md
  SECURITY.md
  docs/authentication.md
Due: none

fix: Resolve circular import between database.py and audit_logger.py
  codeframe/persistence/database.py
Due: pytest-check

fix: Resolve circular import between dependencies.py and auth.py
  codeframe/ui/dependencies.py
  codeframe/ui/routers/agents.py
  codeframe/ui/routers/blockers.py
  codeframe/ui/routers/chat.py
  codeframe/ui/routers/checkpoints.py
  codeframe/ui/routers/context.py
  codeframe/ui/routers/discovery.py
  codeframe/ui/routers/lint.py
  codeframe/ui/routers/metrics.py
  codeframe/ui/routers/projects.py
  codeframe/ui/routers/quality_gates.py
  codeframe/ui/routers/review.py
  codeframe/ui/routers/session.py
Due: pytest-check

fix(auth): Use token column instead of id in session queries
  codeframe/ui/auth.py
Due: pytest-check

fix: Add missing current_user parameter and remove unused import
  codeframe/ui/auth.py
  codeframe/ui/routers/checkpoints.py
Due: pytest-check

fix(auth): Address 4 critical security and performance issues
  codeframe/persistence/database.py
  codeframe/ui/auth.py
  codeframe/ui/server.py
Due: pytest-check

perf: Fix N+1 query and add audit log retention policy
  codeframe/persistence/database.py
  codeframe/ui/server.py
Due: pytest-check

fix(auth): Close 5 critical authorization gaps identified in security audit
  codeframe/ui/routers/agents.py
  codeframe/ui/routers/context.py
  codeframe/ui/routers/lint.py
  codeframe/ui/routers/metrics.py
  codeframe/ui/routers/review.py
Due: pytest-check

docs(auth): Fix import statement in authentication example
  docs/authentication.md
Due: none

fix(db): Reorder table creation to create parent tables before child tables
  codeframe/persistence/database.py
Due: pytest-check

fix(frontend): Rename unused error variables to comply with ESLint strict mode
  web-ui/src/components/auth/LoginForm.tsx
  web-ui/src/components/auth/SignupForm.tsx
Due: none

fix(auth): Replace non-existent SQLite adapter with database URL config
  web-ui/src/lib/auth.ts
Due: none

fix(auth): Add missing token column to sessions table schema - CRITICAL
  codeframe/persistence/database.py
Due: pytest-check

test(auth): Add comprehensive authentication and authorization tests
  tests/auth/test_authentication.py
  tests/auth/test_authorization_integration.py
Due: pytest-check, skip-detector

feat(auth): Implement WebSocket authentication - CRITICAL SECURITY FIX
  codeframe/ui/routers/websocket.py
Due: pytest-check

style: Remove unused imports in authentication tests
  tests/auth/test_authentication.py
Due: pytest-check, skip-detector

refactor: Convert cleanup methods to async and address code review issues
  codeframe/core/project.py
  codeframe/persistence/database.py
  codeframe/ui/auth.py
  codeframe/ui/routers/context.py
  codeframe/ui/routers/metrics.py
  codeframe/ui/routers/review.py
  codeframe/ui/routers/websocket.py
  codeframe/ui/server.py
  tests/auth/test_authentication.py
Due: pytest-check, skip-detector
