Repository frankbria/codeframe: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, skip-detector

pytest-check:
  name: Run last failed tests (fast feedback)
  entry: bash -c 'if [ -f venv/bin/activate ]; then source venv/bin/activate && pytest --lf -x; elif [ -f .venv/bin/activate ]; then source .venv/bin/activate && pytest --lf -x; else pytest --lf -x; fi'
  language: system
  pass_filenames: false

skip-detector:
  name: Detect skip decorator abuse
  entry: python scripts/detect-skip-abuse.py
  language: system
  pass_filenames: false

feat(streaming): add real-time SSE events for task execution
  codeframe/core/agent.py
  codeframe/core/executor.py
  codeframe/core/models.py
  codeframe/core/streaming.py
  codeframe/ui/routers/streaming_v2.py
  codeframe/ui/server.py
  tests/core/test_event_publisher.py
  tests/core/test_execution_events.py
  tests/core/test_executor_events.py
  tests/ui/test_streaming_router.py
Due: pytest-check, skip-detector

fix(streaming): address review feedback on thread safety and runtime integration
  codeframe/core/executor.py
  codeframe/core/runtime.py
  codeframe/core/streaming.py
Due: pytest-check

fix(executor): remove duplicate ProgressEvent with incorrect total_steps
  codeframe/core/executor.py
  tests/core/test_executor_events.py
Due: pytest-check, skip-detector

feat(streaming): add real-time SSE events for task execution (#328)
  codeframe/core/agent.py
  codeframe/core/executor.py
  codeframe/core/models.py
  codeframe/core/runtime.py
  codeframe/core/streaming.py
  codeframe/ui/routers/streaming_v2.py
  codeframe/ui/server.py
  tests/core/test_event_publisher.py
  tests/core/test_execution_events.py
  tests/core/test_executor_events.py
  tests/ui/test_streaming_router.py
Due: pytest-check, skip-detector

docs(api): add comprehensive OpenAPI documentation for all endpoints
  codeframe/ui/models.py
  codeframe/ui/routers/agents.py
  codeframe/ui/routers/blockers.py
  codeframe/ui/routers/projects.py
  codeframe/ui/routers/tasks.py
  codeframe/ui/server.py
Due: pytest-check

docs(readme): update Phase 2 progress with OpenAPI and SSE completion
  README.md
Due: none

docs: update CLAUDE.md for Phase 2 completion
  CLAUDE.md
Due: none

docs: add Phase 3 UI information architecture
  docs/PHASE_3_UI_ARCHITECTURE.md
Due: none

feat(web-ui): implement Phase 3 workspace view with TDD
  web-ui/.env.example
  web-ui/.gitignore
  web-ui/__mocks__/@hugeicons/react.js
  web-ui/__tests__/app/page.test.tsx
  web-ui/__tests__/components/workspace/QuickActions.test.tsx
  web-ui/__tests__/components/workspace/RecentActivityFeed.test.tsx
  web-ui/__tests__/components/workspace/WorkspaceHeader.test.tsx
  web-ui/__tests__/components/workspace/WorkspaceStatsCards.test.tsx
  web-ui/jest.config.js
  web-ui/jest.d.ts
  web-ui/jest.setup.js
  web-ui/next-env.d.ts
  web-ui/next.config.js
  web-ui/package-lock.json
  web-ui/package.json
  web-ui/postcss.config.js
  web-ui/src/app/globals.css
  web-ui/src/app/layout.tsx
  web-ui/src/app/page.tsx
  web-ui/src/components/ui/badge.tsx
  web-ui/src/components/ui/button.tsx
  web-ui/src/components/ui/card.tsx
  web-ui/src/components/workspace/QuickActions.tsx
  web-ui/src/components/workspace/RecentActivityFeed.tsx
  web-ui/src/components/workspace/WorkspaceHeader.tsx
  web-ui/src/components/workspace/WorkspaceStatsCards.tsx
  web-ui/src/components/workspace/index.ts
  web-ui/src/lib/api.ts
  web-ui/src/lib/utils.ts
  web-ui/src/types/index.ts
  web-ui/tailwind.config.ts
  web-ui/tsconfig.json
Due: none

fix(workspace): handle missing tables in schema upgrades
  codeframe/core/workspace.py
Due: pytest-check

feat(web-ui): add workspace path selection
  codeframe.db
  web-ui/__mocks__/@hugeicons/react.js
  web-ui/__tests__/app/page.test.tsx
  web-ui/src/app/page.tsx
  web-ui/src/components/workspace/WorkspaceSelector.tsx
  web-ui/src/lib/api.ts
  web-ui/src/lib/workspace-storage.ts
Due: none

chore(web-ui): upgrade to Next.js 16 with React 19
  web-ui/__tests__/app/page.test.tsx
  web-ui/eslint.config.mjs
  web-ui/next-env.d.ts
  web-ui/package-lock.json
  web-ui/package.json
  web-ui/src/app/page.tsx
  web-ui/tsconfig.json
Due: none

fix(workspace): add missing tasks columns to schema upgrades
  codeframe/core/workspace.py
Due: pytest-check

fix(schema): run migrations before creating indexes
  codeframe/persistence/schema_manager.py
Due: pytest-check

fix(server): use separate database for persistence layer
  codeframe/persistence/schema_manager.py
  codeframe/ui/server.py
Due: pytest-check

refactor(server): remove v1 persistence layer and v1 routers
  codeframe/ui/dependencies.py
  codeframe/ui/server.py
Due: pytest-check

feat(web-ui): wire activity feed to events API
  codeframe/ui/routers/events_v2.py
  codeframe/ui/server.py
  tests/ui/conftest.py
  tests/unit/conftest.py
  web-ui/src/app/page.tsx
  web-ui/src/lib/api.ts
  web-ui/src/types/index.ts
Due: pytest-check, skip-detector

fix(lint): remove unused Query import from v1 tasks router
  codeframe/ui/routers/tasks.py
Due: pytest-check

fix(tests): skip v1 legacy tests that depend on removed persistence layer
  tests/conftest.py
Due: pytest-check, skip-detector

fix(tests): move imports before collect_ignore to satisfy ruff E402
  tests/conftest.py
Due: pytest-check, skip-detector

fix(tests): skip additional v1 API tests that depend on app.state.db
  tests/conftest.py
Due: pytest-check, skip-detector

test(events): add integration tests for events_v2 router
  tests/ui/test_v2_routers_integration.py
Due: pytest-check, skip-detector

ci: temporarily lower coverage threshold to 60%
  .github/workflows/test.yml
Due: none

fix(web-ui): resolve nested button hydration error and add tests
  web-ui/__tests__/components/workspace/WorkspaceSelector.test.tsx
  web-ui/__tests__/lib/workspace-storage.test.ts
  web-ui/src/components/workspace/WorkspaceSelector.tsx
Due: none

fix: address code review issues for PR #335
  .gitignore
  codeframe/ui/dependencies.py
  codeframe/ui/routers/events_v2.py
  tests/ui/test_v2_routers_integration.py
  web-ui/__tests__/components/workspace/RecentActivityFeed.test.tsx
  web-ui/src/app/page.tsx
Due: pytest-check, skip-detector

fix(web-ui): add missing MERGED status to frontend types
  web-ui/src/app/page.tsx
  web-ui/src/components/workspace/WorkspaceStatsCards.tsx
  web-ui/src/types/index.ts
Due: none

fix(security): address high priority code review issues
  codeframe/persistence/schema_manager.py
  codeframe/ui/dependencies.py
  web-ui/src/lib/workspace-storage.ts
Due: pytest-check

fix(web-ui): normalize FastAPI validation errors to string
  web-ui/__tests__/lib/api.test.ts
  web-ui/src/lib/api.ts
  web-ui/src/types/index.ts
Due: none

fix(api): add rate limiting to events endpoint
  codeframe/ui/routers/events_v2.py
Due: pytest-check

feat(web-ui): add public assets and metadata configuration
  web-ui/public/favicon.ico
  web-ui/public/images/codeframe_app_logo_1024.png
  web-ui/public/images/codeframe_favicon_512.png
  web-ui/public/robots.txt
  web-ui/public/site.webmanifest
  web-ui/src/app/layout.tsx
Due: none

fix(web-ui): move icons to app directory for Next.js detection
  web-ui/src/app/apple-icon.png
  web-ui/src/app/favicon.ico
  web-ui/src/app/icon.png
  web-ui/src/app/layout.tsx
Due: none

ci: align .coveragerc threshold with test.yml (60%)
  .coveragerc
Due: none

docs: add TODO for missing auth in events_v2 (#336)
  codeframe/ui/routers/events_v2.py
Due: pytest-check

chore: Add graphics header to README.md
  README.md
  codeframe_github_header_1600x500.png
Due: none

feat(web-ui): add PRD and Discovery types and API client (#330)
  docs/ISSUE_330_PRD_VIEW_PLAN.md
  web-ui/src/lib/api.ts
  web-ui/src/types/index.ts
  web-ui/src/types/prd.ts
Due: none

feat(web-ui): add PRD route and PRDView shell component (#330)
  web-ui/src/app/prd/page.tsx
  web-ui/src/components/prd/PRDView.tsx
  web-ui/src/components/prd/index.ts
Due: none

feat(web-ui): add PRDHeader, UploadPRDModal with file/paste support (#330)
  web-ui/package-lock.json
  web-ui/package.json
  web-ui/src/app/prd/page.tsx
  web-ui/src/components/prd/PRDHeader.tsx
  web-ui/src/components/prd/PRDView.tsx
  web-ui/src/components/prd/UploadPRDModal.tsx
  web-ui/src/components/prd/index.ts
  web-ui/src/components/ui/dialog.tsx
  web-ui/src/components/ui/tabs.tsx
Due: none

feat(web-ui): add MarkdownEditor with edit/preview tabs and versioned save (#330)
  web-ui/package-lock.json
  web-ui/package.json
  web-ui/src/app/prd/page.tsx
  web-ui/src/components/prd/MarkdownEditor.tsx
  web-ui/src/components/prd/PRDView.tsx
  web-ui/src/components/prd/index.ts
Due: none

feat(web-ui): add Discovery panel with chat transcript and input (#330)
  web-ui/src/app/prd/page.tsx
  web-ui/src/components/prd/DiscoveryInput.tsx
  web-ui/src/components/prd/DiscoveryPanel.tsx
  web-ui/src/components/prd/DiscoveryTranscript.tsx
  web-ui/src/components/prd/PRDView.tsx
  web-ui/src/components/prd/index.ts
Due: none

Path conditions:
  pytest-check: any of: \.py$ and \.py$
  skip-detector: any of: ^tests/.*\.py$
