Repository frankbria/codeframe: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, skip-detector

pytest-check:
  name: Run last failed tests (fast feedback)
  entry: bash -c 'if [ -f venv/bin/activate ]; then source venv/bin/activate && pytest --lf -x; elif [ -f .venv/bin/activate ]; then source .venv/bin/activate && pytest --lf -x; else pytest --lf -x; fi'
  language: system
  pass_filenames: false

skip-detector:
  name: Detect skip decorator abuse
  entry: python scripts/detect-skip-abuse.py
  language: system
  pass_filenames: false

fix(ship): cf pr create runs as the README shows it and attaches the PROOF9 report (#1273) (#1357)
  CHANGELOG.md
  CLAUDE.md
  README.md
  codeframe/cli/pr_commands.py
  codeframe/core/proof/report.py
  tests/ci/test_documented_commands_resolve_972.py
  tests/cli/test_merge_gate_scope_1254.py
  tests/cli/test_pr_commands.py
  tests/core/test_pr_proof_report_1273.py
Due: pytest-check, skip-detector

fix(proof): close three merge-gate fail-open gaps (#1276)
  codeframe/cli/pr_commands.py
  codeframe/core/proof/evidence.py
  codeframe/core/proof/ledger.py
  codeframe/git/github_integration.py
  codeframe/ui/routers/pr_v2.py
  tests/cli/test_merge_gate_scope_1254.py
  tests/core/test_merge_gate_fail_open_1276.py
  tests/ui/test_pr_merge_gate.py
Due: pytest-check, skip-detector

test(proof): pin refusal at exactly GitHub's 3000-file cap (#1276)
  tests/core/test_merge_gate_fail_open_1276.py
Due: pytest-check, skip-detector

fix(proof): migrate legacy scopes one path at a time with the classifier's own absolute-path rule (#1276)
  codeframe/cli/pr_commands.py
  codeframe/core/proof/evidence.py
  codeframe/core/proof/ledger.py
  codeframe/ui/routers/pr_v2.py
  tests/core/test_merge_gate_fail_open_1276.py
Due: pytest-check, skip-detector

docs: CHANGELOG for #1276
  CHANGELOG.md
Due: none

docs(CLAUDE.md): note the #1276 merge-gate invariants
  CLAUDE.md
Due: none

fix(proof): close three PROOF9 merge-gate fail-open gaps (#1276) (#1359)
  CHANGELOG.md
  CLAUDE.md
  codeframe/cli/pr_commands.py
  codeframe/core/proof/evidence.py
  codeframe/core/proof/ledger.py
  codeframe/git/github_integration.py
  codeframe/ui/routers/pr_v2.py
  tests/cli/test_merge_gate_scope_1254.py
  tests/core/test_merge_gate_fail_open_1276.py
  tests/ui/test_pr_merge_gate.py
Due: pytest-check, skip-detector

chore(release): 0.9.4 — bump version and bring the CHANGELOG up to date (#1277)
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

docs(readme): beta banner names 0.9.4 (#1277)
  README.md
Due: none

wip(runtime): per-run cancellation, heartbeat restart guard, process-group kills (#1279)
  codeframe/core/adapters/codex.py
  codeframe/core/adapters/subprocess_adapter.py
  codeframe/core/adapters/verification_wrapper.py
  codeframe/core/react_agent.py
  codeframe/core/run_control.py
  codeframe/core/runtime.py
  tests/core/test_stop_does_stop_1279.py
Due: pytest-check, skip-detector

wip(runtime): kill batch workers and reconciled tasks by process group; SIGTERM unwinds a worker (#1279)
  codeframe/core/conductor.py
  codeframe/core/reconciliation.py
  codeframe/core/run_control.py
Due: pytest-check

fix(runtime): only an explicit non-RUNNING status is a stop; tests unbind their control (#1279)
  codeframe/core/run_control.py
  tests/core/test_conductor.py
  tests/core/test_reconciliation.py
  tests/core/test_stop_does_stop_1279.py
Due: pytest-check, skip-detector

fix(runtime): terminate_tree refuses to signal pid <= 1 or a non-owned group (#1279)
  codeframe/core/run_control.py
  tests/conftest.py
  tests/core/test_conductor.py
  tests/core/test_reconciliation.py
  tests/core/test_run_control_safety.py
Due: pytest-check, skip-detector

fix(runtime): direct-child fallback survives a patched subprocess.Popen; timeout test follows the poll loop (#1279)
  codeframe/core/run_control.py
  tests/core/adapters/test_subprocess_adapter.py
Due: pytest-check, skip-detector

test(runtime): isolate each terminate_tree guard and the post-stop skip in execute_agent (#1279)
  tests/core/test_run_control_safety.py
  tests/core/test_stop_does_stop_1279.py
Due: pytest-check, skip-detector

fix(runtime): no group kill without waitid (macOS); recheck Stop after the gates return (#1279)
  codeframe/core/adapters/verification_wrapper.py
  codeframe/core/run_control.py
  tests/core/test_run_control_safety.py
  tests/core/test_stop_does_stop_1279.py
Due: pytest-check, skip-detector

fix(runtime): pass Ctrl+C/SIGHUP to own-session children, stagger graces, skip retrying a stopped task, stop the plan engine (#1279)
  codeframe/core/adapters/codex.py
  codeframe/core/adapters/subprocess_adapter.py
  codeframe/core/agent.py
  codeframe/core/conductor.py
  codeframe/core/react_agent.py
  codeframe/core/reconciliation.py
  codeframe/core/run_control.py
  codeframe/core/runtime.py
  tests/core/test_stop_does_stop_1279.py
Due: pytest-check, skip-detector

test(conductor): the retry loop reruns only a real failure, not a stopped task (#1279)
  tests/core/test_stop_does_stop_1279.py
Due: pytest-check, skip-detector

fix(conductor): a stop is recorded per run, so --retry skips it but still retries a task whose worker never started (#1279)
  codeframe/core/conductor.py
  codeframe/core/run_control.py
  codeframe/core/runtime.py
  tests/core/test_conductor.py
  tests/core/test_reconciliation.py
  tests/core/test_stop_does_stop_1279.py
Due: pytest-check, skip-detector

docs: CHANGELOG for #1279
  CHANGELOG.md
Due: none

fix(runtime): stop reaches the engines' correction loops; the conductor unwinds on SIGHUP/SIGTERM (#1279)
  codeframe/core/agent.py
  codeframe/core/conductor.py
  codeframe/core/react_agent.py
  codeframe/core/run_control.py
  tests/core/test_stop_does_stop_1279.py
Due: pytest-check, skip-detector

refactor(agent): keep _execute_plan's body in place; callers catch a stop in a wrapper (#1279)
  codeframe/core/agent.py
  tests/core/test_stop_does_stop_1279.py
Due: pytest-check, skip-detector

fix(runtime): heartbeat file I/O pins UTF-8 and tolerates a decode error (#1279)
  codeframe/core/run_control.py
Due: pytest-check

fix(conductor): only an interrupt stops a parallel group; nested SIGTERM installs are a no-op (#1279)
  codeframe/core/conductor.py
  codeframe/core/run_control.py
  tests/core/test_stop_does_stop_1279.py
Due: pytest-check, skip-detector

fix(conductor): stop parallel workers on an interrupt anywhere in the group; bound the stop check to this batch's runs (#1279)
  codeframe/core/conductor.py
  tests/core/test_stop_does_stop_1279.py
Due: pytest-check, skip-detector

fix(runtime): Stop stops the agent, its delegated CLI and the CLI's children (#1279) (#1362)
  CHANGELOG.md
  codeframe/core/adapters/codex.py
  codeframe/core/adapters/subprocess_adapter.py
  codeframe/core/adapters/verification_wrapper.py
  codeframe/core/agent.py
  codeframe/core/conductor.py
  codeframe/core/react_agent.py
  codeframe/core/reconciliation.py
  codeframe/core/run_control.py
  codeframe/core/runtime.py
  tests/conftest.py
  tests/core/adapters/test_subprocess_adapter.py
  tests/core/test_conductor.py
  tests/core/test_reconciliation.py
  tests/core/test_run_control_safety.py
  tests/core/test_stop_does_stop_1279.py
Due: pytest-check, skip-detector

fix(runtime,conductor): no run or batch is left RUNNING by errors, interrupts or stops (#1280)
  codeframe/cli/app.py
  codeframe/core/conductor.py
  codeframe/core/runtime.py
  tests/core/test_stranded_state_1280.py
Due: pytest-check, skip-detector

fix(conductor): run serial and resume in dependency order; keep a stop's CANCELLED over a late error (#1280)
  codeframe/core/conductor.py
  tests/core/test_stranded_state_1280.py
Due: pytest-check, skip-detector

fix(conductor): dependency skips are SKIPPED, retried and cycle-safe; an interrupted resume is CANCELLED (#1280)
  codeframe/core/conductor.py
  tests/core/test_stranded_state_1280.py
  web-ui/src/__tests__/components/execution/BatchExecutionMonitor.test.tsx
  web-ui/src/__tests__/hooks/useBatchNotificationWatcher.test.ts
  web-ui/src/components/execution/BatchExecutionMonitor.tsx
Due: pytest-check, skip-detector

docs: CHANGELOG for #1280
  CHANGELOG.md
Due: none

fix(conductor): skips tally as not-completed everywhere; a duplicated task id keeps its runs (#1280)
  codeframe/cli/app.py
  codeframe/core/conductor.py
  codeframe/ui/routers/tasks_v2.py
  tests/core/test_stranded_state_1280.py
Due: pytest-check, skip-detector

perf(conductor): compute a batch's dependencies once on the conductor thread (#1280)
  codeframe/core/conductor.py
Due: pytest-check

fix(conductor): a batch holds each task once; tallies count distinct tasks (#1280)
  codeframe/core/conductor.py
  tests/core/test_stranded_state_1280.py
Due: pytest-check, skip-detector

fix(runtime,conductor): no run, task or batch is left stranded by errors, interrupts, stops or failed dependencies (#1280) (#1365)
  CHANGELOG.md
  codeframe/cli/app.py
  codeframe/core/conductor.py
  codeframe/core/runtime.py
  codeframe/ui/routers/tasks_v2.py
  tests/core/test_stranded_state_1280.py
  web-ui/src/__tests__/components/execution/BatchExecutionMonitor.test.tsx
  web-ui/src/__tests__/hooks/useBatchNotificationWatcher.test.ts
  web-ui/src/components/execution/BatchExecutionMonitor.tsx
Due: pytest-check, skip-detector

fix(cli): resume and retry run on the task's engine; --dry-run is refused for external engines (#1281)
  codeframe/cli/app.py
  codeframe/core/engine_registry.py
  codeframe/core/runtime.py
  tests/cli/test_resume_retry_engine_1281.py
Due: pytest-check, skip-detector

refactor(cli): drop engine checks the shared resolver made dead; harden two clock-sensitive #1279 tests (#1281)
  codeframe/cli/app.py
  tests/core/test_stop_does_stop_1279.py
Due: pytest-check, skip-detector

docs: CHANGELOG for #1281
  CHANGELOG.md
Due: none

docs(cli): retry's engine comment describes retry, not resume (#1281)
  codeframe/cli/app.py
Due: pytest-check

fix(cli): resume and retry keep the task's engine; --dry-run is refused for external engines (#1281) (#1367)
  CHANGELOG.md
  codeframe/cli/app.py
  codeframe/core/engine_registry.py
  codeframe/core/runtime.py
  tests/cli/test_resume_retry_engine_1281.py
  tests/core/test_stop_does_stop_1279.py
Due: pytest-check, skip-detector

fix(streaming): follow ends with the run, external engines write output.log, and the task stream sees an out-of-process completion (#1282)
  codeframe/cli/app.py
  codeframe/core/runtime.py
  codeframe/core/streaming.py
  codeframe/ui/streaming_utils.py
  tests/core/test_live_output_1282.py
Due: pytest-check, skip-detector

Path conditions:
  pytest-check: any of: \.py$ and \.py$
  skip-detector: any of: ^tests/.*\.py$
