Repository frankbria/codeframe: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, skip-detector

.pre-commit-config.yaml:

repos:
  # Note: black removed from pre-commit to avoid conflicts with ruff --fix
  # Run `uv run black .` manually before committing if needed

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.2.0
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        types: [python]

  - repo: local
    hooks:
      - id: pytest-check
        name: Run last failed tests (fast feedback)
        entry: bash -c 'if [ -f venv/bin/activate ]; then source venv/bin/activate && pytest --lf -x; elif [ -f .venv/bin/activate ]; then source .venv/bin/activate && pytest --lf -x; else pytest --lf -x; fi'
        language: system
        pass_filenames: false
        files: \.py$
        types: [python]

      - id: coverage-check
        name: Enforce 65% coverage (manual - use scripts/verify-ai-claims.sh for full check)
        entry: bash -c 'if [ -f venv/bin/activate ]; then source venv/bin/activate && pytest --cov --cov-report=term-missing --cov-fail-under=65; elif [ -f .venv/bin/activate ]; then source .venv/bin/activate && pytest --cov --cov-report=term-missing --cov-fail-under=65; else pytest --cov --cov-report=term-missing --cov-fail-under=65; fi || (echo "❌❌❌ COVERAGE BELOW 65% ❌❌❌" && exit 1)'
        language: system
        pass_filenames: false
        files: \.py$
        types: [python]
        stages: [manual]

      - id: skip-detector
        name: Detect skip decorator abuse
        entry: python scripts/detect-skip-abuse.py
        language: system
        files: ^tests/.*\.py$
        pass_filenames: false

feat: differentiate system/agent/human blocker origins visually (#487)
  codeframe/core/adapters/builtin.py
  codeframe/core/adapters/verification_wrapper.py
  codeframe/core/agent.py
  codeframe/core/blockers.py
  codeframe/core/prd_discovery.py
  codeframe/core/react_agent.py
  codeframe/core/workspace.py
  codeframe/ui/routers/blockers_v2.py
  tests/core/test_blocker_origin.py
  web-ui/__mocks__/@hugeicons/react.js
  web-ui/__tests__/components/blockers/BlockerCard.test.tsx
  web-ui/src/components/blockers/BlockerCard.tsx
  web-ui/src/types/index.ts
Due: pytest-check, skip-detector

fix: address claude-review feedback on blocker origins (#487)
  codeframe/core/blockers.py
  codeframe/core/react_agent.py
  codeframe/ui/routers/blockers_v2.py
  tests/core/test_blocker_origin.py
  web-ui/__tests__/components/blockers/BlockerCard.test.tsx
  web-ui/src/components/blockers/BlockerCard.tsx
Due: pytest-check, skip-detector

feat(core): ExecutionContext abstraction for task isolation (#532)
  codeframe/cli/app.py
  codeframe/core/conductor.py
  codeframe/core/runtime.py
  codeframe/core/sandbox/__init__.py
  codeframe/core/sandbox/context.py
  tests/core/test_sandbox_context.py
Due: pytest-check, skip-detector

fix(tests): use git init -b main to set explicit branch name in CI
  tests/core/test_sandbox_context.py
Due: pytest-check, skip-detector

feat(core): WorktreeRegistry, orphan cleanup, and get_base_branch (#533)
  codeframe/cli/env_commands.py
  codeframe/core/conductor.py
  codeframe/core/sandbox/context.py
  codeframe/core/worktrees.py
  tests/core/test_worktrees.py
Due: pytest-check, skip-detector

fix(web-ui): re-enable frontend CI and fix 5 stale tests
  .github/workflows/test.yml
  web-ui/__tests__/components/blockers/BlockerCard.test.tsx
  web-ui/__tests__/components/tasks/TaskBoardView.test.tsx
  web-ui/__tests__/components/tasks/TaskCard.test.tsx
  web-ui/__tests__/components/tasks/TaskDetailModal.test.tsx
  web-ui/__tests__/components/workspace/QuickActions.test.tsx
  web-ui/jest.config.js
Due: none

fix(core): address code review feedback on WorktreeRegistry (#537)
  codeframe/core/conductor.py
  codeframe/core/sandbox/context.py
  codeframe/core/worktrees.py
  demo-issue-533.md
  tests/core/test_worktrees.py
Due: pytest-check, skip-detector

feat(core): WorktreeRegistry, orphan cleanup, and get_base_branch (#533)
  .github/workflows/test.yml
  codeframe/cli/env_commands.py
  codeframe/core/conductor.py
  codeframe/core/sandbox/context.py
  codeframe/core/worktrees.py
  demo-issue-533.md
  tests/core/test_worktrees.py
  web-ui/__tests__/components/blockers/BlockerCard.test.tsx
  web-ui/__tests__/components/tasks/TaskBoardView.test.tsx
  web-ui/__tests__/components/tasks/TaskCard.test.tsx
  web-ui/__tests__/components/tasks/TaskDetailModal.test.tsx
  web-ui/__tests__/components/workspace/QuickActions.test.tsx
  web-ui/jest.config.js
Due: pytest-check, skip-detector

docs: add CI gate process rule to CLAUDE.md (#538)
  CLAUDE.md
Due: none

docs: add CI gate process rule to CLAUDE.md (#538) (#539)
  CLAUDE.md
Due: none

feat(adapters): E2BAgentAdapter — cloud execution in isolated Linux VM (#534)
  codeframe/adapters/e2b/__init__.py
  codeframe/adapters/e2b/adapter.py
  codeframe/adapters/e2b/budget.py
  codeframe/adapters/e2b/credential_scanner.py
  codeframe/cli/app.py
  codeframe/cli/validators.py
  codeframe/core/adapters/agent_adapter.py
  codeframe/core/conductor.py
  codeframe/core/engine_registry.py
  codeframe/core/runtime.py
  codeframe/core/workspace.py
  pyproject.toml
  tests/adapters/test_e2b_adapter.py
  uv.lock
Due: pytest-check, skip-detector

fix(e2b): address review feedback — security, persistence, and new-file capture
  codeframe/adapters/e2b/adapter.py
  codeframe/cli/app.py
  codeframe/core/runtime.py
  pyproject.toml
  tests/adapters/test_e2b_adapter.py
  uv.lock
Due: pytest-check, skip-detector

fix(ci): add e2b to dev extras so tests pass without cloud install
  pyproject.toml
  uv.lock
Due: none

feat(core): absorb parallel-cc worktree + E2B into CodeFrame namespace (#535)
  CLAUDE.md
  codeframe/core/sandbox/__init__.py
  codeframe/core/sandbox/worktree.py
  docs/V2_STRATEGIC_ROADMAP.md
  tests/core/test_sandbox_context.py
Due: pytest-check, skip-detector

fix: address CodeRabbit feedback on PR #541
  docs/V2_STRATEGIC_ROADMAP.md
  tests/core/test_sandbox_context.py
Due: pytest-check, skip-detector

fix: move pytestmark after imports to resolve E402 lint error
  tests/core/test_sandbox_context.py
Due: pytest-check, skip-detector

docs: update model aliases and add Agent System Reference
  CLAUDE.md
  codeframe/agents/worker_agent.py
  docs/AGENT_SYSTEM_REFERENCE.md
  tests/integration/test_worker_agent_integration.py
Due: pytest-check, skip-detector

feat(adapters): OpenAI-compatible LLM adapter (#543)
  codeframe/adapters/llm/__init__.py
  codeframe/adapters/llm/openai.py
  tests/adapters/test_llm_openai.py
Due: pytest-check, skip-detector

fix(adapters): address CodeRabbit review on OpenAIProvider
  codeframe/adapters/llm/openai.py
  tests/adapters/test_llm_openai.py
Due: pytest-check, skip-detector

feat(adapters): wire CODEFRAME_LLM_PROVIDER env var through factory and runtime (#544)
  codeframe/adapters/llm/__init__.py
  codeframe/core/runtime.py
  tests/adapters/test_llm.py
  tests/core/test_runtime_adapters.py
Due: pytest-check, skip-detector

fix: address CodeRabbit feedback on PR #551
  codeframe/adapters/llm/__init__.py
  tests/adapters/test_llm.py
  tests/core/test_runtime_adapters.py
Due: pytest-check, skip-detector

fix: address claude-review feedback on PR #551
  tests/adapters/test_llm.py
  tests/core/test_runtime_adapters.py
Due: pytest-check, skip-detector

fix: isolate openai auth-guard test with get_provider mock
  tests/core/test_runtime_adapters.py
Due: pytest-check, skip-detector

docs: add CODEFRAME_LLM_PROVIDER env vars to CLAUDE.md and QUICKSTART.md
  CLAUDE.md
  docs/QUICKSTART.md
Due: none

feat(adapters): provider factory + env var wiring (#544)
  CLAUDE.md
  codeframe/adapters/llm/__init__.py
  codeframe/core/runtime.py
  docs/QUICKSTART.md
  tests/adapters/test_llm.py
  tests/core/test_runtime_adapters.py
Due: pytest-check, skip-detector

test: add lifecycle testing to remove live API calls from standard unit tests
  .github/workflows/lifecycle.yml
  scripts/lifecycle
  tests/lifecycle/conftest.py
  tests/lifecycle/sample_project/PRD.md
  tests/lifecycle/sample_project/acceptance.py
  tests/lifecycle/test_api_lifecycle.py
  tests/lifecycle/test_cli_lifecycle.py
  tests/lifecycle/test_web_lifecycle.py
Due: pytest-check, skip-detector

feat(adapters): multi-provider LLM support — subissues #545–549
  codeframe/adapters/llm/anthropic.py
  codeframe/adapters/llm/base.py
  codeframe/adapters/llm/openai.py
  codeframe/agents/frontend_worker_agent.py
  codeframe/agents/test_worker_agent.py
  codeframe/agents/worker_agent.py
  codeframe/cli/app.py
  codeframe/core/conductor.py
  codeframe/core/config.py
  codeframe/core/runtime.py
  tests/adapters/test_llm_async.py
  tests/agents/test_frontend_worker_agent.py
  tests/agents/test_worker_agent.py
  tests/agents/test_worker_agent_provider.py
  tests/core/test_cli_llm_flags.py
  tests/core/test_config_llm.py
Due: pytest-check, skip-detector

fix(tests): update test_test_worker_agent to use MockProvider (remove AsyncAnthropic patches)
  tests/agents/test_test_worker_agent.py
Due: pytest-check, skip-detector

fix(lint): remove unused imports flagged by ruff
  .github/workflows/test.yml
  pytest.ini
  tests/agents/test_worker_agent_provider.py
  tests/core/test_cli_llm_flags.py
  tests/core/test_config_llm.py
  tests/lifecycle/conftest.py
  tests/lifecycle/test_cli_lifecycle.py
Due: pytest-check, skip-detector

fix(tests): strip ANSI codes + set wide terminal in CLI flag tests
  tests/core/test_cli_llm_flags.py
Due: pytest-check, skip-detector

fix(adapters): address PR #552 review feedback
  codeframe/adapters/llm/anthropic.py
  codeframe/adapters/llm/base.py
  codeframe/adapters/llm/openai.py
  codeframe/agents/worker_agent.py
  tests/agents/test_worker_agent.py
Due: pytest-check, skip-detector

docs: add --llm-provider/--llm-model to CLI reference + llm: config block example
  CLAUDE.md
  demo-pr552.md
Due: none

feat(adapters): multi-provider LLM support — #545–549 (#552)
  .github/workflows/test.yml
  CLAUDE.md
  codeframe/adapters/llm/anthropic.py
  codeframe/adapters/llm/base.py
  codeframe/adapters/llm/openai.py
  codeframe/agents/frontend_worker_agent.py
  codeframe/agents/test_worker_agent.py
  codeframe/agents/worker_agent.py
  codeframe/cli/app.py
  codeframe/core/conductor.py
  codeframe/core/config.py
  codeframe/core/runtime.py
  demo-pr552.md
  pytest.ini
  tests/adapters/test_llm_async.py
  tests/agents/test_frontend_worker_agent.py
  tests/agents/test_test_worker_agent.py
  tests/agents/test_worker_agent.py
  tests/agents/test_worker_agent_provider.py
  tests/core/test_cli_llm_flags.py
  tests/core/test_config_llm.py
  tests/lifecycle/conftest.py
  tests/lifecycle/test_cli_lifecycle.py
Due: pytest-check, skip-detector

feat(adapters): abstract streaming layer behind LLMProvider (#548)
  codeframe/adapters/llm/__init__.py
  codeframe/adapters/llm/anthropic.py
  codeframe/adapters/llm/base.py
  codeframe/adapters/llm/mock.py
  codeframe/adapters/llm/openai.py
  codeframe/core/adapters/streaming_chat.py
  codeframe/ui/routers/session_chat_ws.py
  tests/adapters/test_e2b_adapter.py
  tests/core/test_streaming_chat.py
Due: pytest-check, skip-detector

fix(adapters): address claude-review and CodeRabbit feedback on #548
  codeframe/adapters/llm/anthropic.py
  codeframe/adapters/llm/base.py
  codeframe/adapters/llm/mock.py
  codeframe/adapters/llm/openai.py
  codeframe/core/adapters/streaming_chat.py
Due: pytest-check
