Repository frankbria/codeframe: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, skip-detector

.pre-commit-config.yaml:

repos:
  # Note: black removed from pre-commit to avoid conflicts with ruff --fix
  # Run `uv run black .` manually before committing if needed

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.2.0
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        types: [python]

  - repo: local
    hooks:
      - id: pytest-check
        name: Run last failed tests (fast feedback)
        entry: bash -c 'if [ -f venv/bin/activate ]; then source venv/bin/activate && pytest --lf -x; elif [ -f .venv/bin/activate ]; then source .venv/bin/activate && pytest --lf -x; else pytest --lf -x; fi'
        language: system
        pass_filenames: false
        files: \.py$
        types: [python]

      - id: coverage-check
        name: Enforce 65% coverage (manual - use scripts/verify-ai-claims.sh for full check)
        entry: bash -c 'if [ -f venv/bin/activate ]; then source venv/bin/activate && pytest --cov --cov-report=term-missing --cov-fail-under=65; elif [ -f .venv/bin/activate ]; then source .venv/bin/activate && pytest --cov --cov-report=term-missing --cov-fail-under=65; else pytest --cov --cov-report=term-missing --cov-fail-under=65; fi || (echo "❌❌❌ COVERAGE BELOW 65% ❌❌❌" && exit 1)'
        language: system
        pass_filenames: false
        files: \.py$
        types: [python]
        stages: [manual]

      - id: skip-detector
        name: Detect skip decorator abuse
        entry: python scripts/detect-skip-abuse.py
        language: system
        files: ^tests/.*\.py$
        pass_filenames: false

fix(deps): cap anthropic below 1.0 — a fresh install of 0.9.2 was dead on arrival
  pyproject.toml
  scripts/quickstart-cleanroom/Dockerfile
  scripts/quickstart-cleanroom/README.md
  scripts/quickstart-cleanroom/brief.md
  scripts/quickstart-cleanroom/responder.py
  scripts/quickstart-cleanroom/walkthrough.sh
  tests/adapters/test_sdk_kwargs_guard_614.py
  uv.lock
Due: pytest-check, skip-detector

docs(demo): rebuild the cold-start walkthrough against 0.9.2 and the fix
  docs/demos/quickstart-cleanroom.md
  scripts/quickstart-cleanroom/artifacts-pypi-0.9.1/final-tree.txt
  scripts/quickstart-cleanroom/artifacts-pypi-0.9.1/total.txt
  scripts/quickstart-cleanroom/artifacts-pypi-0.9.2/final-tree.txt
  scripts/quickstart-cleanroom/artifacts-pypi-0.9.2/findings.tsv
  scripts/quickstart-cleanroom/artifacts-pypi-0.9.2/timings.tsv
  scripts/quickstart-cleanroom/artifacts-pypi-0.9.2/total.txt
  scripts/quickstart-cleanroom/artifacts-pypi-0.9.2/transcript.txt
  scripts/quickstart-cleanroom/artifacts-source-614/final-tree.txt
  scripts/quickstart-cleanroom/artifacts-source-614/findings.tsv
  scripts/quickstart-cleanroom/artifacts-source-614/run-logs/output.log
  scripts/quickstart-cleanroom/artifacts-source-614/timings.tsv
  scripts/quickstart-cleanroom/artifacts-source-614/total.txt
  scripts/quickstart-cleanroom/artifacts-source-614/transcript.txt
  scripts/quickstart-cleanroom/artifacts-source-main/final-tree.txt
  scripts/quickstart-cleanroom/artifacts-source-main/findings.tsv
  scripts/quickstart-cleanroom/artifacts-source-main/run-logs/output.log
  scripts/quickstart-cleanroom/artifacts-source-main/timings.tsv
  scripts/quickstart-cleanroom/artifacts-source-main/total.txt
  scripts/quickstart-cleanroom/artifacts-source-main/transcript.txt
  scripts/quickstart-cleanroom/build-demo.sh
Due: none

docs: record the cold-start check and the floor-only-pin lesson
  CLAUDE.md
Due: none

test: extend the SDK guard to the streaming path
  docs/demos/quickstart-cleanroom.md
  tests/adapters/test_sdk_kwargs_guard_614.py
Due: pytest-check, skip-detector

fix(deps): cap anthropic below 1.0 — published 0.9.2 is dead on arrival, and the 15-minute quickstart misses its budget (#1174)
  CLAUDE.md
  docs/demos/quickstart-cleanroom.md
  pyproject.toml
  scripts/quickstart-cleanroom/Dockerfile
  scripts/quickstart-cleanroom/README.md
  scripts/quickstart-cleanroom/artifacts-pypi-0.9.1/final-tree.txt
  scripts/quickstart-cleanroom/artifacts-pypi-0.9.1/total.txt
  scripts/quickstart-cleanroom/artifacts-pypi-0.9.2/final-tree.txt
  scripts/quickstart-cleanroom/artifacts-pypi-0.9.2/findings.tsv
  scripts/quickstart-cleanroom/artifacts-pypi-0.9.2/timings.tsv
  scripts/quickstart-cleanroom/artifacts-pypi-0.9.2/total.txt
  scripts/quickstart-cleanroom/artifacts-pypi-0.9.2/transcript.txt
  scripts/quickstart-cleanroom/artifacts-source-614/final-tree.txt
  scripts/quickstart-cleanroom/artifacts-source-614/findings.tsv
  scripts/quickstart-cleanroom/artifacts-source-614/run-logs/output.log
  scripts/quickstart-cleanroom/artifacts-source-614/timings.tsv
  scripts/quickstart-cleanroom/artifacts-source-614/total.txt
  scripts/quickstart-cleanroom/artifacts-source-614/transcript.txt
  scripts/quickstart-cleanroom/artifacts-source-main/final-tree.txt
  scripts/quickstart-cleanroom/artifacts-source-main/findings.tsv
  scripts/quickstart-cleanroom/artifacts-source-main/run-logs/output.log
  scripts/quickstart-cleanroom/artifacts-source-main/timings.tsv
  scripts/quickstart-cleanroom/artifacts-source-main/total.txt
  scripts/quickstart-cleanroom/artifacts-source-main/transcript.txt
  scripts/quickstart-cleanroom/brief.md
  scripts/quickstart-cleanroom/build-demo.sh
  scripts/quickstart-cleanroom/responder.py
  scripts/quickstart-cleanroom/walkthrough.sh
  tests/adapters/test_sdk_kwargs_guard_614.py
  uv.lock
Due: pytest-check, skip-detector

chore(release): 0.9.3 — anthropic <1.0 ceiling + version metadata fix
  CHANGELOG.md
  README.md
  codeframe/__init__.py
  pyproject.toml
  tests/test_root_docs_950.py
  uv.lock
Due: pytest-check, skip-detector

chore(release): 0.9.3 — anthropic <1.0 ceiling + version metadata fix (#1175)
  CHANGELOG.md
  README.md
  codeframe/__init__.py
  pyproject.toml
  tests/test_root_docs_950.py
  uv.lock
Due: pytest-check, skip-detector

fix(tokens): CallType had no verification_fix, so every self-correction record was dropped
  codeframe/core/models.py
  tests/core/test_react_agent_tokens.py
Due: pytest-check, skip-detector

test(cleanroom): record the cold-start run against published 0.9.3
  scripts/quickstart-cleanroom/artifacts-pypi-0.9.3/final-tree.txt
  scripts/quickstart-cleanroom/artifacts-pypi-0.9.3/findings.tsv
  scripts/quickstart-cleanroom/artifacts-pypi-0.9.3/timings.tsv
  scripts/quickstart-cleanroom/artifacts-pypi-0.9.3/total.txt
  scripts/quickstart-cleanroom/artifacts-pypi-0.9.3/transcript.txt
Due: none

test(cleanroom): track the 0.9.3 run-logs too
  scripts/quickstart-cleanroom/artifacts-pypi-0.9.3/run-logs/output.log
Due: none

docs: record the CallType data-loss fix; annotate the source-scan guard's blind spot
  CHANGELOG.md
  CLAUDE.md
  tests/core/test_react_agent_tokens.py
Due: pytest-check, skip-detector

fix(tokens): CallType had no verification_fix, so every self-correction record was dropped (#1176)
  CHANGELOG.md
  CLAUDE.md
  codeframe/core/models.py
  scripts/quickstart-cleanroom/artifacts-pypi-0.9.3/final-tree.txt
  scripts/quickstart-cleanroom/artifacts-pypi-0.9.3/findings.tsv
  scripts/quickstart-cleanroom/artifacts-pypi-0.9.3/run-logs/output.log
  scripts/quickstart-cleanroom/artifacts-pypi-0.9.3/timings.tsv
  scripts/quickstart-cleanroom/artifacts-pypi-0.9.3/total.txt
  scripts/quickstart-cleanroom/artifacts-pypi-0.9.3/transcript.txt
  tests/core/test_react_agent_tokens.py
Due: pytest-check, skip-detector

ci: check the unlocked dependency resolution, not just the lock (#1169)
  .github/workflows/release.yml
  .github/workflows/unlocked-resolution.yml
  CLAUDE.md
  tests/ci/test_unlocked_resolution_guard_1169.py
Due: pytest-check, skip-detector

review: normalise release `needs` before the membership check; cap the job at 10m
  .github/workflows/unlocked-resolution.yml
  tests/ci/test_unlocked_resolution_guard_1169.py
Due: pytest-check, skip-detector

ci: check the unlocked dependency resolution, not just the lock (#1169) (#1177)
  .github/workflows/release.yml
  .github/workflows/unlocked-resolution.yml
  CLAUDE.md
  tests/ci/test_unlocked_resolution_guard_1169.py
Due: pytest-check, skip-detector

ci: bump the GLM Review pin three months forward, drop two grants (#1167)
  .github/workflows/glm-review.yml
  tests/ci/test_glm_review_caller_1167.py
Due: pytest-check, skip-detector

ci: bump the GLM Review pin three months forward, drop two grants (#1167) (#1178)
  .github/workflows/glm-review.yml
  tests/ci/test_glm_review_caller_1167.py
Due: pytest-check, skip-detector

fix(docs): the quickstart's first run is one task, not the whole backlog (#1171)
  README.md
  docs/QUICKSTART.md
  scripts/quickstart-cleanroom/walkthrough.sh
  tests/ci/test_quickstart_budget_guard_1171.py
Due: pytest-check, skip-detector

fix(docs): re-measure the quickstart at 5m52s, and stop overclaiming (#1171)
  CLAUDE.md
  README.md
  docs/QUICKSTART.md
  docs/demos/quickstart-cleanroom.md
  scripts/quickstart-cleanroom/artifacts-1171/final-tree.txt
  scripts/quickstart-cleanroom/artifacts-1171/findings.tsv
  scripts/quickstart-cleanroom/artifacts-1171/run-logs/output.log
  scripts/quickstart-cleanroom/artifacts-1171/timings.tsv
  scripts/quickstart-cleanroom/artifacts-1171/total.txt
  scripts/quickstart-cleanroom/artifacts-1171/transcript.txt
  scripts/quickstart-cleanroom/build-demo.sh
  scripts/quickstart-cleanroom/walkthrough.sh
  tests/ci/test_quickstart_budget_guard_1171.py
Due: pytest-check, skip-detector

fix(docs): Run B's non-batch steps summed to 276s, not 315s (#1171)
  README.md
  docs/demos/quickstart-cleanroom.md
  scripts/quickstart-cleanroom/build-demo.sh
Due: none

fix(tests): the TASK_ID guard test checked ordering, not containment (#1171)
  docs/demos/quickstart-cleanroom.md
  scripts/quickstart-cleanroom/build-demo.sh
  tests/ci/test_quickstart_budget_guard_1171.py
Due: pytest-check, skip-detector

docs: Step 6 assumed a batch that is no longer the default (#1171)
  docs/QUICKSTART.md
Due: none

fix(docs): the quickstart's first run is one task — 19m37s to 5m52s, re-measured (#1171) (#1179)
  CLAUDE.md
  README.md
  docs/QUICKSTART.md
  docs/demos/quickstart-cleanroom.md
  scripts/quickstart-cleanroom/artifacts-1171/final-tree.txt
  scripts/quickstart-cleanroom/artifacts-1171/findings.tsv
  scripts/quickstart-cleanroom/artifacts-1171/run-logs/output.log
  scripts/quickstart-cleanroom/artifacts-1171/timings.tsv
  scripts/quickstart-cleanroom/artifacts-1171/total.txt
  scripts/quickstart-cleanroom/artifacts-1171/transcript.txt
  scripts/quickstart-cleanroom/build-demo.sh
  scripts/quickstart-cleanroom/walkthrough.sh
  tests/ci/test_quickstart_budget_guard_1171.py
Due: pytest-check, skip-detector

feat(adapters): migrate the Anthropic adapter to the 1.x SDK, lift the <1.0 ceiling
  CHANGELOG.md
  CLAUDE.md
  codeframe/adapters/llm/anthropic.py
  pyproject.toml
  tests/adapters/test_llm_anthropic.py
  tests/adapters/test_sdk_kwargs_guard_614.py
  uv.lock
Due: pytest-check, skip-detector

test(adapters): cover messages.stream() at the wire level too, not just create()
  tests/adapters/test_sdk_kwargs_guard_614.py
Due: pytest-check, skip-detector

feat(adapters): migrate the Anthropic adapter to the 1.x SDK, lift the <1.0 ceiling (#1170)
  CHANGELOG.md
  CLAUDE.md
  codeframe/adapters/llm/anthropic.py
  pyproject.toml
  tests/adapters/test_llm_anthropic.py
  tests/adapters/test_sdk_kwargs_guard_614.py
  uv.lock
Due: pytest-check, skip-detector

fix(docs): the quickstart's PROVE step now proves something (#1173)
  README.md
  docs/QUICKSTART.md
  scripts/quickstart-cleanroom/walkthrough.sh
  tests/core/test_proof_quickstart_1173.py
Due: pytest-check, skip-detector

test(proof): fail loudly if the stub template stops carrying the placeholder
  tests/core/test_proof_quickstart_1173.py
Due: pytest-check, skip-detector

docs(demos): record the #1173 fix in the walkthrough it was found by
  README.md
  docs/demos/quickstart-cleanroom.md
  scripts/quickstart-cleanroom/artifacts-1173/final-tree.txt
  scripts/quickstart-cleanroom/artifacts-1173/findings.tsv
  scripts/quickstart-cleanroom/artifacts-1173/run-logs/output.log
  scripts/quickstart-cleanroom/artifacts-1173/timings.tsv
  scripts/quickstart-cleanroom/artifacts-1173/total.txt
  scripts/quickstart-cleanroom/artifacts-1173/transcript.txt
Due: none

fix(docs): the quickstart's PROVE step now proves something (#1173) (#1183)
  README.md
  docs/QUICKSTART.md
  docs/demos/quickstart-cleanroom.md
  scripts/quickstart-cleanroom/artifacts-1173/final-tree.txt
  scripts/quickstart-cleanroom/artifacts-1173/findings.tsv
  scripts/quickstart-cleanroom/artifacts-1173/run-logs/output.log
  scripts/quickstart-cleanroom/artifacts-1173/timings.tsv
  scripts/quickstart-cleanroom/artifacts-1173/total.txt
  scripts/quickstart-cleanroom/artifacts-1173/transcript.txt
  scripts/quickstart-cleanroom/walkthrough.sh
  tests/core/test_proof_quickstart_1173.py
Due: pytest-check, skip-detector

fix(credentials): bound keyring calls by time so a dead backend cannot hang (#1181)
  CLAUDE.md
  codeframe/core/credentials.py
  tests/conftest.py
  tests/core/test_credentials_integration.py
  tests/core/test_keyring_timeout_1181.py
Due: pytest-check, skip-detector

fix(credentials): serialize keyring calls so the sticky verdict bounds a burst
  codeframe/core/credentials.py
  tests/core/test_keyring_timeout_1181.py
Due: pytest-check, skip-detector

fix(settings): keep credential reads off the event loop (#1181 review)
  codeframe/core/credentials.py
  codeframe/ui/routers/settings_v2.py
  tests/core/test_keyring_timeout_1181.py
Due: pytest-check, skip-detector

refactor(credentials): read the keyring timeout once per call
  codeframe/core/credentials.py
Due: pytest-check

fix(github): keep the PAT store/delete off the event loop too, and guard it (#1181)
  codeframe/ui/routers/github_integrations_v2.py
  tests/ui/test_no_blocking_credential_calls_1181.py
Due: pytest-check, skip-detector

test: drop the dead exemption branch from the credential AST guard
  tests/ui/test_no_blocking_credential_calls_1181.py
Due: pytest-check, skip-detector

fix(credentials): make CODEFRAME_DISABLE_KEYRING an allowlist, not an inverted one
  codeframe/core/credentials.py
  tests/core/test_keyring_timeout_1181.py
Due: pytest-check, skip-detector

fix(credentials): bound keyring calls by time so a dead backend cannot hang (#1181) (#1184)
  CLAUDE.md
  codeframe/core/credentials.py
  codeframe/ui/routers/github_integrations_v2.py
  codeframe/ui/routers/settings_v2.py
  tests/conftest.py
  tests/core/test_credentials_integration.py
  tests/core/test_keyring_timeout_1181.py
  tests/ui/test_no_blocking_credential_calls_1181.py
Due: pytest-check, skip-detector

ci: pin GLM Review to the build where turns bind before the clock (#1167)
  .github/workflows/glm-review.yml
Due: none

ci: pin GLM Review to the build where turns bind before the clock (#1167) (#1188)
  .github/workflows/glm-review.yml
Due: none
