Repository frankbria/codeframe: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, skip-detector

.pre-commit-config.yaml:

repos:
  # Note: black removed from pre-commit to avoid conflicts with ruff --fix
  # Run `uv run black .` manually before committing if needed

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.2.0
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        types: [python]

  - repo: local
    hooks:
      - id: pytest-check
        name: Run last failed tests (fast feedback)
        entry: bash -c 'if [ -f venv/bin/activate ]; then source venv/bin/activate && pytest --lf -x; elif [ -f .venv/bin/activate ]; then source .venv/bin/activate && pytest --lf -x; else pytest --lf -x; fi'
        language: system
        pass_filenames: false
        files: \.py$
        types: [python]

      - id: coverage-check
        name: Enforce 65% coverage (manual - use scripts/verify-ai-claims.sh for full check)
        entry: bash -c 'if [ -f venv/bin/activate ]; then source venv/bin/activate && pytest --cov --cov-report=term-missing --cov-fail-under=65; elif [ -f .venv/bin/activate ]; then source .venv/bin/activate && pytest --cov --cov-report=term-missing --cov-fail-under=65; else pytest --cov --cov-report=term-missing --cov-fail-under=65; fi || (echo "❌❌❌ COVERAGE BELOW 65% ❌❌❌" && exit 1)'
        language: system
        pass_filenames: false
        files: \.py$
        types: [python]
        stages: [manual]

      - id: skip-detector
        name: Detect skip decorator abuse
        entry: python scripts/detect-skip-abuse.py
        language: system
        files: ^tests/.*\.py$
        pass_filenames: false

fix: Add missing duration parameter to fallback TestResult in worker_agent
  codeframe/agents/worker_agent.py
Due: pytest-check

fix: Address high-priority security and quality issues in evidence enforcement
  CHANGELOG.md
  codeframe/agents/worker_agent.py
  codeframe/enforcement/README.md
  codeframe/lib/quality_gates.py
  codeframe/persistence/repositories/task_repository.py
Due: pytest-check

test: Add integration tests for evidence-based quality enforcement
  tests/integration/test_evidence_integration.py
Due: pytest-check, skip-detector

style: Remove unused imports from integration tests
  tests/integration/test_evidence_integration.py
Due: pytest-check, skip-detector

fix: Correct QualityGateResult constructor calls and patch targets in integration tests
  tests/integration/test_evidence_integration.py
Due: pytest-check, skip-detector

fix: Add backward compatibility properties and fix test fixtures
  codeframe/persistence/database.py
  tests/integration/test_evidence_integration.py
Due: pytest-check, skip-detector

fix: Resolve integration test failures with proper task creation and evidence mocking
  .gitignore
  tests/integration/test_evidence_integration.py
  tests/integration/test_quality_tracker_integration.py
Due: pytest-check, skip-detector

fix: Complete integration test fixes for evidence-based quality enforcement
  tests/integration/test_evidence_integration.py
Due: pytest-check, skip-detector

Evidence-Based Quality Enforcement Integration (#156)
  .gitignore
  CHANGELOG.md
  codeframe/agents/worker_agent.py
  codeframe/config/security.py
  codeframe/enforcement/README.md
  codeframe/lib/quality_gates.py
  codeframe/persistence/database.py
  codeframe/persistence/repositories/task_repository.py
  codeframe/persistence/schema_manager.py
  tests/integration/test_evidence_integration.py
  tests/integration/test_quality_tracker_integration.py
Due: pytest-check, skip-detector

Add E2E user journey tests with UI-driven flows
  tests/e2e/README-USER-JOURNEY-TESTS.md
  tests/e2e/test-utils.ts
  tests/e2e/test_auth_flow.spec.ts
  tests/e2e/test_complete_user_journey.spec.ts
  tests/e2e/test_project_creation.spec.ts
  tests/e2e/test_start_agent_flow.spec.ts
  web-ui/src/components/Dashboard.tsx
  web-ui/src/components/DiscoveryProgress.tsx
  web-ui/src/components/Navigation.tsx
  web-ui/src/components/ProjectCreationForm.tsx
  web-ui/src/components/ProjectList.tsx
  web-ui/src/components/auth/LoginForm.tsx
Due: none

feat: Implement E2E user journey tests with auth bypass
  .gitignore
  tests/e2e/auth-bypass.ts
  tests/e2e/e2e-config.ts
  tests/e2e/playwright.config.ts
  tests/e2e/test-utils.ts
  tests/e2e/test_complete_user_journey.spec.ts
  tests/e2e/test_project_creation.spec.ts
  tests/e2e/test_start_agent_flow.spec.ts
  web-ui/src/lib/auth.ts
Due: none

feat: Implement E2E user journey tests with auth bypass (#159)
  .gitignore
  tests/e2e/README-USER-JOURNEY-TESTS.md
  tests/e2e/auth-bypass.ts
  tests/e2e/e2e-config.ts
  tests/e2e/playwright.config.ts
  tests/e2e/test-utils.ts
  tests/e2e/test_auth_flow.spec.ts
  tests/e2e/test_complete_user_journey.spec.ts
  tests/e2e/test_project_creation.spec.ts
  tests/e2e/test_start_agent_flow.spec.ts
  web-ui/src/components/Dashboard.tsx
  web-ui/src/components/DiscoveryProgress.tsx
  web-ui/src/components/Navigation.tsx
  web-ui/src/components/ProjectCreationForm.tsx
  web-ui/src/components/ProjectList.tsx
  web-ui/src/components/auth/LoginForm.tsx
  web-ui/src/lib/auth.ts
Due: none

feat: Implement unified BetterAuth authentication system
  tests/e2e/README-USER-JOURNEY-TESTS.md
  tests/e2e/auth-bypass.ts
  tests/e2e/global-setup.ts
  tests/e2e/seed-test-data.py
  tests/e2e/test_auth_flow.spec.ts
  tests/e2e/test_complete_user_journey.spec.ts
  tests/e2e/test_dashboard.spec.ts
  tests/e2e/test_project_creation.spec.ts
  tests/e2e/test_start_agent_flow.spec.ts
  web-ui/src/components/ProjectCreationForm.tsx
  web-ui/src/lib/auth.ts
Due: pytest-check, skip-detector

feat: Migrate to BetterAuth-compatible account table schema
  codeframe/persistence/migrations/migrate_to_accounts_table.py
  codeframe/persistence/schema_manager.py
  docs/account-table-migration.md
  tests/e2e/seed-test-data.py
  web-ui/package-lock.json
  web-ui/package.json
  web-ui/src/lib/auth.ts
  web-ui/src/lib/db-schema.ts
Due: pytest-check, skip-detector

fix: Correct accounts table schema to match BetterAuth requirements
  codeframe/persistence/migrations/migrate_to_accounts_table.py
  codeframe/persistence/schema_manager.py
  tests/e2e/seed-test-data.py
  web-ui/src/lib/db-schema.ts
Due: pytest-check, skip-detector

docs: Update account table migration with schema fix details
  docs/account-table-migration.md
Due: none

fix: Replace invalid password hash and add BetterAuth debugging
  tests/e2e/seed-test-data.py
  web-ui/package-lock.json
  web-ui/package.json
  web-ui/src/lib/auth.ts
  web-ui/test-bcrypt-compat.js
Due: pytest-check, skip-detector

docs: Document invalid password hash discovery and fix
  docs/account-table-migration.md
Due: none

fix: Resolve BetterAuth login timeout by ensuring TEST_DB_PATH in fresh builds
  tests/e2e/playwright.config.ts
  web-ui/src/lib/auth.ts
Due: none

fix: Set NEXT_PUBLIC_APP_URL for E2E tests to match frontend port 3001
  tests/e2e/playwright.config.ts
Due: none

fix: Replace hard-coded wait with conditional state detection in answerDiscoveryQuestion
  tests/e2e/test-utils.ts
Due: none

fix: Add database index and fix hardcoded trust origins
  codeframe/persistence/schema_manager.py
  web-ui/src/lib/auth.ts
Due: pytest-check

fix: Add verification table and password hash validation
  codeframe/persistence/schema_manager.py
  tests/e2e/seed-test-data.py
  web-ui/src/lib/auth.ts
  web-ui/src/lib/db-schema.ts
Due: pytest-check, skip-detector

security: Add critical security protections
  codeframe/persistence/migrations/migrate_to_accounts_table.py
  tests/e2e/seed-test-data.py
  web-ui/src/lib/auth.ts
Due: pytest-check, skip-detector

test: Make auth test timeouts CI-aware
  tests/e2e/test_auth_flow.spec.ts
Due: none

fix: Update test fixtures for BetterAuth schema migration
  codeframe/persistence/schema_manager.py
  tests/api/conftest.py
  tests/auth/test_authentication.py
  tests/auth/test_authorization_integration.py
  tests/test_review_api.py
  tests/ui/conftest.py
Due: pytest-check, skip-detector

fix: Add missing id column to sessions INSERT in test_review_api
  tests/test_review_api.py
Due: pytest-check, skip-detector

BetterAuth Integration: Account Table Migration & E2E Test Infrastructure (#160)
  codeframe/persistence/migrations/migrate_to_accounts_table.py
  codeframe/persistence/schema_manager.py
  docs/account-table-migration.md
  tests/api/conftest.py
  tests/auth/test_authentication.py
  tests/auth/test_authorization_integration.py
  tests/e2e/README-USER-JOURNEY-TESTS.md
  tests/e2e/global-setup.ts
  tests/e2e/playwright.config.ts
  tests/e2e/seed-test-data.py
  tests/e2e/test-utils.ts
  tests/e2e/test_auth_flow.spec.ts
  tests/e2e/test_complete_user_journey.spec.ts
  tests/e2e/test_dashboard.spec.ts
  tests/e2e/test_project_creation.spec.ts
  tests/e2e/test_start_agent_flow.spec.ts
  tests/test_review_api.py
  tests/ui/conftest.py
  web-ui/package-lock.json
  web-ui/package.json
  web-ui/src/components/ProjectCreationForm.tsx
  web-ui/src/lib/auth.ts
  web-ui/src/lib/db-schema.ts
  web-ui/test-bcrypt-compat.js
Due: pytest-check, skip-detector

test: Update E2E auth tests for JWT-based authentication
  tests/e2e/test-utils.ts
  tests/e2e/test_auth_flow.spec.ts
  web-ui/src/components/auth/LoginForm.tsx
  web-ui/src/components/auth/SignupForm.tsx
Due: none

feat: Complete FastAPI Users JWT authentication migration
  codeframe/auth/dependencies.py
  codeframe/auth/manager.py
  codeframe/auth/router.py
  codeframe/persistence/schema_manager.py
  codeframe/ui/routers/agents.py
  codeframe/ui/routers/blockers.py
  codeframe/ui/routers/chat.py
  codeframe/ui/routers/checkpoints.py
  codeframe/ui/routers/context.py
  codeframe/ui/routers/discovery.py
  codeframe/ui/routers/lint.py
  codeframe/ui/routers/metrics.py
  codeframe/ui/routers/quality_gates.py
  codeframe/ui/routers/review.py
  codeframe/ui/routers/session.py
  codeframe/ui/routers/tasks.py
  codeframe/ui/server.py
  tests/e2e/global-setup.ts
  tests/e2e/playwright.config.ts
  tests/e2e/seed-test-data.py
  tests/e2e/test-utils.ts
  tests/e2e/test_auth_flow.spec.ts
Due: pytest-check, skip-detector

fix: Resolve ruff linting errors
  codeframe/auth/manager.py
  codeframe/ui/auth.py
Due: pytest-check

fix: Address security review findings
  codeframe/auth/dependencies.py
  codeframe/auth/manager.py
  codeframe/auth/users.py
  codeframe/ui/auth.py
  web-ui/src/contexts/AuthContext.tsx
Due: pytest-check

fix: Address code review feedback
  .env.example
  codeframe/auth/dependencies.py
  codeframe/auth/manager.py
  codeframe/persistence/migrations/migrate_to_fastapi_users.py
  pyproject.toml
  tests/e2e/package-lock.json
  tests/e2e/package.json
  uv.lock
Due: pytest-check

fix: Update frontend tests to mock authFetch instead of global.fetch
  web-ui/__tests__/api/checkpoints.test.ts
  web-ui/__tests__/api/metrics.test.ts
  web-ui/__tests__/components/SessionStatus.test.tsx
  web-ui/__tests__/integration/discovery-answer-flow.test.tsx
  web-ui/src/components/__tests__/DiscoveryProgress.test.tsx
  web-ui/src/components/__tests__/ProjectCreationForm.test.tsx
  web-ui/src/lib/__tests__/api.test.ts
Due: none

fix: Update backend test fixtures for FastAPI Users schema
  tests/api/conftest.py
  tests/auth/test_authorization_integration.py
Due: pytest-check, skip-detector

fix: Update auth tests for JWT tokens and mark xfail for missing auth
  tests/auth/test_authorization_integration.py
Due: pytest-check, skip-detector

chore: Remove old BetterAuth test file
  tests/auth/test_authentication.py
Due: pytest-check, skip-detector

fix: Clean up imports in auth integration tests
  tests/auth/test_authorization_integration.py
Due: pytest-check, skip-detector

fix: Add explicit warning logging for mock user FK violation risk
  codeframe/auth/dependencies.py
Due: pytest-check
