Repository frankbria/codeframe: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, skip-detector

pytest-check:
  name: Run last failed tests (fast feedback)
  entry: bash -c 'if [ -f venv/bin/activate ]; then source venv/bin/activate && pytest --lf -x; elif [ -f .venv/bin/activate ]; then source .venv/bin/activate && pytest --lf -x; else pytest --lf -x; fi'
  language: system
  pass_filenames: false

skip-detector:
  name: Detect skip decorator abuse
  entry: python scripts/detect-skip-abuse.py
  language: system
  pass_filenames: false

fix(github): best-effort close comment + close on late opt-in (#565)
  codeframe/core/github_issues_service.py
  codeframe/core/tasks.py
  codeframe/ui/routers/tasks_v2.py
  tests/core/test_github_issues_service.py
  tests/ui/test_v2_routers_integration.py
Due: pytest-check, skip-detector

fix(github): don't auto-close when reopening a DONE task in same PATCH (#565)
  codeframe/ui/routers/tasks_v2.py
  tests/ui/test_v2_routers_integration.py
Due: pytest-check, skip-detector

fix(github): 404 issue->client error; refresh failure not import failure (#565)
  codeframe/core/github_issues_service.py
  codeframe/ui/routers/github_integrations_v2.py
  tests/core/test_github_issues_service.py
  tests/ui/test_github_integrations_v2.py
  web-ui/src/components/tasks/TaskBoardView.tsx
Due: pytest-check, skip-detector

fix(github): disambiguate 404, atomic-safe PATCH ordering (#565)
  codeframe/core/github_issues_service.py
  codeframe/ui/routers/tasks_v2.py
  tests/core/test_github_issues_service.py
Due: pytest-check, skip-detector

fix(github): roll back partial imports; malformed repo -> 409 (#565)
  codeframe/ui/routers/github_integrations_v2.py
  tests/ui/test_github_integrations_v2.py
Due: pytest-check, skip-detector

fix(github): honor opt-out on combined DONE PATCH (persist-first+rollback) (#565)
  codeframe/ui/routers/tasks_v2.py
  tests/ui/test_v2_routers_integration.py
Due: pytest-check, skip-detector

fix(github): in-modal import errors + invalidate issue cache (#565)
  codeframe/ui/routers/github_integrations_v2.py
  tests/ui/test_github_integrations_v2.py
  web-ui/src/__tests__/components/tasks/GitHubIssueImportModal.test.tsx
  web-ui/src/__tests__/components/tasks/TaskBoardView.import565.test.tsx
  web-ui/src/components/tasks/GitHubIssueImportModal.tsx
  web-ui/src/components/tasks/TaskBoardView.tsx
Due: pytest-check, skip-detector

fix(github): invalidate browse cache on skipped-only imports (#565)
  codeframe/ui/routers/github_integrations_v2.py
  tests/ui/test_github_integrations_v2.py
Due: pytest-check, skip-detector

fix(github): correct HTTP status edge cases (probe degradation, redirects) (#565)
  codeframe/core/github_issues_service.py
  tests/core/test_github_issues_service.py
Due: pytest-check, skip-detector

test: disable global rate limiter suite-wide to fix CI flakiness (#565)
  tests/conftest.py
  tests/ui/test_github_integrations_v2.py
Due: pytest-check, skip-detector

refactor(github): try/finally in get_by_external_url + clarify test (#565)
  codeframe/core/tasks.py
  tests/core/test_task_github_traceability.py
Due: pytest-check, skip-detector

docs: mark Phase 5.5 (#565) GitHub issue import complete
  CLAUDE.md
Due: none

feat(integrations): execute GitHub issue import + task traceability (#565)
  CLAUDE.md
  codeframe/core/github_issues_service.py
  codeframe/core/tasks.py
  codeframe/core/workspace.py
  codeframe/ui/routers/github_integrations_v2.py
  codeframe/ui/routers/tasks_v2.py
  tests/conftest.py
  tests/core/test_github_issues_service.py
  tests/core/test_task_github_traceability.py
  tests/ui/test_github_integrations_v2.py
  tests/ui/test_v2_routers_integration.py
  web-ui/src/__tests__/components/tasks/GitHubIssueBadge.test.tsx
  web-ui/src/__tests__/components/tasks/GitHubIssueImportModal.test.tsx
  web-ui/src/__tests__/components/tasks/TaskBoardView.import565.test.tsx
  web-ui/src/__tests__/components/tasks/TaskDetailModal.test.tsx
  web-ui/src/components/tasks/GitHubIssueBadge.tsx
  web-ui/src/components/tasks/GitHubIssueImportModal.tsx
  web-ui/src/components/tasks/TaskBoardView.tsx
  web-ui/src/components/tasks/TaskDetailModal.tsx
  web-ui/src/lib/api.ts
  web-ui/src/types/index.ts
Due: pytest-check, skip-detector

feat(auth): enforce auth across all v2 REST routers (#336)
  .env.example
  codeframe/auth/dependencies.py
  codeframe/auth/router.py
  codeframe/ui/server.py
  tests/auth/test_auth_mode.py
  tests/auth/test_query_param_token.py
  tests/auth/test_registration_bootstrap.py
  tests/conftest.py
  tests/ui/test_v2_auth_enforcement.py
Due: pytest-check, skip-detector

feat(web-ui): JWT login flow + token on REST/SSE requests (#336)
  web-ui/__mocks__/@hugeicons/react.js
  web-ui/src/__tests__/app/login.test.tsx
  web-ui/src/__tests__/components/layout/AppLayout.test.tsx
  web-ui/src/__tests__/components/layout/AppSidebar.test.tsx
  web-ui/src/__tests__/hooks/useStressTestStream.test.ts
  web-ui/src/__tests__/hooks/useTaskStream.test.ts
  web-ui/src/__tests__/lib/api.auth.test.ts
  web-ui/src/__tests__/lib/auth.test.ts
  web-ui/src/app/login/page.tsx
  web-ui/src/components/layout/AppLayout.tsx
  web-ui/src/components/layout/AppSidebar.tsx
  web-ui/src/hooks/useStressTestStream.ts
  web-ui/src/hooks/useTaskStream.ts
  web-ui/src/lib/api.ts
  web-ui/src/lib/auth.ts
Due: none

fix(auth): address cross-family + internal review findings (#336)
  codeframe/auth/router.py
  tests/auth/test_registration_bootstrap.py
  tests/ui/test_v2_auth_enforcement.py
  web-ui/next.config.js
Due: pytest-check, skip-detector

fix(auth): restrict ?token= query auth to allowlisted SSE routes (#336)
  codeframe/auth/dependencies.py
  tests/auth/test_query_param_token.py
Due: pytest-check, skip-detector

fix(tests): provision DB in enforcement fixture + defuse GitGuardian false positive (#336)
  tests/ui/test_v2_auth_enforcement.py
  web-ui/src/__tests__/lib/auth.test.ts
Due: pytest-check, skip-detector

docs: sync auth claims with #336 implementation
  CLAUDE.md
  codeframe/ui/server.py
Due: pytest-check

feat(auth): enforce authentication across the v2 API (#336) (#610)
  .env.example
  CLAUDE.md
  codeframe/auth/dependencies.py
  codeframe/auth/router.py
  codeframe/ui/server.py
  tests/auth/test_auth_mode.py
  tests/auth/test_query_param_token.py
  tests/auth/test_registration_bootstrap.py
  tests/conftest.py
  tests/ui/test_v2_auth_enforcement.py
  web-ui/__mocks__/@hugeicons/react.js
  web-ui/next.config.js
  web-ui/src/__tests__/app/login.test.tsx
  web-ui/src/__tests__/components/layout/AppLayout.test.tsx
  web-ui/src/__tests__/components/layout/AppSidebar.test.tsx
  web-ui/src/__tests__/hooks/useStressTestStream.test.ts
  web-ui/src/__tests__/hooks/useTaskStream.test.ts
  web-ui/src/__tests__/lib/api.auth.test.ts
  web-ui/src/__tests__/lib/auth.test.ts
  web-ui/src/app/login/page.tsx
  web-ui/src/components/layout/AppLayout.tsx
  web-ui/src/components/layout/AppSidebar.tsx
  web-ui/src/hooks/useStressTestStream.ts
  web-ui/src/hooks/useTaskStream.ts
  web-ui/src/lib/api.ts
  web-ui/src/lib/auth.ts
Due: pytest-check, skip-detector

chore: remove vestigial v1 context-tier code and its dead tests (#611)
  codeframe/core/config.py
  codeframe/core/models.py
  codeframe/lib/importance_scorer.py
  tests/context/test_assign_tier_unit.py
  tests/context/test_importance_scoring.py
  tests/context/test_score_decay.py
  tests/context/test_tier_assignment.py
Due: pytest-check, skip-detector

chore: remove vestigial v1 context-tier code and its dead tests (#611) (#612)
  codeframe/core/config.py
  codeframe/core/models.py
  codeframe/lib/importance_scorer.py
  tests/context/test_assign_tier_unit.py
  tests/context/test_importance_scoring.py
  tests/context/test_score_decay.py
  tests/context/test_tier_assignment.py
Due: pytest-check, skip-detector

feat(importers): ralph project parser, mappers, and import orchestration (#615)
  codeframe/core/importers/__init__.py
  codeframe/core/importers/ralph.py
  tests/core/importers/test_ralph.py
  tests/fixtures/ralph_project/.ralph/.call_count
  tests/fixtures/ralph_project/.ralph/AGENT.md
  tests/fixtures/ralph_project/.ralph/PROMPT.md
  tests/fixtures/ralph_project/.ralph/fix_plan.md
  tests/fixtures/ralph_project/.ralph/specs/api_spec.md
  tests/fixtures/ralph_project/.ralph/specs/data_model.md
  tests/fixtures/ralph_project/.ralph/status.json
  tests/fixtures/ralph_project/.ralphrc
Due: pytest-check, skip-detector

feat(cli): cf import ralph command with dry-run mapping report (#615)
  codeframe/cli/app.py
  codeframe/cli/import_commands.py
  tests/cli/test_import_ralph.py
Due: pytest-check, skip-detector

docs(quickstart): add 'Coming from ralph?' migration section (#615)
  docs/QUICKSTART.md
Due: none

chore: clean up AI artifacts
  codeframe/cli/import_commands.py
Due: pytest-check

test(importers): cover non-assignment lines in .ralphrc parsing
  tests/core/importers/test_ralph.py
Due: pytest-check, skip-detector

test(importers): duplicate-title rerun idempotency; note list_all ordering reliance
  codeframe/core/importers/ralph.py
  tests/core/importers/test_ralph.py
Due: pytest-check, skip-detector

fix: address claude-review feedback on PR #620
  codeframe/cli/import_commands.py
  tests/core/importers/__init__.py
  tests/core/importers/test_ralph.py
Due: pytest-check, skip-detector

docs: add cf import ralph to CLI_WIREFRAME command mapping and README command list
  README.md
  docs/CLI_WIREFRAME.md
Due: none

refactor: move import_app registration import to top of app.py (drops noqa E402)
  codeframe/cli/app.py
  tests/core/importers/test_ralph.py
Due: pytest-check, skip-detector

feat: cf import ralph — one-command migration from ralph-claude-code (#615)
  README.md
  codeframe/cli/app.py
  codeframe/cli/import_commands.py
  codeframe/core/importers/__init__.py
  codeframe/core/importers/ralph.py
  docs/CLI_WIREFRAME.md
  docs/QUICKSTART.md
  tests/cli/test_import_ralph.py
  tests/core/importers/__init__.py
  tests/core/importers/test_ralph.py
  tests/fixtures/ralph_project/.ralph/.call_count
  tests/fixtures/ralph_project/.ralph/AGENT.md
  tests/fixtures/ralph_project/.ralph/PROMPT.md
  tests/fixtures/ralph_project/.ralph/fix_plan.md
  tests/fixtures/ralph_project/.ralph/specs/api_spec.md
  tests/fixtures/ralph_project/.ralph/specs/data_model.md
  tests/fixtures/ralph_project/.ralph/status.json
  tests/fixtures/ralph_project/.ralphrc
Due: pytest-check, skip-detector

feat(telemetry): headless core module — consent, payloads, transport (#616)
  codeframe/core/telemetry.py
  tests/core/test_telemetry.py
Due: pytest-check, skip-detector

feat(cli): cf config telemetry on|off|status (#616)
  codeframe/cli/app.py
  codeframe/cli/config_commands.py
  tests/cli/test_config_telemetry_cli.py
Due: pytest-check, skip-detector

feat(cli): telemetry entry wrapper — first-run prompt, usage events, crash capture (#616)
  codeframe/cli/__main__.py
  codeframe/cli/app.py
  codeframe/cli/telemetry_runtime.py
  pyproject.toml
  tests/cli/test_telemetry_entry.py
  tests/conftest.py
Due: pytest-check, skip-detector

feat(telemetry): minimal JSONL collector + PRIVACY.md (#616)
  PRIVACY.md
  README.md
  scripts/telemetry_collector.py
  tests/scripts/test_telemetry_collector.py
Due: pytest-check, skip-detector

test(telemetry): custom endpoint survives consent on/off roundtrip
  tests/cli/test_config_telemetry_cli.py
Due: pytest-check, skip-detector

fix(cli): route python -m codeframe through the telemetry wrapper (codex review)
  codeframe/__main__.py
Due: pytest-check

fix: address claude-bot PR feedback — status single-read, collector single-write, explicit empty-frames assertion (#621)
  codeframe/cli/config_commands.py
  scripts/telemetry_collector.py
  tests/core/test_telemetry.py
Due: pytest-check, skip-detector

docs: sync CLI wireframe, CLAUDE.md, quickstart with telemetry feature (#616)
  CLAUDE.md
  docs/CLI_WIREFRAME.md
  docs/QUICKSTART.md
Due: none

Path conditions:
  pytest-check: any of: \.py$ and \.py$
  skip-detector: any of: ^tests/.*\.py$
