Repository frankbria/codeframe: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, skip-detector

pytest-check:
  name: Run last failed tests (fast feedback)
  entry: bash -c 'if [ -f venv/bin/activate ]; then source venv/bin/activate && pytest --lf -x; elif [ -f .venv/bin/activate ]; then source .venv/bin/activate && pytest --lf -x; else pytest --lf -x; fi'
  language: system
  pass_filenames: false

skip-detector:
  name: Detect skip decorator abuse
  entry: python scripts/detect-skip-abuse.py
  language: system
  pass_filenames: false

docs: note the web-ui security-patch auto-merge next to the audit-gate recipe (#1217)
  CLAUDE.md
Due: none

ci: re-decide Dependabot auto-merge on every push and disarm otherwise (#1217)
  .github/workflows/dependabot-automerge.yml
  tests/ci/test_dependabot_automerge_1217.py
Due: pytest-check, skip-detector

ci: refuse a same-version lockfile entry rewrite as a security patch (#1217)
  scripts/ci/lock_diff_is_surgical.py
  tests/ci/test_dependabot_automerge_1217.py
Due: pytest-check, skip-detector

ci: run the auto-merge job on every push to a Dependabot PR, serialise runs, refuse downgrades (#1217)
  .github/workflows/dependabot-automerge.yml
  scripts/ci/lock_diff_is_surgical.py
  tests/ci/test_dependabot_automerge_1217.py
Due: pytest-check, skip-detector

ci: disarm only when armed, and let a real disarm failure fail loudly (#1217)
  .github/workflows/dependabot-automerge.yml
  tests/ci/test_dependabot_automerge_1217.py
Due: pytest-check, skip-detector

ci: keep the disarm query's exit status; refuse prerelease versions cleanly (#1217)
  .github/workflows/dependabot-automerge.yml
  scripts/ci/lock_diff_is_surgical.py
  tests/ci/test_dependabot_automerge_1217.py
Due: pytest-check, skip-detector

ci: auto-merge patch-level Dependabot security PRs for web-ui once green (#1217) (#1229)
  .github/workflows/dependabot-automerge.yml
  CLAUDE.md
  scripts/ci/lock_diff_is_surgical.py
  tests/ci/test_dependabot_automerge_1217.py
Due: pytest-check, skip-detector

fix(config): a zero-length read of a populated AGENTS.md is mid-write, not a reload (#1219)
  codeframe/core/config_watcher.py
  tests/core/test_config_reload_integration.py
Due: pytest-check, skip-detector

fix(config): a file that stays empty is an intentional clear, not a mid-write forever (#1219)
  codeframe/core/config_watcher.py
  tests/core/test_config_reload_integration.py
Due: pytest-check, skip-detector

fix(config): reset the empty-read streak on watcher start (#1219)
  codeframe/core/config_watcher.py
Due: pytest-check

fix(config): defer the whole poll while any config file is mid-write (#1219)
  codeframe/core/config_watcher.py
  tests/core/test_config_reload_integration.py
Due: pytest-check, skip-detector

fix(config): a zero-length read of a populated AGENTS.md is mid-write, not a reload (#1219) (#1230)
  codeframe/core/config_watcher.py
  tests/core/test_config_reload_integration.py
Due: pytest-check, skip-detector

ci: skip the bot reviewers on fork PRs instead of failing the credential preflight (#1221)
  .github/workflows/claude-code-review.yml
  .github/workflows/glm-review.yml
  tests/ci/test_claude_review_bot_gate_1189.py
  tests/ci/test_glm_review_caller_1167.py
Due: pytest-check, skip-detector

ci: skip the bot reviewers on fork PRs instead of failing the credential preflight (#1221) (#1231)
  .github/workflows/claude-code-review.yml
  .github/workflows/glm-review.yml
  tests/ci/test_claude_review_bot_gate_1189.py
  tests/ci/test_glm_review_caller_1167.py
Due: pytest-check, skip-detector

docs(web-ui): name the npm that generated the lock, and what older npm rewrites (#1223)
  CLAUDE.md
  tests/ci/test_web_ui_lockfile_guard_1194.py
  web-ui/package.json
Due: pytest-check, skip-detector

docs(web-ui): name the npm that generated the lock, and what older npm rewrites (#1223) (#1232)
  CLAUDE.md
  tests/ci/test_web_ui_lockfile_guard_1194.py
  web-ui/package.json
Due: pytest-check, skip-detector

fix(e2e): re-seed the review working-tree change per browser project (#1236)
  .github/workflows/test.yml
  tests/ci/test_nightly_full_sweep_1236.py
  tests/e2e/README.md
  tests/e2e/review.spec.ts
Due: pytest-check, skip-detector

fix(e2e): re-seed the review working-tree change per browser project, make the full sweep dispatchable (#1236) (#1238)
  .github/workflows/test.yml
  tests/ci/test_nightly_full_sweep_1236.py
  tests/e2e/README.md
  tests/e2e/review.spec.ts
Due: pytest-check, skip-detector

test(runtime): pin the clock in test_execute_agent_records_engine_stats (#1237)
  tests/core/test_runtime_engine_stats.py
Due: pytest-check, skip-detector

test(runtime): pin the clock in the engine-stats duration test (#1237) (#1240)
  tests/core/test_runtime_engine_stats.py
Due: pytest-check, skip-detector

ci: open or update an issue when a scheduled Test Suite or Web UI Audit run fails (#1239)
  .github/workflows/scheduled-failure-issue.yml
  .github/workflows/test.yml
  .github/workflows/web-ui-audit.yml
  tests/ci/test_scheduled_failure_signal_1239.py
Due: pytest-check, skip-detector

ci: gh --jq has no --arg; pipe to jq for the exact-title match (#1239)
  .github/workflows/scheduled-failure-issue.yml
Due: none

ci: dedupe by listing open issues, not the search index; run the step against a stubbed gh in the guard (#1239)
  .github/workflows/scheduled-failure-issue.yml
  tests/ci/test_scheduled_failure_signal_1239.py
Due: pytest-check, skip-detector

docs: note that a red scheduled Web UI Audit or Test Suite run now files an issue (#1239)
  CLAUDE.md
  deploy/README.md
Due: none

ci(deploy): grant issues: write on the test.yml call so the new callee scope does not refuse the deploy run (#1239)
  .github/workflows/deploy.yml
Due: none

ci: open or update an issue when a scheduled Test Suite or Web UI Audit run fails (#1239) (#1241)
  .github/workflows/deploy.yml
  .github/workflows/scheduled-failure-issue.yml
  .github/workflows/test.yml
  .github/workflows/web-ui-audit.yml
  CLAUDE.md
  deploy/README.md
  tests/ci/test_scheduled_failure_signal_1239.py
Due: pytest-check, skip-detector

ci: open or update an issue when a scheduled Unlocked Resolution run fails (#1242)
  .github/workflows/release.yml
  .github/workflows/unlocked-resolution.yml
  CLAUDE.md
  tests/ci/test_scheduled_failure_signal_1239.py
Due: pytest-check, skip-detector

docs: keep the Unlocked Resolution sentence parallel after naming the #1242 signal
  CLAUDE.md
Due: none

ci: open or update an issue when a scheduled Unlocked Resolution run fails (#1242) (#1243)
  .github/workflows/release.yml
  .github/workflows/unlocked-resolution.yml
  CLAUDE.md
  tests/ci/test_scheduled_failure_signal_1239.py
Due: pytest-check, skip-detector

build: migrate to pytest 9 and clear GHSA-6w46-j5rx-g56g (#1244)
  pyproject.toml
  tests/ci/test_pytest9_floor_guard_1244.py
  uv.lock
Due: pytest-check, skip-detector

test: adapt two class-scoped fixtures to pytest 9.1 and raise minversion (#1244)
  pytest.ini
  tests/core/test_deploy_hardening_933.py
  tests/test_claude_review_workflow_1011.py
Due: pytest-check, skip-detector

build: migrate to pytest 9 and clear GHSA-6w46-j5rx-g56g (#1244) (#1245)
  pyproject.toml
  pytest.ini
  tests/ci/test_pytest9_floor_guard_1244.py
  tests/core/test_deploy_hardening_933.py
  tests/test_claude_review_workflow_1011.py
  uv.lock
Due: pytest-check, skip-detector

docs: make the roadmap summary table the single status authority (#1246)
  CLAUDE.md
  docs/PRODUCT_ROADMAP.md
  tests/test_roadmap_status_1246.py
Due: pytest-check, skip-detector

docs: disambiguate the 4.A–4.D adapter milestones from the 4A table row; note the 5.5 auto-close PAT caveat
  docs/PRODUCT_ROADMAP.md
Due: none

test: guard CLAUDE.md's Current Focus header against the roadmap's
  tests/test_roadmap_status_1246.py
Due: pytest-check, skip-detector

feat(proof9): scope the merge gate to the PR's changed files (#1247)
  codeframe/core/proof/evidence.py
  codeframe/ui/routers/pr_v2.py
  tests/core/test_proof_merge_gate_scope_1247.py
  tests/ui/test_pr_merge_gate.py
Due: pytest-check, skip-detector

feat(proof9): distinguish a vacuous pass from a real one (#1247)
  codeframe/core/proof/ledger.py
  codeframe/core/proof/models.py
  codeframe/core/proof/runner.py
  codeframe/ui/routers/proof_v2.py
  tests/core/test_proof_vacuous_pass_1247.py
  tests/ui/test_proof_vacuous_pass_api_1247.py
  web-ui/src/__tests__/components/proof/RunHistoryPanel.test.tsx
  web-ui/src/components/proof/RunHistoryPanel.tsx
  web-ui/src/types/index.ts
Due: pytest-check, skip-detector

feat(review): audited merge-gate override from the PR status panel (#1247)
  web-ui/src/__tests__/components/review/PRStatusPanel.override.test.tsx
  web-ui/src/components/review/MergeOverrideModal.tsx
  web-ui/src/components/review/PRStatusPanel.tsx
Due: none

fix(review): let the server own the merge gate, and name what it blocks (#1247)
  codeframe/ui/routers/pr_v2.py
  tests/ui/test_pr_merge_gate.py
  web-ui/src/__tests__/components/review/PRStatusPanel.override.test.tsx
  web-ui/src/__tests__/components/review/PRStatusPanel.test.tsx
  web-ui/src/components/review/MergeOverrideModal.tsx
  web-ui/src/components/review/PRStatusPanel.tsx
  web-ui/src/lib/api.ts
  web-ui/src/types/index.ts
Due: pytest-check, skip-detector

Path conditions:
  pytest-check: any of: \.py$ and \.py$
  skip-detector: any of: ^tests/.*\.py$
