Repository frankbria/codeframe: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, skip-detector

pytest-check:
  name: Run last failed tests (fast feedback)
  entry: bash -c 'if [ -f venv/bin/activate ]; then source venv/bin/activate && pytest --lf -x; elif [ -f .venv/bin/activate ]; then source .venv/bin/activate && pytest --lf -x; else pytest --lf -x; fi'
  language: system
  pass_filenames: false

skip-detector:
  name: Detect skip decorator abuse
  entry: python scripts/detect-skip-abuse.py
  language: system
  pass_filenames: false

docs: Add UI Template Configuration section to CLAUDE.md
  CLAUDE.md
Due: none

chore: Remove unnecessary install-deps.sh script
  web-ui/install-deps.sh
Due: none

fix: Replace lucide-react with Hugeicons in shadcn UI components
  web-ui/__mocks__/@hugeicons/react.js
  web-ui/src/components/ui/dialog.tsx
  web-ui/src/components/ui/select.tsx
Due: none

test: Update frontend test assertions for Nova color classes
  web-ui/__tests__/components/BlockerBadge.test.tsx
  web-ui/__tests__/components/BlockerPanel.test.tsx
  web-ui/__tests__/components/ChatInterface.test.tsx
  web-ui/__tests__/components/Dashboard.test.tsx
  web-ui/__tests__/components/ErrorBoundary.test.tsx
  web-ui/__tests__/components/QualityGateStatus.test.tsx
  web-ui/__tests__/components/ReviewFindings.test.tsx
  web-ui/__tests__/components/ReviewSummary.test.tsx
  web-ui/__tests__/components/TokenUsageChart.test.tsx
  web-ui/__tests__/components/lint/LintResultsTable.test.tsx
  web-ui/__tests__/components/quality-gates/GateStatusIndicator.test.tsx
  web-ui/__tests__/components/quality-gates/QualityGatesPanelFallback.test.tsx
  web-ui/__tests__/components/review/ReviewFindingsList.test.tsx
  web-ui/__tests__/components/review/ReviewResultsPanel.test.tsx
  web-ui/__tests__/components/review/ReviewScoreChart.test.tsx
  web-ui/__tests__/integration/discovery-answer-flow.test.tsx
  web-ui/__tests__/lib/qualityGateUtils.test.ts
  web-ui/src/components/AgentCard.test.tsx
  web-ui/src/components/TaskTreeView.test.tsx
  web-ui/src/components/__tests__/DiscoveryProgress.test.tsx
  web-ui/src/components/__tests__/PhaseIndicator.test.tsx
  web-ui/src/components/__tests__/ProjectCreationForm.test.tsx
Due: none

docs: Refactor CLAUDE.md by extracting large sections to dedicated files
  CLAUDE.md
  docs/context-management.md
  docs/e2e-testing.md
  docs/session-lifecycle.md
  docs/sprint-10-review-polish.md
Due: none

fix: Complete Nova design token migration for remaining components
  web-ui/__tests__/components/ErrorBoundary.test.tsx
  web-ui/src/components/AgentCard.test.tsx
  web-ui/src/components/PhaseIndicator.tsx
  web-ui/src/components/ProjectCreationForm.tsx
  web-ui/src/components/TaskTreeView.test.tsx
  web-ui/src/components/__tests__/PhaseIndicator.test.tsx
  web-ui/src/components/__tests__/ProjectCreationForm.test.tsx
  web-ui/src/components/checkpoints/CheckpointList.tsx
  web-ui/src/components/context/ContextPanel.tsx
  web-ui/src/components/quality-gates/QualityGateStatus.tsx
Due: none

fix: Make Database.cleanup_expired_sessions properly async
  codeframe/persistence/database.py
Due: pytest-check

fix: Standardize focus ring token in LoginForm to match SignupForm
  web-ui/src/components/auth/LoginForm.tsx
Due: none

fix: Remove redundant ternary in Dashboard chat button styling
  web-ui/src/components/Dashboard.tsx
Due: none

fix: Complete Nova token migration for remaining components
  web-ui/src/components/SessionStatus.tsx
  web-ui/src/components/auth/LoginForm.tsx
  web-ui/src/components/reviews/ReviewFindings.tsx
Due: none

feat: Integrate QualityTracker into WorkerAgent workflow
  codeframe/agents/worker_agent.py
  codeframe/core/models.py
  codeframe/lib/checkpoint_manager.py
  tests/integration/test_quality_tracker_integration.py
Due: pytest-check, skip-detector

feat: Integrate QualityTracker into WorkerAgent workflow (#151)
  codeframe/agents/worker_agent.py
  codeframe/core/models.py
  codeframe/lib/checkpoint_manager.py
  tests/integration/test_quality_tracker_integration.py
Due: pytest-check, skip-detector

feat: Implement agent maturity assessment system
  codeframe/agents/worker_agent.py
  codeframe/persistence/database.py
  codeframe/persistence/repositories/agent_repository.py
  codeframe/persistence/repositories/task_repository.py
  codeframe/ui/models.py
  codeframe/ui/routers/agents.py
  tests/agents/test_worker_agent.py
  tests/integration/test_agent_maturity.py
  web-ui/src/components/AgentCard.tsx
Due: pytest-check, skip-detector

feat: Add async get_tasks_by_agent and database index for performance
  codeframe/persistence/database.py
  codeframe/persistence/repositories/task_repository.py
  codeframe/persistence/schema_manager.py
  tests/integration/test_agent_maturity.py
Due: pytest-check, skip-detector

fix: Correct self-correction rate logic and SQLite index syntax
  codeframe/agents/worker_agent.py
  codeframe/persistence/schema_manager.py
Due: pytest-check

Implement agent maturity level system (#152)
  codeframe/agents/worker_agent.py
  codeframe/persistence/database.py
  codeframe/persistence/repositories/agent_repository.py
  codeframe/persistence/repositories/task_repository.py
  codeframe/persistence/schema_manager.py
  codeframe/ui/models.py
  codeframe/ui/routers/agents.py
  tests/agents/test_worker_agent.py
  tests/integration/test_agent_maturity.py
  web-ui/src/components/AgentCard.tsx
Due: pytest-check, skip-detector

fix: Add missing data-testid attributes for E2E tests
  web-ui/src/components/AgentCard.tsx
  web-ui/src/components/ErrorBoundary.tsx
  web-ui/src/components/reviews/ReviewSummary.tsx
Due: none

test: Update ReviewSummary tests for new data-testid format
  web-ui/__tests__/components/ReviewSummary.test.tsx
Due: none

fix: Add defensive coding and layout-safe wrapper for test IDs
  web-ui/src/components/AgentCard.tsx
  web-ui/src/components/ErrorBoundary.tsx
Due: none

fix: Add missing data-testid attributes for E2E tests (#154)
  web-ui/__tests__/components/ReviewSummary.test.tsx
  web-ui/src/components/AgentCard.tsx
  web-ui/src/components/ErrorBoundary.tsx
  web-ui/src/components/reviews/ReviewSummary.tsx
Due: none

feat: Add integration test infrastructure and reduce test mocking
  docs/TESTING_STRATEGY.md
  pytest.ini
  scripts/audit_mocked_tests.py
  test_audit_report.md
  tests/integration/conftest.py
  tests/integration/test_database_operations.py
  tests/integration/test_multi_agent_execution.py
  tests/integration/test_worker_agent_execution.py
Due: pytest-check, skip-detector

fix: Add orchestrator simulation for DB status updates in multi-agent tests
  tests/integration/test_multi_agent_execution.py
Due: pytest-check, skip-detector

chore: Clean up integration test fixtures and fix constraint violation
  tests/integration/conftest.py
  tests/integration/test_database_operations.py
Due: pytest-check, skip-detector

fix: Resolve ruff linting errors in integration tests
  scripts/audit_mocked_tests.py
  tests/integration/conftest.py
  tests/integration/test_database_operations.py
  tests/integration/test_multi_agent_execution.py
  tests/integration/test_worker_agent_execution.py
Due: pytest-check, skip-detector

chore: Remove generated audit report from tracking
  .gitignore
  test_audit_report.md
Due: none

fix: Align integration tests with actual API signatures
  tests/integration/test_database_operations.py
  tests/integration/test_multi_agent_execution.py
Due: pytest-check, skip-detector

fix: Convert sync test to async to fix event loop error
  tests/integration/test_multi_agent_execution.py
Due: pytest-check, skip-detector

fix: Add missing data-testid attributes for E2E tests
  tests/e2e/test_dashboard.spec.ts
  web-ui/src/components/Dashboard.tsx
Due: none

fix: Align CI database path with E2E test expectations
  .github/workflows/test.yml
  .gitignore
Due: none

Reduce mocking in unit tests for better coverage (#155)
  .github/workflows/test.yml
  .gitignore
  docs/TESTING_STRATEGY.md
  pytest.ini
  scripts/audit_mocked_tests.py
  tests/e2e/test_dashboard.spec.ts
  tests/integration/conftest.py
  tests/integration/test_database_operations.py
  tests/integration/test_multi_agent_execution.py
  tests/integration/test_worker_agent_execution.py
  web-ui/src/components/Dashboard.tsx
Due: pytest-check, skip-detector

fix: Add thread-safety to database operations
  codeframe/persistence/database.py
  codeframe/persistence/repositories/base.py
  codeframe/persistence/repositories/project_repository.py
  codeframe/persistence/repositories/task_repository.py
  codeframe/persistence/repositories/token_repository.py
Due: pytest-check

fix: Update model names to use correct Anthropic API identifiers
  codeframe/agents/worker_agent.py
  tests/integration/test_worker_agent_integration.py
Due: pytest-check, skip-detector

ci: Pass ANTHROPIC_API_KEY to backend tests
  .github/workflows/test.yml
Due: none

feat: Integrate evidence-based quality enforcement into WorkerAgent
  CHANGELOG.md
  codeframe/agents/worker_agent.py
  codeframe/config/security.py
  codeframe/enforcement/README.md
  codeframe/lib/quality_gates.py
  codeframe/persistence/repositories/task_repository.py
  codeframe/persistence/schema_manager.py
Due: pytest-check

fix: Add type safety fixes for evidence integration
  codeframe/lib/quality_gates.py
  codeframe/persistence/repositories/task_repository.py
Due: pytest-check

feat: Add security hardening and quality improvements
  codeframe/agents/worker_agent.py
  codeframe/lib/quality_gates.py
  codeframe/persistence/repositories/task_repository.py
Due: pytest-check

fix: Add missing duration parameter to TestResult in _row_to_evidence
  codeframe/persistence/repositories/task_repository.py
Due: pytest-check

Path conditions:
  pytest-check: any of: \.py$ and \.py$
  skip-detector: any of: ^tests/.*\.py$
