Repository frankbria/codeframe: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, skip-detector

.pre-commit-config.yaml:

repos:
  # Note: black removed from pre-commit to avoid conflicts with ruff --fix
  # Run `uv run black .` manually before committing if needed

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.2.0
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        types: [python]

  - repo: local
    hooks:
      - id: pytest-check
        name: Run last failed tests (fast feedback)
        entry: bash -c 'if [ -f venv/bin/activate ]; then source venv/bin/activate && pytest --lf -x; elif [ -f .venv/bin/activate ]; then source .venv/bin/activate && pytest --lf -x; else pytest --lf -x; fi'
        language: system
        pass_filenames: false
        files: \.py$
        types: [python]

      - id: coverage-check
        name: Enforce 65% coverage (manual - use scripts/verify-ai-claims.sh for full check)
        entry: bash -c 'if [ -f venv/bin/activate ]; then source venv/bin/activate && pytest --cov --cov-report=term-missing --cov-fail-under=65; elif [ -f .venv/bin/activate ]; then source .venv/bin/activate && pytest --cov --cov-report=term-missing --cov-fail-under=65; else pytest --cov --cov-report=term-missing --cov-fail-under=65; fi || (echo "❌❌❌ COVERAGE BELOW 65% ❌❌❌" && exit 1)'
        language: system
        pass_filenames: false
        files: \.py$
        types: [python]
        stages: [manual]

      - id: skip-detector
        name: Detect skip decorator abuse
        entry: python scripts/detect-skip-abuse.py
        language: system
        files: ^tests/.*\.py$
        pass_filenames: false

fix: return non-zero exit codes from work retry and batch run (#375) (#382)
  codeframe/cli/app.py
  tests/cli/test_work_exit_codes.py
Due: pytest-check, skip-detector

fix: fail loudly when ANTHROPIC_API_KEY is missing in CLI commands (#376)
  codeframe/cli/app.py
  codeframe/cli/validators.py
  codeframe/core/tasks.py
  tests/core/test_cli_validators.py
  tests/e2e/cli/golden_path_runner.py
  tests/e2e/cli/test_detect_success.py
Due: pytest-check, skip-detector

fix: handle json.JSONDecodeError before ValueError in task generation
  codeframe/core/tasks.py
Due: pytest-check

fix: address PR review feedback
  codeframe/cli/app.py
  codeframe/cli/validators.py
Due: pytest-check

fix: fail loudly when ANTHROPIC_API_KEY is missing (#376) (#383)
  codeframe/cli/app.py
  codeframe/cli/validators.py
  codeframe/core/tasks.py
  tests/core/test_cli_validators.py
  tests/e2e/cli/golden_path_runner.py
  tests/e2e/cli/test_detect_success.py
Due: pytest-check, skip-detector

feat: adaptive iteration budget, autofix, and loop detection for ReactAgent (#377)
  codeframe/core/config.py
  codeframe/core/events.py
  codeframe/core/gates.py
  codeframe/core/react_agent.py
  tests/core/test_gates_observability.py
  tests/core/test_react_agent.py
Due: pytest-check, skip-detector

fix: address review feedback — richer loop signatures, config validation, null safety
  codeframe/core/config.py
  codeframe/core/react_agent.py
  tests/core/test_react_agent.py
Due: pytest-check, skip-detector

feat: adaptive iteration budget, autofix, and loop detection for ReactAgent (#384)
  codeframe/core/config.py
  codeframe/core/events.py
  codeframe/core/gates.py
  codeframe/core/react_agent.py
  tests/core/test_gates_observability.py
  tests/core/test_react_agent.py
Due: pytest-check, skip-detector

feat(gates): add dependency installation pre-flight check
  codeframe/core/gates.py
  docs/code-review/2026-02-09-react-integration-tests-review.md
  docs/code-review/2026-02-11-detect-success-fix-review.md
  docs/code-review/2026-02-12-api-key-propagation-review.md
  tests/core/test_gates_observability.py
Due: pytest-check, skip-detector

feat(gates): add TypeScript type-check gate (tsc)
  codeframe/core/gates.py
  tests/core/test_gates_observability.py
Due: pytest-check, skip-detector

feat(gates): harden pytest gate with exit code analysis
  codeframe/core/gates.py
  tests/core/test_gates_observability.py
Due: pytest-check, skip-detector

feat(gates): add build verification gates
  codeframe/core/gates.py
  tests/core/test_gates_observability.py
Due: pytest-check, skip-detector

feat(conductor): add batch-level validation with full gate sweep
  codeframe/core/conductor.py
  codeframe/core/events.py
Due: pytest-check

fix: remove extraneous f-string prefixes (ruff F541)
  codeframe/core/conductor.py
Due: pytest-check

[Phase 2.5-F] Harden verification gates and add batch-level QA (#386)
  codeframe/core/conductor.py
  codeframe/core/events.py
  codeframe/core/gates.py
  docs/code-review/2026-02-09-react-integration-tests-review.md
  docs/code-review/2026-02-11-detect-success-fix-review.md
  docs/code-review/2026-02-12-api-key-propagation-review.md
  tests/core/test_gates_observability.py
Due: pytest-check, skip-detector

chore: update axios package
  web-ui/package-lock.json
Due: none

docs: add ReactAgent deep analysis from golden path test run
  docs/REACT_AGENT_ANALYSIS.md
Due: none

feat(api): add engine parameter to task execution endpoints (#354)
  codeframe/ui/routers/tasks_v2.py
Due: pytest-check

test(api): add integration tests for engine parameter (#354)
  tests/integration/test_tasks_v2_engine.py
Due: pytest-check, skip-detector

refactor(api): address review feedback for engine parameter (#354)
  codeframe/ui/routers/tasks_v2.py
  tests/integration/test_tasks_v2_engine.py
Due: pytest-check, skip-detector

[Phase 2.5-F] Wire engine parameter through v2 API routes (#354) (#387)
  codeframe/ui/routers/tasks_v2.py
  tests/integration/test_tasks_v2_engine.py
Due: pytest-check, skip-detector

feat: switch default engine to react and update documentation (#355)
  CLAUDE.md
  codeframe/cli/app.py
  codeframe/core/conductor.py
  codeframe/core/runtime.py
  codeframe/ui/routers/tasks_v2.py
  docs/AGENT_V3_UNIFIED_PLAN.md
  docs/V2_STRATEGIC_ROADMAP.md
  tests/cli/test_v2_cli_integration.py
  tests/core/test_agent_streaming.py
  tests/core/test_react_engine_integration.py
  tests/integration/test_tasks_v2_engine.py
Due: pytest-check, skip-detector

fix: address PR review feedback for #355
  CLAUDE.md
  codeframe/cli/app.py
  docs/V2_STRATEGIC_ROADMAP.md
  tests/cli/test_v2_cli_integration.py
Due: pytest-check, skip-detector

[Phase 2.5-F] Switch default engine to react and update documentation (#355) (#388)
  CLAUDE.md
  codeframe/cli/app.py
  codeframe/core/conductor.py
  codeframe/core/runtime.py
  codeframe/ui/routers/tasks_v2.py
  docs/AGENT_V3_UNIFIED_PLAN.md
  docs/V2_STRATEGIC_ROADMAP.md
  tests/cli/test_v2_cli_integration.py
  tests/core/test_agent_streaming.py
  tests/core/test_react_engine_integration.py
  tests/integration/test_tasks_v2_engine.py
Due: pytest-check, skip-detector

feat(TaskCard): add Stop and Reset action buttons for IN_PROGRESS and FAILED tasks
  web-ui/__tests__/components/tasks/TaskCard.test.tsx
  web-ui/src/components/tasks/TaskCard.tsx
Due: none

feat(TaskBoard): wire onStop and onReset handlers through component hierarchy
  web-ui/__tests__/components/tasks/TaskBoardView.test.tsx
  web-ui/src/components/tasks/TaskBoardContent.tsx
  web-ui/src/components/tasks/TaskBoardView.tsx
  web-ui/src/components/tasks/TaskColumn.tsx
Due: none

feat(BulkActionConfirmDialog): create confirmation dialog for bulk task actions
  web-ui/__tests__/components/tasks/BulkActionConfirmDialog.test.tsx
  web-ui/src/components/tasks/BulkActionConfirmDialog.tsx
Due: none

feat(BatchActionsBar): add Stop/Reset buttons based on selected task statuses
  web-ui/__tests__/components/tasks/BatchActionsBar.test.tsx
  web-ui/src/components/tasks/BatchActionsBar.tsx
Due: none

feat(TaskBoardView): implement bulk stop/reset with confirmation dialog
  web-ui/__tests__/components/tasks/TaskBoardView.test.tsx
  web-ui/src/components/tasks/TaskBoardView.tsx
Due: none

feat(TaskColumn): add column-level Select All checkbox
  web-ui/__tests__/components/tasks/TaskColumn.test.tsx
  web-ui/src/components/tasks/TaskBoardContent.tsx
  web-ui/src/components/tasks/TaskBoardView.tsx
  web-ui/src/components/tasks/TaskColumn.tsx
Due: none

feat(TaskCard): add per-task loading states with spinner feedback
  web-ui/__tests__/components/tasks/TaskCard.test.tsx
  web-ui/src/components/tasks/TaskBoardContent.tsx
  web-ui/src/components/tasks/TaskBoardView.tsx
  web-ui/src/components/tasks/TaskCard.tsx
  web-ui/src/components/tasks/TaskColumn.tsx
Due: none

fix: address code review feedback for accessibility and race condition
  web-ui/src/components/tasks/TaskBoardView.tsx
  web-ui/src/components/tasks/TaskCard.tsx
Due: none

fix: address PR review feedback from CodeRabbit and Claude
  web-ui/__tests__/components/tasks/TaskBoardView.test.tsx
  web-ui/__tests__/components/tasks/TaskCard.test.tsx
  web-ui/src/components/tasks/TaskBoardView.tsx
  web-ui/src/components/tasks/TaskCard.tsx
Due: none

fix: narrow BulkActionType, add partial failure test, code review report
  docs/code-review/2026-02-19-task-board-bulk-actions-review.md
  web-ui/__tests__/components/tasks/BulkActionConfirmDialog.test.tsx
  web-ui/__tests__/components/tasks/TaskBoardView.test.tsx
  web-ui/src/components/tasks/BulkActionConfirmDialog.tsx
  web-ui/src/components/tasks/TaskBoardView.tsx
Due: none

feat(TaskDetailModal): add View Execution button for IN_PROGRESS tasks
  web-ui/__mocks__/@hugeicons/react.js
  web-ui/__tests__/components/tasks/TaskDetailModal.test.tsx
  web-ui/src/components/tasks/TaskDetailModal.tsx
Due: none

feat: Task Board bulk stop, reset & state management (#340)
  docs/code-review/2026-02-19-task-board-bulk-actions-review.md
  web-ui/__mocks__/@hugeicons/react.js
  web-ui/__tests__/components/tasks/BatchActionsBar.test.tsx
  web-ui/__tests__/components/tasks/BulkActionConfirmDialog.test.tsx
  web-ui/__tests__/components/tasks/TaskBoardView.test.tsx
  web-ui/__tests__/components/tasks/TaskCard.test.tsx
  web-ui/__tests__/components/tasks/TaskColumn.test.tsx
  web-ui/__tests__/components/tasks/TaskDetailModal.test.tsx
  web-ui/src/components/tasks/BatchActionsBar.tsx
  web-ui/src/components/tasks/BulkActionConfirmDialog.tsx
  web-ui/src/components/tasks/TaskBoardContent.tsx
  web-ui/src/components/tasks/TaskBoardView.tsx
  web-ui/src/components/tasks/TaskCard.tsx
  web-ui/src/components/tasks/TaskColumn.tsx
  web-ui/src/components/tasks/TaskDetailModal.tsx
Due: none

docs: update README, AGENTS.md, and CLAUDE.md for Phase 3 progress
  AGENTS.md
  CLAUDE.md
  README.md
Due: none

feat: Blocker Resolution View for answering agent questions (#333)
  web-ui/__mocks__/@hugeicons/react.js
  web-ui/__tests__/components/blockers/ResolvedBlockersSection.test.tsx
  web-ui/__tests__/components/layout/AppSidebar.test.tsx
  web-ui/next-env.d.ts
  web-ui/src/app/blockers/page.tsx
  web-ui/src/components/blockers/BlockerCard.tsx
  web-ui/src/components/blockers/BlockerResolutionView.tsx
  web-ui/src/components/blockers/ResolvedBlockersSection.tsx
  web-ui/src/components/layout/AppSidebar.tsx
  web-ui/src/lib/api.ts
Due: none

fix: address review feedback for issue #333
  web-ui/src/components/blockers/BlockerCard.tsx
  web-ui/src/components/blockers/BlockerResolutionView.tsx
  web-ui/src/components/blockers/ResolvedBlockersSection.tsx
  web-ui/src/lib/format.ts
Due: none

fix: address round 2 review feedback for issue #333
  web-ui/__tests__/components/blockers/BlockerCard.test.tsx
  web-ui/src/components/blockers/BlockerCard.tsx
  web-ui/src/components/blockers/BlockerResolutionView.tsx
Due: none
