Repository frankbria/codeframe: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, skip-detector

.pre-commit-config.yaml:

repos:
  # Note: black removed from pre-commit to avoid conflicts with ruff --fix
  # Run `uv run black .` manually before committing if needed

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.2.0
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        types: [python]

  - repo: local
    hooks:
      - id: pytest-check
        name: Run last failed tests (fast feedback)
        entry: bash -c 'if [ -f venv/bin/activate ]; then source venv/bin/activate && pytest --lf -x; elif [ -f .venv/bin/activate ]; then source .venv/bin/activate && pytest --lf -x; else pytest --lf -x; fi'
        language: system
        pass_filenames: false
        files: \.py$
        types: [python]

      - id: coverage-check
        name: Enforce 65% coverage (manual - use scripts/verify-ai-claims.sh for full check)
        entry: bash -c 'if [ -f venv/bin/activate ]; then source venv/bin/activate && pytest --cov --cov-report=term-missing --cov-fail-under=65; elif [ -f .venv/bin/activate ]; then source .venv/bin/activate && pytest --cov --cov-report=term-missing --cov-fail-under=65; else pytest --cov --cov-report=term-missing --cov-fail-under=65; fi || (echo "❌❌❌ COVERAGE BELOW 65% ❌❌❌" && exit 1)'
        language: system
        pass_filenames: false
        files: \.py$
        types: [python]
        stages: [manual]

      - id: skip-detector
        name: Detect skip decorator abuse
        entry: python scripts/detect-skip-abuse.py
        language: system
        files: ^tests/.*\.py$
        pass_filenames: false

fix(engines): address review feedback on KilocodeAdapter
  codeframe/core/adapters/kilocode.py
  codeframe/core/engine_registry.py
  tests/core/adapters/test_kilocode.py
  tests/core/test_engine_registry.py
Due: pytest-check, skip-detector

fix(lint): remove unused shlex import; move pytestmark after imports
  tests/core/adapters/test_kilocode.py
  tests/core/test_engine_registry.py
Due: pytest-check, skip-detector

feat(engines): add Kilocode engine adapter (#417)
  .env.example
  codeframe/cli/app.py
  codeframe/core/adapters/kilocode.py
  codeframe/core/engine_registry.py
  tests/core/adapters/test_kilocode.py
  tests/core/test_engine_registry.py
Due: pytest-check, skip-detector

feat(api): PROOF9 REST API router — /api/v2/proof endpoints (#456)
  codeframe/ui/routers/proof_v2.py
  codeframe/ui/server.py
  tests/ui/test_proof_v2.py
Due: pytest-check, skip-detector

fix: generate run_id before run_proof() so response ID matches evidence records
  codeframe/ui/routers/proof_v2.py
Due: pytest-check

docs: update CLAUDE.md — proof_v2 router added, router count 15→16
  CLAUDE.md
Due: none

feat(api): PROOF9 REST API router — /api/v2/proof endpoints (#456)
  CLAUDE.md
  codeframe/ui/routers/proof_v2.py
  codeframe/ui/server.py
  tests/ui/test_proof_v2.py
Due: pytest-check, skip-detector

feat(tui): PROOF9 obligations panel in TUI dashboard (#457)
  codeframe/tui/app.py
  codeframe/tui/data_service.py
  tests/core/test_tui_dashboard.py
Due: pytest-check, skip-detector

fix: remove unused GlitchType import (ruff F401)
  tests/core/test_tui_dashboard.py
Due: pytest-check, skip-detector

fix: exclude already-expired waivers from expiring_waivers (add 0 <= lower bound)
  codeframe/tui/data_service.py
  tests/core/test_tui_dashboard.py
Due: pytest-check, skip-detector

feat(web-ui): PROOF9 requirements list, detail, and dashboard widget (#458)
  web-ui/src/app/page.tsx
  web-ui/src/app/proof/[req_id]/page.tsx
  web-ui/src/app/proof/page.tsx
  web-ui/src/components/layout/AppSidebar.tsx
  web-ui/src/components/proof/ProofStatusBadge.tsx
  web-ui/src/components/proof/ProofStatusWidget.tsx
  web-ui/src/components/proof/index.ts
  web-ui/src/lib/api.ts
  web-ui/src/types/index.ts
Due: none

fix(web-ui): address CodeRabbit review on PROOF9 web UI
  web-ui/src/app/proof/[req_id]/page.tsx
  web-ui/src/app/proof/page.tsx
  web-ui/src/components/proof/ProofStatusWidget.tsx
  web-ui/src/lib/api.ts
  web-ui/src/types/index.ts
Due: none

test(cli): integration tests for all cf proof commands (#455)
  tests/cli/test_proof_commands.py
Due: pytest-check, skip-detector

fix(tests): address CodeRabbit review on proof CLI tests
  tests/cli/test_proof_commands.py
Due: pytest-check, skip-detector

docs(readme): remove stale [planned] markers, add shipped features (#452)
  README.md
Due: none

docs(readme): address CodeRabbit review — add text fence hint, normalize ReAct naming, add proof step to Quick Start
  README.md
Due: none

docs(readme): remove stale [planned] markers and add shipped features (#452)
  README.md
Due: none

ci: enforce v2 test suite, raise coverage to 85%, add live CI badge (#453)
  .github/workflows/test.yml
  README.md
Due: none

fix(ci): remove coverage threshold for v2-only run — legacy modules skew measurement
  .github/workflows/test.yml
Due: none

fix(ci): comment out fail_under in .coveragerc — v2-only run covers 49% of all codeframe/ (legacy v1 code drags total)
  .coveragerc
Due: none

ci: enforce v2 test suite with -m v2 -q, add live CI badge (#453)
  .coveragerc
  .github/workflows/test.yml
  README.md
Due: none

docs(readme): quickstart rewrite with numbered steps and API key callout (#454)
  README.md
Due: none

fix(docs): use GitHub Alerts callout for prerequisite warning — resolves MD028
  README.md
Due: none

feat(web-ui): add pipeline progress indicator (Think→Build→Prove→Ship)
  web-ui/__mocks__/@hugeicons/react.js
  web-ui/src/__tests__/components/layout/PipelineProgressBar.test.tsx
  web-ui/src/__tests__/hooks/usePipelineStatus.test.ts
  web-ui/src/components/layout/AppLayout.tsx
  web-ui/src/components/layout/PipelineProgressBar.tsx
  web-ui/src/hooks/usePipelineStatus.ts
Due: none

fix: address CodeRabbit feedback on PR #488
  web-ui/src/__tests__/components/layout/PipelineProgressBar.test.tsx
  web-ui/src/__tests__/hooks/usePipelineStatus.test.ts
  web-ui/src/components/layout/PipelineProgressBar.tsx
  web-ui/src/hooks/usePipelineStatus.ts
  web-ui/src/types/index.ts
Due: none

fix: use SWR v2 tuple keys to eliminate non-null assertions
  web-ui/src/__tests__/hooks/usePipelineStatus.test.ts
  web-ui/src/hooks/usePipelineStatus.ts
Due: none

feat(web-ui): pipeline progress indicator (Think→Build→Prove→Ship) (#466)
  web-ui/__mocks__/@hugeicons/react.js
  web-ui/src/__tests__/components/layout/PipelineProgressBar.test.tsx
  web-ui/src/__tests__/hooks/usePipelineStatus.test.ts
  web-ui/src/components/layout/AppLayout.tsx
  web-ui/src/components/layout/PipelineProgressBar.tsx
  web-ui/src/hooks/usePipelineStatus.ts
  web-ui/src/types/index.ts
Due: none

feat(web-ui): add onboarding guidance card for new workspaces (#467)
  web-ui/src/__tests__/components/workspace/OnboardingCard.test.tsx
  web-ui/src/app/page.tsx
  web-ui/src/components/workspace/OnboardingCard.tsx
  web-ui/src/components/workspace/index.ts
  web-ui/src/lib/workspace-storage.ts
Due: none

fix: address CodeRabbit feedback on PR #489
  web-ui/src/__tests__/components/workspace/OnboardingCard.test.tsx
  web-ui/src/components/workspace/OnboardingCard.tsx
  web-ui/src/lib/workspace-storage.ts
Due: none

fix(core): add github_issue_number to _ensure_schema_upgrades for existing DBs
  codeframe/core/workspace.py
Due: pytest-check

docs: add onboarding guidance card to README shipped features list
  README.md
Due: none

feat(web-ui): onboarding guidance card for new workspaces (#467)
  README.md
  codeframe/core/workspace.py
  web-ui/src/__tests__/components/workspace/OnboardingCard.test.tsx
  web-ui/src/app/page.tsx
  web-ui/src/components/workspace/OnboardingCard.tsx
  web-ui/src/components/workspace/index.ts
  web-ui/src/lib/workspace-storage.ts
Due: pytest-check

feat(web-ui): task → PRD requirement traceability badges (#468)
  codeframe/core/tasks.py
  codeframe/core/workspace.py
  codeframe/ui/routers/tasks_v2.py
  tests/core/test_task_requirement_ids.py
  web-ui/src/components/tasks/TaskBoardContent.tsx
  web-ui/src/components/tasks/TaskBoardView.tsx
  web-ui/src/components/tasks/TaskCard.tsx
  web-ui/src/components/tasks/TaskColumn.tsx
  web-ui/src/components/tasks/TaskDetailModal.tsx
  web-ui/src/hooks/index.ts
  web-ui/src/hooks/useRequirementsLookup.ts
  web-ui/src/types/index.ts
Due: pytest-check, skip-detector

fix(web-ui): address CodeRabbit review feedback on PR #490
  tests/core/test_task_requirement_ids.py
  web-ui/src/components/tasks/TaskCard.tsx
  web-ui/src/hooks/useRequirementsLookup.ts
Due: pytest-check, skip-detector

fix(tests): remove unused json import caught by ruff in CI
  tests/core/test_task_requirement_ids.py
Due: pytest-check, skip-detector
