Repository frankbria/codeframe: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, skip-detector

pytest-check:
  name: Run last failed tests (fast feedback)
  entry: bash -c 'if [ -f venv/bin/activate ]; then source venv/bin/activate && pytest --lf -x; elif [ -f .venv/bin/activate ]; then source .venv/bin/activate && pytest --lf -x; else pytest --lf -x; fi'
  language: system
  pass_filenames: false

skip-detector:
  name: Detect skip decorator abuse
  entry: python scripts/detect-skip-abuse.py
  language: system
  pass_filenames: false

test(core): add explicit v2 marker to test_workspace.py per CLAUDE.md
  tests/core/test_workspace.py
Due: pytest-check, skip-detector

fix(core): add busy_timeout + WAL to workspace SQLite connections (#648) (#686)
  .env.staging.example
  .github/workflows/deploy.yml
  codeframe/adapters/e2b/budget.py
  codeframe/core/workspace.py
  codeframe/ui/routers/costs_v2.py
  tests/core/test_workspace.py
Due: pytest-check, skip-detector

fix(core): route conductor/tasks runtime chatter through logger (#649)
  codeframe/core/conductor.py
  codeframe/core/tasks.py
  tests/core/test_conductor.py
  tests/core/test_conductor_logging.py
Due: pytest-check, skip-detector

test(core): add v2 marker + tighten conductor log assertion (CodeRabbit)
  tests/core/test_conductor.py
Due: pytest-check, skip-detector

fix(core): clarify CycleDetectedError fallback log message (Claude review)
  codeframe/core/conductor.py
Due: pytest-check

fix(core): route conductor/tasks runtime chatter through logger (#649) (#687)
  codeframe/core/conductor.py
  codeframe/core/tasks.py
  tests/core/test_conductor.py
  tests/core/test_conductor_logging.py
Due: pytest-check, skip-detector

fix(core): release tasks.py DB connections on exception + retain fire-and-forget auto-close task (#650)
  codeframe/core/tasks.py
  codeframe/notifications/webhook.py
  tests/core/test_tasks_connection_safety.py
  tests/notifications/test_webhook_notifications.py
Due: pytest-check, skip-detector

test(core): strengthen #650 connection-safety coverage from review
  tests/core/test_tasks_connection_safety.py
Due: pytest-check, skip-detector

fix(core): release tasks.py DB connections on exception + retain fire-and-forget auto-close task (#650) (#688)
  codeframe/core/tasks.py
  codeframe/notifications/webhook.py
  tests/core/test_tasks_connection_safety.py
  tests/notifications/test_webhook_notifications.py
Due: pytest-check, skip-detector

fix(server): detect bare `uvicorn --workers N` for per-worker rate-limit warning (#680)
  codeframe/ui/server.py
  tests/ui/test_rate_limit_worker_warning.py
Due: pytest-check, skip-detector

docs(server): note loose substring bound + pin ascii encoding (#680 review nits)
  codeframe/ui/server.py
Due: pytest-check

fix(server): detect bare `uvicorn --workers N` for per-worker rate-limit warning (#680) (#689)
  codeframe/ui/server.py
  tests/ui/test_rate_limit_worker_warning.py
Due: pytest-check, skip-detector

feat(web-ui): proactive auth guard + SSE/WS token-expiry re-auth path (#651)
  web-ui/__tests__/hooks/useEventSource.test.ts
  web-ui/next.config.js
  web-ui/src/__tests__/app/login.test.tsx
  web-ui/src/__tests__/components/layout/AppLayout.test.tsx
  web-ui/src/__tests__/hooks/useAgentChat.test.ts
  web-ui/src/__tests__/hooks/useTerminalSocket.test.ts
  web-ui/src/__tests__/lib/verifyAuthAfterStreamFailure.test.ts
  web-ui/src/app/login/page.tsx
  web-ui/src/components/layout/AppLayout.tsx
  web-ui/src/hooks/useAgentChat.ts
  web-ui/src/hooks/useEventSource.ts
  web-ui/src/hooks/useTerminalSocket.ts
  web-ui/src/lib/api.ts
  web-ui/src/lib/auth.ts
Due: none

fix(web-ui): respect auth-disabled mode in auth guard + stream re-auth probe (#651)
  web-ui/next.config.js
  web-ui/src/__tests__/components/layout/AppLayout.test.tsx
  web-ui/src/__tests__/hooks/useAgentChat.test.ts
  web-ui/src/__tests__/hooks/useTerminalSocket.test.ts
  web-ui/src/__tests__/lib/verifyAuthAfterStreamFailure.test.ts
  web-ui/src/components/layout/AppLayout.tsx
  web-ui/src/hooks/useAgentChat.ts
  web-ui/src/hooks/useTerminalSocket.ts
  web-ui/src/lib/api.ts
Due: none

fix(web-ui): preserve SSE retry budget across open-without-message (#651)
  web-ui/__tests__/hooks/useEventSource.test.ts
  web-ui/src/hooks/useEventSource.ts
Due: none

docs: note proactive auth guard + stream re-auth probe in CLAUDE.md (#651)
  CLAUDE.md
Due: none

docs: correct stale /users/me probe references in useEventSource comments (#651)
  web-ui/src/hooks/useEventSource.ts
Due: none

feat(web-ui): proactive auth guard + SSE/WS token-expiry re-auth path (#651)
  CLAUDE.md
  web-ui/__tests__/hooks/useEventSource.test.ts
  web-ui/src/__tests__/app/login.test.tsx
  web-ui/src/__tests__/components/layout/AppLayout.test.tsx
  web-ui/src/__tests__/hooks/useAgentChat.test.ts
  web-ui/src/__tests__/hooks/useTerminalSocket.test.ts
  web-ui/src/__tests__/lib/verifyAuthAfterStreamFailure.test.ts
  web-ui/src/app/login/page.tsx
  web-ui/src/components/layout/AppLayout.tsx
  web-ui/src/hooks/useAgentChat.ts
  web-ui/src/hooks/useEventSource.ts
  web-ui/src/hooks/useTerminalSocket.ts
  web-ui/src/lib/api.ts
  web-ui/src/lib/auth.ts
Due: none

fix(web-ui): deliver batch notifications when execution monitor is unmounted (#652)
  web-ui/src/__tests__/hooks/useBatchNotificationWatcher.test.ts
  web-ui/src/components/execution/BatchExecutionMonitor.tsx
  web-ui/src/contexts/NotificationContext.tsx
  web-ui/src/hooks/useBatchNotificationWatcher.ts
  web-ui/src/lib/api.ts
  web-ui/src/types/index.ts
Due: none

docs: update notification known-limitation note for #652 background delivery
  CLAUDE.md
Due: none

fix(web-ui): ignore stale poll results after workspace switch (#652 review)
  web-ui/src/__tests__/hooks/useBatchNotificationWatcher.test.ts
  web-ui/src/hooks/useBatchNotificationWatcher.ts
Due: none

fix(web-ui): deliver batch notifications when execution monitor is unmounted (#652) (#691)
  CLAUDE.md
  web-ui/src/__tests__/hooks/useBatchNotificationWatcher.test.ts
  web-ui/src/components/execution/BatchExecutionMonitor.tsx
  web-ui/src/contexts/NotificationContext.tsx
  web-ui/src/hooks/useBatchNotificationWatcher.ts
  web-ui/src/lib/api.ts
  web-ui/src/types/index.ts
Due: none

fix(web-ui): AlertDialog session end, unify no-workspace UI, drop dead code (#653)
  web-ui/__tests__/components/sessions/SessionCard.test.tsx
  web-ui/src/app/costs/page.tsx
  web-ui/src/app/execution/page.tsx
  web-ui/src/app/page.tsx
  web-ui/src/app/proof/page.tsx
  web-ui/src/app/review/page.tsx
  web-ui/src/app/settings/page.tsx
  web-ui/src/components/prd/StressTestModal.tsx
  web-ui/src/components/sessions/SessionCard.tsx
  web-ui/src/components/tasks/GitHubIssueImportModal.tsx
  web-ui/src/hooks/useWorkspaceSelection.ts
Due: none

fix(web-ui): address review on useWorkspaceSelection (#653)
  web-ui/src/__tests__/hooks/useWorkspaceSelection.test.ts
  web-ui/src/hooks/useWorkspaceSelection.ts
Due: none

fix(web-ui): AlertDialog session end, unified no-workspace UI, dead-code removal (#653) (#692)
  web-ui/__tests__/components/sessions/SessionCard.test.tsx
  web-ui/src/__tests__/hooks/useWorkspaceSelection.test.ts
  web-ui/src/app/costs/page.tsx
  web-ui/src/app/execution/page.tsx
  web-ui/src/app/page.tsx
  web-ui/src/app/proof/page.tsx
  web-ui/src/app/review/page.tsx
  web-ui/src/app/settings/page.tsx
  web-ui/src/components/prd/StressTestModal.tsx
  web-ui/src/components/sessions/SessionCard.tsx
  web-ui/src/components/tasks/GitHubIssueImportModal.tsx
  web-ui/src/hooks/useWorkspaceSelection.ts
Due: none

fix(auth): honor CODEFRAME_AUTH_REQUIRED in WebSocket auth (#676)
  codeframe/auth/dependencies.py
  codeframe/ui/routers/session_chat_ws.py
  codeframe/ui/routers/terminal_ws.py
  tests/api/test_session_chat_ws.py
  tests/auth/test_websocket_auth.py
  tests/ui/test_terminal_ws.py
Due: pytest-check, skip-detector

docs(quickstart): WS auth now honors CODEFRAME_AUTH_REQUIRED=false (#676)
  docs/QUICKSTART.md
Due: none

fix(auth): honor CODEFRAME_AUTH_REQUIRED in WebSocket auth (#676) (#693)
  codeframe/auth/dependencies.py
  codeframe/ui/routers/session_chat_ws.py
  codeframe/ui/routers/terminal_ws.py
  docs/QUICKSTART.md
  tests/api/test_session_chat_ws.py
  tests/auth/test_websocket_auth.py
  tests/ui/test_terminal_ws.py
Due: pytest-check, skip-detector

test(core): add direct tests for api_key_service, artifacts, review; expand prd_stress_test (#654)
  codeframe/core/artifacts.py
  tests/core/test_api_key_service.py
  tests/core/test_artifacts.py
  tests/core/test_prd_stress_test.py
  tests/core/test_review.py
Due: pytest-check, skip-detector

test(core): address review — real-analyzer smoke test, MM status case, get_api_key contract
  tests/core/test_api_key_service.py
  tests/core/test_artifacts.py
  tests/core/test_review.py
Due: pytest-check, skip-detector

test(artifacts): extract _bare_workspace helper for __init__-bypass tests
  tests/core/test_artifacts.py
Due: pytest-check, skip-detector

test(core): add tests for untested core modules — artifacts, review, api_key_service (#654) (#694)
  codeframe/core/artifacts.py
  tests/core/test_api_key_service.py
  tests/core/test_artifacts.py
  tests/core/test_prd_stress_test.py
  tests/core/test_review.py
Due: pytest-check, skip-detector

chore(web-ui): upgrade to Jest 30 + jsdom 30 (supersedes #641, #642)
  web-ui/jest.config.js
  web-ui/package-lock.json
  web-ui/package.json
  web-ui/src/__tests__/lib/api.auth.test.ts
  web-ui/src/lib/api.ts
  web-ui/src/lib/auth.ts
  web-ui/src/lib/navigation.ts
Due: none

chore(web-ui): upgrade to ESLint 10 (supersedes #639)
  web-ui/eslint.config.mjs
  web-ui/package-lock.json
  web-ui/package.json
Due: none

chore(web-ui): upgrade to Tailwind CSS v4 (supersedes #640)
  web-ui/package-lock.json
  web-ui/package.json
  web-ui/postcss.config.js
  web-ui/src/app/costs/page.tsx
  web-ui/src/app/globals.css
  web-ui/src/app/proof/page.tsx
  web-ui/src/components/blockers/BlockerCard.tsx
  web-ui/src/components/execution/BlockerEvent.tsx
  web-ui/src/components/layout/PipelineProgressBar.tsx
  web-ui/src/components/prd/DiscoveryInput.tsx
  web-ui/src/components/prd/MarkdownEditor.tsx
  web-ui/src/components/prd/UploadPRDModal.tsx
  web-ui/src/components/proof/CaptureGlitchModal.tsx
  web-ui/src/components/proof/GateEvidencePanel.tsx
  web-ui/src/components/proof/RunHistoryPanel.tsx
  web-ui/src/components/review/DiffViewer.tsx
  web-ui/src/components/review/ExportPatchModal.tsx
  web-ui/src/components/review/PRHistoryPanel.tsx
  web-ui/src/components/sessions/AgentChatPanel.tsx
  web-ui/src/components/sessions/SplitPane.tsx
  web-ui/src/components/tasks/GitHubIssueBadge.tsx
  web-ui/src/components/tasks/GitHubIssueImportModal.tsx
  web-ui/src/components/tasks/TaskBoardView.tsx
  web-ui/src/components/tasks/TaskCard.tsx
  web-ui/src/components/tasks/TaskDetailModal.tsx
  web-ui/src/components/tasks/TaskFilters.tsx
  web-ui/src/components/ui/badge.tsx
  web-ui/src/components/ui/button.tsx
  web-ui/src/components/ui/checkbox.tsx
  web-ui/src/components/ui/input.tsx
  web-ui/src/components/ui/select.tsx
  web-ui/src/components/ui/tabs.tsx
  web-ui/src/components/ui/textarea.tsx
  web-ui/src/components/workspace/WorkspaceSelector.tsx
  web-ui/tailwind.config.ts
Due: none

fix(web-ui): restore bare shadow utilities under Tailwind v4 + clean logout test
  web-ui/src/__tests__/lib/auth.test.ts
  web-ui/src/components/ui/badge.tsx
  web-ui/src/components/ui/button.tsx
  web-ui/src/components/ui/card.tsx
  web-ui/src/components/ui/checkbox.tsx
  web-ui/src/components/ui/tabs.tsx
Due: none

ci(frontend): pin NODE_VERSION to 20.19 for ESLint 10 engine floor
  .github/workflows/test.yml
Due: none

fix(ci): run full non-e2e suite in CI, drop -m v2 blind spot (#669)
  .github/workflows/test.yml
  pytest.ini
  tests/auth/test_query_param_token.py
Due: pytest-check, skip-detector

docs: point CLAUDE.md test commands at the new CI gate (#669)
  CLAUDE.md
Due: none

Path conditions:
  pytest-check: any of: \.py$ and \.py$
  skip-detector: any of: ^tests/.*\.py$
