Repository frankbria/codeframe: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, skip-detector

.pre-commit-config.yaml:

repos:
  # Note: black removed from pre-commit to avoid conflicts with ruff --fix
  # Run `uv run black .` manually before committing if needed

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.2.0
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        types: [python]

  - repo: local
    hooks:
      - id: pytest-check
        name: Run last failed tests (fast feedback)
        entry: bash -c 'if [ -f venv/bin/activate ]; then source venv/bin/activate && pytest --lf -x; elif [ -f .venv/bin/activate ]; then source .venv/bin/activate && pytest --lf -x; else pytest --lf -x; fi'
        language: system
        pass_filenames: false
        files: \.py$
        types: [python]

      - id: coverage-check
        name: Enforce 65% coverage (manual - use scripts/verify-ai-claims.sh for full check)
        entry: bash -c 'if [ -f venv/bin/activate ]; then source venv/bin/activate && pytest --cov --cov-report=term-missing --cov-fail-under=65; elif [ -f .venv/bin/activate ]; then source .venv/bin/activate && pytest --cov --cov-report=term-missing --cov-fail-under=65; else pytest --cov --cov-report=term-missing --cov-fail-under=65; fi || (echo "❌❌❌ COVERAGE BELOW 65% ❌❌❌" && exit 1)'
        language: system
        pass_filenames: false
        files: \.py$
        types: [python]
        stages: [manual]

      - id: skip-detector
        name: Detect skip decorator abuse
        entry: python scripts/detect-skip-abuse.py
        language: system
        files: ^tests/.*\.py$
        pass_filenames: false

fix(adapters): fix get_final_message await + convert_messages + mock tracking
  codeframe/adapters/llm/anthropic.py
  codeframe/adapters/llm/mock.py
  tests/adapters/test_llm_async.py
Due: pytest-check, skip-detector

feat(adapters): abstract streaming layer behind LLMProvider (#548)
  codeframe/adapters/llm/__init__.py
  codeframe/adapters/llm/anthropic.py
  codeframe/adapters/llm/base.py
  codeframe/adapters/llm/mock.py
  codeframe/adapters/llm/openai.py
  codeframe/core/adapters/streaming_chat.py
  codeframe/ui/routers/session_chat_ws.py
  tests/adapters/test_e2b_adapter.py
  tests/adapters/test_llm_async.py
  tests/core/test_streaming_chat.py
Due: pytest-check, skip-detector

fix(e2e): update worker agent test to use MockProvider instead of AsyncAnthropic
  tests/e2e/test_full_workflow.py
Due: pytest-check, skip-detector

fix(agents): migrate BackendWorkerAgent fallback path to LLMProvider abstraction (#542)
  codeframe/agents/backend_worker_agent.py
  tests/agents/test_backend_worker_agent.py
Due: pytest-check, skip-detector

docs: archive completed planning docs, make PRODUCT_ROADMAP.md the single source of truth
  CLAUDE.md
  docs/archive/AGENT_ARCHITECTURE_CRITIQUE.md
  docs/archive/AGENT_ARCHITECTURE_RESEARCH.md
  docs/archive/AGENT_FRAMEWORK_DEEP_DIVE.md
  docs/archive/AGENT_V3_UNIFIED_PLAN.md
  docs/archive/BATCH_EXECUTION_PLAN.md
  docs/archive/CLI_V2_TEST_REPORT.md
  docs/archive/CLI_WORKFLOW_GAPS_ANALYSIS.md
  docs/archive/CRITICAL_GAP_IMPLEMENTATION_PLAN.md
  docs/archive/FEATURE_ROADMAP.md
  docs/archive/GAP_ANALYSIS_SUMMARY.md
  docs/archive/IMPLEMENTATION_ROADMAP.md
  docs/archive/ISSUE_330_PRD_VIEW_PLAN.md
  docs/archive/ISSUE_331_TASK_BOARD_PLAN.md
  docs/archive/ISSUE_332_EXECUTION_MONITOR_PLAN.md
  docs/archive/PHASE_25_VALIDATION_REPORT.md
  docs/archive/PHASE_2_BUSINESS_LOGIC_AUDIT.md
  docs/archive/PHASE_2_GAP_ANALYSIS.md
  docs/archive/PHASE_2_ROUTE_AUDIT.md
  docs/archive/PHASE_2_ROUTE_CONSISTENCY.md
  docs/archive/REACT_AGENT_ANALYSIS.md
  docs/archive/V2_STRATEGIC_ROADMAP.md
Due: none

docs: rebase roadmap to verified ground truth (2026-04-06)
  .beads/issues.jsonl
  CLAUDE.md
  docs/PRODUCT_ROADMAP.md
Due: none

docs(readme): reflect multi-provider LLM, accurate roadmap, updated doc links
  README.md
Due: none

docs(claude.md): sync with current codebase state (2026-04-06)
  CLAUDE.md
Due: none

feat(web-ui): add Run Gates button with live gate progress to PROOF9 page (#566)
  codeframe/ui/routers/proof_v2.py
  tests/ui/test_proof_v2.py
  web-ui/src/__tests__/hooks/useProofRun.test.ts
  web-ui/src/app/proof/page.tsx
  web-ui/src/components/proof/GateRunBanner.tsx
  web-ui/src/components/proof/GateRunPanel.tsx
  web-ui/src/components/proof/index.ts
  web-ui/src/hooks/index.ts
  web-ui/src/hooks/useProofRun.ts
  web-ui/src/lib/api.ts
  web-ui/src/types/index.ts
Due: pytest-check, skip-detector

fix(proof): address CodeRabbit review feedback
  codeframe/ui/routers/proof_v2.py
  web-ui/src/components/proof/GateRunBanner.tsx
  web-ui/src/components/proof/GateRunPanel.tsx
  web-ui/src/hooks/useProofRun.ts
  web-ui/src/lib/api.ts
  web-ui/src/types/index.ts
Due: pytest-check

feat(web-ui): Run Gates button + live gate progress for PROOF9 (#566) (#574)
  codeframe/ui/routers/proof_v2.py
  tests/ui/test_proof_v2.py
  web-ui/src/__tests__/hooks/useProofRun.test.ts
  web-ui/src/app/proof/page.tsx
  web-ui/src/components/proof/GateRunBanner.tsx
  web-ui/src/components/proof/GateRunPanel.tsx
  web-ui/src/components/proof/index.ts
  web-ui/src/hooks/index.ts
  web-ui/src/hooks/useProofRun.ts
  web-ui/src/lib/api.ts
  web-ui/src/types/index.ts
Due: pytest-check, skip-detector

fix(proof): post-merge follow-up from review feedback
  codeframe/ui/routers/proof_v2.py
  tests/ui/test_proof_v2.py
  web-ui/src/__tests__/hooks/useProofRun.test.ts
  web-ui/src/app/proof/page.tsx
  web-ui/src/hooks/useProofRun.ts
Due: pytest-check, skip-detector

feat(web-ui): per-gate evidence display and run history for PROOF9 (#567)
  codeframe/core/proof/ledger.py
  codeframe/core/proof/models.py
  codeframe/core/proof/runner.py
  codeframe/ui/routers/proof_v2.py
  tests/ui/test_proof_v2.py
  web-ui/src/__tests__/components/proof/GateEvidencePanel.test.tsx
  web-ui/src/__tests__/components/proof/ProofPage.test.tsx
  web-ui/src/__tests__/components/proof/RunHistoryPanel.test.tsx
  web-ui/src/app/proof/[req_id]/page.tsx
  web-ui/src/app/proof/page.tsx
  web-ui/src/components/proof/GateEvidencePanel.tsx
  web-ui/src/components/proof/RunHistoryPanel.tsx
  web-ui/src/components/proof/index.ts
  web-ui/src/lib/api.ts
  web-ui/src/types/index.ts
Due: pytest-check, skip-detector

fix: address CodeRabbit feedback on PR #575
  codeframe/core/proof/ledger.py
  codeframe/core/proof/runner.py
  codeframe/ui/routers/proof_v2.py
  web-ui/src/app/proof/[req_id]/page.tsx
  web-ui/src/app/proof/page.tsx
Due: pytest-check

docs: sync documentation for Phase 3.5B — evidence display and run history
  CLAUDE.md
  docs/PHASE_2_CLI_API_MAPPING.md
  docs/PHASE_3_UI_ARCHITECTURE.md
  docs/PRODUCT_ROADMAP.md
Due: none

feat: per-gate evidence display and run history for PROOF9 (#567)
  CLAUDE.md
  codeframe/core/proof/ledger.py
  codeframe/core/proof/models.py
  codeframe/core/proof/runner.py
  codeframe/ui/routers/proof_v2.py
  docs/PHASE_2_CLI_API_MAPPING.md
  docs/PHASE_3_UI_ARCHITECTURE.md
  docs/PRODUCT_ROADMAP.md
  tests/ui/test_proof_v2.py
  web-ui/src/__tests__/components/proof/GateEvidencePanel.test.tsx
  web-ui/src/__tests__/components/proof/ProofPage.test.tsx
  web-ui/src/__tests__/components/proof/RunHistoryPanel.test.tsx
  web-ui/src/app/proof/[req_id]/page.tsx
  web-ui/src/app/proof/page.tsx
  web-ui/src/components/proof/GateEvidencePanel.tsx
  web-ui/src/components/proof/RunHistoryPanel.tsx
  web-ui/src/components/proof/index.ts
  web-ui/src/lib/api.ts
  web-ui/src/types/index.ts
Due: pytest-check, skip-detector

fix(web-ui): update dependencies to resolve critical axios vulnerability
  web-ui/next-env.d.ts
  web-ui/package-lock.json
Due: none

fix(legacy/web-ui): resolve critical axios vulnerability in npm audit
  legacy/web-ui/package-lock.json
Due: none

docs: sync CLAUDE.md, AGENTS.md, README.md to current v2 state
  AGENTS.md
  CLAUDE.md
  README.md
Due: none

feat(web-ui): Glitch Capture entry point and form for PROOF9 (#568)
  web-ui/src/__tests__/components/proof/CaptureGlitchModal.test.tsx
  web-ui/src/__tests__/components/proof/ProofPage.test.tsx
  web-ui/src/app/proof/page.tsx
  web-ui/src/components/proof/CaptureGlitchModal.tsx
  web-ui/src/components/proof/index.ts
  web-ui/src/lib/api.ts
  web-ui/src/types/index.ts
Due: none

feat(web-ui): Glitch Capture entry point and form for PROOF9 (#568) (#576)
  web-ui/src/__tests__/components/proof/CaptureGlitchModal.test.tsx
  web-ui/src/__tests__/components/proof/ProofPage.test.tsx
  web-ui/src/app/proof/page.tsx
  web-ui/src/components/proof/CaptureGlitchModal.tsx
  web-ui/src/components/proof/index.ts
  web-ui/src/lib/api.ts
  web-ui/src/types/index.ts
Due: none

fix(web-ui): address CodeRabbit review feedback on Glitch Capture (#568)
  web-ui/src/__tests__/components/proof/CaptureGlitchModal.test.tsx
  web-ui/src/components/proof/CaptureGlitchModal.tsx
Due: none

fix(web-ui): address CodeRabbit feedback on CaptureGlitchModal
  web-ui/src/__tests__/components/proof/CaptureGlitchModal.test.tsx
  web-ui/src/components/proof/CaptureGlitchModal.tsx
Due: none

feat(web-ui): Glitch Capture REQ detail view and sidebar entry point (#569)
  codeframe/ui/routers/proof_v2.py
  web-ui/__mocks__/@hugeicons/react.js
  web-ui/__tests__/app/proof/req_id/page.test.tsx
  web-ui/__tests__/components/layout/AppSidebar.test.tsx
  web-ui/src/__tests__/components/proof/ProofDetailPage.test.tsx
  web-ui/src/app/proof/[req_id]/page.tsx
  web-ui/src/components/layout/AppSidebar.tsx
  web-ui/src/types/index.ts
Due: pytest-check

fix(web-ui): address CodeRabbit feedback on Glitch Capture REQ detail (#578)
  codeframe/ui/routers/proof_v2.py
  web-ui/src/app/proof/[req_id]/page.tsx
  web-ui/src/components/layout/AppSidebar.tsx
Due: pytest-check

fix(web-ui): clear gate/result filters when drilling into a run from obligations table
  web-ui/src/app/proof/[req_id]/page.tsx
Due: none

fix(web-ui): address CodeRabbit round-3 feedback on REQ detail (#578)
  web-ui/src/app/proof/[req_id]/page.tsx
Due: none

docs: sync Phase 3.5C complete — advance focus to Phase 4A
  CLAUDE.md
  docs/PHASE_3_UI_ARCHITECTURE.md
  docs/PRODUCT_ROADMAP.md
Due: none

feat(web-ui): Glitch Capture REQ detail view and sidebar entry (#569)
  CLAUDE.md
  codeframe/ui/routers/proof_v2.py
  docs/PHASE_3_UI_ARCHITECTURE.md
  docs/PRODUCT_ROADMAP.md
  web-ui/__mocks__/@hugeicons/react.js
  web-ui/__tests__/app/proof/req_id/page.test.tsx
  web-ui/__tests__/components/layout/AppSidebar.test.tsx
  web-ui/src/__tests__/components/proof/ProofDetailPage.test.tsx
  web-ui/src/app/proof/[req_id]/page.tsx
  web-ui/src/components/layout/AppSidebar.tsx
  web-ui/src/types/index.ts
Due: pytest-check

feat(web-ui): PR status panel with live CI checks, review, and merge state (#570)
  codeframe/git/github_integration.py
  codeframe/ui/routers/pr_v2.py
  tests/ui/test_pr_status.py
  web-ui/src/__tests__/components/review/PRStatusPanel.test.tsx
  web-ui/src/app/review/page.tsx
  web-ui/src/components/review/PRStatusPanel.tsx
  web-ui/src/lib/api.ts
  web-ui/src/types/index.ts
Due: pytest-check, skip-detector

fix(github): defensive parsing for check-run entries in get_pr_ci_checks
  codeframe/git/github_integration.py
Due: pytest-check

feat(web-ui): PR status panel with live CI checks, review, and merge state (#579)
  codeframe/git/github_integration.py
  codeframe/ui/routers/pr_v2.py
  tests/ui/test_pr_status.py
  web-ui/src/__tests__/components/review/PRStatusPanel.test.tsx
  web-ui/src/app/review/page.tsx
  web-ui/src/components/review/PRStatusPanel.tsx
  web-ui/src/lib/api.ts
  web-ui/src/types/index.ts
Due: pytest-check, skip-detector

fix(pr-status): address CodeRabbit and claude-review feedback post-merge
  codeframe/git/github_integration.py
  codeframe/ui/routers/pr_v2.py
  tests/ui/test_pr_status.py
  web-ui/src/__tests__/components/review/PRStatusPanel.test.tsx
  web-ui/src/components/review/PRStatusPanel.tsx
  web-ui/src/types/index.ts
Due: pytest-check, skip-detector

fix(pr-status): address CodeRabbit follow-up feedback on PR #580
  codeframe/git/github_integration.py
  codeframe/ui/routers/pr_v2.py
  tests/ui/test_pr_status.py
  web-ui/src/types/index.ts
Due: pytest-check, skip-detector

fix(pr-status): address CodeRabbit + claude-review feedback post-merge (#570 follow-up)
  codeframe/git/github_integration.py
  codeframe/ui/routers/pr_v2.py
  tests/ui/test_pr_status.py
  web-ui/src/__tests__/components/review/PRStatusPanel.test.tsx
  web-ui/src/components/review/PRStatusPanel.tsx
  web-ui/src/types/index.ts
Due: pytest-check, skip-detector

fix(pr_v2): close httpx client in all 5 remaining PR endpoints
  codeframe/ui/routers/pr_v2.py
Due: pytest-check

fix(pr_v2): close httpx client in all 5 remaining PR endpoints (#582)
  codeframe/ui/routers/pr_v2.py
Due: pytest-check

feat(web-ui): PROOF9-gated merge button on PR Status panel (#571)
  web-ui/__tests__/components/review/PRStatusPanel.test.tsx
  web-ui/src/components/review/PRStatusPanel.tsx
  web-ui/src/lib/api.ts
  web-ui/src/types/index.ts
Due: none
